<% url_path = params[:action] == "new" ? customer_trips_path : customer_trip_path %>
<%= form_for(@trip, url: url_path) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :customer_id, :value=>"#{params["customer_id"]}" %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-field">
        <%= f.label :trip_name %>
        <%= f.text_field :trip_name, :class=>"form-control" %>
      </div>
      <div class="form-item">
          <%= label_tag :locations_country %>
          <%= select :locations, :country, AppUtils.country_list, {:selected=> "#{@location["country"] if !@location["country"].nil?}" }, class: "form-control" %>
        </div>
        <div class="form-item">
          <%= label_tag :locations_state %>
          <% state =  @location["country"].nil? ? {} : AppUtils.get_states_selectable_format(@location["country"]) %>
          <%= select :locations, :state, state, {:selected=> "#{@location["state"] if !@location["country"].nil?}"}, class: "form-control" %>
        </div>

        <div class="form-item">
          <%= label_tag :locations_cities %>
          <% cities =  @location["country"].nil? ? {} : AppUtils.get_cities_selectable_format(@location["country"], @location["state"]) %>
          <%= select :locations, :cities, cities, {:selected=> "#{@location["cities"] if !@location["country"].nil?}"}, class: "form-control" %>
        </div>

      <div class="form-item">
        <%#= f.label :location %>
        <%#= f.text_field :location, :class=>"form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :trip_description %>
        <%= f.text_area :trip_description, :class=>"form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-item">
        <%= f.label :trip_photos %>
        <%= f.file_field :trip_photos, :class=>"form-control"  %>
      </div>
      <div class="form-item">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, :class=>"form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, :class=>"form-control" %>
      </div>
      <div class="form-item">
        <%#= f.label :trip_status %>
        <%#= f.number_field :trip_status %>
      </div>
    </div>
  </div>
  <div class="form-actions">
     <%= f.submit :class=> "btn-theme" %>
  </div>
<% end %>

<script>
(function($){
  $("#trip_start_date, #trip_end_date").datepicker({
    changeMonth: true,
    changeYear: true,
    minDate: "01/01/1950",
    yearRange: '1950:2016',
    dateFormat: "dd/mm/yy"
  });
  $("#locations_country, #locations_cities, #locations_state").chosen();
  $("#locations_country").on("change", function(e){
      e.preventDefault();
      $.ajax({
        url: '/get_states',
        dataType: 'json',
        data: {country: $(this).val()}
      })
      .done(function(result) {
        if (result.length > 0){
          states = "";
          $.each(result, function(index, data){
            states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
          });
          $("#locations_state").html(states);
          $("#locations_state").trigger("chosen:updated");
        }
      })
    });

    $("#locations_state").on("change", function(e){
      e.preventDefault();
      $.ajax({
        url: '/get_cities',
        dataType: 'json',
        data: {state: $(this).val(), country: $("#locations_country").val()}
      })
      .done(function(result) {
        if (result.length > 0){
          cities = "";
          $.each(result, function(index, data){
            cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
          });
          $("#locations_cities").html(cities);
          $("#locations_cities").trigger("chosen:updated");
        }
      })
    });

  })(jQuery);
  
</script>