<div class="your-destinations">
  <div class="destination-list__content">
    <% unless @trips.nil? || @trips.blank? %> 
    <% @trips.each do |trip| %>
      <div class="destinations-item">
        <div class="col-md-3 p0">
          <div class="media-img"> 
            <img src="<%= trip.trip_photos if trip.trip_photos? %>" alt="<%= trip.trip_name %>">
          </div>
          <div class="item-cat">
            <ul>
              <li>
                <a href="#"><%= trip.location %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-body col-md-6">
          <div class="item-title">
            <h2>
              <a href="#"><%= trip.trip_name %></a>
            </h2>
          </div>
          <div class="item-description">
            <p><%= Nokogiri::HTML(trip.trip_description).text.truncate(100) %></p>
          </div>
        </div>          
        <div class="item-price-more col-md-3">
          <div>
            <a href="<%= customer_trip_path(params['customer_id'], trip.id) %>" class="btn btn-orange btn-block">View Details</a>
          </div>
          <% if customer_signed_in? && current_customer.id == trip.customer_id %>
            <div>
              <a href="<%= edit_customer_trip_path(params['customer_id'], trip.id) %>" class="btn btn-orange btn-block" data-remote="true">Edit</a>
              <%= link_to 'Delete', customer_trip_path(params['customer_id'], trip.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-block"%>
            </div>
          <% end %>                
        </div>
      </div>
    <% end %>
    <% else %>
      <div class="pull-left">
        <h4>You havn't created the trip history yet! Create your trip history now!</h4>
      </div>
    <% end %>
      <div class="text-right">
        <%= link_to '<i class="fa fa-plus"></i> &nbsp;New Trip'.html_safe, new_customer_trip_path, :class=>"btn btn-primary", :remote=> true %>
      </div>
    </div>
  </div>
