
<div class="blog-page__content rs blog-single">
  <div class="post">
    <div class="post-meta">
      <div class="date"><%= @trip.updated_at.to_date.strftime("%A %d, %Y") %></div>
      <div class="author">by <span><%= @trip.start_date.strftime("%A %d, %Y") %> - <%= @trip.end_date.strftime("%A %d, %Y") %></span></div>
    </div>
    <div class="post-title"><h1><%= @trip.trip_name %></h1></div>
    <img src="<%= @trip.trip_photos %>" class="img-responsive" alt="<%= @trip.trip_name %>">
    <!-- <div class="post-media">
      <div class="image-wrap"><img src="<%#= @trip.trip_photos %>" alt=""></div>
    </div> -->
    <div class="post-body">
      <div class="post-content">
        <%= @trip.trip_description %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_customer_trip_path(params["customer_id"], @trip), {:class=>"btn btn-orange"} %> &nbsp;&nbsp;
<%= link_to '<< Back', customer_trips_path , {:class=>"btn btn-primary"}%>