<section class="awe-parallax page-heading-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Travel History</h2></div>
  </div>
</section>
<section class="your-destinations-section-demo trip_history user_profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render :partial=> "customers/left_menu" %>
      </div>
      <div class="col-md-8">
        <div class="rs">
          <div id="main-content" class="destination-list__content right_content travel_trips">
            <%= render :partial=> "index" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

