<section class="awe-parallax page-heading-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Travel History</h2></div>
  </div>
</section>

<section class="user_profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= render :partial => "customers/left_menu" %>
      </div>
      <div class="col-sm-8">
        <div class="rs">
          <div id="main-content" class="right_content">
            <%= render :partial=> "show" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

