<div class="msg-header">
  <div class="ml-0 mb-3 align-self-start">
    <a href="/conversations" class="btn btn-primary" data-remote="true">Back</a>
  </div>
  <div class="m-1" style="display: flex;">
	<% if conversation_user.profile.present? && conversation_user.profile.avatar.present? %>
    <div class="avtr">
      <img src="<%= conversation_user.profile.avatar %>">
    </div>
  <% else %>
    <div class="avtr">
      <%= image_tag("noavatar.png") %>
    </div>
  <% end %>
  <div class="align-self-center author-title d-flex pl-4 text-center">
		<%= link_to "#{conversation_user.fullname}", "/traveler/#{conversation_user.username}" %>
	</div>
  </div>
</div>

<ul id="messages" class="list-unstyled px-3">
  <% @messages.each do |message| %>
    <% if message.body %>
    	<%= render partial: "messages/message", locals: { message: message } %>
    <% end %>
  <% end %>
</ul>

<div class="msg-form">
	<%= form_for [@conversation, @message], url: "/conversations/#{@conversation.id}/messages", remote: true do |f| %>
	  <div class="field">
	    <%= f.text_field :body, placeholder: "type your message" %>
	  </div>

	  <%= f.submit "Send", class: "primary-button" %>
	<% end %>
</div>