<li class="<%= message.customer.id == current_customer.id ? "my-message" : "others-message" %>">
  <small class="message-name d-block"><%= message.created_at.strftime("%b %d, %Y | %I:%M%P") %></small>
  <p class="message-info"><%= message.body %></p>
</li>