<%= render layout: "layouts/profile", locals: {is_fulscreen: true} do %>
	<div class="max500">
		<div class="row">
			<div class="col-md-6 bg-grey">
				
			</div>
			<div class="col-md-6">
				<ul id="messages">
				  <% @messages.each do |message| %>
				    <% if message.body %>
				    	<%= render partial: "messages/message", locals: { message: message } %>
				    <% end %>
				  <% end %>
				</ul>

				<div class="col-md-4 offset-md-4 py-4">
					<%= form_for [@conversation, @message], url: "/conversations/#{@conversation.id}/messages", remote: true do |f| %>
					  <div class="field">
					    <%= f.text_area :body, placeholder: "Your message" %>
					  </div>

					  <%= f.submit "Send" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>