<div id="main-content" class="profile_page">
	<% @profile = @profile.nil? ? Profile.new : @profile%>
	<%= form_for(@profile, url:"/customers/#{current_customer.id}/edit_profile", method: "post", :html => {:multipart => true}) do |f| %>
  	<% if @profile.errors.any? %>
    	<div id="error_explanation">
    		<h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    		<ul>
      		<% @profile.errors.full_messages.each do |message| %>
	        	<li><%= message %></li>
	      	<% end %>
    		</ul>
    	</div>
  	<% end %>
		<%= f.hidden_field :customer_id %>
		<div class="clearfix"></div>
		<div class="form-group d-flex mb-4">
		  <label for="customer_first_name" class="width-200 form-label">First Name <lable style="color: red;">*</lable></label>
		  <div class="prof_desc">
		    <%= text_field :customer, :first_name, class: "form-control", value: current_customer.first_name, required: true %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
		  <label for="customer_last_name" class="width-200 form-label">Last Name  <lable style="color: red;">*</lable></label>
		  <div class="prof_desc">
		    <%= text_field :customer, :last_name, class: "form-control", value: current_customer.last_name, required: true %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
		  <label for="customer_username" class="width-200 form-label">Username</label>
		  <div class="prof_desc">
		    <%= text_field :customer, :username, disabled: true, value: current_customer.username, class: "form-control" %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :email, class: "width-200 form-label" do%>
				Email  <lable style='color: red;'>*</lable>
			<% end %>
		  <div class="prof_desc">
		    <%= f.text_field :email, class: "form-control", disabled: true, value: current_customer.email %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :d_o_b, class: "width-200 form-label" do %>
				Date of Birth <lable style='color: red;'>*</lable>
			<% end %>
		  <div class="prof_desc">
		    <%= f.date_field :d_o_b, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"),class: "form-control" %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :gender, class: "width-200 form-label" %>
		  <div class="prof_desc">
		    <%= f.select :gender, AppConstants::GENDER_ARR, {}, {:selected=> @profile.gender, class: "form-control"} %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :locations_country, class: "width-200 form-label" do%>
				Location Country <lable style='color: red;'>*</lable>
			<% end %>
		  <div class="prof_desc">
		    <%= select :locations, :country, AppUtils.country_list, {:selected=> "#{@location["country"] if !@location["country"].nil?}" }, class: "form-control" %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :locations_state, class: "width-200 form-label" do%>
				Location State <lable style='color: red;'>*</lable>
			<% end %>
		  <div class="prof_desc">
		    <% state =  @location["country"].nil? ? {} : AppUtils.get_states_selectable_format(@location["country"]) %>
		    <%= select :locations, :state, state, {:selected=> "#{@location["state"] if !@location["country"].nil?}"}, class: "form-control" %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :locations_cities, class: "width-200 form-label" do%>
				Location City <lable style='color: red;'>*</lable>
			<% end %>
		  <div class="prof_desc">
		    <% cities =  @location["country"].nil? || @location["state"].nil? ? {} : AppUtils.get_cities_selectable_format(@location["country"], @location["state"]) %>
		    <%= select :locations, :cities, cities, {:selected=> "#{@location["cities"] if !@location["country"].nil?}"}, class: "form-control" %>
		  </div>
		</div>

		<div class="form-group d-flex mb-4">
			<%= f.label :about_user, "About me", class: "width-200 form-label" %>
		  <div class="prof_desc">
		    <%= f.text_area :about_user, class: "form-control", :rows=>6 %>
		  </div>
		</div>

	  <div class="form-group  d-flex mb-4">
	    <%= f.label :image, class: "width-200 form-label" %>
			<div class="prof_desc">
				<% if @profile.avatar.present? %>
					<div class="avatar text-center">
						<div class="avtr" data-avatar="<%= @profile.avatar %>">
							<img src="<%= @profile.avatar.profile_picture %>" alt="<%= @profile.name %>">
							<a href="javascript:void(0)" class="change_link">Change</a>
						</div>
					</div>
					<div id="avtr" class="dp_none">
			    	<%= f.file_field :avatar %>
					</div>
				<% else %>
		    	<%= f.file_field :avatar %>
				<% end %>
			</div>
	  </div>
		  
	  <% if false %>
		  <div class="form-group">
		    <%= f.label :age, "Age" %>
		    <%= f.text_field :age, class: "form-control" %>
		  </div>
		<% end %>

	  <div class="form-actions pl-5 ml-5">
	    <%= f.submit :class=> "btn btn-primary px-5" , style: "margin-left: 100px;background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);" %>
	    <a id="close-btn" class="btn btn-primary" href="/customers/<%= current_customer.id %>/profile">Back</a>
	  </div>

	<% end %>

</div>

<script type="text/javascript">
	(function($){
		$(".change_link").on("click", function(){
			$(".avtr").remove();
			$("#avtr").show();
			$(".avatar").css("height", "inherit");
		});
		
		$("#locations_country, #locations_cities, #locations_state, #profile_gender").chosen({
			width: '100%'
		});
		$("#locations_country").on("change", function(e){
		    e.preventDefault();
		    $.ajax({
		      url: '/get_states',
		      dataType: 'json',
		      data: {country: $(this).val()}
		    })
		    .done(function(result) {
		      if (result.length > 0){
		        states = "";
		        $.each(result, function(index, data){
		          states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
		        });
		        $("#locations_state").html(states);
		        $("#locations_state").trigger("chosen:updated");
		      }
		    })
		  });

		  $("#locations_state").on("change", function(e){
		    e.preventDefault();
		    $.ajax({
		          url: '/get_cities',
		          dataType: 'json',
		          data: {state: $(this).val(), country: $("#locations_country").val()}
		        })
		        .done(function(result) {
		          if (result.length > 0){
		            cities = "";
		            $.each(result, function(index, data){
		              cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
		            });
		            $("#locations_cities").html(cities);
		            $("#locations_cities").trigger("chosen:updated");
		          }
		        })
		  });

	})(jQuery);

</script>