<div class="form-group d-flex mb-4">
  <span class="width-200 form-label">Name</span>
  <div class="prof_desc">
    <%= @customer.fullname %>
  </div>
</div>
<div class="form-group d-flex mb-4">
  <span class="width-200 form-label">Username</span>
  <div class="prof_desc">
    <%= @customer.username %>
  </div>
</div>

<% if is_owner?(@customer.id) %>
  <div class="form-group d-flex mb-4">
    <span class="width-200 form-label">Email</span>
    <div class="prof_desc">
      <%= @customer.email %>
    </div>
  </div>

  <div class="form-group d-flex mb-4">
    <span class="width-200 form-label">Date of Birth</span>
    <div class="prof_desc">
      <% unless @profile.d_o_b.nil? %>
        <%= @profile.d_o_b.strftime(AppConstants::DATE_FORMAT_DEFAULT) %>
      <% end %>
    </div>
  </div>

  <% if false %>
    <div class="form-group d-flex mb-4">
      <span class="width-200 form-label">Age</span>
      <div class="prof_desc">
        <%= @profile.age %>
      </div>
    </div>
  <% end %>

  <div class="form-group d-flex mb-4">
    <span class="width-200 form-label">Gender</span>
    <div class="prof_desc">
      <%= AppConstants::GENDER_HASH[@profile.gender] %>
    </div>
  </div>
<% end %>

<div class="form-group d-flex mb-4">
  <span class="width-200 form-label">Location</span>
  <div class="prof_desc">
    <%= @location["cities"] if !@location["cities"].nil? %>, 
    <%= link_to "/destinations" do %>
      <%= AppUtils.get_state_name_by_country(@location["country"], @location["state"]) if !@location["state"].nil? %>, 
    <% end %>
    <%= link_to "/destinations-by-country?keyword=#{@customer.country_name.first(1)}" do %>
      <%= AppUtils.country_name_by_country_code(@location["country"]) if !@location["country"].nil? %>
    <% end %>
  </div>
</div>
<% if is_owner?(@customer.id) %>
  <div class="form-group d-flex mb-4">
    <span class="width-200 form-label">About Me</span>
    <div class="prof_desc">
      <%= @profile.about_user %>
    </div>
  </div>
<% end %>

<% if customer_signed_in? && @current_customer.id == @customer.id %>
  <div class="form-group d-flex mb-4">
    <% is_public = @customer.is_public == AppConstants::YES %>
    <!-- Rounded switch -->
    <span class="width-200 form-label">Make my profile</span>
    <span class="nice-radio mr-5">
      <%= radio_button "accepted_privacy", "", true, {checked: is_public, onchange: "verify_privacy(event)"} %>
      <label for="accepted_privacy__true">Public</label>
    </span>

    <span class="nice-radio">
      <%= radio_button "accepted_privacy", "", false, {checked: !is_public, onchange: "verify_privacy(event)"} %>
      <label for="accepted_privacy__false">Private</label>
    </span>
  </div>
  <br>
<% end %>

<% if customer_signed_in? && current_customer.id == @customer.id %>
  <div class="mt-5">
    <div>
    <%= link_to '<i class="fa fa-pencil"></i> &nbsp;&nbsp;Edit Profile'.html_safe, "/customers/#{@customer.id}/edit_profile", :class=>"btn btn-primary" %>&nbsp;&nbsp;
    <% if customer_signed_in? && current_customer.id == @customer.id %>
      <%= link_to '<i class="fa fa-trash"></i> &nbsp;&nbsp;Deactivate Account'.html_safe, "/customers?id=#{current_customer.id}", method: :delete, data: {confirm: "are you sure"}, :class=>"btn btn-white" %>
       <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>