<% 
  @customer = current_customer
  @profile = @customer.profile
%>

<%= render layout: "layouts/profile" do %>
  <script type="text/javascript" charset="utf-8">
    var AvatarCrop,
      bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

    $(function() {
      return new AvatarCrop();
    });

    AvatarCrop = (function() {
      function AvatarCrop() {
        this.updatePreview = bind(this.updatePreview, this);
        this.update = bind(this.update, this);
        var height, width;
        width = parseInt($('#cropbox').width());
        height = parseInt($('#cropbox').height());
        $('#cropbox').Jcrop({
          aspectRatio: 1,
          setSelect: [0, 0, width, height],
          onSelect: this.update,
          onChange: this.update
        });
      }

      AvatarCrop.prototype.update = function(coords) {
        $('#profile_crop_x').val(coords.x);
        $('#profile_crop_y').val(coords.y);
        $('#profile_crop_w').val(coords.w);
        $('#profile_crop_h').val(coords.h);
        return this.updatePreview(coords);
      };

      AvatarCrop.prototype.updatePreview = function(coords) {
        var rx, ry;
        rx = 100 / coords.w;
        ry = 100 / coords.h;
        return $('#preview').css({
          width: Math.round(rx * $('#cropbox').width()) + 'px',
          height: Math.round(ry * $('#cropbox').height()) + 'px',
          marginLeft: '-' + Math.round(rx * coords.x) + 'px',
          marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
      };

      return AvatarCrop;

    })();
  </script>
  <div class="p-5">
    <section class="user_profile">
      <div class="container">
        <div class='row'>
          <div class='col-xs-8'>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Crop Avatar</h3>
              </div>
              <div class="panel-body">
                <% if @profile.avatar.present? %>
                  <%= image_tag @profile.avatar_url(:profile_picture), id: "cropbox" %>
                <% end %>
                <br>
                <%= form_for @profile, url:"/customers/#{current_customer.id}/edit_profile", method: "post" do |f| %>
                  <% %w[x y w h].each do |attribute| %>
                    <%= f.text_field "crop_#{attribute}", as: :hidden %>
                  <% end %>
                  <%= hidden_field :customer, :first_name, value: current_customer.first_name %>
                  <%= hidden_field :customer, :last_name, value: current_customer.last_name %>
                  <div class="form-actions">
                    <%= f.button :submit %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>

          <div class='col-xs-4'>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Preview</h3>
              </div>
              <div class="panel-body">
                <div style="width:100px; height:100px; overflow:hidden">
                  <%= image_tag @profile.avatar.url(:profile_picture), id: "preview" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
<% end %>
