<%= render layout: "layouts/profile" do %>
  <div class="p-5">
    <% if false %>
      <div>
        <div class="d-flex justify-content-between">
          <div class="img-div" align="center">
            <%= image_tag("checkins.png") %>
            <h4><%= @customer.checkins.present? ? @customer.checkins.length : 0 %> Check-ins</h4>
          </div>
          <div class="img-div" align="center">
            <%= image_tag("notebook.png") %>
            <h4><%= @customer.reviews.present? ? @customer.reviews.length : 0 %> Reviews</h4>
          </div>
          <div class="img-div" align="center">
            <%= image_tag("coin.png") %>
            <h4><%=  @customer.reviews.map(&:vote).sum %> Credits</h4>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <div>
        <div id="main-content" class="right_content">
          <%= render :partial=> "show" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  function verify_privacy(e){
    $.ajax({
      url: "/customers/accept_as_public_traveller",
      data: {
        checked: e.target.value
      }
    })
  }
</script>