<section class="awe-parallax register-page-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title text-primary"><span>Don’t stay at home</span>
        <h2 class="text-primary">JOIN US !</h2></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-item">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="form-item">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form-item">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="form-item">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <%= f.hidden_field :user_status, :value=>1 %>
          <div class="form-actions">
            <%= f.submit "Sign up" %>
          </div>
      <% end %>

      <div class="login-register-link">
        <%= render "customers/shared/links" %>
      </div>
    </div>
  </div>
</section>