/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

	*= require v2/open-iconic-bootstrap.min
	*= require v2/image-uploader.css
	*= require jquery-ui.css
	*= require v2/animate
	*= require v2/owl.carousel.min
	*= require v2/owl.theme.default.min
	*= require v2/magnific-popup
  *= require jquery.fancybox.css
	*= require v2/slick
	*= require alertify.css
	*= require chosen.css
	*= require v2/aos
	*= require v2/fonts/ionicons/css/ionicons
	*= require font-awesome
	*= require v2/flaticon
	*= require v2/icomoon
  *= require jcrop
  *= require jssocials
  *= require jssocials-theme-flat
  *= require jquery.emojipicker
  *= require jquery.emojipicker.a
	*= require v2/style
 	*= require_self
*/

@import "flag-icon";

.auth-wrap {
  position: relative;
  margin-top: 80px;
  min-height: 936px;
  background: #F3F5F9;
  // background-image: url(image_path('signin1.png'));
  // background-size: cover;
  // background-repeat: no-repeat;
  .auth-wrap-img{
    width: 100%;
  }
  .auth-gal-img{
    max-width: 100%;
  }
  h2.auth-heading{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
  }
  
  .auth-subtitle{
    font-size: 28px;
    color: #fff;
    text-align: center;
  }

  .login-register-page__content {
    position: absolute;
    background: #fff;
    width: 400px;
    top: 40px;
    margin: auto;
    left: 0px;
    right: 0px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 6px 24px #f3f5f938;
    .form-item label {
      display: block;
      margin-bottom: 0px;
    }

    .form-item {
      margin-bottom: 20px;
    }

    .form-item input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 28px;
      border: 1px solid #ced4da;
      outline: none;
    }

    input[type="radio"], input[type="checkbox"] {
      margin-right: 10px;
    }

    ul.oauth-link {
      list-style: none;
      padding: 0px;
      margin: 0;

      li {
        display: inline-block;

        a {
          height: 50px;
          width: 50px;
          display: block;
          float: left;
          background: rgba(66, 38, 38, 0.05);
          border-radius: 50%;
          position: relative;

          span {
            position: absolute;
            font-size: 26px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    ul.nav.nav-tabs {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 0px;
      margin-bottom: 20px;
      border-bottom: 1px solid #eb5e60;
      position: absolute;
      top: 0px;
      left: 0px;
      border-bottom: 1px solid #eb5e60;

      .nav-item {
        margin-bottom: 0px;
        border-bottom: 0px;
        flex-grow: 1;

        .nav-link {
          padding: 15px 25px;
          border-radius: 0px;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          color: #5B6A89;
          border: 0px;

          &.active {
            background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
            color: #fff;
          }

          &:focus,
          &:hover {
            border: none;
          }
        }
        &:first-child .nav-link{
          border-top-left-radius: 20px;
        }
        &:last-child .nav-link{
          border-top-right-radius: 20px;
        }
      }
    }
    .tab-content {
      padding: 15px 0px;
      margin-top: 50px;
    }
  }

  &.forum-login {
    .login-register-page__content {
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}

.filter-form {
  list-style-type: none;

  li {
    padding: 5px 0px;
  }
}


table.table.forum-table {
  td {
    vertical-align: middle;
  }

  img {
    max-width: 40px;
  }

  h4 {
    line-height: 24px;
    margin-bottom: 0px;
    font-size: 18px;
  }

  p {
    margin-bottom: 0px;
    white-space: pre-wrap;
    color: #999;
  }

  h5 {
    line-height: 22px;
    margin-bottom: 0px;
    font-size: 14px;

    & + p {
      font-size: 13px;
    }
  }

  .lh {
    line-height: 14px;
    vertical-align: middle;
  }

  .forum-media {
    display: flex;

    & > div:nth-child(2) {
      margin-left: 15px;
    }
  }
}

.traveler-banner {
  background: linear-gradient(95.65deg, #0B3F81 0%, #79D5F5 99.19%);
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: #fff;
    font-size: 42px;
  }
}

#traveler-search {
  border-radius: 30px;
  font-size: 16px;
  background-color: #F3F5F9;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #0B3F81, #79D5F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.bg-grey {
  background-color: #F3F5F9;
}

.avatar_wrap {
  width: 64px;
  height: 64px;
  overflow: hidden;
  position: relative;

  img.avatar-img {
    width: 64px;
    height: 64px;
  }

  & > img:not(.profile-status) {
    max-width: 100%;
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }

  img.profile-status {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0px;
  }
}

.friend {
  border-radius: 20px;

  h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    color: #03194A;
  }

  .name-content{
    max-width:400px;
    overflow: hidden;
  }
}

.primary-button {
  color: #fff !important;
  background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
  box-shadow: 0px 8px 24px rgba(248, 88, 89, 0.45);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.8rem !important;
  padding-bottom: .8rem !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px !important;
}

.secondary-button {
  color: #03194A !important;
  background: #F3F5F9;
  border-radius: 100px;
  border: none !important;
  padding-top: 0.8rem !important;
  padding-bottom: .8rem !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px !important;
  font-weight: 500;
}

.friend-link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #5B6A89;
}

.left-menu {
  width: 420px;

  .avtr {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
  }

  .avtr-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    color: #03194A;
  }

  .avtr-location {
    font-weight: 500;
    font-size: 16px;

    span {
      vertical-align: text-top;
    }

    .change-link {
      display: none;
    }

    &:hover {
      .change-link {
        display: block;
      }
    }
  }

  .side-menu {
    display: inline-block;
    width: 250px;

    li {
      position: relative;

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 64px;
        color: #5B6A89;

        &.active {
          color: #e91e63;
        }
      }

      span#unread-messages,
      span#unread-notifications {
        position: absolute;
        right: 0px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
        line-height: 30px;
        text-align: center;
        border-radius: 15px;
        font-size: 13px;
        color: #fff;
        top: 17px;
      }
    }
  }
}

.right-content {
  width: calc(100% - 420px);

  .breadcrump ul {
    width: 600px;
  }

  .content {
    width: 600px;

    &.fullwidth {
      width: auto;
    }
  }
}

.img-div {
  img {
    max-width: 30px;
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  h5 {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.br-20 {
  border-radius: 20px;
}

.width-200 {
  width: 200px;
}

.form-label {
  color: #03194A;
  font-weight: 500;
  align-self: center;
}

.prof_desc {
  font-weight: 400;
  color: #5b6a89;
  width: calc(100% - 200px);
}

a.btn.btn-primary {
  background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
  border: 0px;
}

.btn.btn-white{
  background: #fff;
  box-shadow: 0px 6px 24px #F3F5F9 !important;
  color: #000;
}

.login-widget {
  background: #fff;
  padding: 25px;
  border-radius: 20px;

  .form-item {
    margin-bottom: 20px;
  }

  .form-item input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
  }
}

.msg-header {
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #E5E5E5;

  .avtr {
    border-radius: 100%;
    overflow: auto;

    img {
      width: 70px;
      height: 70px;
    }
  }

  .author-title {
    font-size: 16px;
  }
}

.msg-author {
  & > li {
    display: block;

    & > a,
    & > div {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      background: #fff;
      margin-bottom: 1.5rem;
      border-radius: 20px;
      color: #5B6A89;

      .avtr {
        border-radius: 100%;
        overflow: auto;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .author-title {
        font-size: 16px;
      }
    }
  }
}

.message-left {
  width: 100%;
  height: 700px;
  position: relative;

  #messages {
    height: 470px;
    overflow: auto;
  }

  .msg-form {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
  }

  #message_body {
    width: 100%;
    border-radius: 40px;
    border: 2px solid #eee;
    padding: 15px 110px 15px 15px;
    background: #F3F5F9;
  }

  .primary-button {
    position: absolute;
    right: 19px;
    bottom: 19px;
  }

  .message-name {
    color: #a8aab1;
    padding-left: 6px;
  }

  .message-info {
    color: #fff;
    padding: 10px 25px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 25px 25px 25px 0px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
  }

  li.my-message {
    text-align: right
  }

  li.my-message .message-info {
    background: #ffffff;
    color: #3199e0;
  }

  li.others-message .message-info {
    background: #3199e0;
    border-radius: 25px 25px 0px 25px;
  }
}

.image-uploader .uploaded .uploaded-image {
  width: calc(50% - 1rem);
  padding-bottom: calc(50% - 1rem);
}

.post {
  position: relative;

  a.remove-post, 
  a.edit-post {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(13, 13, 86, 0.2);
    top: 40px;
    right: 0px;
    z-index: 1;
    display: none;
  }

  a.edit-post{
    right: 50px;
  }

  &:hover a.remove-post, 
  &:hover a.edit-post {
    display: block;
  }

  div.post-author {
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: #5B6A89;

    .avtr {
      border-radius: 100%;
      overflow: auto;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .author-title {
      font-size: 16px;
    }
  }

  & > div.post-content {
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    .img-wrap {
      width: 300px;
      height: 300px;

      img {
        width: 100%;
        height: 100%
      }
    }
  }

  .post-footer {
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem 2rem 1.5rem;

    a {
      font-size: 16px;
    }
  }
}

.navbar-expand-lg .navbar-nav {
  & > li {
    position: relative;

    ul.sub-menu {
      position: absolute;
      background: #fff;
      width: 100%;
      box-shadow: 0px 5px 3px 4px rgba(0, 0, 0, 0.1);
      display: none;
    }

    &:hover {
      ul.sub-menu {
        display: block;
      }
    }
  }
}

.gallery-wrap {
  .item {
    float: left;

    .gallery-content {
      width: 300px;
      height: 300px;
      position: relative;
      cursor: pointer;
    }

    &.grid_1 {
      .gallery-content {
        height: 400px;
      }
    }

    &.grid_2 {
      .gallery-content {
        height: 350px;
      }
    }

    &.grid_3 {
      .gallery-content {
        height: 200px;
      }
    }
  }

  .gallery-title {
    position: absolute;
    z-index: 2;
    color: #fff;
  }

  div.gallery-content {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      border-radius: 20px;
    }
  }
}

.search-content {
  position: relative;

  .search-img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
  }
}

.about {
  .about-heading {
    font-weight: 500;
    font-size: 24px;
    background: -webkit-linear-gradient(#0B3F81, #79D5F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-side-text {
    color: #5B6A89;
    font-size: 16px;
  }

  .about-border {
    background: image-url('about-border.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .about-secondary {
    font-size: 34px;
  }

  .spc-5 {
    font-weight: bold;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
  }

  .spc-2 {
    li {
      font-size: 16px;
      margin-bottom: 20px;

      .ques {
        font-weight: 500;
      }
    }
  }
}

.forum-page {
  padding: 30px 0;
  background-color: #fff;

  p {
    font-size: 16px;
    line-height: 42px;
    color: #555;
    padding-bottom: 20px;

    &:first-letter {
      float: left;
      color: #00b5f8;
      font-size: 80px;
      vertical-align: middle;
    }
  }

  .forums {
    margin-bottom: 20px;
  }

  .forum-content {
    background-color: #fafafa;
    padding: 15px;
    margin-bottom: 15px;

    h4 {
      font-size: 22px;
      padding-left: 15px;
      margin-bottom: 10px;
    }

    .forum-links {
      a {
        line-height: 26px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        display: block;
      }
    }

    .foo-links {
      margin-top: 20px;
      border-bottom: 1px solid #ddd;

      a {
        line-height: 26px;
        padding-bottom: 30px;
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-right: 20px;
        color: #00b5f8;
      }

      &.mtop0 {
        margin-top: 0px;
      }
    }

    .foo-sign-in {
      text-align: center;

      a {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      span {
        display: block;
      }
    }
  }
}

.semi-bold {
  font-weight: 500 !important;
}

.status-list {
  input[type='radio'] {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  li:after {
    content: "";
    clear: both;
    display: block;
  }
}

.collection-cards {
  .collection-card {
    padding: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    height: 270px;
    background-color: #eee;
    border-radius: 20px;

    &.wishlist-card {
      background: linear-gradient(180deg, #D5404E 0%, #FA8B81 100%);
    }

    &.review-card {
      background: linear-gradient(180deg, #3541BC 0%, #929EF4 100%);
    }

    &.recommendation-card {
      background: linear-gradient(180deg, #147642 0%, #7CE385 100%);
    }

    &.like-card {
      background: linear-gradient(180deg, #135CA5 0%, #71C3EC 100%);
    }

    strong {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 600;
      color: #fff;
      display: block;
    }

    div {
      height: 100px;
      position: relative;
      text-align: center;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
      }
    }

    p {
      font-size: 16px;
      padding: 20px;
      text-align: center;
      font-weight: 600;
      color: #fff;
      width: 295px !important
    }
  }
}

.form-item input:focus {
  box-shadow: 0 0 0 3px rgba(214, 72, 62, 0.17);
}

.bg-forms{
  .form-control {
    height: 44px !important;
    border-radius: 22px;
    padding-left: 15px;
    font-size: 14px;
  }
  textarea.form-control{
    height: auto !important;
  }
  .required:after {
    content:" *";
    color: red;
  }
}
.theme-color{
  color: #f85959;
}
.alert-danger{
  color: #f85959;
  background-color: #ffffff;
  border-color: #ffffff;
  .alert-sec{
    color: #f85959;
  }
  .alert-pri{
    color: #03194A;
  }
}

/* RADIO */
.nice-radio{
  position: relative;
  min-height: 27px;
  padding-top: 7px;
  color: #394264;
}
.nice-radio > [type="radio"]{
    display: none;
}
.nice-radio > [type="radio"]:not(:checked) + label,
.nice-radio > [type="radio"]:checked + label {
    position: relative;
    padding-left: 30px;
    color: inherit;
    font-size: 13px;
    line-height: 14px;
    z-index: 1;
}
.nice-radio > label:before{
    position: absolute;
    z-index: 2;
    left: 0;
    font-family: 'FontAwesome';
    font-size: 25px;
    color: #ed7c78;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nice-radio:hover > label:before{
    color: #ed7c78;
    cursor: default !important;
}
/* radio aspect */
.nice-radio > [type="radio"]:not(:checked) + label:before,
.nice-radio:hover > [type="radio"]:disabled:not(:checked) + label:before{
    content: '\f10c';
}
.nice-radio:hover > [type="radio"]:not(:checked) + label:before{
    /*content: '\f147';*/
}
/* checked mark aspect */
.nice-radio > [type="radio"]:checked + label:before {
    content: '\f192';
    color: #ed7c78;
}

/* disabled radio */
.nice-radio > [type="radio"]:disabled:not(:checked) + label:before,
.nice-radio > [type="radio"]:disabled:checked + label:before {
    color: #95a5a6;
}
.nice-radio > [type="radio"]:disabled + label,
.nice-radio > [type="radio"]:disabled + label > [class*="text-"] {
    color: #95a5a6 !important;
}
/* accessibility */
.nice-radio > [type="radio"]:checked:focus + label:before,
.nice-radio > [type="radio"]:not(:checked):focus + label:before {
    color: #49AFCD;
}


.product-detail {
    padding-top: 52px;
    padding-bottom: 160px;
    background-color: #fff !important;
}

.product-detail__info .product-title h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 600;
    margin: 0
}

.product-detail__info .product-title .hotel-star {
    display: inline-block;
    font-size: 10px;
    color: #e8790c;
    margin-left: 10px
}

.product-detail__info .product-address {
    font-size: 14px;
    color: #666;
    margin-bottom: 7px
}

.product-detail__info .product-email .fa {
    color: #e8790c;
    font-size: 15px;
    margin: 0 5px 0 2px
}

.product-detail__info .product-email {
    display: inline;
}

.product-detail__info .product-email a {
    color: #666
}

.product-detail__info .product-email a:hover {
    color: #e8790c
}

.product-detail__info .property-highlights {
    margin-top: 25px
}

.product-detail__info .property-highlights .property-highlights__content {
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px
}

.product-detail__info .property-highlights h3 {
    font-size: 20px;
    font-weight: 600;
    color: #e8790c;
    border-bottom: 2px solid #D4D4D4;
    padding: 8px 0;
    margin-top: 0
}

.product-detail__info .property-highlights .item {
    width: 33.3333333333% !important;
    color: #666;
    padding: 9px 10px;
    text-align: center;
}

.product-detail__info .property-highlights .item .awe-icon {
    float: left;
    font-size: 18px;
    margin-top: 1px
}

.product-detail__info .property-highlights .item span {
  margin-left: 10px;
  font-size: 21px;
  font-weight: 500;
  color: #03194A;
  display: inline-block;
  vertical-align: middle;
}

.product-detail__info .rating-trip-reviews {
    margin: 12px -10px;
    overflow: hidden
}

.product-detail__info .rating-trip-reviews .item {
    width: 33.3333333333%;
    float: left;
    padding: 0 10px;
    margin-top: 10px
}

.product-detail__info .rating-trip-reviews .item .count {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    float: left;
    margin-right: 10px
}

.product-detail__info .rating-trip-reviews .item.good .count {
    background-color: #55A649
}

.product-detail__info .rating-trip-reviews .item.fine .count {
    background-color: #F27C38
}

.product-detail__info .rating-trip-reviews .item h6 {
    font-size: 12px;
    font-weight: 700;
    color: #666;
    margin: 0
}

.product-detail__info .rating-trip-reviews .item p {
    font-size: 16px;
    color: #A6A6A6;
    margin-bottom: 0
}

.product-detail__info .product-descriptions {
    font-size: 16px;
    color: #5B6A89;
    margin-top: 30px;
    min-height: 135px;
}

.product-detail__info .trips {
    overflow: hidden;
    margin-top: 32px;
    margin-left: -15px;
    margin-right: -15px
}

.product-detail__info .trips .item {
    padding: 13px 15px;
    float: left;
    width: 33.3333333333%
}

.product-detail__info .trips .item h6 {
    font-weight: 700;
    font-size: 12px;
    color: #262626;
    margin-top: 0;
    margin-bottom: 5px
}

.product-detail__info .trips .item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.product-detail__info .trips .item p .fa,
.product-detail__info .trips .item p .awe-icon {
    margin-right: 8px;
    font-size: 18px;
    color: #A6A6A6
}

.product-slider-wrapper {
    overflow: hidden
}

.product-slider .item img {
    width: 100%;
    border-radius: 20px;
}

.product-slider .owl-controls .owl-buttons {
    position: static
}

.product-slider .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    top: 50%;
    left: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.product-slider .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 50%;
    right: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.product-slider:hover .owl-controls .owl-buttons .owl-prev {
    left: 5px;
    opacity: 1
}

.product-slider:hover .owl-controls .owl-buttons .owl-next {
    right: 5px;
    opacity: 1
}

.product-slider-thumb-row {
    margin-left: -8px;
    margin-right: -8px
}

.product-slider-thumb {
    padding: 8px 0
}

.product-slider-thumb .owl-item {
    padding: 8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.product-slider-thumb .owl-item.synced {
    opacity: .4
}

.product-slider-thumb {
    .item {
        cursor: pointer;
        .media-img {
            overflow: hidden;
            padding-top: 75%;
            position: relative;
            transform: translateZ(0px);
           
            img {
                display: block;
                /* width: 100px; */
                height: 100%;
                left: 50%;
                max-width: none !important;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 20px;
            }
        }
    }
}
.product-slider .item {
    height: 400px;
    img {
      height: 340px;
    }
    .main-img-desc {
        padding: 10px;
        color: #333;
    }
}

.dest-highlights .item {
    width: 50% !important;
    color: #666;
}

.dest-highlights .item i, .dest-highlights .item .awe-icon {
    text-align: center;
    font-size: 30px !important;
    line-height: 30px;
    color: #e8790c;
    margin: 0 auto;
    display: table;
    float: none !important;
}

.dest-highlights .item h6 {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    span.it {
        color: #00a4e1;
        font-size: 20px;
        vertical-align: initial;
        display: inline-block;
        font-weight: 600;
        margin-left: 5px;
    }
}

.product-tabs {
  margin-top: 30px;
  &.ui-tabs .ui-tabs-nav li{
    width: 33.33%;
    text-align: center;
    a{
      width: 100%;
    }
  }
}

.product-tabs__content .ui-tabs-panel {
    overflow: hidden;
    min-height: 500px
}

.product-tabs__content .ui-tabs-panel .check-availability {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 22px
}

.product-tabs__content .ui-tabs-panel .check-availability label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements {
    float: left
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements input,
.product-tabs__content .ui-tabs-panel .check-availability .form-elements select {
    background-color: #eee;
    width: 100%;
    height: 36px;
    line-height: 36px
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements.form-checkin {
    width: 16%;
    margin-right: 2%
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements.form-checkout {
    width: 16%;
    margin-right: 4%
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements.form-adult {
    width: 16%;
    margin-right: 2%
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements.form-kids {
    width: 16%;
    margin-right: 2%
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements .form-item {
    position: relative
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements span {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    color: #666;
    margin-top: 6px
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements .awe-icon {
    position: absolute;
    width: 36px;
    height: 34px;
    background-color: #eee;
    line-height: 34px;
    text-align: right;
    top: 1px;
    right: 1px;
    padding-right: 12px;
    font-size: 16px;
    color: #666;
    pointer-events: none
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements .fa {
    background-color: #eee
}

.product-tabs__content .ui-tabs-panel .check-availability .form-elements .awe-select-wrapper {
    width: 100%
}

.product-tabs__content .ui-tabs-panel .check-availability .form-actions {
    float: left;
    width: 22%;
    margin-left: 4%;
    margin-top: 26px
}

.product-tabs__content .ui-tabs-panel .check-availability .form-actions .awe-btn {
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    padding: 9px 16px
}

.tabs {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border: 0;
    padding: 0;
    background: none;
    overflow: unset;
}

.tabs .ui-tabs-nav {
    position: relative;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    background: none;
    margin-bottom: 22px;
    padding: 0;
    overflow: hidden;
    border: 0;
    z-index: 9
}

.tabs .ui-tabs-nav:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #D4D4D4;
    z-index: -1
}

.tabs .ui-tabs-nav li {
    background: none;
    border: 0;
    margin: 0px;
    // &:first-child{
    //     /* margin-left:40px; */
    // }
}

.tabs .ui-tabs-nav li .ui-tabs-anchor {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    color: #444;
    padding: 0 25px;
    border-bottom: 3px solid transparent;
    line-height: 58px;
    z-index: 9
}

.tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    color: #00a4e1;
    border-bottom-color: #00a4e1;
}

.tabs .ui-tabs-panel {
    padding: 0
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "Open Sans", sans-serif
}

.tabs__content .ui-tabs-panel {
    padding: 0
}

#reviews .rating-info {
    overflow: hidden;
    margin-bottom: 50px
}

#reviews .rating-info .average-rating-review {
    display: inline-block;
    overflow: hidden;
    min-width: 290px;
    float: left
}

#reviews .rating-info .average-rating-review .count {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    float: left;
    margin-right: 30px
}

#reviews .rating-info .average-rating-review.good .count {
    background-color: #55A649
}

#reviews .rating-info .average-rating-review.fine .count {
    background-color: #F27C38
}

#reviews .rating-info .average-rating-review em {
    display: block;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    color: #e8790c;
    margin-top: 15px
}

#reviews .rating-info .average-rating-review span {
    display: block;
    font-size: 16px;
    color: #666
}

#reviews .rating-info .rating-review {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px
}

#reviews .rating-info .rating-review li {
    display: inline-block;
    padding: 0 20px
}

#reviews .rating-info .rating-review li em {
    display: block;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    color: #e8790c
}

#reviews .rating-info .rating-review li span {
    display: block;
    font-size: 16px;
    color: #666
}

#reviews .rating-info .write-review {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #e8790c;
    line-height: 30px;
    padding: 0 12px;
    white-space: nowrap;
    border-radius: 3px;
    float: right;
    margin-top: 15px
}

#reviews .rating-info .write-review.write-review-active,
#reviews .rating-info .write-review:hover {
    background-color: #444
}

#reviews #add_review,
.edit_review {
    background-color: #fff;
    border-radius: 4px;
    
    display: none
}
.edit_review form{
padding: 15px;
}
#reviews #add_review .comment-reply-title,
.edit_review .comment-reply-title {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-top: 0;
}
.check-all{
    margin-right: 76px;
}

#reviews #add_review form > div label,
.edit_review form > div label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}

#reviews #add_review form > div label .required,
.edit_review form > div label .required {
    color: #FF6666
}

#reviews #add_review form .comment-form-author,
#reviews #add_review form .comment-form-email {
    /*//width: 50%;*/
    margin-bottom: 20px;
    float: left;
}

#reviews #add_review form .comment-form-author input,
#reviews #add_review form .comment-form-email input,
.edit_review form .comment-form-author input,
.edit_review form .comment-form-email input {
    width: 100%;
    background-color: #eee
}

#reviews #add_review form .comment-form-description textarea,
.edit_review form .comment-form-description textarea {
    width: 100%;
    background-color: #eee;
    margin-bottom: 20px;
}

.submit-review {
    margin-left: 15px;
}

#reviews #add_review form .comment-form-rating,
.edit_review form .comment-form-rating {
    margin-bottom: 20px;
    padding-left: 15px;
}

#reviews #add_review form .comment-form-rating label,
.edit_review form .comment-form-rating label {
    margin-top: 20px;
}

#reviews #add_review form .comment-form-rating h4,
.edit_review form .comment-form-rating h4 {
    border: 0;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px
}

#reviews #add_review form .comment-form-rating .comment-form-rating__content {
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px
}

#reviews #add_review form .comment-form-rating .item {
    width: 25%;
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-bottom: 15px
}

#reviews #add_review form .comment-form-rating .item label {
    color: #e8790c
}

#reviews #add_review form .comment-form-rating .item .awe-select-wrapper {
    width: 100%
}

#reviews #add_review form .comment-form-rating .item .awe-select-wrapper select {
    width: 100%;
    background-color: #eee
}

#reviews #add_review form .comment-form-rating .item .awe-select-wrapper .fa {
    background-color: #eee
}

#reviews #add_review form .comment-form-comment textarea {
    width: 100%;
    height: 140px;
    background-color: #eee
}

#reviews #add_review form .form-submit .submit {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: #e8790c;
    line-height: 36px;
    padding: 0 12px;
    white-space: nowrap;
    border-radius: 3px;
    border: 0;
    margin-top: 15px;
    min-width: 120px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#reviews #add_review form .form-submit .submit:hover {
    background-color: #444
}

#reviews #comments .commentlist {
    list-style: none;
    margin: 0;
    padding: 0
}

#reviews #comments .commentlist li .comment-box {
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
    width: 600px;
}

#reviews #comments .commentlist li .comment-box .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
    float: left;
    margin-right: 30px;
    img{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
}

#reviews #comments .commentlist li .comment-box .comment-body .meta {
    overflow: hidden;
    margin-top: 0
}

#reviews #comments .commentlist li .comment-box .comment-body .meta strong {
    font-size: 19px;
    font-weight: 700;
    color: #03194a;
}

#reviews #comments .commentlist li .comment-box .comment-body .meta .time {
    font-size: 12px;
    color: #5B6A89;
}

#reviews #comments .commentlist li .comment-box .comment-body .description {
    font-size: 16px;
    color: #03194a;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    background: #F3F5F9;
    border-radius: 0px 40px 40px 40px;
}

#reviews #comments .commentlist li .comment-box .comment-body .description p {
    margin: 0
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info {
    margin-top: 5px;
    margin-bottom: 0
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .average-rating-review {
    min-width: 195px
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .average-rating-review .count {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-right: 10px;
    color: #fff
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .average-rating-review em {
    margin-top: 0;
    color: #666
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .average-rating-review span {
    color: #A6A6A6
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .rating-review {
    margin-top: 0
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .rating-review li em {
    color: #666
}

#reviews #comments .commentlist li .comment-box .comment-body .rating-info .rating-review li span {
    color: #A6A6A6
}

#social-buttons {
    /*//margin: -10px 0 0 -8px;*/
    position: fixed;
    top: 230px;
}

#social-buttons ul {
    list-style: none;
    margin-left: -40px;
    font-size: 10px;
    text-align: center;
}

#social-buttons ul li {
    width: 40px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

#social-buttons ul li:hover {
    width: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#social-buttons ul li i {
    font-size: 30px;
    padding: 5px;
    color: #fff;
    border-radius: 0;
}

#social-buttons ul li h4 {
    font-size: 12px;
    display: inline;
    position: absolute;
    margin: 18px 0 0 15px;
}

li.share-icon{
  background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
  color: #fff;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 10px;
  height: 40px;
}

li.facebook {
    background: #4b699e;
    color: #fff;
}

li.facebook:hover {
    border-right: 1px solid #4b699e;
}

li.twitter {
    background: #55acee;
    color: #fff;
}

li.twitter:hover {
    border-right: 1px solid #55acee;
}

li.youtube {
    background: #cf4738;
    color: #fff;
}

li.youtube:hover {
    border-right: 1px solid #cf4738;
}

li.gplus {
    background: #d05d46;
    color: #fff;
}

li.gplus:hover {
    border-right: 1px solid #d05d46;
}

li.pinterest {
    background: #bc3e34;
    color: #fff;
}

li.pinterest:hover {
    border-right: 1px solid #bc3e34;
}

li.mail {
    background: #444;
    color: #fff;
}

li.mail:hover {
    border-right: 1px solid #444;
}

.tagcloud {
    font-size: 0;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 16px
}

.tagcloud 

.tagcloud a:hover {
    color: #fff;
    background-color: #e8790c
}

.tagcloud span {
    a {
        display: inline-block;
        font-weight: 600;
        font-size: 12px !important;
        color: #666;
        background-color: #ddd;
        padding: 3px 7px;
        margin: 4px;
        &:hover {
            color: #fff;
        }
    }
}
.dp_none {
   display: none; 
}
.map-list {
  .map-wrap {
    margin-bottom: 20px;
    clear: both;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    .map-wrap-img {
      display: inline;
      img {
        margin-right: 20px;
        width: 70px;
        margin-bottom: 15px;
      }
    }
    .map-wrap-right {
      display: inline;
    }
    .map-wrap-link a{
      color: #03194A;
      font-size: 16px;
    }
    .map-wrap-address{
      color: #5B6A89;
      font-size: 12px;
    }
  }
}
#list-viewer{
    max-height: 500px;
    overflow: auto;
}

.map-wrap-phone {
    display: inline-block;
}

.map-wrap-web {
    display: inline-block;
}

.map-wrap-phone + .map-wrap-web:before {content: "|";padding-right: 15px;}

.map-wrap-phone + .map-wrap-web {
    margin-left: 15px;
}

.modal-content{
  border-radius: 20px;
}

.jssocials-share-link{
  border-radius: 20px;
  padding: 10px 20px !important;
  height: 40px;
}

.hidden-file-field{
  position: absolute;
  z-index: -1;
}

td.preview {
  max-width: 100px;
}

td.preview img {
  max-width: 100%;
}

.upload_images {
  width: 100%;
  overflow: auto;
  height: 100px;
  white-space: nowrap;

  .rev-item {
    width: 100px;
    transition: all 0.3s ease 0s;
    float: left;
    margin: 5px;

    .media-img {
      overflow: hidden;
      padding-top: 72%;
      position: relative;
      transform: translateZ(0px);

      img {
        height: 100%;
        left: 50%;
        max-width: none !important;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        /* position: absolute;
                width: 100%;
                max-width: none !important;
                top: 50%;
                left: 50%; */
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

.template-upload {
  .preview {
    .name {
      font-size: 12px;
    }
  }

  .desc {
    font-size: 13px;

    textarea {
      height: 70px;
      overflow: overflow-y;
      padding: 8px;
      font-size: 13px;
    }
  }

  .size {
    font-size: 12px;
  }

  .progress {
    margin-bottom: 10px;
  }
}

.template-download {
  .preview {
    width: 16%;

    .name {
      font-size: 12px;
    }
  }

  .desc {
    font-size: 13px;

    textarea {
      height: 70px;
      overflow: overflow-y;
      padding: 8px;
      font-size: 13px;
    }

    span {
      display: block;
      font-size: 14px;
    }
  }

  .size {
    font-size: 12px;
  }

  .progress {
    margin-bottom: 10px;
  }
}

.awe-masonry .awe-masonry__item {
    position: relative;
    width: 25%;
    z-index: 9
}

.awe-masonry .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry .awe-masonry__item:nth-child(3) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry .awe-masonry__item:nth-child(3) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry .awe-masonry__item > a {
    position: relative;
    display: block;
    overflow: hidden
}

.awe-masonry .awe-masonry__item > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/overlay-gallery.png) no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    border: 15px solid #f7f7f7;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.awe-masonry .awe-masonry__item:hover > a:after {
    background-color: rgba(0, 0, 0, 0.6)
}

.awe-masonry .awe-masonry__item .item-title {
    position: absolute;
    top: 30px;
    left: 30px
}

.awe-masonry .awe-masonry__item .item-title h2 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

.awe-masonry .awe-masonry__item .item-title h2 a:hover {
    color: #e8790c
}

.awe-masonry .awe-masonry__item .item-cat ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0
}

.awe-masonry .awe-masonry__item .item-cat ul li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px
}

.awe-masonry .awe-masonry__item .item-cat ul li a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #68738A;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.awe-masonry .awe-masonry__item .item-cat ul li a:hover {
    background-color: #e8790c;
    color: #fff
}

.awe-masonry .awe-masonry__item .item-available {
    position: absolute;
    color: #fff;
    font-size: 12px;
    text-align: right;
    bottom: 30px;
    right: 30px
}

.awe-masonry .awe-masonry__item .item-available .count {
    display: block;
    font-weight: 700;
    font-size: 24px
}

.awe-masonry.item-1 .awe-masonry__item {
    width: 100%
}

.awe-masonry.item-1 .awe-masonry__item .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-1 .awe-masonry__item .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-2 .awe-masonry__item {
    width: 50%
}

.awe-masonry.item-3 .awe-masonry__item {
    width: 33.3333333333%
}

.awe-masonry.item-3 .awe-masonry__item:nth-child(2) {
    width: 66.6666666666%
}

.awe-masonry.item-3 .awe-masonry__item:nth-child(2) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-3 .awe-masonry__item:nth-child(2) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-4 .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry.item-4 .awe-masonry__item:nth-child(4) {
    width: 50%
}

.awe-masonry.item-4 .awe-masonry__item:nth-child(4) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-4 .awe-masonry__item:nth-child(4) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-4 .awe-masonry__item:nth-child(4) .image-wrap {
    padding-top: 50%
}

.awe-masonry.item-5 .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry.item-5 .awe-masonry__item:nth-child(3) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-5 .awe-masonry__item:nth-child(3) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-6 .awe-masonry__item:nth-child(4),
.awe-masonry.item-6 .awe-masonry__item:nth-child(5),
.awe-masonry.item-6 .awe-masonry__item:nth-child(6) {
    width: 50%
}

.awe-masonry.item-6 .awe-masonry__item:nth-child(4) .item-title,
.awe-masonry.item-6 .awe-masonry__item:nth-child(5) .item-title,
.awe-masonry.item-6 .awe-masonry__item:nth-child(6) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-6 .awe-masonry__item:nth-child(4) .item-available,
.awe-masonry.item-6 .awe-masonry__item:nth-child(5) .item-available,
.awe-masonry.item-6 .awe-masonry__item:nth-child(6) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-6 .awe-masonry__item:nth-child(4) .image-wrap,
.awe-masonry.item-6 .awe-masonry__item:nth-child(5) .image-wrap,
.awe-masonry.item-6 .awe-masonry__item:nth-child(6) .image-wrap {
    padding-top: 50%
}

.awe-masonry.item-7 .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry.item-7 .awe-masonry__item:nth-child(6),
.awe-masonry.item-7 .awe-masonry__item:nth-child(7) {
    width: 50%
}

.awe-masonry.item-7 .awe-masonry__item:nth-child(6) .item-title,
.awe-masonry.item-7 .awe-masonry__item:nth-child(7) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-7 .awe-masonry__item:nth-child(6) .item-available,
.awe-masonry.item-7 .awe-masonry__item:nth-child(7) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-7 .awe-masonry__item:nth-child(6) .image-wrap,
.awe-masonry.item-7 .awe-masonry__item:nth-child(7) .image-wrap {
    padding-top: 50%
}

.awe-masonry.item-8 .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry.item-8 .awe-masonry__item:nth-child(6) {
    width: 50%
}

.awe-masonry.item-8 .awe-masonry__item:nth-child(6) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-8 .awe-masonry__item:nth-child(6) .item-available {
    bottom: 45px;
    right: 45px
}

.awe-masonry.item-8 .awe-masonry__item:nth-child(6) .image-wrap {
    padding-top: 50%
}

.awe-masonry.item-9 .awe-masonry__item:nth-child(3) {
    width: 50%
}

.awe-masonry.item-9 .awe-masonry__item:nth-child(3) .item-title {
    top: 45px;
    left: 45px
}

.awe-masonry.item-9 .awe-masonry__item:nth-child(3) .item-available {
    bottom: 45px;
    right: 45px
}

.product-tabs__content .awe-masonry .awe-masonry__item{
    .item-title {
        top: 15px;
        left: 15px;
        padding: 25px;
        height: auto;
        width: auto;
        max-width: 100%;
        border-bottom-right-radius: 85px;
        background-color: rgba(232, 121, 12, 0.5);
    }
}
.product-tabs__content .awe-masonry .awe-masonry__item:nth-child(3) .item-title, 
.product-tabs__content .awe-masonry.item-1 .awe-masonry__item .item-title {
    top: 15px;
    left: 15px;
}

.image-cover {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.image-cover img {
  height: 100%;
  left: 50%;
  max-width: none !important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.country-sub{
  li{
    width: 43%;
    a{
      font-size: 16px;
      color: #5B6A89;
      font-weight: 500;
    }
  }
}

span.flag {
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 28px
    line-height28px;
}

span.flag + span{
    font-size: 21px;
    font-weight: 500;
    color: #03194A;
    vertical-align: middle;
}

@media (min-width: 1300px){
  .auth-wrap-img{
    position: absolute;
    bottom: 100px;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0
}



/*new css added*/

/*home destinations*/
section.ftco-section.ftco-destination {
  background: #F3F5F9;
}
.heading-section {padding-bottom: 4em;}
.heading-section h2 {
  font-size: 30px;

line-height: 1.5;
color: #000000;
font-weight: 700;
}
.destinationmain a:hover{
text-decoration: none;
}
.destinationmain {
margin: 15px 0px;
}
.home_destination img{
border-radius: 50px 50px 0px 0px;
width: 100%;
height: auto;
min-height: 300px;
object-fit:cover;
}
.destination_text {
  background: #fff;
  border-radius:40px;
  margin-top: -40px;
position: relative;
}
.destination_text h3 a{
  font-size: 21px;
color: #03194A;
}
.home_destination .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
position: absolute;

}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.home_destination:hover .icon {
  opacity: 1;
}
.sec-color {
  color: #5B6A89;
  font-size: 16px;
  font-weight: 400;
}

.btn {
    cursor: pointer;
 
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #f3f5f9;
  padding: 12px 25px;
  font-size: 1rem;
  line-height: 1.5;
   -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}
a.btn.btn-primary {
  background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
  
}
.btn.btn-primary:hover {
  border: 1px solid #f85959;
  background: transparent;
  color: #f85959;
}
/*home destinations*/

/*innerpage start*/

.traveler-banner {
  background: linear-gradient(95.65deg, #0B3F81 0%, #79D5F5 99.19%);
      background-color: rgba(0, 0, 0, 0);
      background-repeat: repeat;
      background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
margin-top: 90px;
}
.traveler-banner h2 {
  color: #fff;
  font-size: 42px;
}
.pb-4, .py-4 {
  padding-bottom: 2rem !important;
}
.pt-4, .py-4 {
  padding-top: 2rem !important;
}

.attractionsmain {
margin: 15px 0px;
}
.attractions img{
border-radius: 30px 30px;
width: 100%;
height: auto;
min-height: 250px;
object-fit:cover;
}
.attractions .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
position: absolute;

}
.attractions:hover .icon {
  opacity: 1;
}
.attractionsmain ul {
margin:5px 0px;
padding: 0px 10px;
}
.attractionsmain ul li {
margin:0px 0px;
padding:2px 0px;
list-style: none;
}
.ftco-sectioninner {

background: #F3F5F9;
}
.attr_head {
color: #F85959;
font-size: 18px;
font-weight: 600;
}
.checked {
  color: orange;
}
.review-rating {
font-size: 18px!important;
}
.attr_link a {
color: #F85959;
font-size: 17px;
font-weight: 400;
padding-right: 15px;
}
.blogmain {
width: 100%
}
.blogmain img{
border-radius: 30px 30px;
width: 100%;
height: auto;
min-height: 250px;
max-height: 200px;
object-fit:cover;
}
.blogimg {
padding:0px 15px!important;
}
.imgoverlay {

  position: absolute; /* Sit on top of the page content */

 /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0;
left: 15px;

right: 15px;
bottom: 0;
border-radius: 30px 30px;
background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  

}
.blogtitle {
font-size: 45px;
color: #fff;
line-height: 50px;
font-weight: 500;


margin: 0;
position: absolute;
top: 50%;
left: 50%;
width: 90%;
transform: translate(-50%, -50%);

}
.blogtitle h1 {
text-align: center;
width: 100%;
}
.blog_detail  h1 {
text-align: left;
width: 100%;
text-shadow: 2px 2px 4px #000000;
font-size: 55px;
font-weight: 600;
}
.blog_detail  h2{
text-align: left;
width: 100%;

font-size: 25px;
font-weight: 400;
}
.blog_detail  p{
text-align: left;
padding-left: 10px;
font-size: 16px;
font-weight: 400;
line-height: normal!important;
}
.blog_detail  p small span {
padding-left: 8px;
padding-right: 8px;
}
.blogsimage {
margin: 30px 0px;
}
.blogsimage img {
  border-radius: 30px 30px;
width: 100%;
height: auto;
min-height: 500px;
max-height: 500px;
object-fit:cover;
align-content: center;
object-position:center;

}
.blogrimg {
width: 60px!important;
height: 60px!important;
min-height: 60px;
max-height: 60px;
border-radius: 100px;
float: left;
}
.blogrimg img {
width: 100%!important;
height: 100%!important;
object-fit:cover;
align-content: center;
object-position:center;
min-height: 60px;
max-height: 60px;
border-radius: 100px;
}
.blogtxt {
font-weight: 600;
text-shadow: 2px 2px 4px #000;
}

.linkimgoverlay {

  position: absolute; /* Sit on top of the page content */

 /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0;
left: 15px;

right: 15px;
bottom: 0;
border-radius: 30px 30px;
background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  
}

.linkimgoverlay:hover {
background-color: rgba(0,0,0,0)!important; 	

}
.articleshead {
color: #F85959;
padding-left: 15px;

}
.w-100 {
width: 100%;
}
.bloghead2 {
padding-top: 20px;
}
.blogsdetalimage {

}
.blogsdetalimage img {
  border-radius: 30px 30px;
width: 76%;
height: auto;
min-height: 195px;
max-height: 257px;
object-fit:cover;
align-content: center;
object-position:center;

}
.blogsdetalhead {
padding: 8px;
color: #5B6A89;
font-size: 20px;
font-weight: 600;
min-height: 60px;
}
.share a i {
padding: 10px 15px;
margin-right: 10px;
width: 50px;
height: 50px;
border-radius: 50%;
font-size: 20px!important;
}
.hearticon {
background: #FFD1D1;
color: #F85959!important;
}
.shareicon:hover {
background: #fff;
color: #F85959!important;
}
.commenticon:hover {
background: #fff;
color: #F85959!important;
}
.hearticon:hover {
background: #fff;
color: #F85959!important;
}
.commenticon {
background:#DFF1E3;
color: #0B3A9B!important;
}
.shareicon {
background:#BFD3FB;
color: #0B3A9B!important;
}
.share img{
width: auto;
height: auto;

}
.share {
margin-top: 15px;
}
.feat_article {
margin-top: 20px;
}
.feat_article p {
padding-left: 10px;
float: left;
color: #F85959;
font-size: 16px;
font-weight: 400;
}
.feat_article p small {
color: #4E4E4E;
}
.feat_article p span {
padding-left: 8px;
padding-right: 8px;
}
.feature_articlemain {
margin: 10px 0px;
}
.contactmain p {
font-size: 16px;
color: #5B6A89;
}
.contactform {
padding: 0px;
margin: 0px;
}
.contactform li {
padding:8px 0px;
margin: 0px;
list-style: none;
color: #5B6A89;
}
.mandatory {
color: #F85959;
}
.formfeild {
border-radius: 40px!important;

padding: 12px 20px !important;

border-color: #707070;
background: #F3F5F9;
}
.formfeild2 {
border-radius: 20px!important;

padding: 12px 20px !important;

border-color: #d4d4d4;
background: #ffffff;
}
.checkboxmain {
margin-top: 15px;
}
.checkboxmain span {
padding-left: 16px;
}
.round {
position: relative;

}

.round label {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 20%;
cursor: pointer;
height: 22px;
left: 0;
position: absolute;
top: 0;
width:22px;
}

.round label:after {
border: 2px solid #fff;
border-top: none;
border-right: none;
content: "";
height: 6px;
left: 8px;
opacity: 0;
position: absolute;
top: 10px;
transform: rotate(-45deg);
width: 15px;
}

.round input[type="checkbox"] {
visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
background-color: #F85959;
border-color: #F85959;
}

.round input[type="checkbox"]:checked + label:after {
opacity: 1;
}

.contactbu{
color: #fff !important;
background:#f85959;
  // box-shadow: 0px 8px 24px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.8rem !important;
  padding-bottom: .8rem !important;
  padding-left: 30px;
  padding-right: 30px;
}
.contactbu:hover{
color: #fff !important;
  background:#f85959;
  // box-shadow: 0px 8px 24px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.8rem !important;
  padding-bottom: .8rem !important;
  padding-left: 30px;
  padding-right: 30px;
text-decoration: none;
}
.contctdetails h4 {
font-size: 20px;
color: #F85959;
font-weight: 500;
}
.iconcontact {
width: 30px;
float: left;
}
.iconcontact i {
font-size: 25px;
color: #F85959;
padding-top: 5px;
}
.contcttxt {
float: left;
padding-left: 10px;
line-height: 35px;
}
.contcttxt a {
font-size: 18px;
color: #F85959;
}
.socialmedia i {
background: #F85959;
padding: 10px 13px;
border-radius: 50%;
color: #fff;
font-size: 20px;
width: 40px;
height: 40px;
margin-right: 8px;
}
.socialmedia i:hover {
color: #000;
}
.contactimg {
position: absolute;
top: 25px;
left: 25px;
width: 100%;
}
.contactimg img{
  border-radius: 30px 30px;
/*width: 100%;
height: auto;
min-height: 500px;
max-height: 500px;
object-fit:cover;
align-content: center;
object-position:center;*/
width: 60%;
min-height: 300px;
max-height: 300px;
}
.contactimgimgA1 {
z-index: 1;
}
.contactimgimgc1 {
z-index: 1;
margin-top: 30px;
}
.contactimgimgB1 {
z-index: 3;
margin-top: 100px;
position: absolute;
margin-left: -180px;
}


.event {
margin-top: 80px;
}
.eventmain {
width: 100%
}
.eventmain img{
border-radius: 30px 30px;
width: 100%;
height: auto;
min-height: 450px;
max-height: 450px;
object-fit:cover;
}
.carousel-indicators li {
width: 12px!important;
height: 12px!important;
border-radius: 50%;
margin: 0px 3px!important;
}
.carousel-indicators {
display: flex;
justify-content: flex-end;
}
.carousel-indicators .active {
background: #F85959!important;
}
.carousel-indicators li  {
background: #ffff!important;
}

.row-flex {
display: flex;
flex-wrap: wrap;
}


/* vertical spacing between columns */


.content {
height: 100%;
padding: 20px 20px 10px;
}


/* Demo backgrounds and styling*/

.colour-1 {
background: #fff;
color: #5B6A89;
border-radius: 30px;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
padding: 25px;
}

.colour-2 {
background: #fff;
color: #5B6A89;
border-radius: 30px;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
padding: 25px;
}
.eventshead1 {
color: #fff !important;
  background: linear-gradient(
90deg
, #F85959 0%, #FCAC9B 100%);
  // box-shadow: 0px 8px 24px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 30px;
  padding-right: 30px;
display: inline-block;
font-size: 24px;
font-weight: 500;
  
}
.eventshead2 {
color: #fff !important;
  background: linear-gradient(
90deg
, #F85959 0%, #FCAC9B 100%);
  // box-shadow: 0px 8px 24px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 30px;
  padding-right: 30px;
display: inline-block;
font-size: 18px;
font-weight: 500;
  
}
hr.new1 {
border-top: 1px dashed #747474;
}
.newtopic {
  color: #fff !important;
  background: linear-gradient(
90deg
, #F85959 0%, #FCAC9B 100%);

  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 30px;
  padding-right: 30px;
display: inline-block;
font-size: 18px;
font-weight: 500;
}
.newtopic:hover{
color: #fff !important;
  background:#f85959;
 
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 30px;
  padding-right: 30px;
text-decoration: none;
}
.forum_main {
background: #fff;
color: #5B6A89;
border-radius: 30px;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
padding: 25px;

}
.forumimg img {
width: 150px;
height: 150px;
margin: 0px auto;
border-radius: 50%;
object-fit: cover;
object-position:center;
}
.forumimg {
text-align: center;
}
.forumimg h4 {
font-size: 20px;
font-weight: 600;
color: #F85959;
text-align: center;
}
.forumimg p {
font-size: 20px;
font-weight: 400;
color: #F85959;
text-align: center;
}

.forumcontent h4 {
font-size: 20px;
font-weight: 600;
color: #4E4E4E;

}
.forumcontent h5 {
font-size: 20px;
font-weight: 400;
color: #F85959;

}
.forumcontent p {
font-size: 20px;
font-weight: 400;
color: #4E4E4E;

}
.reply {
padding-left:50px;
}
.reply i {padding-right: 8px;}
.reply a {
color: #F85959;
font-size: 20px;
font-weight: 400;
}
.report {
text-align: right;
}
.report i {padding-right: 8px;}
.report a {
color: #F85959;
font-size: 20px;
font-weight: 400;
}
.notification {

}
.notification_main {
background: #fff;
color: #5B6A89;
border-radius: 30px;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
padding:15px 15px!important;

}
.notification img {
width: 100px;
height: 106px;
margin: 0px auto;
border-radius: 50%;
object-fit: cover;
object-position:center;
color: #4E4E4E;

}
.notification p {


color: #4E4E4E;
padding-right: 15px;
font-size: 18px;
text-align: right;
padding-top: 34px;

}
.notification h4 {
padding-left: 0px;
color: #4E4E4E;
font-size: 24px;
padding-top: 34px;

}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.partner h4 {
color: #F85959;
font-size: 24px;
text-decoration: underline;
padding: 10px 0px;
font-weight: 400;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
border-radius: 30px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}


.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

.gallery__item--9 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
}

.gallery__item--10 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 10;
}

.recommendationstitle h4 {
color:#F85959;
font-size: 26px;
font-weight: 500;
}
.recommendations i{
color:#F85959;
font-size: 35px;
font-weight: 500
}
.recommendations p{
color:#4E4E4E;
font-size: 22px;
font-weight: 400
}
.recom_lo_icon {
padding-right: 15px;
padding-top: 2%;
float: left;
display: block;

}
.recom_address {
float: left;
display: block;
}
.starred span {

font-size: 25px;
font-weight: 400;
color: #F85959;

}
.checkedred {
  color: #4E4E4E;
}

.recomimg img{
border-radius: 30px 30px;
width: 100%;
height: auto;
min-height: 400px;
max-height: 400px;
object-fit:cover;
}
.recomimg {
width: 100%;
}
.recom_text {
color:#4E4E4E;
font-size: 22px;
font-weight: 400
}
.d_txt_right {
text-align: right;
}
.review_thumbimg {
width: 130px;
height: 130px;
float: left;

margin-right: 15px;

}
.review_thumbimg img {
  width: 100%;
height: 100%;
object-fit:cover;
object-position: center;
border-radius: 50%;

}
.reviews_name {
font-size: 25px;
font-weight: 400;
color: #F85959;
padding-left: 35px;
display: block;


}
.reviewbox {
border-radius: 0px 30px 30px 30px;
background: #fff;
border:solid 1px #4E4E4E;
padding: 30px;
margin-left: 25px;
font-size: 22px;
margin: 0px 15px;
}
.dpt-5 {
padding-top: 3rem !important;
}
.writereview h4{
color: #5B6A89;
font-size: 24px;
}
.reviewtxt {
border-radius: 30px 30px 30px 30px;
padding: 20px;
min-height: 100px;
font-size: 22px;
border:solid 1px #4E4E4E;
}
.review2 {
padding: 30px 30px 10px 30px!important;
}
.review2 img {
  border-radius: 30px 30px;
width: 100%;
height: auto;

object-fit:cover;
}
.review2 h4 {
color:#4E4E4E;
font-size: 24px;
font-weight: 600;

}
.reviewdate {
  color:#4E4E4E;
font-size: 20px;
font-weight: 600;
padding: 8px 0px;
}
.review2 a {
    color:#F85959;
font-size: 20px;
font-weight: 600;
padding: 8px 0px;
}


.terms_main {
background: #fff;
color: #5B6A89;
border-radius: 30px;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
padding:20px 20px!important;

}
.terms_main h4 {
border-bottom: solid 1px #b6b6b6;
line-height: 40px;
margin-bottom: 5px;
}

.upcomingevent img{
border-radius: 30px 30px 0px 0px;
width: 100%;
height: auto;
min-height: 200px;
object-fit:cover;
}
.event_text {
  background: #fff;
  border-radius:40px;
  margin-top: -40px;
position: relative;
}
.event_text h3 a{
  font-size: 21px;
color: #03194A;
}
.upcomingevent .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
position: absolute;

}
.up_event{
margin: 0px auto;
text-transform: uppercase;
}
.up_event_txt {
color: #5B6A89;
font-size: 16px;
}
.eventdate {
border-top:dashed 1px #606060;
border-bottom:dashed 1px #606060;
color: #F85959;
font-weight: 500;

}


.has-search .form-control {
  padding:15px 10px 15px 3.375rem;
border-radius: 30px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
padding-left: 20px;
}
.nav-tabs a{	
// border-bottom:solid 1px #5B6A89!important;
font-size: 30px;
color: #5B6A89!important;
font-weight: 500;
text-align: left!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border-color: #F3F5F9!important;
border-bottom:solid 3px #F85959!important;
background: #F3F5F9!important;
color: #F85959!important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
border-color: #F3F5F9!important;
border-bottom:solid 3px #F85959!important;
background: #F3F5F9!important;
}

.wishlist h4 {
color: #4E4E4E;
font-size: 25px;
font-weight: 600;
}
.wishlist i {
color: #F85959;
}
.wishlisticons img {
width: auto!important;
height: auto!important;
}
.wishlistimg img {
  border-radius: 30px 30px;
width: 100%;
height: 100%;

object-fit:cover;
}
.wishlisttitems {
padding: 0px;
margin: 0px;
display: flex;
}
.wishlisttitems li {
padding: 0px;
margin: 0px;
flex: 1 1 auto;
list-style: none;
color: #4E4E4E;
font-size: 25px;
}
.wishlisttitems li i {
padding-left: 8px;
}

.placevisit {
padding: 0px;
margin: 0px;

}
.placevisit li {
padding: 0px;
margin: 0px;
flex: 1 1 auto;
list-style: none;
color: #4E4E4E;
font-size: 25px;
}
.placevisit li i {
padding-left: 8px;
}


.visited h4 {
color: #4E4E4E;
font-size: 22px;
font-weight: 600;
}
.visited i {
color: #F85959;
}
.visited h5 {
color: #4E4E4E;
font-size: 18px;
font-weight: 600;
}


.wishshlist_bu{
color: #fff !important;
  background: linear-gradient(
90deg
, #FCAC9B  0%, #F85959 100%);

  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
}
.wishshlist_bu:hover{
color: #fff !important;
  background:#f85959;
  
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
   padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
text-decoration: none;
}
.wishshlist_bu_revi{
color: #fff !important;
  background: linear-gradient(
90deg
, #75A1FE 0%, #054DE2 100%);
  // box-shadow: 0px 8px 20px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
}
.wishshlist_bu_revi:hover{
color: #fff !important;
  background:#054DE2;
  // box-shadow: 0px 8px 20px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
   padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
text-decoration: none;
}

.wishshlist_bu_recomd{
color: #fff !important;
  background: linear-gradient(
90deg
, #91DE1E 0%, #62A400 100%);
  // box-shadow: 0px 8px 20px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
  padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
}
.wishshlist_bu_recomd:hover{
color: #fff !important;
  background:#62A400;
  // box-shadow: 0px 8px 20px rgb(248 88 89 / 45%);
  border-radius: 100px;
  border: none !important;
  padding-top: 0.6rem !important;
  padding-bottom: .6rem !important;
   padding-left: 20px;
  padding-right: 20px;
font-size: 10px;
text-decoration: none;
}
/*innerpage end*/

/*mobile satrt*/
@media(max-width: 991px){
.traveler-banner h2 {
  color: #fff;
  
  word-wrap: break-word;
}
.hero-wrap  {
  margin-top: 80px;
}	
.traveler-banner {
  margin-top: 80px;
}
.contactimg {
position: relative;
top: 25px;
left: 35px;
width: 100%;
margin-bottom: 80px;
}
.contactimg img{
  border-radius: 30px 30px;
/*width: 100%;
height: auto;
min-height: 500px;
max-height: 500px;
object-fit:cover;
align-content: center;
object-position:center;*/
width: 60%;
min-height: 150px;
max-height: 150px;
}
.contactimgimgB1 {
z-index: 3;
margin-top: 100px;
position: absolute;
margin-left: -150px;
}
.colour-1 {
  margin: 10px;
}
.colour-2 {
  margin: 10px;
}
.report {
text-align: center;
}
.reply {text-align: center;}

.notification p {


color: #4E4E4E;
padding-right: 15px;
font-size: 18px;
text-align: center;
padding-top: 10px;

}
.notification h4 {
padding-left: 0px;
color: #4E4E4E;
font-size: 24px;
padding-top: 10px;
text-align: center

}

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(34, 5vw);
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
object-position: center 20%;
}

.gallery__item--1 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 14;
}
.gallery__item--3 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 21;
}


.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 21;
  grid-row-end: 28;
}

.gallery__item--5 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 28;
  grid-row-end: 35;
}

.gallery__item--6 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 35;
  grid-row-end:42;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 18;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 18;
  grid-row-end: 24;
}

.gallery__item--9 {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 18;
  grid-row-end: 24;
}

.gallery__item--10 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 10;
}
.d_txt_right {
text-align: left;
}	
.dpt-5 {
padding-top: 1rem !important;
}
}

footer {

	color: #fff;
	font-size: 12px;
	    font-size: 16px;
    background: linear-gradient(108.44deg, #0B3F81 0%, #79D5F5 99.19%);
    box-shadow: 0px 8px 24px rgba(11,63,129,0.25);
    padding: 4em 0 1em 0;
}
.ftco-footer a {
    color: #fff;
    font-weight: 400;
	line-height: 1.8;
}
.ftco-footer {
    font-size: 17px;
}
.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255,255,255,0.05);
    border-radius: 50%;
    position: relative;
	margin: 0px 15px;
}
.ftco-footer-social li a span {
	font-size: 24px;
	padding-top: 12px;
}
.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
}
.text-center {
    text-align: center !important;
}
// .list-unstyled {
// 	display: inline-flex;

// }
.remove-focus .prev{
  outline: none;
}


ul.resp-tabs-list, p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 10px 15px;
  margin: 0 4px 0 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
border: 1px solid #5AB1D0 !important;
border-bottom: none;
margin-bottom: -1px !important;
padding: 12px 14px 14px 14px !important;
border-top: 1px solid #c1c1c1 !important;
border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border: 1px solid #c1c1c1;
border-top-color: #5AB1D0;
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 0px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 0px solid #5AB1D0 !important;
border-left: 0px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 0px #FFF solid !important;
border-radius: 10px;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
      display: none;
  }

  h2.resp-accordion {
      display: block;
  }

  .resp-vtabs .resp-tab-content {
      border: 1px solid #C1C1C1;
  }

  .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
  }

  .resp-accordion-closed {
      display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid #c1c1c1 !important;
  }
}