	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/08/2018 13:24
  	*/


@font-face {
  font-family: "Flaticon";
  src: image-url("v2/fonts/flaticon/font/Flaticon.eot");
  src: image-url("v2/fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       image-url("v2/fonts/flaticon/font/Flaticon.woff") format("woff"),
       image-url("v2/fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       image-url("v2/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: image-url("v2/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-guarantee:before { content: "\f100"; }
.flaticon-support:before { content: "\f101"; }
.flaticon-like:before { content: "\f102"; }
.flaticon-detective:before { content: "\f103"; }
.flaticon-hotel:before { content: "\f104"; }
.flaticon-fork:before { content: "\f105"; }
.flaticon-coffee-cup:before { content: "\f106"; }
.flaticon-meeting-point:before { content: "\f107"; }
.flaticon-shopping-bag:before { content: "\f108"; }