<section class="awe-parallax">
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
        <%= form_for(@admin = Admin.new, url: create_admin_path) do |f| %>
          <div class="form-item">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, required: true %>
          </div>

          <div class="form-item">
            <%= f.label :email %>
            <%= f.email_field :email, required: true %>
          </div>

          <div class="form-item">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", required: true %>
          </div>

          <%= f.hidden_field :is_active, value: AppConstants::ACTIVE %>
          <%= f.hidden_field :is_admin, value: 0 %>
          <div class="form-actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>