<div class="ls">
  <div class="side-menus">
    <ul class="side-menu list-unstyled text-left">
      <li><a class="<%= params[:controller] == "banners" ? "active" : "" %>" href="<%= admin_banners_path(current_admin.id) %>"><i class="fa fa-picture-o"></i>Banner</a></li>
      <li><a id="manage-user" class="<%= is_user_management_path ? "active" : "" %>" href="<%= admin_manage_users_path(current_admin.id) %>"><i class="fa fa-user"></i>User Management</a></li>
      <li><a id="manage-admins" class="<%= is_admin_path ? "active" : "" %>" href="<%= manage_admin_path %>"><i class="fa fa-user"></i>Admin Management</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "edit_privacy" ? "active" : "" %>" href="/privacy/edit"><i class="fa fa-user"></i>Privacy</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "edit_faq" ? "active" : "" %>" href="/faq/edit"><i class="fa fa-user"></i>Faq</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "edit_terms" ? "active" : "" %>" href="/terms/edit"><i class="fa fa-user"></i>Terms</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "edit_careers" ? "active" : "" %>" href="/careers/edit"><i class="fa fa-user"></i>Careers</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "edit_about_us" ? "active" : "" %>" href="/about/edit"><i class="fa fa-user"></i>About</a></li>
      <li><a id="manage-user" class="<%= params[:action] == "blog_new_path" ? "active" : "" %>" href="/blog/new"><i class="fa fa-user"></i>Blog</a></li>
      </ul>
  </div>
</div>