<% unless @customers.nil? %>
  <section>
    <ul class="friends list-unstyled">
      <% @customers.each do |customer| %>
        <% unless customer.profile.nil? %>
          <li class="friend d-flex p-4 bg-white mb-4 justify-content-between align-items-center">
            <a href="/traveler/<%= customer.username %>" class="d-flex flex-grow-0">
              <div class="avatar_wrap">
                <% unless customer.profile.avatar.url.nil? %>
                  <img src="<%= customer.profile.avatar %>" class="avatar-img">
                <% else %>
                  <%= image_tag "noavatar.png", class: "avatar-img" %>
                <% end %>
                <% status_url = customer.is_public? ? "public.png" : "private.png" %>
                <%= image_tag status_url, class: "profile-status" %>
              </div>
            </a>
            <div class="flex-grow-1 px-4">
              <h4 class="mb-0">
                <%= customer.fullname %>
              </h4>
              <div class="mt-2">
                <a class="friend-link" href="/traveler/<%= customer.username %>"><%= image_tag("eye.png") %> View
                  Profile </a>
              </div>
            </div>
            <%= form_for("manage_user_#{customer.id}", url: admin_manage_users_path, :remote => true) do |f| %>
              <%= select :user, :status, AppConstants::USER_STATUS_ARR, {:selected => customer.user_status}, :class => "input-sm" %>
              <%= hidden_field_tag :user_id, customer.id %>
              <%= submit_tag "submit", class: "btn btn-primary btn-sm" %>
            <%- end %>
        <% end %>
      <% end %>
    </ul>
  </section>
<% else %>
  No Customers Yet
<% end %>


<style>
  #main-content {
    padding: 0px;
  }
</style>