<section>
  <ul class="friends">
    <% unless @admins.nil? %>
      <div class="">
        <%= link_to '<i class="fa fa-plus"></i> &nbsp;&nbsp;New Admin'.html_safe, new_admin_path, class: "btn btn-primary btn-sm" %>
      </div>
      <br>
      <% @admins.each do |customer| %>
        <li class="friend">
          <a href="javascript:void(0)">
            <div class="avatar_wrap">
              <%= image_tag "noavatar.png" %>
            </div>
            <div class="frend_info">
              <h4>
                <%= customer.name %>
              </h4>
            </div>
          </a>
          <div class="pull-right">
            <%= form_for("manage_user_#{customer.id}", url: "/manage-admin/#{customer.id}") do |f| %>
              <%= select :admin, :is_active, AppConstants::USER_STATUS_ARR, {:selected=> customer.is_active }, :class=>"input-sm" %>
              <%= submit_tag "submit", class:"btn btn-primary btn-sm" %>
            <%- end %>
          </div>
        </li>
      <% end %>
    <% else %>
        No Admins Yet
    <% end %>
  </ul>
</section>

<style>
  #main-content{
    padding: 0px;
  }
</style>