<section class="blog-page user_profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render :partial=> "admins/left_menu" %>
      </div>
      <div class="col-md-8">
        <div class="blog-page__content rs">
          <div id="main-content" class="right_content">
            <%= form_for @privacy, {url:"/privacy/edit" , method: :post} do |f| %>
              <%= f.text_area :privacy, class:"ckeditor", cols:"30", rows:"10" %>
              <button type="submit" class="btn btn-primary">Submit</button>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>