<section class="blog-page user_profile">
  <div class="blog-page__content rs">
    <div id="main-content" class="right_content">
      <%= render :partial=> "admins/manage_user" %>
    </div>
  </div>
</section>