<% if !flash[:notice].nil? %>
  conf_msg = "<h4 class='text-center ptopbot25'><%= flash[:notice] %></h4>";
  alertify.confirm(conf_msg, function (e) {
    if (e) {
      $("#manage-user").click();
    } else {
      $("#manage-user").click();
    }
  });
<% elsif !flash[:error].nil?%>
  alertify.error("<%= flash[:error] %>");
<% end %>