<% unless @customers.nil? %>
	<section>
		<ul class="friends">
			<% @customers.each do |customer| %>
				<% unless customer.profile.nil? %>
					<li class="friend">
						<a href="/customers/<%= customer.id %>" >
							<div class="avatar_wrap">
								<% unless customer.profile.avatar.url.nil? %>
									<img src="<%= customer.profile.avatar %>">
								<% else %>
									<%= image_tag "noavatar.png" %>
								<% end %>
							</div>
							<div class="frend_info">
								<h4>
									<%= customer.profile.name %>
								</h4>
								<%= AppConstants::GENDER_HASH[customer.profile.gender] %>
							</div>
						</a>
						<div class="pull-right profile_view">
							<a href="/customers/<%= customer.id %>/add-friend/?name=<%= customer.name %>" data-remote="true" class="btn btn-primary"><i class="fa fa-plus"></i> Connect</a>
						</div>
						
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
<% end %>