<% unless @friends.nil? %>
	<section>
		<ul class="friends">
			<% @friends.each do |friend| %>
				<li class="friend">
					<a href="<%= customer_path(friend.id) %>">
						<div class="avatar_wrap">
							<% unless friend.profile.avatar.url.nil? %>
								<img src="<%= friend.profile.avatar %>">
							<% else %>
								<%= image_tag "noavatar.png" %>
							<% end %>
						</div>
						<div class="frend_info">
							<h4>
								<%= friend.profile.name %>
							</h4>
							<%= AppConstants::GENDER_HASH[friend.profile.gender] %>
						</div>
					</a>
          <div class="pull-right">
            <a class="btn btn-theme" href="/customers/<%= params["customer_id"] %>/disconnect-users/<%= friend.id %>" data-remote="true" data-method="post"><i class="fa fa-minus"></i> Disconnect</a>
          </div>
				</li>
			<% end %>
		</ul>
	</section>
<% else %>
	No Friends Yet
<% end %>

<div class="pull-right pull-btn-margin">
	<a class="btn btn-theme" href="<%= all_users_path %>" data-remote="true">Connect with more friends</a>
</div>
<div class="clearfix"></div>