<div class="ls">
  <div class="side-menus">
    <ul class="side-menu">
      <li><a class="<%= params[:controller] == "profiles" ? "active" : "" %>" href="/customers/<%= @customer.id %>/profile"><i class="fa fa-user"></i>  Profile</a></li>
      <!-- <li><a class="<%#= params[:controller] == "trips" ? "active" : "" %>" href="<%#= customer_trips_path(@customer.id) %>"><i class="fa fa-history"></i>  Travel History</a></li> -->
      <!-- <li><a class="<%#= params[:controller] == "photos" ? "active" : "" %>" href="/customers/<%#= @customer.id %>/photos"><i class="fa fa-picture-o"></i>  Photos </a></li> -->
      <li><a class="<%= params[:controller] == "travel_blogs" ? "active" : "" %>" href="/customers/<%= @customer.id %>/travel_blogs"><i class="fa fa-plane"></i>  Travel Blog</a></li>
      <li><a class="<%= params[:controller] == "wishlists" ? "active" : "" %>" href="/customers/<%= @customer.id %>/wishlists"><i class="fa fa-heart"></i>  Wishlists </a></li>
      <li><a class="<%= params[:controller] == "checkins" ? "active" : "" %>" href="/customers/<%= @customer.id %>/checkins"><i class="fa fa-check-square"></i>  Checked in </a></li>
     <!--  <li><a class="<#%= params[:controller] == "photos" ? "active" : "" %>" href="<%#= customer_photos_path(@customer.id) %>"><i class="fa fa-picture-o"></i>  Photos / Videos</a></li>
     <li><a class="<#%= params[:controller] == "customers" ? "active" : "" %>" href="<%#= customer_friends_path(@customer.id) %>"><i class="fa fa-users"></i>  Friends</a></li> -->
    </ul>
  </div>
</div>