<section class="awe-parallax page-heading-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Meet Travellers</h2></div>
  </div>
</section>
<section class="blog-page user_profile">
  <div class="container">
    <div class="row">
    	<div class="col-md-8">
    		<div class="blog-page__content rs">
          <div id="main-content">
	      		<% if @customers.present? %>
							<section>
								<ul class="friends">
									<% @customers.each do |customer| %>
										<% unless customer.profile.nil? %>
											<li class="friend">
												<a href="/customers/<%= customer.id %>" >
													<div class="avatar_wrap">
														<% unless customer.profile.avatar.url.nil? %>
															<img src="<%= customer.profile.avatar %>">
														<% else %>
															<%= image_tag "noavatar.png" %>
														<% end %>
													</div>
													<div class="frend_info">
														<h4>
															<%= customer.profile.name %>
														</h4>
														<%= AppConstants::GENDER_HASH[customer.profile.gender] %> (<%= customer.profile.age %> years old)
													</div>
												</a>
												<div class="pull-right profile_view">
													<a href="/traveler/<%= customer.username %>" class="btn btn-primary"><i class="fa fa-arrow-right"></i> view profile </a>
												</div>
												
											</li>
										<% end %>
									<% end %>
								</ul>
							</section>
						<% else %>
							<h1>Oops!</h1>
							<div>There is no Users visible </div>
						<% end %>
					</div>
				</div>
				<%#= will_paginate @customers, renderer: BootstrapPagination::Rails  if @customers.any? %>
    	</div>
    	<div class="col-md-4">

    	</div>
    </div>
  </div>
</section>