<section class="awe-parallax page-heading-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <% customer_name = !@customer.nil? ? @customer.name : "User" %>
    <div class="blog-heading-content text-uppercase"><h2><%= customer_name %></h2></div>
  </div>
</section>

<section class="user_profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= render :partial => "left_menu" %>
      </div>
      <div class="col-sm-8">
        <div class="rs">
          <div id="main-content" class="right_content">
            <div class="blog-page__content">
              <% unless @customer.travel_blogs.nil? %>
                <h4>Recent Posts</h4>
                <% @customer.travel_blogs.last(2).each do |travel_blog| %>
                  <div class="post">
                    <div class="post-media">
                      <div class="image-wrap">
                        <a href="<%= customer_travel_blog_path(@customer.id, travel_blog.id) %>"><img src="<%= travel_blog.image %>" alt="<%= travel_blog.title %>"></a>
                      </div>
                    </div>
                    <div class="post-body">
                      <div class="post-meta">
                        <div class="date"><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y") %></div>
                        <% author = Customer.find(travel_blog.customer_id)%>
                        <div class="author">by <a href="<%= customer_path(travel_blog.customer_id) %>"><%= author.name %></a></div>
                        <div class="cat">
                          <ul>
                            <li><a href="<%= customer_trips_path(travel_blog.customer_id) %>">Travel Gear</a></li>
                          </ul>
                        </div>
                        <div class="comment"><a href="<%= customer_travel_blog_blog_comments_path(travel_blog.customer_id, travel_blog.id) %>"><%= travel_blog.blog_comments.count %> Comments &raquo;</a></div>
                      </div>
                      <div class="post-title">
                        <h2>
                          <a href="<%= customer_travel_blog_path(@customer.id, travel_blog.id) %>">
                            <%= travel_blog.title %>
                          </a>
                        </h2>
                      </div>
                      <div class="post-content">
                        <p><%= travel_blog.description.html_safe %></p>
                      </div>
                      <div class="post-link">
                        <a href="<%= customer_travel_blog_path(@customer.id, travel_blog.id) %>" class="awe-btn awe-btn-style2">Read more</a>
                      </div>
                      <div>
                        <%= link_to 'Edit', edit_customer_travel_blog_path(@customer.id, travel_blog.id) %> |
                        <%= link_to 'Destroy', customer_travel_blog_path(@customer.id, travel_blog.id) , method: :delete, data: { confirm: 'Are you sure?' } %>  |
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>