<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="mb-5">
      <div class="ftco-footer-widget mb-4 text-center">
        <h2 class="ftco-heading-2 mt-0">Follow us on</h2>

        <ul class="ftco-footer-social list-unstyled">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>

      <div class="ftco-footer-widget mb-4 text-center">
        <ul class="list-unstyled row justify-content-center">
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/about">About</a></li>
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/destinations">Destinations</a></li>
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/meet-travelers">Meet Travellers</a></li>
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/forum">Forums</a></li>
          <!-- <li class="pl-2 pr-2"><a class="py-2 d-block" href="/contribute">Become a Contributor</a></li> -->
          <!-- <li class="pl-2 pr-2"><a class="py-2 d-block" href="/advertise">Advertise with us</a></li> -->
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/privacy">Privacy Policy</a></li>            
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/terms">Terms of Use</a></li>
          <li class="pl-2 pr-2"><a class="py-2 d-block" href="/contact">Contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Airvtr | All rights reserved </p>
      </div>
    </div>
  </div>
</footer>