<%
  classes = "awake scrolled" #["home"].include?(params[:actions]) ? "" : "awake scrolled"
%>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light <%= classes %>" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%#= image_tag("logo-footer.png", class: "default-img") %>
      <%= image_tag("logo.svg", class: "scrolled-img") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item <%= params["controller"] == "home" ? "active" : "" %>">
          <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item <%= params["controller"] == "destinations" ? "active" : "" %>">
          <a href="<%= destinations_path %>" class="nav-link">Destinations</a>
        </li>

        <li class="nav-item <%= params["controller"] == "customers" ? "active" : "" %>">
          <a href="/meet-travelers" class="nav-link">Meet Travellers</a>
        </li>

        <!-- <li class="nav-item <%#= params["action"] == "about_us" ? "active" : "" %>">
          <a href="/about" class="nav-link">About</a>
        </li> -->

        <li class="nav-item <%= params["controller"] == "forum" && params["action"] == "index" ? "active" : "" %>">
          <a href="/forum" class="nav-link">Forums</a>
        </li>
        
        <% if (customer_signed_in? || admin_signed_in?) %>
          <% logout_path = customer_signed_in? ? destroy_customer_session_path : destroy_admin_session_path %>
          <li class="nav-item cta ml-3"><a href="<%= logout_path %>" data-method="delete" class="nav-link"><span>Sign Out</span></a></li>
        <% else %>
          <li class="nav-item cta ml-3"><a href="<%= new_customer_session_path %>" class="nav-link"><span>Sign In</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>