<table class="facilities-freebies-table">
  <tbody>
  <tr>
    <th>
      <p>Check In</p>
    </th>
    <td>
      <p><%= @flight_facility.checkin %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Check out</p>
    </th>
    <td>
      <p><%= @flight_facility.checkout %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Cancellation or Prepayment</p>
    </th>
    <td>
      <p><%= @flight_facility.cancelorprepay %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Childrens Beds</p>
    </th>
    <td>
      <p><%= @flight_facility.childrenbeds %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Pets</p>
    </th>
    <td>
      <p><%= @flight_facility.pets %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Groups</p>
    </th>
    <td>
      <p><%= @flight_facility.groups %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Cards Accepted</p>
    </th>
    <td>
      <p><%= @flight_facility.cardsaccepted %></p>
    </td>
  </tr>
  </tbody>
</table>