<%
  unless @is_with_location
    url_path = params[:action] == "new" ? "/destinations/#{params['destination_id']}/#{params['destination_name']}/flights" : "/destinations/#{params['destination_id']}/#{params['destination_name']}/flights/#{@flight.id}"
  else
    url_path = "/destinations/bangalore/hotels"
  end
%>
<%= form_for(@flight, url: url_path) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @is_with_location %>
    <%= f.hidden_field :destination_id, :value=>"#{params["destination_id"]}" %>
  <% end %>

  <% if @is_with_location %>
    <div class="form-item">
      <%= label_tag :locations_name, "Origin Location" %>
      <%= text_field :locations, :name, class: "form-control" %>
    </div>
    <div class="form-item">
      <%= label_tag :locations_country %>
      <%= select :locations, :country, AppUtils.country_list, {:selected=> "", :prompt=> "Select country"  }, class: "form-control" %>
    </div>
    <div class="form-item">
      <%= label_tag :locations_state %>
      <%= select :locations, :state, "", {:selected=> "", :prompt=> "Select state" }, class: "form-control" %>
    </div>

    <div class="form-item">
      <%= label_tag :locations_cities %>
      <%= select :locations, :cities, "", {:selected=> "", :prompt=> "Select city" }, class: "form-control" %>
    </div>
    <input type="hidden" name="add_location" value="true">
  <% end %>

  <div class="form-item">
    <%= f.label :flight_to, "Flight To" %>
    <%= f.text_field :flight_to, class: "form-control" %>
  </div>

  <div class="form-item">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-item">
    <%= f.label :service_no %>
    <%= f.text_field :service_no %>
  </div>
  <div class="form-item">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <%= f.hidden_field :main_image %>
  <%= hidden_field_tag :main_old_image, @flight.main_image if @flight.present? %>
  <%= f.hidden_field :image, name: "flight[image]" %>

  <div class="form-item" >
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
  </div>

 <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render :partial=> "common/images_multiple", :locals=>{:single_id=> "flight_main_image", :single_old=> "main_old_image", :multiple_id=>"flight_image", :action_param=> "flight_id=#{@flight.present? ? @flight.id : "" }" } %>

<% if @is_with_location %>
  <script>
    (function($){
      $("#locations_country, #locations_cities, #locations_state").chosen();
      $("#locations_country").on("change", function(e){
        e.preventDefault();
        $.ajax({
              url: '/get_states',
              dataType: 'json',
              data: {country: $(this).val()}
            })
            .done(function(result) {
              if (result.length > 0){
                states = "";
                $.each(result, function(index, data){
                  states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
                });
                $("#locations_state").html(states);
                $("#locations_state").trigger("chosen:updated");
              }
            })
      });

    $("#locations_state").on("change", function(e){
      e.preventDefault();
      $.ajax({
            url: '/get_cities',
            dataType: 'json',
            data: {state: $(this).val(), country: $("#locations_country").val()}
          })
          .done(function(result) {
            if (result.length > 0){
              cities = "";
              $.each(result, function(index, data){
                cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
              });
              $("#locations_cities").html(cities);
              $("#locations_cities").trigger("chosen:updated");
            }
          })
      });

    })(jQuery);


  </script>
<% end %>