<section class="awe-parallax new-flight-page">
  <div class="awe-overlay"></div>
  <div class="container">
  <%#= render_breadcrumbs :tag => :li, :separator=>"/" %>
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">Edit Flight</h2>
      </div>
			<%= render 'form' %>
			<div class="back-btn">
				<%= link_to 'Show', "/destinations/#{params['destination_id']}/#{params['destination_name']}/flights/#{params["id"]}/#{@flight.name}", :class=>"btn btn-primary" %> &nbsp;&nbsp;
				<%= link_to '<< Back', "/destinations/#{params['destination_id']}/#{params['destination_name']}/flights", :class=>"btn btn-primary" %>
      </div>
	</div>
	</div>
</section>



