<section class="awe-parallax page-heading-flight">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Flights</h2></div>
  </div>
</section>
<section class="your-destinations-section-demo">
  <div class="container">
    <div class="col-md-8">
      <div class="your-destinations">
        <div class="your-destionations__top">
         <!--  <div class="title"><h2>Your Destinations</h2></div> -->
         <% if admin_signed_in? %>
           <%= link_to '<i class="fa fa-plus"></i> Add New Flight'.html_safe, "/destinations/#{params['destination_id']}/#{params['destination_name']}/flights/new", :class=>"btn btn-primary" %>         
         <% end %>
          <div class="your-destinations__bar">            
            <div class="order">
              <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
              <%= select :sort_by, "", AppConstants::SORTING_ARRAY, class: "orderby awe-select" %>
            </div>
          </div>
        </div>
        <div class="destination-list__content">
        <%
          dest_hash = AppUtils.destinations_mapping
        %>
         <% unless @flights.nil? || @flights.blank? %>
            <% @flights.each do |flight| %>
             <div class="destinations-item">
              <div class="col-md-4 p0">
                <%
                  img_path = Flight.get_desination_image_by_main_image_or_secondary(flight)
                %>
                <div class="media-img"> <a href="/destinations/<%= flight.destination.id %>/<%= flight.destination.destination_name %>/flights/<%= flight.id %>/<%= flight.name %>"><img data-original="<%= img_path %>" src="<%= image_path('grey.gif') %>" alt="<%= flight.name %>"></a></div>
                <div class="item-cat">
                  <ul>
                      <li><a href="#"><%= dest_hash[flight.destination_id] %></a></li>
                  </ul>
                </div>
              </div>
              <div class="item-body col-md-8">
                <div class="item-title">
                  <h2> 
                    <a href="/destinations/<%= flight.destination.id %>/<%= flight.destination.destination_name %>/flights/<%= flight.id %>/<%= flight.name %>">
                      <%= flight.name %>
                    </a>
                    <!-- TODO UI need to be done -->
                    <div class="help-block">
                      <div id="user_star_<%= flight.id %>" data-score="<%= flight.average_rating %>"></div>
                    </div>
                  </h2>
                </div>
                <div class="item-description">
                  <div class="date"><%= flight.updated_at.to_date.strftime("%A %d, %Y") %>
                  </div>
                </div>
                <!-- <div class="item-footer">
                <h4>Amenities</h4>
                  <ul class="amenities">
                   
                    <li>
                        <i class="fa fa-glass"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-plug"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-medkit"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-coffee"></i>                      
                    </li>
                  </ul> 
                </div> -->
                <div class="dropdown dest_drop">
                  <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="/destinations/<%= flight.destination.id %>/<%= flight.destination.destination_name %>/flights/<%= flight.id %>/<%= flight.name %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Flight</a></li>
                    <% if admin_signed_in? %>
                      <li><a href="/destinations/<%= flight.destination.id %>/<%= flight.destination.destination_name %>/flights/<%= flight.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                      <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{flight.destination.id}/#{flight.destination.destination_name}/flights/#{flight.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <% else %>
              <div >
                <h4>There is no Flights for the destination! Create New Flight Details!</h4>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>


<script type="text/javascript" charset="utf-8">
  (function(){
    $("[id*='user_star_']").each(function(index, ele){
      $(ele).raty({
        readOnly: true,
        score: $(ele).data("score"),
        path: '/assets'
      });
    });
  })($);
</script>

 