<section class="awe-parallax new-flight-page">
  <div class="awe-overlay"></div>
   <div class="container">
  <%#= render_breadcrumbs :tag => :li, :separator=>"/" %>
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">New Flight</h2>
      </div>

			<%= render 'form' %>

			<div class="">
        <% unless @is_with_location %>
				  <%= link_to '<< Back', destination_flights_path, :class=>"btn login-register-link" %>
        <% else %>
          <%= link_to '<< Back', flights_path, :class=>"btn login-register-link" %>
        <% end %>
      </div>
		</div>
	</div>
</section>




