<p style="text-align: center">
	<%= image_tag "http://#{AppConstants::URL}/logo-emailer.png" %>
</p>
<br>
<p>Hello <%= @resource.email %>!</p>

<p>If you do not forget them, they can't be called passwords.</p>

<p>
	Please choose a new password if you can't recall it.
</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
	If you landed here by mistake, please exit. Be assured that your password will not be changed.
</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p></p>
<p>
	Team,
</p>
<p>
	Airvtr
</p>
