<section class="password-reset">
<div class="container">
<div class="row">
<div class="col-md-5 col-md-offset-3">
<div class="password-box">
<h3>Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <i class="fa fa-envelope"></i> <%= f.label :email %> <br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class=>"btn btn-md btn-primary" %>
  </div>
<% end %><br /> 
<%- if controller_name != 'sessions' %>
  <%= link_to '<i class="fa fa-angle-left"></i> Log in'.html_safe, new_session_path(resource_name), :data=>{:no_turbolink=>"true"}%>
<% end -%>
<%#= render "customers/shared/links" %>
</div>
</div>
</div>
</div>
</section>