<ul class="list-unstyled msg-author p-5">
  <% @conversation_users.each do |user| %>
  	<li>
  		<a href="/conversations/<%= get_conversion(user) %>/messages" data-remote="true">
				<% if user.profile.present? && user.profile.avatar.present? %>
          <div class="avtr">
            <img src="<%= user.profile.avatar %>">
          </div>
        <% else %>
          <div class="avtr">
            <%= image_tag("noavatar.png") %>
          </div>
        <% end %>
  			<div class="pl-4 author-title flex-grow-1">
          <div class="d-flex justify-content-between">
            <h6>
  				    <%= user.fullname %>
            </h6>
            <small class="text-secondary">
              <%= current_customer.last_message_time(user) %>
            </small>
          </div>
          <p class="mb-0">
            <%= current_customer.last_msg_text(user) %>
          </p>
  			</div>
  		</a>
  	</li>  
  <% end %>
</ul>