<%= render layout: "layouts/profile", locals: {is_fulscreen: false} do %>
	<div class="max500">
		<div class="d-flex">
			<div id="msg-layout" class="message-left hit500">
				<%= render partial: "conversations/index" %>
			</div>
		</div>
	</div>
<% end %>