<% url_path = params["action"] == "new" ? "/forum/topics" : "/forum/topics/#{@topic.id}" %>

<%= form_for(@topic, url: url_path) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <%
    name = @topic.location_name.present? ? @topic.location_name : ""
    country = @topic.location_country.present? ? @topic.location_country : ""
    state = @topic.location_state.present? ? @topic.location_state : ""
    city =  @topic.location_city.present? ?  @topic.location_city : ""

  %>
  Topic is about location Please choose location
  <div class="form-item">
    <%= f.label :location_name, "Topic Cover Location" %>
    <%= f.text_field :location_name, {class: "form-control", :value=> name}  %>
  </div>
  <div class="form-item">
    <%= f.label :location_country %>
    <%= f.select :location_country, AppUtils.country_list, {:selected=> country, :prompt=> "select" }, class: "form-control" %>
  </div>
  <% state_arr = country.present? ? AppUtils.get_states_selectable_format(country) : ""%>
  <div class="form-item">
    <%= f.label :location_state %>
    <%= f.select :location_state, state_arr, {:selected=> state}, class: "form-control" %>
  </div>
  <% city_arr = state.present? ? AppUtils.get_cities_selectable_format(country, state) : ""%>
  <div class="form-item">
    <%= f.label :location_city %>
    <%= f.select :location_city, city_arr, {:selected=> city}, class: "form-control" %>
  </div>
    or Topic is about "Visa and Insurance", "Travel Tips & Ideas", "Tools & Deals" the choose from below
  <div class="form-item">
    <%= f.label :additional_topic %>
    <%= f.select :additional_topic, AppConstants::ADDITIONAL_FORUM_CATEGORIES_ARRAY, {:prompt=> "select"}, class: "form-control" %>
  </div>
  <input type="hidden" name="add_location" value="true">
  <div class="form-item">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class=> "ckeditor" %>
  </div>
  <div class="form-item">
    <%= f.check_box :safe %>
    <%= f.label :safe %>
  </div>
  <div class="form-item">
    <%= f.check_box :closed %>
    <%= f.label :closed %>
  </div>
  <div class="form-item">
    <%= f.check_box :trusted %>
    <%= f.label :trusted %>
  </div>
  <%= f.hidden_field :customer_id, :value=> current_customer.id %>
  <div class="form-actions">
    <%= f.submit 'Update Topic', {class:"btn btn-primary"}  %>
     <%= link_to '<< Back', topics_path, {class:"btn btn-primary"} %>
  </div>
<% end %>

<script>
  (function($){
    $("#topic_location_country, #topic_location_state, #topic_location_city").chosen();
    $("#topic_location_country").on("change", function(e){
      e.preventDefault();
      $.ajax({
            url: '/get_states',
            dataType: 'json',
            data: {country: $(this).val()}
          })
          .done(function(result) {
            if (result.length > 0){
              states = "";
              $.each(result, function(index, data){
                states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
              });
              $("#topic_location_state").html(states);
              $("#topic_location_state").trigger("chosen:updated");
            }
          })
    });

    $("#topic_location_state").on("change", function(e){
      e.preventDefault();
      $.ajax({
            url: '/get_cities',
            dataType: 'json',
            data: {state: $(this).val(), country: $("#topic_location_country").val()}
          })
          .done(function(result) {
            if (result.length > 0){
              cities = "";
              $.each(result, function(index, data){
                cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
              });
              $("#topic_location_city").html(cities);
              $("#topic_location_city").trigger("chosen:updated");
            }
          })
    });

  })(jQuery);
</script>