<section class="blog-page user_profile">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-4 your-destinations">
        <div class="your-destionations__top">
          <% if customer_signed_in? %>
            <%= link_to '<i class="fa fa-plus"></i> New Topic'.html_safe, new_topic_path, :class=>"btn btn-primary" %>
          <% end %>
          <div class="your-destinations__bar">
            <div class="order">
              <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
              <%#= select :sort_by, "", AppConstants::SORTING_ARRAY_FOR_TOPIC, {class: "orderby awe-select", :selected=> sortby_val} %>
              <%#= select :sort_by_type, "", AppUtils.country_list, {class: "orderby awe-select", :selected=> "", :prompt=> "Select"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-page__content rs">
          <div id="accordion" >
            <% unless @is_addition %>
              <%
                # region_hash = Topic.get_view_region(@topics_by_country)
                region = AppConstants::REGIONS_HASH[params[:region].to_i]
              %>
              <table class="country-table table table-bordered">
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Post</th>
                    <th>views</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                    countries =  AppUtils.countries_from_region_by_country_code_name("#{region}")
                    countries.each do |country|
                  %>
                    <tr>
                      <td>
                        <a href="/forum/country/<%= country[1] %>"><%= country[0] %></a>
                      </td>
                      <td class="text-center">
                        <%= @topics_by_country[country[1]].size %>
                      </td>
                      <td class="text-center">
                        <%= @topics_by_country[country[1]].size != 0 ? Topic.get_view_count(@topics_by_country[country[1]]) : 0 %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
                <table class="country-table table table-bordered">
                  <thead>
                  <tr>
                    <th>Topic</th>
                    <th>Post</th>
                    <th>views</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%
                    @topics.each do |topic|
                  %>
                      <tr>
                        <td>
                          <a href="/forum/<%= params["region"].to_i %>/additional/<%= topic.id %>"><%= topic.title %></a>
                        </td>
                        <td class="text-center">
                          <%= topic.post_topics.size %>
                        </td>
                        <td class="text-center">
                          <%= topic.view_count %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>