<section>
  <div class="container-fluid">
    <div class="breadcrumb">
      <%#= render_breadcrumbs :tag => :li, :separator=>"" %>
    </div>
  </div>
</section>
<section class="blog-page user_profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 your-destinations">
        <div class="your-destionations__top">
          <% if customer_signed_in? %>
              <%= link_to '<i class="fa fa-plus"></i> New Topic'.html_safe, new_topic_path, :class=>"btn btn-primary" %>
          <% end %>
          <div class="your-destinations__bar">
            <div class="order">
              <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
              <%#= select :sort_by, "", AppConstants::SORTING_ARRAY_FOR_TOPIC, {class: "orderby awe-select", :selected=> sortby_val} %>
              <%#= select :sort_by_type, "", AppUtils.country_list, {class: "orderby awe-select", :selected=> "", :prompt=> "Select"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-page__content rs">
          <div class="panel-group forum-panel" id="accordion" role="tablist" aria-multiselectable="true">
            <% region_hash = Topic.get_view_region(@topics_by_country) %>
            <% AppConstants::REGIONS.each do |region| %>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="region-<%= region[1] %>">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#region-content-<%= region[1]%>" aria-expanded="true" aria-controls="region-content-<%= region[1]%>">
                        <div class="col-sm-6">
                          <%= region[0] %>
                        </div>
                        <div class="col-sm-3">
                          <%= region_hash[region[0]].first.present? ? region_hash[region[0]].first.size : 0  %> Threads
                        </div>
                        <div class="col-sm-3">
                          <%= region_hash[region[0]].first.present? ? Topic.get_view_count(region_hash[region[0]].first) : 0  %> Views
                        </div>
                        <div class="clearfix"></div>
                      </a>
                    </h4>
                  </div>
                  <div id="region-content-<%= region[1]%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="region-<%= region[1] %>">
                    <div class="panel-body">
                      <table class="country-table table table-bordered">
                        <thead>
                        <tr>
                          <th>Country</th>
                          <th>Post</th>
                          <th>views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                          countries =  AppUtils.countries_from_region_by_country_code_name("#{region[0]}")
                          countries.each do |country|
                        %>
                            <tr>
                              <td>
                                <a href="/forum/country/<%= country[1] %>"><%= country[0] %></a>
                              </td>
                              <td class="text-center">
                                <%= @topics_by_country[country[1]].size %>
                              </td>
                              <td class="text-center">
                                <%= @topics_by_country[country[1]].size != 0 ? Topic.get_view_count(@topics_by_country[country[1]]) : 0 %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>