<section>
  <div class="container">
    <div class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator=>"" %>
    </div>    
  </div>
</section>

<section class="blog-page user_profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="blog-page__content rs">
          <div id="main-content" class="right_content">

            <h1>Add Topic</h1>

            <%= render 'form' %>

            <%#= link_to 'Back', topics_path, {class:"btn btn-primary"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
