<section>
  <div class="container-fluid">
    <div class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator=>"" %>
    </div>    
  </div>
</section>
<section class="container-fluid single-forum">
  <div class="row">
    <div class="col-md-12">
      <table class="country-table table table-bordered">
        <thead>
          <tr>
            <th class="author_col"><%= @topic.created_at.to_date.strftime("%d/%m/%Y") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <div class="forum-profile">
                  <% if @topic.customer.profile.present? %>
                    <% if @topic.customer.profile.avatar.present? %>
                      <div class="avatar">
                        <div class="avtr" data-avatar="<%= @topic.customer.profile.avatar %>">
                          <img src="<%= @topic.customer.profile.avatar.profile_picture %>" alt="<%= @topic.customer.profile.name %>">
                        </div>
                      </div>
                      <!-- <span>Profile Avatar</span> -->
                     <% else %>
                      <div class="avatar text-center">
                        <div class="avtr" data-avatar="<%= @topic.customer.profile.avatar %>">
                            <%= image_tag("noavatar.png") %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="porfile-area">
                    <strong class="bold"><%= @topic.customer.profile.present? ? @topic.customer.profile.name : @topic.customer.name %> </strong>
                    <div>joined date: <%=  @topic.customer.created_at.to_date.strftime("%d/%m/%Y") %></div>
                    <div>last login: <%=  @topic.customer.last_sign_in_at.to_date.strftime("%d/%m/%Y") %></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <h1 class="forum-title"><%= @topic.title %></h1>
              <%= raw @topic.content %>
              <div class="forum-footer">
                <div class="pull-right">
                  <% if customer_signed_in? %>
                    <% if current_customer.id == @topic.customer.id %>
                      <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/edit""><i class="fa fa-pencil"></i>&nbsp;&nbsp;edit</a>
                    <% end %>
                    <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/post_topics/new" data-remote="true"><i class="fa fa-reply"></i>&nbsp;&nbsp;Reply</a>
                    <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/post_topics/new?is_quote=true&is_topic=true&topic=<%= @topic.id %>" data-remote="true"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;Quote</a>
                  <% else %>0
                    Login to post <a href="<%= new_customer_session_path %>" class="btn btn-primary btn-dest"><i class="fa fa-key"></i>&nbsp;&nbsp;Login</a>
                  <% end %>
                </div>
                <div class="clearfix"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @post_topics.present? %>
        <% @post_topics.each_with_index do |post_topic, index| %>
          <table class="country-table table table-bordered">
            <thead>
              <tr>
                <th class="author_col"><%= @topic.created_at.to_date.strftime("%d/%m/%Y") %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>
                    <div class="forum-profile">
                      <% if post_topic.customer.profile.present? %>
                        <% if post_topic.customer.profile.avatar.present? %>
                          <div class="avatar">
                            <div class="avtr" data-avatar="<%= post_topic.customer.profile.avatar %>">
                              <img src="<%= post_topic.customer.profile.avatar.profile_picture %>" alt="<%= post_topic.customer.profile.name %>">
                            </div>
                          </div>
                          <!-- <span>Profile Avatar</span> -->
                         <% else %>
                          <div class="avatar text-center">
                            <div class="avtr" data-avatar="<%= post_topic.customer.profile.avatar %>">
                                <%= image_tag("noavatar.png") %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <div class="porfile-area">
                        <strong class="bold"><%= post_topic.customer.profile.name %></strong>
                        <div>joined date: <%=  post_topic.customer.created_at.to_date.strftime("%d/%m/%Y") %></div>
                        <div>last login: <%=  post_topic.customer.last_sign_in_at.to_date.strftime("%d/%m/%Y") %></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <h1 class="forum-title"><%= post_topic.title %></h1>
                  <%= raw post_topic.content %>
                  <div class="forum-footer">
                    <div class="pull-right">
                      <% if customer_signed_in? %>
                        <% if current_customer.id == post_topic.customer.id %>
                          <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/post_topics/<%= post_topic.id %>/edit" data-remote="true"><i class="fa fa-pencil"></i>&nbsp;&nbsp;edit</a>
                        <% end %>
                        <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/post_topics/new" data-remote="true"><i class="fa fa-reply"></i>&nbsp;&nbsp;Reply</a>
                        <a class="btn btn-primary btn-dest" href="/forum/topics/<%= @topic.id %>/post_topics/new?is_quote=true&is_topic=false&topic=<%= post_topic.id %>" data-remote="true"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;Quote</a>
                      <% else %>                      
                        Login to post <a href="<%= new_customer_session_path %>" class="btn btn-primary btn-dest"><i class="fa fa-key"></i>&nbsp;&nbsp;Login</a>
                      <% end %>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
      <%= will_paginate @post_topics, renderer: BootstrapPagination::Rails  if @post_topics.any? %>
    </div>
  </div>
</section>


<div id="reply-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="reply-content">

        </div>
      </div>
    </div>
  </div>
</div>