<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="/owner">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/owner/destinations">
          <i class="fa fa-th"></i> <span>Destinations</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>  