<% if true %>
  <%
    recent_blogs = AppUtils.get_recent_blogs
    popular_blogs = AppUtils.get_popular_blogs
  %>
  <div class="col-md-4 sidebar no-shadow bg-trans">
    <div class="sidebar-item">
      <%= form_tag "/blog", method: :get do%>
          <input type="text" placeholder="Search blog here.." name="name">
          <input type="hidden" name="search_data" value="true">
          <button type="submit"><i class='fa fa-search'></i></button>
      <%- end %>
    </div>
    <div class="sidebar-item">
      <ul class="nav nav-tabs blog-sidebar" id="myTab">
        <li class="active">
          <a data-target="#recent" data-toggle="tab">Recent Blogs</a>
        </li>
        <li>
          <a data-target="#popular" data-toggle="tab">Popular Blogs</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="recent">
          <ul class="blog-list">
            <% recent_blogs.each do |blog|%>
              <li >
                <div class="image-wrap image-cover">
                  <%
                    main_image = get_single_image_from_image_modal(blog.image)
                  %>
                  <a href="/blog/post/<%= blog.id %>" ><img data-original="<%= main_image.image.v_3x.url if blog.image.present? %>" src="" alt="<%= blog.title %>"></a>
                </div>
                <div class="content">
                  <h4> <%= blog.title %> </h4>
                  <p> <%= Nokogiri::HTML(blog.description.html_safe).text.truncate(40) %></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="popular">
          <ul class="blog-list">
           <% popular_blogs.each do |blog|%>
              <li >
              <%
                main_image = get_single_image_from_image_modal(blog.image)
              %>
              <div class="image-wrap image-cover"><a href="/blog/post/<%= blog.id %>" ><img data-original="<%= main_image.image.v_3x.url if blog.image.present? %>" src="" alt="<%= blog.title %>">
              </a></div>
               <div class="content"><h4> <%= blog.title %> </h4>
                <p> <%= Nokogiri::HTML(blog.description.html_safe).text.truncate(40) %></p></div>
              </li>
            <% end %>
          </ul>
        </div>        
      </div>
    
      <div class="clearfix text-right"><a href="/blog" class="btn btn-link">View all blogs >></a></div>
    </div>
   <div class="sidebar-item">
      <div class="fb-page" data-href="https://www.facebook.com/Airvtr-1207506985928635/" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
    <div class="sidebar-item">
      <a class="twitter-timeline"  href="https://twitter.com/airvtr" data-widget-id="727564716332097536">Tweets by @airvtr</a>
    </div>
    <div class="sidebar-item">
      <h5 class="text-left">Follow us on Google +</h5>
      <div class="g-follow" data-annotation="vertical-bubble" data-height="24" data-href="https://plus.google.com/101544172387164113585" data-rel="author"></div>
    </div>
  </div>
<% end %>


<% if is_prod? %>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1651353411744659";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
<% end %>