<script src="/assets/ckeditor-jquery"></script>

<%= render 'form' %>

<div class="pull-right">
	<%= link_to '<< Back', customer_travel_blogs_path, :remote=> true, :class=>"btn btn-primary"%>
	<%= link_to 'view this Blog', "/customers/#{params["customer_id"]}/travel_blogs/#{@travel_blog.id}", :remote=> true, :class=>"btn btn-primary" %>	
</div>
<div class="clearfix"></div>