<div class="blog-page__content blog-single rs">
  <div id="comments">
    <div id="respond">
      <% url_path = params[:action] == "new" ? customer_travel_blogs_path : customer_travel_blog_path %>
      <%= form_for(@travel_blog, url: url_path) do |f| %>
          <% if @travel_blog.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@travel_blog.errors.count, "error") %> prohibited this blog travel blog from being saved:</h2>

              <ul>
                <% @travel_blog.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :title, "Blog Title" %>
                <%= f.text_field :title, placeholder: "Blog Title" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :tag_list, "Tag (Seperated By Comma)" %>
                <%= f.text_area :tag_list %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :category, "Category" %>
                <%= f.select :category, AppConstants::BLOG_CATEGORIES.collect {|x| [x, AppConstants::BLOG_CATEGORIES.index(x) + 1] }, {} %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :description  %>
                <%= f.text_area :description, placeholder: "Description", :class=>"ckeditor", :row=>10 %>
              </div>
            </div>
            <%= f.hidden_field :image %>
            <%= hidden_field_tag :main_old_image, @travel_blog.image if @travel_blog.present? %>
            <div class="col-md-12" >
              <button type="button" class="btn btn-primary" style="background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);" data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
            </div>
            <div class="col-md-12">
              <%= f.hidden_field :customer_id %>
              <div class="form-actions">
                <%= f.submit %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial=> "common/images_single", :locals=>{:single_id=> "travel_blog_image", :single_old=> "main_old_image", :action_param=> ""  } %>

<% if false %>
<%= form_for(@image = Image.new, url: "/images/create", :html => {:multipart => true} ) do |f| %>
  <div class="form-item">
    <%= f.label :image, "Primary Image" %>
    <%= f.file_field :image %>
    <div id="dest_image" class="upload_images">
      <%
        main_image = get_single_image_from_image_modal(@travel_blog.image) if @travel_blog.present? && @travel_blog.image.present?
      %>
      <img src="<%= main_image.image if main_image.present? %>" alt="travel blog">
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('#image_image').fileupload({
     dataType: "json",
//     progressall: function (e, data) {
//       var progress = parseInt(data.loaded / data.total * 100, 10);
//       $('#progress .bar').css(
//           'width',
//           progress + '%'
//       );
//     },
      done: function(e, data){
        imageUploaderScript(data, "#travel_blog_image", "#dest_image", "#main_old_image")
      }
    });
  })
</script>
<% end %>