<div class="blog-page__content rs">
  <div id="main-content" class="right_content">
    <% unless @travel_blogs.nil? || @travel_blogs.blank? %>
      <% @travel_blogs.each do |travel_blog| %>
        <div class="post">
          <div class="post-media">
            <div class="image-wrap">
              <%
                main_image = get_single_image_from_image_modal(travel_blog.image)
              %>
              <a href="/blog/post/<%= travel_blog.id %>"><img data-original="<%= main_image.image.v_3x.url if main_image.present? %>" src="" alt="<%= travel_blog.title %>"></a>
            </div>
          </div>
          <div class="post-body">
            <div class="post-meta">
              <div class="date"><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y") %></div>
              <% if travel_blog.customer_id.present? %>
                <% author = travel_blog.customer %>
                <div class="author">by <a href="/customers/<%= travel_blog.customer_id %>/profile"><%= author.name %></a></div>
                <div class="cat">
                  <ul>
                    <li><a href="/customers/<%= travel_blog.customer_id %>/trips">Travel Gear</a></li>
                  </ul>
                </div>
              <% elsif travel_blog.admin_id.present? %>
                <div class="author">by <a href="javascript:void(0)">Admin</a></div>
              <% end %>
              <div class="comment"><a href="/blog/post/<%= travel_blog.id %>#comments"><%= travel_blog.blog_comments.length %> Comments &raquo;</a></div>
            </div>
            <div class="post-title">
              <h2>
                <a href="/blog/post/<%= travel_blog.id %>">
                  <%= travel_blog.title %>
                </a>
              </h2>
            </div>
            <div class="post-content">
              <p><%= Nokogiri::HTML(travel_blog.description).text.truncate(100) %></p>
            </div>
            <div class="post-link">
              <a href="/blog/post/<%= travel_blog.id %>" class="btn btn-orange" >Read more</a>
              <% if admin_signed_in? %>
                <%= link_to 'Edit', "/blog/edit/#{travel_blog.id}", :class=>"btn btn-orange" %>
                <%= link_to 'Delete', "/blog/delete/#{travel_blog.id}" , method: :delete, :class=>"btn btn-danger", data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="pull-left">
        <h4>There is no Post</h4>
      </div>
      <div class="clearfix"></div> 
    <% end %>
  </div>
  <%= will_paginate @travel_blogs, renderer: BootstrapPagination::Rails  if @travel_blogs.any? %>
</div>