<div class="blog-page__content blog-single rs">
  <div id="comments">
    <div id="respond">
      <% url_path = params[:action] == "new_post" ? "/blog/new" : "/blog/edit/#{@travel_blog.id}" %>
      <%= form_for(@travel_blog, url: url_path, method: :post) do |f| %>
          <% if @travel_blog.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@travel_blog.errors.count, "error") %> prohibited this blog travel blog from being saved:</h2>

              <ul>
                <% @travel_blog.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :title, "Blog Title" %>
                <%= f.text_field :title, placeholder: "Blog Title" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :tag_list, "Tag (Seperated By Comma)" %>
                <%= f.text_area :tag_list %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :category, "Category" %>
                <%= f.select :category, AppConstants::BLOG_ADMIN_CATEGORIES.collect {|x| [x, AppConstants::BLOG_ADMIN_CATEGORIES.index(x) + 1] }, {} %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-item form-name">
                <%= f.label :description  %>
                <%= f.text_area :description, placeholder: "Description", :class=>"ckeditor", :row=>10 %>
              </div>
            </div>
            <%= f.hidden_field :image %>
            <%= hidden_field_tag :main_old_image, @travel_blog.image if @travel_blog.present? %>
            <div class="form-item" >
              <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
            </div>
            <div class="col-md-12">
              <%= f.hidden_field :admin_id, :value=> current_admin.id %>
              <% if @travel_blog.customer_id.present? %>
                <%= f.hidden_field :customer_id, :value=> @travel_blog.customer_id %>
              <% end %>
              <div class="form-actions">
                <%= f.submit %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">        
        <%= render :partial=> "common/single_template", :locals=>{ form_id: "fileupload-single", :single_id=> "travel_blog_image", :single_old=> "main_old_image", :action_param=> "blog_id=#{@travel_blog.present? ? @travel_blog.id : ''}"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#travel_blog_category").chosen();
</script>