<div class="blog-page__content rs blog-single">
  <div class="post">
    <div class="post-meta">
      <div class="date"><%= @travel_blog.updated_at.to_date.strftime("%A %d, %Y") %></div>
      <% author = Customer.find(@travel_blog.customer_id)%>
      <div class="author">by <a href="/customers/<%= @travel_blog.customer_id %>"><%= author.name %></a></div>
      <div class="cat">
        <ul>
          <li><a href="/customers/<%= @travel_blog.customer_id %>/trips">Travel Gear</a></li>
        </ul>
      </div>
      <div class="comment"><a href="#comments"><%= @comments.count %> Comments &raquo;</a></div>
    </div>
    <div class="post-title"><h1><%= @travel_blog.title %></h1></div>
      <%
        main_image = get_single_image_from_image_modal(@travel_blog.image)
      %>
      <img src="<%= main_image.image if main_image.present? %>" class="img-responsive" alt="">
    </div>
    <div class="post-body">
      <div class="post-content">
        <%= @travel_blog.description.html_safe %>
      </div>
    </div>
  </div>
  <div id="comments">
    <div id="respond">
      <div class="reply-title"><h4><%= @comments.count %> Comments</h4></div>
       <%= form_for(comment = BlogComment.new, url: "/customers/#{params["customer_id"]}/travel_blogs/#{@travel_blog.id}/blog_comments", :remote=>"true") do |f| %>
          <% if comment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>

                <ul>
                  <% comment.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-item form-name">
                <%#= f.label :name %>
                <%= f.text_area :comment, placeholder: "Your Comment" %>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-item form-name">
                <%#= f.label :name %>
                <%= f.text_field :name, placeholder: "Name" %>
              </div>
            </div>
            <div class="col-md-4">
              <%= f.hidden_field :travel_blog_id %>
              <div class="form-actions">
                <%= f.submit "Comment" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="commentlist-wrapper">
      <%# byebug %>
      <% unless @comments.nil? %>
        <ul class="commentlist">
          <% @comments.each do |comment| %>
            <li id="comment_<%= comment.id %>" class="comment">
              <div class="comment-box">
                <div class="comment-author">
                  <a href="#"><%= image_tag ("img/demo-thumb.jpg") %></a>
                </div>
                <div class="comment-body"><cite class="fn"><a href="#"><%= comment.name %></a></cite>
                  <p><%= comment.comment %></p>
                  <div class="comment-meta"><span><%= (Date.today -  comment.updated_at.to_date).to_i %> days ago</span></div>
                  <div class="comment-abs"><%= link_to 'Edit', "/customers/#{params["customer_id"]}/travel_blogs/#{comment.travel_blog_id}/blog_comments/#{comment.id}/edit", :class=>"comment-edit-link", :remote=> true %> |
                    <a href="#" class="comment-reply-link">Reply</a></div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
