<div class="col-sm-4 sidebar no-shadow bg-trans">
	<div class="sidebar-item">
	  <%= form_tag "/blog", method: :get do%>
	    
	    <input type="text" placeholder="Search blog here.." name="name">
	    <input type="hidden" name="search_data" value="true">
	    <button type="submit"><i class='fa fa-search'></i></button>
	    <%#= submit_tag  "Submit <i class='fa fa-search'></i>".html_safe %>
	  <%- end %>
  </div>
  <div class="sidebar-item page-sidebar">
  	 <div class="widget widget_follow_us">
        <h3>Follow us</h3>
        <div class="awe-social">
	        <a href="https://www.facebook.com/Airvtr-1207506985928635/" target="blank"><i class="fa fa-facebook"></i></a> 
            <a href="https://twitter.com/airvtr" target="blank"><i class="fa fa-twitter"></i></a> 
            <a href="#" target="blank"><i class="fa fa-instagram"></i></a>
            <a href="https://plus.google.com/u/0/101544172387164113585/posts" target="blank"><i class="fa fa-google-plus"></i></a> 
            <a href="#" target="blank"><i class="fa fa-pinterest"></i></a> 
	    </div>
    </div>
    <div class="widget widget_categories">
        <h3>Categories</h3>
        <div id="categories-tree" class="categories_sec"></div>
    </div>
  </div>
  <div class="sidebar-item">
  	<ul class="blog-list">
		<% recent_blogs = AppUtils.get_recent_blogs %>
	   	<% recent_blogs.each do |blog|%>
	      <li >
		      <div class="image-wrap image-cover">
            <%
              main_image = get_single_image_from_image_modal(blog.image)
            %>
		      	<a href="/blog/post/<%= blog.id %>" ><img  data-original="<%= main_image.image.v_3x.url if blog.image.present? %>" src="" alt="<%= blog.title %>"></a>
		      </div>
		      <div class="content"><h4> <%= blog.title %> </h4>
		        <p> <%= Nokogiri::HTML(blog.description.html_safe).text.truncate(40) %></p>
		      </div>
	      </li>
	    <% end %>
    </ul>
     <!--<div class="clearfix text-right"><a href="/blog" class="btn btn-link">View all blogs >></a></div>-->
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var cateData = [{
    name: "All", id: "all"
  },
  /*{
    name: "Uncategorized", id: "cat-un",
    children: [{
      name: "Popular", id: "cat-pop"
    },{
      name: "New", id: "cat-new"
    }]
  },*/
  {
    name: "Categories", id: "all",
    children: [{
      name: "Adventure & Backpacking", id: "1"
    },{
      name: "Arts, Culture & History", id: "2"
    },{
      name: "Luxury Travel", id: "3"
    },{
      name: "Nature & Wildlife", id: "4"
    },{
      name: "Beach Travels", id: "5"
    },{
      name: "Food & Drinks", id: "6"
    },{
      name: "Travel Stories", id: "7"
    }]
  }]

  $('#categories-tree').tree({
    data: cateData,
    autoOpen: true,
    dragAndDrop: true
  }).bind(
    'tree.click',
    function(event) {
      var node = event.node;
      $.getScript('blog?categories='+node.id, function(data) {
      });
    }
  );

</script>