<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>

  <section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <div class="row">
      <h4 class="articleshead mt-4" style="font-size: xx-large;">Latest Articles</h4>
      <% unless @travel_blogs.nil? || @travel_blogs.blank? %>
        <% @travel_blogs.last %>
        <%
          main_image = get_single_image_from_image_modal(@travel_blogs.last.image)
        %>
          <div class="attractionsmain blogimg col-lg-12 no-gutters">
          <%= link_to "/blog/post/#{@travel_blogs.last.id}" do %>
  
          <div class="blogmain">
              <img data-original="<%= main_image.image.v_3x.url if main_image.present? %>" src="" alt="<%= @travel_blogs.last.title %>">
              <div class="imgoverlay"></div>
              <div class="row no-gutters blogtitle blog_detail " >
                <h1 class="" style="color:white;">
              <% if params[:filter] == "1" %>
                  Adventure
                  <% elsif params[:filter] == "2" %>
                  Lifestyle
                  <% else %>
                  Stories
                  <% end %>
                </h1>
                <h2 style="color:white;"><%= @travel_blogs.last.title%></h2>
                <div class="blogrimg"><%= image_tag "nat.jpg"%></div>
                <p>Admin<br style="line-height: normal">
                  <small><%= @travel_blogs.last.updated_at.to_date.strftime("%A %d, %Y  |  %I.%M") %></small>
                </p>
              </div>
            </div>
          <% end %>
            </div>
      <% else %>
        <div class="pull-left">
          <h4>There is no Post</h4>
        </div>
        <div class="clearfix"></div> 
      <% end %>
      <div class="w-100 bloghead2">
        <h4 class="articleshead" style="font-size: xx-large;">Featured Articles</h4>
      </div>
      <div class="clearfix"></div>

      <% unless @travel_blogs.nil? || @travel_blogs.blank? %>
        <% @travel_blogs.each do |travel_blog| %>
          <%
            main_image = get_single_image_from_image_modal(travel_blog.image)
          %>
          <%= link_to "/blog/post/#{travel_blog.id}" do %>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  feature_articlemain">
              <div class="blogsdetalimage"><img data-original="<%= main_image.image.v_3x.url if main_image.present? %>" src="" alt="<%= travel_blog.title %>"> </div>
              <h4 class="blogsdetalhead"><%= travel_blog.title%></h4>
              <div class="share">
                <a href="#"><i class="share hearticon"><%= image_tag "heart.png"%></i></a>
                <a href="#"><i class="share commenticon"><%= image_tag "comment.png"%></i></a>
                <a href="#"><i class="share shareicon"><%= image_tag "share.png"%></i></a>
              </div>
              <% if travel_blog.customer_id.present? %>
                <% author = travel_blog.customer %>
                  <div class=" feat_article">
                    <div class="blogrimg"><%= image_tag "nat.jpg"%></div>
                    <p><a href="/customers/<%= travel_blog.customer_id %>/profile"><%= author.name %></a><br style="line-height: normal">
                      <small><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y  | %I") %><span>| </span> 4.30</small>
                    </p>
                  </div>
              <% elsif travel_blog.admin_id.present? %>
                <div class=" feat_article">
                  <div class="blogrimg"><%= image_tag "nat.jpg"%></div>
                  <p>Admin<br style="line-height: normal">
                    <small><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y  |  %I.%M") %></small>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="pull-left">
          <h4>There is no Post</h4>
        </div>
        <div class="clearfix"></div> 
      <% end %>

     <div class="clearfix"></div>
     <div class="w-100 bloghead2">
        <h4 class="articleshead" style="font-size: xx-large;">Trending Articles</h4>
      </div>
      <div class="clearfix"></div>

      <% unless @travel_blogs.nil? || @travel_blogs.blank? %>
        <% @travel_blogs.reverse.each do |travel_blog| %>
          <%
            main_image = get_single_image_from_image_modal(travel_blog.image)
          %>
          <%= link_to "/blog/post/#{travel_blog.id}" do %>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  feature_articlemain">
              <div class="blogsdetalimage"><img data-original="<%= main_image.image.v_3x.url if main_image.present? %>" src="" alt="<%= travel_blog.title %>"> </div>
              <h4 class="blogsdetalhead"><%= travel_blog.title%></h4>
              <div class="share">
                <a href="#"><i class="share hearticon"><%= image_tag "heart.png"%></i></a>
                <a href="#"><i class="share commenticon"><%= image_tag "comment.png"%></i></a>
                <a href="#"><i class="share shareicon"><%= image_tag "share.png"%></i></a>
              </div>
              <% if travel_blog.customer_id.present? %>
                <% author = travel_blog.customer %>
                  <div class=" feat_article">
                    <div class="blogrimg"><%= image_tag "nat.jpg"%></div>
                    <p><a href="/customers/<%= travel_blog.customer_id %>/profile"><%= author.name %></a><br style="line-height: normal">
                      <small><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y  | %I") %><span>| </span> 4.30</small>
                    </p>
                  </div>
              <% elsif travel_blog.admin_id.present? %>
                <div class=" feat_article">
                  <div class="blogrimg"><%= image_tag "nat.jpg"%></div>
                  <p>Admin<br style="line-height: normal">
                    <small><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y  |  %I.%M") %></small>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="pull-left">
          <h4>There is no Post</h4>
        </div>
        <div class="clearfix"></div> 
      <% end %>
   </div>
 </div>
</section>

<script type="text/javascript" charset="utf-8">
  $("#sort_by_").on("change", function(){
    var val = this.value;
    window.location.href = "/blog/?sortby="+val;
  });
</script>