<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
 <section class="ftco-sectioninner ftco-destination">
 <div class="container">
   <div class="row">
     <div class="attractionsmain blogimg col-lg-12 no-gutters">
       <div class="blogmain">
       <%= image_tag "blog01.jpg" %>
         <div class="imgoverlay"></div>
         <div class="row no-gutters blogtitle " >
           <h1 class="" style="font-size: 4.5rem;color:white;">
             Lets connect. It's a small world.
           </h1>
         </div>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blogsimage">
     <%= link_to blog_path(filter: "1") do %>
         <%= image_tag "adventure.jpg" %>
         <div class="linkimgoverlay"></div>
         <div class="row no-gutters blogtitle " >
           <h1 class="blogtxt" style="font-size: 4.5rem;color:white;">
             Adventure
           </h1>
         </div>
       <% end %>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blogsimage">
     <%= link_to blog_path(filter: "2") do %>
       <%= image_tag "lifestyle.jpg" %>
         <div class="linkimgoverlay"></div>
         <div class="row no-gutters blogtitle " >
           <h1 class="blogtxt" style="font-size: 4.5rem;color:white;">
             Lifestyle
           </h1>
         </div>
       <% end %>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blogsimage">
       <%= link_to blog_path(filter: "3") do %>
       <%= image_tag "Stories@Buzz.png" %>
         <div class="linkimgoverlay"></div>
         <div class="row no-gutters blogtitle " >
           <h1 class="blogtxt" style="font-size: 4.5rem;color:white;">
             Stories@buzz
           </h1>
         </div>
       <% end %>
     </div>
   </div>
 </div>
</section>