<section class="awe-parallax page-heading-demo travel_blog_page">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>EDIT TRAVEL BLOG</h2></div>
  </div>
</section>

<section class="blog-page user_profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render :partial=> "customers/left_menu" %>
      </div>
      <div class="col-md-8">
        <div class="blog-page__content rs">
          <div id="main-content" class="right_content">
						<%= render :partial=> "edit" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>