<section class="awe-parallax page-heading-demo travel_blog_page">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Edit Blog</h2></div>
  </div>
</section>

<section class="blog-page user_profile">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-page__content rs">
          <div id="main-content" class="right_content">
		        <%= render :partial=> "post_form" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>


<%= link_to 'Back', "/blog" %>
