<%= render layout: "layouts/profile" do %>
  <div class="my-2 px-5 d-flex justify-content-between">
    <h2>Travel Journals</h2>
    <% if is_owner?(@customer.id) %>
      <%= link_to '<i class="fa fa-plus"></i> &nbsp;Create New Journal'.html_safe, new_customer_travel_blog_path(customer_id: @customer.id), :class => "btn btn-primary mt-2", style: "font-size: 15px;line-height: 30px;", "data-turbolinks" => false %>
    <% end %>
  </div>
  <div class="destination-slider-new px-5 py-2">
    <% unless @travel_blogs.nil? || @travel_blogs.blank? %>
      <% @travel_blogs.each do |travel_blog| %>
        <div class="item">
          <div class="destination rounded">
            <% main_image = get_single_image_from_image_modal(travel_blog.image) %>
            <a class="img d-flex justify-content-center align-items-center" style="background-image: url('<%= main_image.image if main_image.present? %>')" href="/customers/<%= travel_blog.customer_id %>/travel_blogs/<%= travel_blog.id %>"></a>

            <div class="post-body p-3">
              <div class="d-flex justify-content-between mt-2">
                <label class="badge">
                  <%= travel_blog.tags.pluck(:name).join(", ") %>
                </label>
                <div class="post-link">
                  <% if is_owner?(travel_blog.customer_id) %>
                    <%= link_to 'Edit', "/customers/#{travel_blog.customer_id}/travel_blogs/#{travel_blog.id}/edit", :class => "mr-3" %>
                    <%= link_to 'Delete', "/customers/#{travel_blog.customer_id}/travel_blogs/#{travel_blog.id}", method: :delete, :remote => true, data: {confirm: 'Are you sure?'} %>
                  <% end %>
                </div>
              </div>

              <h5 class="mt-2" style="line-height: 1.2;">
                <a class="pri-color" href="/customers/<%= travel_blog.customer_id %>/travel_blogs/<%= travel_blog.id %>">
                  <%= travel_blog.title %>
                </a>
              </h5>

              <div class="author d-flex pt-2">
                <div>
                  <img src="<%= travel_blog.author_image %>" alt="">
                </div>
                <div class="pl-2">
                  <h6 class="mb-0">
                    <a class="sec-color" href="/customers/<%= travel_blog.customer_id %>"><%= travel_blog.author_name %></a>
                  </h6>
                  <%= travel_blog.updated_at.to_date.strftime("%^b %d, %Y - %A %I:%M%p") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="pull-left">
        <h4>You havn't created the blog yet! Create your own blog now!</h4>
      </div>
    <% end %>
  </div>
<% end %>