<% if @travel_blog.present?  %>
  <meta property="og:title" content="<%= @travel_blog.title %>"/>
  <meta property="og:image" content="<%= "http://#{request.env["HTTP_HOST"]}#{@travel_blog.image}" %>"/>
  <meta property="og:description" content="<%= Nokogiri::HTML(@travel_blog.description).text.truncate(100) %>"/>
  <% fb_url  = "https://www.facebook.com/dialog/feed?link=#{request.url}&picture=http://#{request.env["HTTP_HOST"]}#{@travel_blog.image}&name=#{@travel_blog.title}&caption=#{@travel_blog.title}&description=#{Nokogiri::HTML(@travel_blog.description).text.truncate(100)}" %>
  <% tw_url  = "http://twitter.com/home?status=#{@travel_blog.title} #{request.url}" %>
  <% gp_url  = "https://plus.google.com/share?url=#{request.url}" %>
  <% pn_url  = "https://pinterest.com/pin/create/button/?url=#{request.url}&media=http://#{request.env["HTTP_HOST"]}#{@travel_blog.image}&description=#{Nokogiri::HTML(@travel_blog.description).text.truncate(100)}" %>
  <!-- <section class="awe-parallax page-heading-demo">
    <div class="awe-overlay"></div>
    <div class="container">
      <div class="blog-heading-content text-uppercase"><h2><%= @travel_blog.title %></h2></div>
    </div>
  </section> -->
  <section class="blog-page user_profile">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-page__content rs">
            <div id="main-content" class="right_content bg-trans no-shadow">
              <div class="blog-page__content rs blog-single">
                <div class="post">                
                  <div class="post-title"><h1><%= @travel_blog.title %></h1></div>
                  <blockquote class="tagline"><%= Nokogiri::HTML(@travel_blog.description.html_safe).text.truncate(150) %> </blockquote>
                  <div class="post-meta">
                    <div class="date"><i class="fa fa-clock-o"></i> <%= @travel_blog.updated_at.to_date.strftime("%A %d, %Y") %></div>
                   
                    <div class="comment"><a href="#comments"><%= @comments.count %> Comments &raquo;</a></div>
                  </div>   
                  <% if false %>            
                  <div class="blog-social">
                    <ul>
                     <li><a href="<%= fb_url %>"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="<%= tw_url %>"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="<%= gp_url %>"><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="<%= pn_url %>"><i class="fa fa-pinterest"></i></a></li>
                     <li><a href="javascript:void(0)" data-toggle="modal" data-target="#share-modal"><i class="fa fa-envelope"></i></a></li>
                    </ul>                  
                  </div> 
                  <% end %>
                   <% unless @travel_blog.customer_id.nil? %>
                      <% author = Customer.find(@travel_blog.customer_id)%>
                      <div class="author"> Author &nbsp;<i class="fa fa-user"></i> &nbsp;<a href="<%#= customer_path(@travel_blog.customer_id) %>"><%= author.name %></a>
                      </div>
                     <!-- <div class="cat">
                        <ul>
                          <li><a href="<%#= customer_trips_path(@travel_blog.customer_id) %>">Travel Gear</a></li>
                        </ul>
                      </div> -->
                    <% end %>
                  <div class="col-md-12 blog-img-single">
                    <%
                      main_image = get_single_image_from_image_modal(@travel_blog.image)
                    %>
                    <img src="<%= main_image.image if main_image.present? %>" class="img-responsive" alt="<%= @travel_blog.title %>">
                  </div>
                  <div class="">
                    <div class="post-content">
                      <%= @travel_blog.description.html_safe %>
                    </div>
                  </div>
                </div>
                <% if false %>
                <% if @related_posts.present? %>
                  <div class="related-post"><h4>Related posts</h4>
                    <div class="related-slider">
                      <% @related_posts.each do |travel_blog| %>
                          <div class="post">
                            <div class="post-media">
                              <div class="image-wrap">
                                <%
                                  main_image = get_single_image_from_image_modal(travel_blog.image)
                                %>
                                <a href="/blog/post/<%= travel_blog.id %>"><img src="<%= main_image.image if main_image.present? %>" alt="<%= travel_blog.title %>"></a>
                              </div>
                            </div>
                            <div class="post-body">
                              <div class="post-meta">
                                <div class="date"><%= travel_blog.updated_at.to_date.strftime("%A %d, %Y") %></div>
                                <% unless travel_blog.customer_id.nil? %>
                                    <% author = travel_blog.customer %>
                                    <div class="author">by <a href="<%= customer_path(travel_blog.customer_id) %>"><%= author.name %></a></div>
                                    <div class="cat">
                                      <ul>
                                        <li><a href="<%#= customer_trips_path(travel_blog.customer_id) %>">Travel Gear</a></li>
                                      </ul>
                                    </div>
                                <% end %>
                                <div class="comment"><a href="/blog/post/<%= travel_blog.id %>#comments"><%= travel_blog.blog_comments.length %> Comments &raquo;</a></div>
                              </div>
                              <div class="post-title">
                                <h2>
                                  <a href="/blog/post/<%= travel_blog.id %>">
                                    <%= travel_blog.title %>
                                  </a>
                                </h2>
                              </div>
                              <div class="post-content">
                                <p><%= Nokogiri::HTML(travel_blog.description).text.truncate(100) %></p>
                              </div>
                              <div class="post-link">
                                <a href="/blog/post/<%= travel_blog.id %>" class="btn btn-orange" >Read more</a>
                                <% if admin_signed_in? %>
                                    <%= link_to 'Edit', "/blog/edit/#{travel_blog.id}", :class=>"btn btn-orange" %>
                                    <%= link_to 'Delete', "/blog/delete/#{travel_blog.id}" , method: :delete, :class=>"btn btn-danger", :remote=>true, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <%end %>
                <div id="comments">
                  <% if customer_signed_in? %>
                    <div id="respond">
                    <div class="reply-title"><h4><%= @comments.count %> Comments</h4></div>
                      <% comnt_path =  @travel_blog.customer_id.present? ? customer_travel_blog_blog_comments_path(@travel_blog.customer_id, @travel_blog) : "/blog/post/#{@travel_blog.id}/comment" %>
                      <%= form_for(comment = BlogComment.new, url: comnt_path, :remote=>"true") do |f| %>
                        <% if comment.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>

                            <ul>
                              <% comment.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-item form-name">
                              <%= f.text_area :comment, placeholder: "Your Comment" %>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="form-item form-name">
                              <%= f.text_field :name, placeholder: "Name", :value=> current_customer.name %>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <%= f.hidden_field :travel_blog_id, :value=>@travel_blog.id %>
                            <%= f.hidden_field :customer_id, :value=>current_customer.id %>
                            <div class="form-actions">
                              <%= f.submit "Comment" %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <% else %>
                      <div class="reply-title"><h5><a class="primary-color" href="/customers/sign_in"><em>Login</em></a> to write your comment</h5></div>
                  <% end %>
                  <div class="commentlist-wrapper">
                    <% unless @comments.nil? %>
                      <ul class="commentlist">                     
                        <% @comments.each do |comment| %>
                          <% if comment.reply_for.nil? %>
                            <li id="comment_<%= comment.id %>" class="comment">
                              <div>
                                <div class="comment-box">
                                  <div class="comment-author">
                                    <% author_img = Customer.find(comment.customer_id).profile.avatar.present? ? Customer.find(comment.customer_id).profile.avatar : "noavatar.png" %>
                                    <a href="#"><%= image_tag (author_img) %></a>
                                  </div>
                                  <div class="comment-body"><cite class="fn"><a href="javascript:void(0)"><%= comment.name %></a></cite>
                                    <p><%= comment.comment %></p>
                                    <div class="comment-meta"><span><%= (Date.today -  comment.updated_at.to_date).to_i %> days ago</span></div>
                                    <div class="comment-abs">
                                      <% if signed_in? %>
                                        <% if is_owner?(comment.customer_id) %>
                                          <%#= link_to 'Edit', edit_customer_travel_blog_blog_comment_path(@travel_blog.customer_id, comment.travel_blog_id, comment.id), :class=>"comment-edit-link", :remote=> true %> |
                                        <% else %>
                                          <%= link_to 'Reply', "/reply_to_comment/#{comment.id}", :class=>"comment-reply-link", :remote=> true %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <ul id="comment_child_<%= comment.id %>"></ul>
                              <ul id="comment_edit_<%= comment.id %>"></ul>
                            </li>
                          <% else %>
                            <script>
                              $("#comment_child_<%= comment.reply_for %>").append("<%= escape_javascript(render(:partial => 'blog_comments/show', :locals=> {blog_comment: comment, is_for_reply: true})) %>");
                              $("#comment_child_<%= comment.reply_for %>").append("<%= escape_javascript(render(:partial => 'blog_comments/child', :locals=> {blog_comment: comment, is_for_reply: true})) %>");
                            </script>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%#= render :partial=> "blog_sidebar" %>      
      </div>
    </div>
       
    <div id="social-buttons">
      <ul>
        <span>Share on</span>
        <li class="facebook">
          <%= link_to('<i class="fa fa-facebook-square"></i>'.html_safe, fb_url, :target => :blank) %>
        </li>
        <li class="twitter">
          <%= link_to('<i class="fa fa-twitter-square"></i>'.html_safe, tw_url, :target => :blank) %>
        </li>
        <li class="gplus">
          <%= link_to('<i class="fa fa-google-plus-square"></i>'.html_safe, gp_url, :target => :blank) %>
        </li>

        <li class="pinterest">
          <%= link_to('<i class="fa fa-pinterest-square"></i>'.html_safe, pn_url, :target => :blank) %>
        </li>
        <li class="mail">
          <%= link_to '<i class="fa fa-envelope-square"></i>'.html_safe, 'javascript:void(0)', :target => :blank, data: {toggle:"modal", target:"#share-modal"} %>
        </li>

      </ul>
    </div>
  </section>
  <div id="fb-root"></div>

  <div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= form_tag "/share-as-email", data: {remote: true} do %>
            <%= hidden_field :url_path, "" ,:value=>request.url %>
            <%= email_field :share, :email, data: {required: true} %>
            <%= submit_tag "share", :class=> "awe-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>No Article Found</h1>
<% end %>