<section class="blog-page user_profile">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-12 your-destinations">
        <div class="your-destionations__top">
          <% if customer_signed_in? %>
              <%= link_to '<i class="fa fa-plus"></i> New Topic'.html_safe, new_topic_path, :class=>"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="topic-container">
          <table class="country-table table table-bordered">
            <thead>
              <tr>
                <th class="with60_p">Threads</th>
                <th class="with20_p">Last Post</th>
                <th>Posts</th>
                <th>views</th>
                <% if admin_signed_in? %>
                  <th>Action</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @topics.each do |topic| %>
                <tr>
                  <td>
                    <div><strong><%= link_to "#{topic.title}", "/forum/topics/#{topic.id}" %></strong></div>
                    <div class="help-block">
                      <div>By: <%= topic.customer.profile.present? ? topic.customer.profile.name : topic.customer.name %></div>
                      <div>Created at: <%= topic.created_at.to_date.strftime("%d/%m/%Y") %></div>
                    </div>
                  </td>
                  <td>
                    <% last_post = topic.post_topics.present? ? topic.post_topics.last : topic %>
                    <div>
                      <div><strong><%= link_to "#{Nokogiri::HTML(last_post.title).text.truncate(50)}", "javascript:void(0)" %></strong></div>
                      <div class="help-block"> 
                        <div>By: <%= topic.customer.profile.present? ? topic.customer.profile.name : topic.customer.name %></div>
                        <div>Updated at: <%= topic.post_topics.present? ? topic.post_topics.last.updated_at.to_date.strftime("%d/%m/%Y") : topic.updated_at.to_date.strftime("%d/%m/%Y") %></div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <div>
                      <%= 1 + (topic.post_topics.present? ? topic.post_topics.size : 0 ) %>
                    </div>
                  </td>
                  <td class="pos-rel text-center">
                    <div>
                      <%= topic.view_count %>
                    </div>
                  </td>
                  <% if admin_signed_in? %>
                    <td>
                      <div class="dropdown dest_drop">
                          <a id="dLabel" href="javascript:void(0)" class="btn btn-primary btn-dest" data-toggle="dropdown" role="button" aria-haspopup="true">
                            action
                          </a>

                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><%= link_to '<i class="fa fa-pencil"></i>&nbsp;&nbsp;edit'.html_safe, "/forum/topics/#{topic.id}/edit" %></li>
                            <li><%= link_to '<i class="fa fa-remove"></i>&nbsp;&nbsp;Delete'.html_safe, "/forum/topics/#{topic.id}", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                          </ul>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @topics, renderer: BootstrapPagination::Rails  if @topics.any? %>
        </div>
      </div>
    </div>
  </div>
</section>