<section class="forum-page">
  <div class="container">
    <div class="your-destinations">
      <div class="your-destionations__top forums">
        <h3 class="semi-bold pri-color mb-4">Welcome to the blubeez Forum for Travelers</h3>
        <p class="mb-5">Join the discussions with travelers around the world and share your travel experiences, travel tips, reviews and recommendations.</p>
      </div>    
      <div class="forum-content p-5">
        <h4 class="pri-color pl-0 mb-4">Go on, Search by country and pick where you want to have a chat with  fellow travelers!</h4>
        <div class="row">
          <div class="col-md-4 forum-links">
            <a href="/forum/<%= AppConstants::AFRICA %>">Africa &amp; the Middle East</a>
            <a href="/forum/<%= AppConstants::ASIA %>">Asia  </a>
            <a href="/forum/<%= AppConstants::AUSTRALIA %>">Australia &amp; the South Pacific </a>
            <a href="/forum/<%= AppConstants::ANTARTICA %>">Antartica</a>
          </div>
          <div class="col-md-4 forum-links">
            <a href="/forum/<%= AppConstants::EUROPE %>">Europe  </a>
            <a href="/forum/<%= AppConstants::NORTH_AMERICA %>">Mexico &amp; Central America  </a>
            <a href="/forum/<%= AppConstants::SOUTH_AMERICA %>">South America </a>
          </div>
          <div class="col-md-4 forum-links">
            <a href="/forum/<%= AppConstants::AIR_TRAVEL %>/additional">Air Travel</a>
            <a href="/forum/<%= AppConstants::HOTELS %>/additional">Hotels</a>
            <a href="/forum/<%= AppConstants::CRUISES %>/additional">Cruises </a>
          </div>
        </div>
        <hr/>
        <div class="foo-links">
          <a href="/forum/<%= AppConstants::VISA_AND_INSURANCE %>/additional">Visa and Insurance</a>
          <a href="/forum/<%= AppConstants::TRAVEL_TIPS %>/additional">Travel Tips &amp; Ideas</a>
          <a href="/forum/<%= AppConstants::TOOLS_AND_DEALS %>/additional">Promotion &amp; Deals  </a>
        </div>

        <% if @recent_topics.present? %>
          <h4>Recent Posts</h4>
          <div class="col-md-12 foo-links mtop0">
            <% @recent_topics.each do |topic|%>
              <a href="/forum/topics/<%= topic.id %>"><%= topic.title %></a>
            <% end %>
          </div>
        <% end %>

        <% if @topics_countries.present? %>
          <h4>Popular Countries</h4>
          <div class="col-md-12 foo-links mtop0">
            <% @topics_countries.each do |country|%>
              <a href="/forum/country/<%= country %>"><%= AppUtils.country_name_by_country_code(country) %></a>
            <% end %>
          </div>
        <% end %>

        <% unless customer_signed_in? %>
          <div class="foo-sign-in">
            <a href="/customers/sign_up" class="btn btn-primary">BECOME A MEMBER</a>
            <span class="text-center">Already member? <a href="/customers/sign_in">Sign in</a></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
