<section class="auth-wrap">
  <div class="login-register-page__content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <div class="content-title">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-item">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            </div>

            <div class="form-item">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <%= f.label :remember_me, '<input value="1" name="customer[remember_me]" id="customer_remember_me" type="checkbox">Remember Me'.html_safe %>
              </div>
            <% end -%>

            <div class="form-actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
            </div>

            <br />

            <div class="forgot-password">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), :data=>{:no_turbolink=>"true"}, :class=>""  %><br />
              <% end -%>
            </div>
          <% end %>
          <div class="login-register-link">
            <%= render "customers/shared/links" %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-item">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
          </div>

          <div class="form-item">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "Last Name" %>
          </div>

          <div class="form-item">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: "Email" %>
          </div>

          <div class="form-item">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <div class="form-item">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
          </div>

          <%= f.hidden_field :user_status, :value=>1 %>
          <div class="form-actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

