<%
    url_path = params[:action] == "new" ? topic_post_topics_path : topic_post_topic_path
%>

<%= form_for(@post_topic, url: url_path, data:{remote: true}) do |f| %>
  <% if @post_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_topic.errors.count, "error") %> prohibited this post_topic from being saved:</h2>

      <ul>
      <% @post_topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if @quote_content.present? %>
    <div class="quote_text">
      <%= raw @quote_content %>
      <%= f.hidden_field :quote, value: @quote_content %>
    </div>
  <% end %>
  <div class="form-item">
    <%= f.label :content %>
    <%= f.text_area :content, class: "ckeditor"  %>
  </div>
  <div class="form-item">
    <%= f.check_box :safe %>
    <%= f.label :safe %>&nbsp;&nbsp;

    <%= f.check_box :closed %>
    <%= f.label :closed %>&nbsp;&nbsp;

    <%= f.check_box :trusted %>
    <%= f.label :trusted %>
  </div>
  
  <%= f.hidden_field :topic_id, value: @post_topic.topic_id %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("#post_topic_content").ckeditor();
</script>