<p id="notice"><%= notice %></p>

<h1>Listing Post Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Safe</th>
      <th>Closed</th>
      <th>Trusted</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_topics.each do |post_topic| %>
      <tr>
        <td><%= post_topic.title %></td>
        <td><%= post_topic.content %></td>
        <td><%= post_topic.safe %></td>
        <td><%= post_topic.closed %></td>
        <td><%= post_topic.trusted %></td>
        <td><%= post_topic.topic_id %></td>
        <td><%= link_to 'Show', post_topic %></td>
        <td><%= link_to 'Edit', edit_post_topic_path(post_topic) %></td>
        <td><%= link_to 'Destroy', post_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post topic', new_post_topic_path %>
