<div class="forum-content">
  <div class="forum-title">
    <h1><%= @post_topic.title %></h1>

    <div class="forum-menu">
      <div class="dropdown dest_drop">
        <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
          <i class="fa fa-ellipsis-v"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="<%= edit_topic_post_topic_path(@post_topic) %>"><i class="fa fa-pencil"></i>&nbsp;&nbsp;edit</a></li>
          <li><a href="<%= new_topic_post_topic_path(@post_topic.topic_id) %>" data-remote="true"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Reply</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="forum-desc">
    <%= raw @post_topic.content %>
  </div>
  <div class="forum-footer">
    <div class="row">
      <div class="col-md-4">
        <div>posted by: <%= @post_topic.customer.profile.name %> </div>
      </div>
      <div class="col-md-4">created at: <%= @post_topic.created_at.to_date.strftime("%d/%m/%Y") %></div>
    </div>
  </div>
</div>