<section class="auth-wrap">
  <div class="login-register-page__content">
    <div class="password-box">
      <h4>Change Password</h4>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New Password", style: "font-size: 1rem;" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="mt-1 field">
          <%= f.label :password_confirmation, "Confirm New Password", style: "font-size: 1rem;" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="ml-4 mt-2 actions">
          <%= f.submit "Change my password", class: "mt-3 btn btn-primary px-5", style: "background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);"%>
        </div>
      <% end %>

    </div>
	</div>
</section>