<section class="auth-wrap">
  <div class="login-register-page__content">
		<div class="password-box">
			<h3>Forgot your password?</h3>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
			    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Type your email" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions", :class=>"btn btn-md btn-primary" %>
			  </div>

			<% end %><br /> 
			<%- if controller_name != 'sessions' %>
			  <%= link_to '<i class="fa fa-angle-left"></i> Log in'.html_safe, new_session_path(resource_name), :data=>{:no_turbolink=>"true"}%>
			<% end -%>
		</div>
	</div>
</section>