<% url_path = params[:action] == "new" ? admin_banners_path : admin_banner_path %>
<%= form_for(@banner, :url=> url_path, :html => {:multipart => true}) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-item">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :desc, "Description" %>
        <%= f.text_area :desc, class: "form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :button_text %>
        <%= f.text_field :button_text, class: "form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :button_link %>
        <%= f.text_field :button_link, class: "form-control" %>
      </div>
      <div class="form-item">
        <%= f.label :banner_image %>
        <%= f.file_field :banner_image, class: "form-control" %>
      </div>
      <%= f.hidden_field :admin_id %>
      <div class="form-actions">
        <%= f.submit 'Update', :class=>"btn btn-primary" %>
        <%= link_to '<< Back', admin_banners_path, :class=>"btn btn-primary", remote: true %>
      </div>

    </div>
  </div>
<% end %>
