<div class="banner-wrap row clearfix">
  <% @banners.each do |banner| %>
    <div class="banner-item col-md-4">
      <img src="<%= banner.banner_image %>">
      <div class="banner-links">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_banner_path(banner.admin_id, banner.id), :class=>"btn-primary" %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_banner_path(banner.admin_id, banner.id), :class=>"btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>    
  <% end %>
</div>
<div class="clearfix"></div>
<div class="">
  <%= link_to '<i class="fa fa-plus"></i> &nbsp;&nbsp;New Banner'.html_safe, new_admin_banner_path(@admin.id), remote: true, class: "btn btn-primary btn-sm" %>
</div>
