<!-- <section class="awe-parallax page-heading-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Banner</h2></div>
  </div>
</section> -->

<section class="blog-page user_profile">
  <div class="blog-page__content rs">
    <div id="main-content" class="right_content">
      <%= render :partial=> "index" %>
    </div>
  </div>
</section>