<p id="notice"><%= notice %></p>

<p>
  <strong>Banner images:</strong>
  <%= @banner.banner_images %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @banner.admin %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
