var search_data = <%= raw search_data %>


$.widget( "custom.catcomplete", $.ui.autocomplete, {
	_create: function() {
	  this._super();
	  this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
	},
	_renderMenu: function( ul, items ) {
	  var that = this,
	    currentCategory = "";
	  $.each( items, function( index, item ) {
	    var li;
	    if ( item.category != currentCategory ) {
	      ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
	      currentCategory = item.category;
	    }
	    li = that._renderItemData( ul, item );
	    if ( item.category ) {
	      li.attr( "aria-label", item.category + " : " + item.label );
	    }
	  });
		ul.appendTo("#search-box")
	}
});


$(function() {
	$( "#home-search" ).catcomplete({
  		delay: 0,
  		source: search_data,
  		position:{
	  		within: "#search-box"
  		},
  		select: function(event, ui) {
  			$.ajax({
				url: '/search',
				data: {name: ui.item.label, search_type: ui.item.category},
				error: function(result){
					console.log(result);
				}
			})
	    }
	});
});