<% if origin.latitude.present? %>
    <script !src="">
      var types = {};
      types["1"] = ["restaurant", "meal_delivery", "food", "bakery"];
      types["2"] = ["natural_feature", "museum", "art_gallery", "zoo", "mosque", "hindu_temple", "church"];
      types["3"] = ["liquor_store", "beauty_salon", "pharmacy", "shopping_mall", "spa", "book_store", "cafe", "clothing_store", "grocery_or_supermarket"];
      types["4"] = ["amusement_park", "stadium", "zoo", "rv_park", "movie_theater", "night_club", "casino"];
      types["5"] = ["travel_agency", "train_station", "taxi_stand", "car_rental", "bus_station", "airport"];
    </script>

    <div class="location-map">
      <div class="map-sidebar">
        <div class="d-flex justify-content-between">
          <div class="item">
            <a href="javascript:void(0);" onclick="initMap(types[1])">
              <%= image_tag "dest/Food.png" %>
              <div class="pri-color h5 text-center mt-3">Food & Drinks</div>
            </a>
          </div>

          <div class="item">
            <a href="javascript:void(0);" onclick="initMap(types[2])">
              <%= image_tag "dest/activites.png" %>
              <div class="pri-color h5 text-center mt-3">Activities</div>
            </a>
          </div>

          <div class="item">
            <a href="javascript:void(0);" onclick="initMap(types[3])">
              <%= image_tag "dest/shopping.png" %>
              <div class="pri-color h5 text-center mt-3">Shopping</div>
            </a>
          </div>

          <div class="item">
            <a href="javascript:void(0);" onclick="initMap(types[4])">
              <%= image_tag "dest/entertainment.png" %>
              <div class="pri-color h5 text-center mt-3">Entertainment</div>
            </a>
          </div>

          <div class="item">
            <a href="javascript:void(0);" onclick="initMap(types[5])">
              <%= image_tag "dest/travel.png" %>
              <div class="pri-color h5 text-center mt-3">Travel info</div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="list-viewer" class="map-list col-md-6"></div>
        <div id="map-container" style="height:500px;" class="col-xs-12 col-md-6">
          <div id="listing" class="maplist">
            <table id="resultsTable" class="table table-striped">
              <tbody id="results"></tbody>
            </table>
          </div>
          <div id="map" style="height:500px;"></div>
        </div>
      </div>
      <div id="info-wrapper" class="dp_none"></div>
    </div>
    <script type="text/javascript" charset="utf-8">
      var map;
      var details;
      var service;
      var infowindow;
      var markers = [];
      var element = '<div id="info-content"><table><tr id="iw-url-row" class="iw_table_row"><td id="iw-icon" class="iw_table_icon"></td><td id="iw-url"></td></tr><tr id="iw-address-row" class="iw_table_row"><td class="iw_attribute_name">Address:</td><td id="iw-address"></td></tr><tr id="iw-phone-row" class="iw_table_row"><td class="iw_attribute_name">Telephone:&nbsp;&nbsp;</td><td id="iw-phone"></td></tr><tr id="iw-rating-row" class="iw_table_row"><td class="iw_attribute_name">Rating:</td><td id="iw-rating"></td></tr><tr id="iw-website-row" class="iw_table_row"><td class="iw_attribute_name">Website:</td><td id="iw-website"></td></tr></table></div>';
      var MARKER_PATH = 'https://maps.gstatic.com/intl/en_us/mapfiles/marker_green';
      var hostnameRegexp = new RegExp('^https?://.+?/');
      
      function initMap(data) {
        data = (data == undefined) ? types["1"] : data;
        $("#info-wrapper").html(element);
        var pyrmont = {lat: <%= origin.latitude %>, lng: <%= origin.longitude %>};
        var markerGroups = {
          "parking": [],
          "trail": [],
          "restaurant": []
        };
        var customIcons = {
          restaurant: {
            icon: 'http://backpackingconnecticut.com/images/shelter_picnic.png'
          },
          parking: {
            icon: 'http://backpackingconnecticut.com/images/parking.png'
          }
        };
        map = new google.maps.Map(document.getElementById('map'), {
          center: pyrmont,
          zoom: 15,
          disableDefaultUI: true,
          mapTypeId: 'roadmap',
          zoomControl: true,
           styles: [
            {
              featureType: 'all',
              stylers: [
                { saturation: -80 }
              ]
            },{
              featureType: 'road.arterial',
              elementType: 'geometry',
              stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
              ]
            },{
              featureType: 'poi.business',
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            }
          ],
          

        });

        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('info-content')
        });
        
        service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: pyrmont,
          bounds: map.getBounds(),
          radius: 20000,
          types: data
        }, callback);
      }
      
      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          if (markers[i]) {
            markers[i].setMap(null);
          }
        }
        markers = [];
      }
      
      function clearResults() {
        var results = document.getElementById('results');
        $("#list-viewer").empty();
        while (results.childNodes[0]) {
          results.removeChild(results.childNodes[0]);
        }
      }
      
      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          clearResults();
          clearMarkers();
          for (var i = 0; i < results.length; i++) {
            var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
            var markerIcon = MARKER_PATH + markerLetter + '.png';
            // Use marker animation to drop the icons incrementally on the map.
            markers[i] = new google.maps.Marker({
              position: results[i].geometry.location,
              animation: google.maps.Animation.DROP,
              icon: markerIcon
            });
            // If the user clicks a hotel marker, show the details of that hotel
            // in an info window.
            markers[i].placeResult = results[i];
            if( i < 10){
              displayDetailsWindow(markers[i], i);
            }
            google.maps.event.addListener(markers[i], 'click', showInfoWindow);
            setTimeout(dropMarker(i), i * 100);
            // addResult(results[i], i);
          }
        }
      }
      
      function addResult(result, i) {
        var results = document.getElementById('results');
        var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
        var markerIcon = MARKER_PATH + markerLetter + '.png';
        
        var tr = document.createElement('tr');
        tr.onclick = function() {
          google.maps.event.trigger(markers[i], 'click');
        };
        
        var iconTd = document.createElement('td');
        var nameTd = document.createElement('td');
        var icon = document.createElement('img');
        icon.src = markerIcon;
        icon.setAttribute('class', 'placeIcon');
        icon.setAttribute('className', 'placeIcon');
        var name = document.createTextNode(result.name);
        iconTd.appendChild(icon);
        nameTd.appendChild(name);
        tr.appendChild(iconTd);
        tr.appendChild(nameTd);
        results.appendChild(tr);
      }

      function displayDetailsWindow(marker, i){
        var marker = marker;
        service.getDetails({placeId: marker.placeResult.place_id},
        function(place, status) {
          if (status !== google.maps.places.PlacesServiceStatus.OK) {
            return;
          }
          buildDetailContent(place, i);
        });
      }

      function buildDetailContent(place, i) {
        var divEle = document.createElement("div");
        var listWrap = divEle.cloneNode();
        var listRightwrap = divEle.cloneNode();
        listRightwrap.className="map-wrap-right col-md-8";
        listWrap.id = "list-wrapper";
        listWrap.className = "map-wrap row";

        var iconWrap = divEle.cloneNode();
        iconWrap.innerHTML = '<img class="hotelIcon" ' +
        'src="' + place.icon + '"/>';
        listWrap.appendChild(iconWrap);
        iconWrap.className = "map-wrap-img col-md-2";

        var linkWrap = divEle.cloneNode();
        linkWrap.innerHTML = '<b><a target="_blank" href="' + place.url +
        '">' + place.name + '</a></b>';
        linkWrap.className="map-wrap-link";
        listRightwrap.appendChild(linkWrap);

        var addressWrap = divEle.cloneNode();
        addressWrap.innerHTML = place.vicinity;
        addressWrap.className="map-wrap-address";
        listRightwrap.appendChild(addressWrap);

        if (place.formatted_phone_number) {
          var phoneRow = divEle.cloneNode();
          phoneRow.innerHTML = place.formatted_phone_number;
          phoneRow.className="map-wrap-phone";
          listRightwrap.appendChild(phoneRow);
        }        
        
        // The regexp isolates the first part of the URL (domain plus subdomain)
        // to give a short URL for displaying in the info window.
        if (place.website) {
          var fullUrl = place.website;
          var website = hostnameRegexp.exec(place.website);
          if (website === null) {
            website = 'http://' + place.website + '/';
            fullUrl = website;
          }

          var websiteRow = divEle.cloneNode();
          websiteRow.innerHTML = "<a target='_blank' href='" + website + "'>" + website + "</a>";
          websiteRow.className="map-wrap-web";
          listRightwrap.appendChild(websiteRow);

        }
        listWrap.appendChild(listRightwrap);
        var listwrapper = document.getElementById("list-viewer");
        listwrapper.appendChild(listWrap);

        var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
        var markerIcon = MARKER_PATH + markerLetter + '.png';
        var iconRight = divEle.cloneNode();
        iconRight.innerHTML = '<img class="hotelIcon" ' +
        'src="' + markerIcon + '"/>';
        listWrap.appendChild(iconRight);
        iconRight.className = "col-md-2";
        
      }
      
      function showInfoWindow() {
        var marker = this;
        service.getDetails({placeId: marker.placeResult.place_id},
          function(place, status) {
            if (status !== google.maps.places.PlacesServiceStatus.OK) {
              return;
            }
            infowindow.open(map, marker);
            buildIWContent(place);
          });
        }
        
        function dropMarker(i) {
          return function() {
            markers[i].setMap(map);
          };
        }
        
        // Load the place information into the HTML elements used by the info window.
        function buildIWContent(place) {
          document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
          'src="' + place.icon + '"/>';
          document.getElementById('iw-url').innerHTML = '<b><a target="_blank" href="' + place.url +
          '">' + place.name + '</a></b>';
          document.getElementById('iw-address').textContent = place.vicinity;
          
          if (place.formatted_phone_number) {
            document.getElementById('iw-phone-row').style.display = '';
            document.getElementById('iw-phone').textContent =
            place.formatted_phone_number;
          } else {
            document.getElementById('iw-phone-row').style.display = 'none';
          }
          
          // Assign a five-star rating to the hotel, using a black star ('&#10029;')
          // to indicate the rating the hotel has earned, and a white star ('&#10025;')
          // for the rating points not achieved.
          if (false) {//if (place.rating) { => Activated when rating is there
            var ratingHtml = '';
            for (var i = 0; i < 5; i++) {
              if (place.rating < (i + 0.5)) {
                ratingHtml += '&#10025;';
              } else {
                ratingHtml += '&#10029;';
              }
              document.getElementById('iw-rating-row').style.display = '';
              document.getElementById('iw-rating').innerHTML = ratingHtml;
            }
          } else {
            document.getElementById('iw-rating-row').style.display = 'none';
          }
          
          // The regexp isolates the first part of the URL (domain plus subdomain)
          // to give a short URL for displaying in the info window.
          if (place.website) {
            var fullUrl = place.website;
            var website = hostnameRegexp.exec(place.website);
            if (website === null) {
              website = 'http://' + place.website + '/';
              fullUrl = website;
            }
            document.getElementById('iw-website-row').style.display = '';
            document.getElementById('iw-website').textContent = website;
          } else {
            document.getElementById('iw-website-row').style.display = 'none';
          }
        }
    </script>


    <script>
      window.onload = function(){
        var wf = document.createElement('script');
        wf.src = 'https://maps.google.com/maps/api/js?v=3.23&sensor=false&key=<%= AppConfig.config["gmap_key"]["key"] %>&libraries=places&language=&hl=&region=&callback=initMap';
        wf.type = 'text/javascript';
        var s = document.getElementsByTagName('head')[0];
        s.appendChild(wf);
      }
    </script>

    <!-- <script src="//maps.google.com/maps/api/js?v=3.23&amp;sensor=false&amp;key=<%#= AppConfig.config["gmap_key"]["key"] %>&amp;libraries=places&amp;language=&amp;hl=&amp;region=&amp;callback=initMap" async defer></script> -->
<% end %>