<div id="fb-root"></div>
<% if is_prod? %>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1683746651911114";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
<% end %>
<div class="bg-header">
  <% if false %>
    <header class="header-removable text-center"> 
      <div class="col-md-2 text-center"><a href="/contact"><i class="fa fa-envelope"></i> info@airvtr.com</a></div>
      <!-- <div class="col-md-6 text-center hidden-xs">Get <div class="discount-label green"> <span>30%</span> </div> discount on hotels now by registering with Airvtr! <a href="#">View More</a></div>
       -->
       <div class="col-md-6 text-center hidden-xs quote-header">
         “Lets get flying, and go everywhere with Airvtr”
       </div>
      <div class="col-md-4">
        <% if false %>
          <!-- need to add Later -->
          <span><a href="#lang" data-toggle="modal" data-target="#lang"><i class="fa fa-globe"></i>&nbsp;&nbsp;Language&nbsp;</a></span>
        <% end %>
        <% unless customer_signed_in? || admin_signed_in? %>
            <span class="login"><a href="<%= new_customer_session_path %>"><i class="fa fa-key"></i>&nbsp;&nbsp;Login</a>
            </span>
            <span class="register"><a href="<%= new_customer_registration_path %>"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Register</a></span>
        <% else %>
          <% logout_path = customer_signed_in? ? destroy_customer_session_path : destroy_admin_session_path %>
          <span class="login"><a href="<%= logout_path %>" data-method="delete"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Log Out</a></span>
        <% end %>
      </div>
       
    </header>
  <% end %>
  <header id="header-page">
    <div class="header-page__inner">
      <div class="container">
        <div class="logo"><a href="/"><%= image_tag("bbn2.png") %></a></div>
        <nav class="navigation awe-navigation" data-responsive="1200">
          <ul class="menu-list">
            <li class="menu-item-has-children <%= params["controller"] == "home" ? "current-menu-parent" : "" %>"><a href="/">Home</a>
            </li>
            <li class="menu-item-has-children <%= params["controller"] == "destinations" ? "current-menu-parent" : "" %>"><a href="<%= destinations_path %>">Destinations</a>
            </li>
            <% if false %>
              <!-- Disabling Temprorily as Usha told to hide -->
              <li class="menu-item-has-children <%= params["controller"] == "hotels" ? "current-menu-parent" : "" %>"><a href="/hotels">Hotels</a>
               </li>
              <li class="menu-item-has-children <%= params["controller"] == "flights" ? "current-menu-parent" : "" %>"><a href="/flights">Flights</a>
              </li>
              <li class="menu-item-has-children <%= params["controller"] == "events" ? "current-menu-parent" : "" %>"><a href="/events">Events</a>
              </li>
              <li class="menu-item-has-children <%= params["controller"] == "attractions" ? "current-menu-parent" : "" %>"><a href="/attractions">Attractions</a>
              </li>
            <% end %>
            <li class="menu-item-has-children <%= params["controller"] == "customers" ? "current-menu-parent" : "" %>">
              <a href="/meet-travelers">Meet Travellers</a>
            </li>
              
            <% destin_c = params["controller"] == "forums"  || params["controller"] == "insurance" %>
              <li class="menu-item-has-children <%=  destin_c ? "current-menu-parent" : "" %>" ><a href="/forum">Forums</a>
                <!-- <ul class="sub-menu">
                  <li class="menu-item-has-children <%#= params["controller"] == "forums" ? "current-menu-parent" : "" %>"><a href="#">Forums</a>
                  </li>
                </ul>
            </li>-->
            <li class="menu-item-has-children <%= params["controller"] == "travel_blog" ? "current-menu-parent" : "" %>"><a href="/blog_main">Blogs</a>
              </li>
              <% if false %>
                  <% if customer_signed_in? %>
                    <li class="menu-item-has-children">
                      <a href="javascript:void(0)"><%= current_customer.fullname %></a>
                      <!-- <ul class="sub-menu">
                        <li><a href="/customers/<%= current_customer.id %>/profile">Profile</a></li>
                        <li><a href="/customers/<%= current_customer.id %>/travel_blogs">Travel Blog</a></li>
                        <li><a href="/customers/<%= current_customer.id %>/trips">Travel History</a></li>
                        <li><a href="<%#= customer_photos_path(current_customer.id) %>">Photos/videos</a></li>
                      </ul>  -->
                    </li>
                    <% if @notification.present? %>
                        <li class="menu-item-has-children">
                          <a href="javascript:void(0)">
                            <i class="fa fa-envelope"></i>
                          </a>
                          <ul class="sub-menu">
                            <!--
                              TODO
                              styling need to be added.
                              once read notification functionality need to be added
                            -->
                            <% @notification.each do |notify| %>
                                <% n_html, n_link = AppUtils.get_notification_format(notify) %>
                                <li>
                                  <a href="<%= n_link %>">
                                    <%= n_html.html_safe %>
                                  </a>
                                </li>
                            <% end %>
                          </ul>
                        </li>
                    <% end %>
                  <% elsif admin_signed_in? %>
                    <li class="menu-item-has-children"><a href="javascript:void(0)"><%= current_admin.email %></a>
                      <ul class="sub-menu">
                        <li><a href="/settings">Settings</a></li>
                      </ul>
                    </li>
                  <% end %>
                  <% end %>
             
          <% if customer_signed_in? %>
            <li class="nav-item <%= params["controller"] == "profile" ? "active" : "" %>">
              <a href="javascript:void(0)" class="nav-link"><%= current_customer.fullname %></a>
              <ul class="sub-menu rounded list-unstyled px-3" style="border-radius: 1.30rem !important;">
                <li class="text-center"style="background-color: white;">
                  <a href="/traveler/<%= current_customer.username %>" style="font-weight: unset;border: white;font-size: x-large;color:#f85959;" >Profile</a>
                </li>
  
                <li class="pb-2 text-center" style="background-color: white;">
                  <a href="<%= destroy_customer_session_path %>" data-method="delete" class="btn btn-primary" style="border-bottom: 2px solid;font-size: 18px;"><span >Sign Out</span></a>
                </li>
              </ul>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item ml-3">
              <a href="javascript:void(0)" class="nav-link"><%= current_admin.email %></a>
              <ul class="sub-menu rounded list-unstyled px-3" style="border-radius: 1.30rem !important;">
                <li class="text-center" >
                  <a href="/settings" style="font-size: x-large;">Settings</a>
                </li>
  
                <li class="py-3 text-center">
                  <a href="<%= destroy_admin_session_path %>" data-method="delete" class="btn btn-primary" style="border-bottom: 2px solid;font-size: 18px;"><span>Sign Out</span></a>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item cta ml-3">
              <a href="<%= new_customer_session_path %>" class="nav-link"><span style="color: white;">Sign In</span></a></li>
          
          <% end %> 
          </ul>
        </nav>
        <% if false %>
          <div id="search-box" class="search-box"><span class="searchtoggle"><i class="awe-icon awe-icon-search"></i></span>
            <form class="form-search">
              <div class="form-item"><input id="home-search" type="text" placeholder="Search your destination &amp; hit enter" value=""></div>
            </form>
          </div>
        <% end %>
        
      </div>
    </div>
  </header>
</div>

