<div class="hero-wrap " style="background-image: url('<%= asset_path('about-banner.png')%>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-8 offset-md-2 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          Redefine the world of Travel
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row mt-5 py-5">
    <div class="col-lg-5 col-md-6">
      <%= image_tag "about-left.png" %>
    </div>
    <div class="col-lg-7 col-md-6 pl-5">
      <h3 class="about-heading">
        Noimacki (Japanese) - A sense of freedom <br/>that guides a wanderer towards his destination.
      </h3>
      <p class="about-side-text">
        We believe it’s a small world afterall. All one needs is a little inspiration and a pinch of Noimacki to redefine the world of travel. At blubeez, we are travelers ourselves. This website is all about what we love the most about travel - magical experiences and not just journeys.
      </p>
      <p class="about-side-text mt-5">
        We hope to provide you with the inspiration to travel. Meet fellow travelers and find their best adventures. Share your travel experiences with them. Explore new places and find unique getaways. Discover new ways to travel, great things to do and more magic to add to life!
      </p>
    </div>
  </div>

  <div class="py-5 about-border">
    <h3 class="about-heading text-center">
      Get on those explorer hats and allow us to redefine your world of travel!
    </h3>
  </div>

  <div class="py-5">
    <h2 class="pri-color about-secondary">
      Meet Travelers - Join the Travel Community
    </h2>
    <ul class="pl-3 pri-color spc-5">
      <li>Do you have a bookmark on your instagram for the best travel spots?</li>
      <li>Are you always on the lookout for unique places and travel experiences?</li>
      <li>Seen some place and want to ask if any one has been there?</li>
    </ul>

    <p class="about-side-text pt-3">
      blubeez is the place for you - the traveler that does his/her research before heading out. Here is a forum for travelers and by travelers from all over the world. Find Reviews, Ratings and Recommendations about everything that will help you plan that dream vacation.
    </p>
  </div>

  <div class="pb-5">
    <h2 class="pri-color about-secondary">
      What blubeez offers travelers
    </h2>

    <ul class="pl-3 pri-color spc-2">
      <li>
        <div class="ques">
          Meet travelers
        </div>
        <div class="ans sec-color">
          blubeez is a social networking site for travelers. Find communities of travelers near you. Join other backpackers, solo travelers or digital nomads online.
        </div>
      </li>

      <li>
        <div class="ques">
          Been there, done that?
        </div>
        <div class="ans sec-color">
          Travel much and want to share your experiences as a traveler? Here’s a chance to answer questions from fellow travelers.
        </div>
      </li>

      <li>
        <div class="ques">
          Ask and get answered
        </div>
        <div class="ans sec-color">
          Wondering if the hotel/ homestay you chose is a good place for families? Have a dog and want to find pet-friendly places to travel to? Ask your questions here and get answers from  genuine travelers
        </div>
      </li>

      <li>
        <div class="ques">
          Share your reviews and ratings
        </div>
        <div class="ans sec-color">
          We understand why reviews are very important. We’ll help you find that place with the best pizza in town, or most happening spots and more. All this from the folks that have actually been there! You can rate your experiences too and help other travelers.
        </div>
      </li>
    </ul>
  </div>
</div>