<div class="bg-light bg-forms">
  <div class="container add-listing pt-5">
    <div class="mt-5 py-5">
      <h2 class="pri-color">Add a Listing</h2>
      <p class="theme-color">Please Register with us before you continue..</p>
    </div>

    <div class="pb-5">
      <%= form_for Listing.new, url: "/add-listing", html: {data: {validate: true }} do  |f| %>
        <div class="form-group row">
          <label class="col-md-4">Your Name</label>
          <div class="col-md-4">
            <%= f.text_field :name, class: "form-control", placeholder: "e.g. Dave", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Phone Number</label>
          <div class="col-md-4">
            <%= f.text_field :phone, class: "form-control", placeholder: "e.g. +1 (510) 320 3230", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Email Address</label>
          <div class="col-md-4">
            <%= f.text_field :email, class: "form-control", placeholder: "e.g. dave@gmail.com", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Location</label>
          <div class="col-md-4">
            <%= f.text_field :location, class: "form-control", placeholder: "e.g. Bangalore, Karnataka", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Business/ Service Description</label>
          <div class="col-md-4">
            <%= f.text_field :service_desc, class: "form-control", placeholder: "e.g. Marketer", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Website or Link to the Business / Service</label>
          <div class="col-md-4">
            <%= f.text_field :website, class: "form-control", placeholder: "e.g. www.example.com", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">&nbsp;</label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-6">
                <%= f.radio_button :is_owner, 1 %>
                <label>I am the owner</label>
              </div>
              <div class="col-sm-6">
                <%= f.radio_button :is_owner, 0 %>
                <label>I am not the owner</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Type your message</label>
          <div class="col-md-4">
            <%= f.text_area :message, class: "form-control", rows: 10, placeholder: "Write your message here..", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">&nbsp;</label>
          <div class="col-md-4">
            <%= f.submit "Submit Listing", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="py-5">
      <div class="alert alert-danger">
        Once you register and submit the above details we will review it and get in touch with you.
      </div>
    </div>
  </div>
</div>

<script>
    $("[data-validate]").validate({
        errorClass: "is-invalid",
        validClass: "is-valid",
        ignore: ":hidden"
    })
</script>