<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title">
                    <h2>Advertise with Us</h2>
                </div>
                <blockquote>
                    <p>
                        Place your brand where the eye balls fall. Yes, we offer you a unique opportunity to place your advertisements on our website. Get in touch with us to know how to advertise with us. We are glad to assist you. 
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
