<section class="page-heading-careers">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Careers</h2></div>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-md-4">
                <div class="career-box">
                    <div class="head">
                        <h5>Content Writer</h5>
                    </div>
                    <div class="body">
                        <ul>
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li> 
                            <li>Excellent communication skills</li>
                            <li>Minimum 2 years of experience</li>
                        </ul>
                    </div>
                    <footer>
                        <div class="cta">
                            <a href="mailto:careers@airvtr.com?subject=Applying for Content Writer" class="btn btn-primary">Apply Now &nbsp;&nbsp; <i class="fa fa-envelope"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
