<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title">
                    <h2>Become a Contributor</h2>
                </div>
                <blockquote>
                    <p>
                        Are you interested in showcasing your writing or photography talent? If you have answered the question in affirmative, this is the place to be. At Airvtr, we appreciate well-written content and invite you to be a contributor. Write about your experiences; send them across. Our editors will have a look. We will publish them on the site and or post them on our social media channels.
                    </p>
                    <p>
                        To become a contributor and to build a lasting relationship, shoot us an email on <a href="mailto:contact@airvtr.com">contact@airvtr.com</a>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
