<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
<section class="traveler-banner" style="margin-top: 0;">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Contact Us</h2>
      </div>
    </div>
  </div>
 </section>
 <section class="ftco-sectioninner ftco-destination">
 <div class="container">
   <div class="row">
     <div class="col-lg-6 col-xs-12 ">
       <div class="contactimg">
       <%= image_tag "Almeria.jpg", class: "contactimgimgA1" %>
       <%= image_tag "Cusco.jpg", class: "contactimgimgB1" %>
       <%= image_tag "Gaios.jpg", class: "contactimgimgC1" %>
         
       </div>
     </div>
     <div class="col-lg-6 col-xs-12 contactmain">
       <p class="mt-5">
       Is travel on your mind? Connect with us for travel solutions, collaboration ideas or destination updates. We’d love to hear from you! Fill up the details below and we’ll have them covered for you.
       </p>
       <div class="container">
          <%= form_tag "/contact", class: "row contact-form contactformhead" do %>
            <ul class="contactform col-lg-12" style="margin-bottom: 0px;">
              <li>Name <span class="mandatory">*</span></li>
              <li><input type="text" class="form-control formfeild" name="contact[name]" placeholder="Name" style="width: 360px;"></li>
              <li>Email <span class="mandatory">*</span></li>
              <li><input type="text" class="form-control formfeild" name="contact[email]" placeholder="Email" style="width: 360px;"></li>
              <li>Subject <span class="mandatory">*</span></li>
              <li><input type="text" class="form-control formfeild" name="contact[subject]" placeholder="Subject" style="width: 360px;"></li>
              <li>Message <span class="mandatory">*</span></li>
              <li><textarea type="text" class="form-control formfeild2" name="contact[message]" placeholder="Type your message here" style="width: 360px;font-size: 16px;"></textarea></li>
            </ul>
            <div class="contactform checkboxmain col-lg-6 col-xs-6">
              <div class="ml-3 round">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox"> </label><span>Send me a copy</span>
              </div>
              <div class="clearfix"></div>
              <div class="round mt-4">
              <%= recaptcha_tags style: "transform: scale(0.77);transform-origin:0 0;"%>
              </div>
            </div>
            <div class="col-lg-12 pl-0">
              <input type="submit" value="Send" class="contactbu submit-contact">
            </div>
            <div id="contact-content"></div>
          <% end %>
         <div class="contctdetails pb-3 pt-3" style="margin-left: -11px;">
          <div class="d-flex iconcontact">
            <i class="fa fa-envelope"></i>
            <h4 class="p-2">CONTACT</h4>
          </div>
          <div style="margin-top: 4rem;">
            <p class="mb-0"> <a href="#" style="margin-left: -29px; font-size:18px;">Info@blubeez.com</a></p>
            <p><a href="#" style="font-size:18px;">Contact@blubeez.com</a></p>
          </div>
         </div>
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
 </div>
</section>

<script type="text/javascript" src="js/lib/jquery.form.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
<script type="text/javascript">/*==============================
            Ajax contact form
        ==============================*/
        if($(".contactformhead").length > 0) {
          // Validate the contact form
          $('.contactformhead').validate({
            // Add requirements to each of the fields
            rules: {
              name: {
                required: true,
                minlength: 2
              },
              email: {
                required: true,
                email: true
              },
              message: {
                required: true,
                minlength: 10
              }
            },

            // Specify what error messages to display
            // when the user does something horrid
            messages: {
              name: {
                required: "Please enter your first name.",
                minlength: $.format("At least {0} characters required.")
              },
              email: {
                required: "Please enter your email.",
                email: "Please enter a valid email."
              },
              message: {
                required: "Please enter a message.",
                minlength: $.format("At least {0} characters required.")
              }
            },

            // Use Ajax to send everything to processForm.php
            submitHandler: function(form) {
              $(".submit-contact").html("Sending...");
              $(form).ajaxSubmit({
                success: function(responseText, statusText, xhr, $form) {
                  $("#contact-content").slideUp(600, function() {
                    $("#contact-content").html(responseText).slideDown(600);
                    $(".submit-contact").html("Send");
                  });
                }
              });
              return false;
            }
          });
        }</script>