<div class="hero-wrap " style="background-image: url('<%= asset_path("home_bg.jpg") %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-8 offset-md-2 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">

        <h1 class="" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          Meet. Share. Explore. Discover.
        </h1>

        <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Redefine the world of travel</p>

        <div class="block-17 my-1">
          <form action="javascript:void(0)" method="post" class="d-block d-flex" autocomplete="off">
            <div class="fields d-block d-flex">
              <div class="textfield-search one-third">
                <img src="<%= image_path('map.png')%>" class="location-img"/>
                <input type="text" class="form-control" id="home-search" placeholder="Ex: Places, People">
              </div>
              <!-- <div class="select-wrap one-third">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="" class="form-control" placeholder="Keyword search">
                  <option value="">Where</option>
                  <option value="">San Francisco USA</option>
                  <option value="">Berlin Germany</option>
                  <option value="">Lodon United Kingdom</option>
                  <option value="">Paris Italy</option>
                </select>
              </div>
            </div> -->
            <input type="submit" class="search-submit btn btn-primary" value="Search">  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-destination">
  <div class="container">
    <div class="row justify-content-start mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate">
        <h2 class="mb-4"><strong>Featured Destinations </strong></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="destination-slider-new ftco-animate d-flex flex-wrap justify-content-between">
          <% @destinations.each do |destination| %>
            <% @countryies = AppUtils.country_list_by_first_letter destination.destination_country.to_s %>

            <div class="item">
              <div class="destination">
                <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(<%= destination.image_url %>);">     
                </a>
                <div class="text p-4">
                  <h3 class="mb-2 d-flex">
                    <a href="/destinations/<%= destination.slug %>" class="dest-title" data-turbolinks="false">
                      <%= destination.destination_name %><br/>
                    </a>
                    <% if customer_signed_in? %>
                      <a data-remote="true" id="wish_<%= destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>" class="wishlist ml-auto mr-1">
                        <% if destination.is_in_wishlist?(current_customer.id) %>
                          <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                        <% else %>
                          <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                        <% end %>
                      </a>
                      <a data-remote="true" id="checkin_<%= destination.id %>" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= destination.id %>" class="checkin">
                        <% if destination.is_checkedin?(current_customer.id) %>
                          <%= image_tag "checked-in.png", title: "Add to checkin" %>
                        <% else %>
                          <%= image_tag "check-in.png", title: "Add to checkin" %>
                        <% end %>
                      </a>
                    <% else %>
                      <a id="wish_<%= destination.id %>" href="/wishlists/auth" class="wishlist ml-auto mr-1">
                        <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                      </a>
                      <a id="checkin_<%= destination.id %>" href="/checkins/auth" class="checkin">
                        <%= image_tag "check-in.png", title: "Add to checkin" %>
                      </a>
                    <% end %>
                  </h3>
                  <div>
                    <a href="/destinations-by-country?keyword=<%= destination.destination_country.first(1)%>" class="dest-title d-flex" data-turbolinks="false">
                      <h4>
                      <span class="flag-icon flag-icon-<%= destination.destination_country.downcase %>"></span>
                      </h4>
                    
                      <small class="h5 p-1 sec-color" style="color: #2599e0;">
                        <%= AppUtils.country_name_by_country_code(destination.destination_country) %>
                      </small>
                    </a>
                  </div>
                  <a href="/attractions/<%= destination.slug %>" data-turbolinks="false">
                    <span class="listing">Attractions</span><br/>
                    <%= image_tag('attraction.png') %>&nbsp;&nbsp;<%= destination.attractions.length %> 
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pt-5 text-center">
      <a href="/destinations" class="btn btn-primary" data-turbolinks="false">Discover More</a>
    </div>
  </div>
</section>

<% if false %>
  <section class="ftco-section pt-0">
    <div class="container">
      <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
          <span class="subheading">Popular</span>
          <h2 class="mb-4"><strong>Popular</strong> places to visit</h2>
        </div>
      </div>

      <div class="row">
        <% @countries_wise_place_hash.each do |country, states| %>
          <% states.each do |state, count| %>
            <div class="col-md-4 popular-destinations">
              <strong><%= state %></strong>, <%= country %> (<small><%= count %> Places</small>) 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
