<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Partner with Us</h2>
      </div>
    </div>
  </div>
 </section>
 <section class="ftco-sectioninner ftco-destination">
 <div class="container">
   <div class="pt-4 row" style="font-size: initial;font-family: "Poppins", Arial, sans-serif !important;font-weight: bolder;">
     <div class="text-center col-md-8 col-xs-12 offset-md-2 ">
       <p style="font-weight: bolder;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       </p>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row row-flex pb-5 pt-4">
     <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="content colour-1 text-center">
         <p  class="pt-5">We’d love to open up our forums for partnerships with like-minded brands. Are you an exclusive wellness resort or a yoga retreat? Do you have travel related products that our travelers would enjoy? We can’t wait to hear from you on your proposal. Fill in the details below and we’ll get back to you!
         </p>
         <div class="mt-5 mb-5"> <a href="#" class="contactbu ">Contact</a></div>
       </div>
     </div>
     <div class="col-md-6 col-sm-12 col-xs-12">
       <div class="content colour-2 text-center partner">
         <h4>Got an Idea? Lets connect</h4>
         <p>
         If you are looking for quality customers for your product or service, blubeez is the place to be in. Want to advertise your brand on our website? Put in the details here below and we’ll get you on board with the most happening travelers in town!
         </p>
         <div  class="mt-5 mb-5"> <a href="#" class="contactbu ">Get Started</a></div>
       </div>
     </div>
   </div>
 </div>
</section>