<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title">
                    <h2>Privacy Policy</h2>
                </div>
                <blockquote>
                    <p>
                        Donec pharetra ipsum sed lacinia malesuada. Integer tristique sapien et ligula porttitor egestas. Nam nec mauris volutpat, <a href="#">euismod</a> massa ac, fermentum eros. Sed in lorem sed metus dapibus malesuada sit amet eget justo. In sollicitudin aliquam diam eget maximus. Sed auctor ultrices mi quis mattis. Nam porta iaculis eros, eu suscipit arcu rutrum sed. Curabitur at urna efficitur, malesuada mi non, auctor dui.
                    </p>
                    <p>
                        Donec pharetra ipsum sed lacinia malesuada. Integer tristique sapien et ligula porttitor egestas. Nam nec mauris volutpat, <a href="#">euismod</a> massa ac, fermentum eros. Sed in lorem sed metus dapibus malesuada sit amet eget justo. In sollicitudin aliquam diam eget maximus. Sed auctor ultrices mi quis mattis. Nam porta iaculis eros, eu suscipit arcu rutrum sed. Curabitur at urna efficitur, malesuada mi non, auctor dui.
                    </p>
                    <p>
                        Donec pharetra ipsum sed lacinia malesuada. Integer tristique sapien et ligula porttitor egestas. Nam nec mauris volutpat, <a href="#">euismod</a> massa ac, fermentum eros. Sed in lorem sed metus dapibus malesuada sit amet eget justo. In sollicitudin aliquam diam eget maximus. Sed auctor ultrices mi quis mattis. Nam porta iaculis eros, eu suscipit arcu rutrum sed. Curabitur at urna efficitur, malesuada mi non, auctor dui.
                    </p>
                    <p>
                        Donec pharetra ipsum sed lacinia malesuada. Integer tristique sapien et ligula porttitor egestas. Nam nec mauris volutpat, <a href="#">euismod</a> massa ac, fermentum eros. Sed in lorem sed metus dapibus malesuada sit amet eget justo. In sollicitudin aliquam diam eget maximus. Sed auctor ultrices mi quis mattis. Nam porta iaculis eros, eu suscipit arcu rutrum sed. Curabitur at urna efficitur, malesuada mi non, auctor dui.
                    </p>
                    <footer>Airvtr</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
