<div class="bg-light bg-forms">
  <div class="container add-listing pt-5">
    <div class="mt-5 py-5">
      <h2 class="pri-color">Report Spam</h2>
    </div>

    <div class="pb-5">
      <%= form_for ReportSpam.new, url: "/report-spam", html: {data: {validate: true }} do  |f| %>
        <div class="form-group row">
          <label class="col-md-4">Your Name <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <%= f.text_field :name, class: "form-control", placeholder: "e.g. Dave", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Phone Number</label>
          <div class="col-md-4">
            <%= f.text_field :phone, class: "form-control", placeholder: "e.g. +1 (510) 320 3230", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Email Address <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <%= f.text_field :email, class: "form-control", placeholder: "e.g. dave@gmail.com", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">I am registered with blubeez <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-6">
                <%= f.radio_button :is_registered_with_blubeez, 1 %>
                <label>Yes</label>
              </div>
              <div class="col-sm-6">
                <%= f.radio_button :is_registered_with_blubeez, 0 %>
                <label>No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Name of the person against whom action required <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <%= f.text_field :spam_against_person, class: "form-control", placeholder: "e.g. Mark", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Add the Spam profile link <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <%= f.text_field :spam_profile_link, class: "form-control", placeholder: "e.g. www.example.com", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Help us understand the problem</label>
          <div class="col-md-4">
            <div>
              <%= f.radio_button :spam_type, ReportSpam::FAKE_ACCOUNT %>
              <label>Fake Account profile</label>
            </div>
            <div>
              <%= f.radio_button :spam_type, ReportSpam::FAKE_NAME %>
              <label>Fake Name</label>
            </div>
            <div>
              <%= f.radio_button :spam_type, ReportSpam::INAPPROPRIATE_PHOTO %>
              <label>Inappropriate Photos</label>
            </div>
            <div>
              <%= f.radio_button :spam_type, ReportSpam::INAPPROPRIATE_POST %>
              <label>Inappropriate Posts</label>
            </div>
            <div>
              <%= f.radio_button :spam_type, ReportSpam::OTHER %>
              <label>Other</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4">Type your message <span class="mandatory">*</span></label>
          <div class="col-md-4">
            <%= f.text_area :message, class: "form-control", rows: 10, placeholder: "Write your message here..", required: true %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4"></label>
          <div class="col-md-4">
          <span class="mandatory">* Disclaimer </span><br>
          Please use this form only to report a Potential Spam profile. <br>
          To report Potential Fraud Business / Listing, <a href="#">Contact here</a>. For Inquiry or General queries <a href="#">Contact here</a>.          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4">&nbsp;</label>
          <div class="col-md-4">
            <%= f.submit "Submit Report", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="lisitingtxt pb-4" style="font-weight: 400;font-size: 19px;">Once you register and submit the above details we will review it and get in touch with you</div>
  </div>
</div>

<script>
    $("[data-validate]").validate({
        errorClass: "is-invalid",
        validClass: "is-valid",
        ignore: ":hidden"
    })
</script>