<% if  flash[:error].nil? %>

	<% if params["search_type"] == "Destinations" %>
		
		window.location.href = "/destinations/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"
	
	<% elsif params["search_type"] == "Hotels" %>
	
		window.location.href = "/hotels/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"
	
	<% elsif params["search_type"] == "Events" %>

		window.location.href = "/events/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"

	<% elsif params["search_type"] == "Flights" %>
		
		window.location.href = "/flights/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"

	<% elsif params["search_type"] == "Blogs" %>

		window.location.href = "/blog/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"

	<% elsif params["search_type"] == "Travellers" %>
		
		window.location.href = "/meet-travelers/?search_data=true&search_type=<%= params["search_type"] %>&name=<%= params["name"] %>"

	<% end %>

<% else %>

	alertify.alert("<%= flash[:error] %>");
	
<% end %>