<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
<section class="traveler-banner" style="margin-top: 0;">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Terms and Conditions</h2>
      </div>
    </div>
  </div>
</section>

<section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <div class=" row">
      <div class="col-lg-12 mt-0 mb-0">
        <div class="terms_main mt-4 mb-4">
          <div class="resp-tabs-container hor_1">
            <div>
              <p>
                <!--vertical Tabs-->
              <div id="ChildVerticalTab_1">
                <div class="resp-tabs-container ver_1">
                  <div>
                    <h4>Privacy</h4>
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with: <br>
                      <br>
                      Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with: 
                    </p>
                  </div>
                  <div>
                    <h4>Terms</h4>
                    <p>02 Lorem ipsum dolor sit amet, lerisque commodo. Nam porta cursus lectusconsectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales sce. Proin nunc erat, gravida a facilisis quis, ornare id lectus</p>
                  </div>
                  <div>
                    <h4>Code of Conduct</h4>
                    <p> 03 Suspendisse blandit velit Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravid urna gravid eget erat suscipit in malesuada odio venenatis.</p>
                  </div>
                  <div>
                    <h4>API Policy</h4>
                    <p>04 d ut ornare non, volutpat vel tortor. InLorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.t in malesuada odio venenatis.</p>
                  </div>
                  <div>
                    <h4>CSR</h4>
                    <p>05 d ut ornare non, volutpat vel tortor. InLorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.t in malesuada odio venenatis.</p>
                  </div>
                  <div>
                    <h4>License</h4>
                    <p>06 d ut ornare non, volutpat vel tortor. InLorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.t in malesuada odio venenatis.</p>
                  </div>
                </div>
                <ul class="resp-tabs-list ver_1">
                  <li>Privacy</li>
                  <li>Terms</li>
                  <li>Code of Conduct</li>
                  <li>API Policy</li>
                  <li>CSR</li>
                  <li>License</li>
                </ul>
              </div>
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="easyResponsiveTabs.js"></script>
<script>
  var t1 = 0;
  window.onscroll = scroll1;
  
  function scroll1() {
    var toTop = document.getElementById('toTop');
    window.scrollY > 0 ? toTop.style.display = 'Block' : toTop.style.display = 'none';
  }
  
  function abcd() {
    var y1 = window.scrollY;
    y1 = y1 - 1000;
    window.scrollTo(0, y1);
    if (y1 > 0) {
      t1 = setTimeout("abcd()", 100);
    } else {
      clearTimeout(t1);
    }
  }	 
</script>
<script type="text/javascript">
  $(document).ready(function() {
      //Horizontal Tab
      $('#parentHorizontalTab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          tabidentify: 'hor_1', // The tab groups identifier
          activate: function(event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
          }
      });
  
      // Child Tab
      $('#ChildVerticalTab_1').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
          tabidentify: 'ver_1', // The tab groups identifier
          activetab_bg: '#F5F5F5', // background color for active tabs in this group
          inactive_bg: '#fff', // background color for inactive tabs in this group
          active_border_color: '#c1c1c1', // border color for active tabs heads in this group
           // border color for active tabs contect in this group so that it matches the tab head border
  
      });
  
      //Vertical Tab
      $('#parentVerticalTab').easyResponsiveTabs({
          type: 'vertical', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          closed: 'accordion', // Start closed if in accordion view
          tabidentify: 'hor_1', // The tab groups identifier
          activate: function(event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo2');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
          }
      });
  });
</script>