<%
  unless @is_with_location
    url_path = params[:action] == "new" ? "/destinations/#{params['destination_id']}/#{params['destination_name']}/events" : "/destinations/#{params['destination_id']}/#{params['destination_name']}/events/#{@event.id}"
  else
    url_path = "/destinations/1/bangalore/events"
  end
%>
<%= form_for(@event, url: url_path) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% unless @is_with_location %>
        <%= f.hidden_field :destination_id, :value=>"#{params["destination_id"]}" %>
    <% end %>

    <% if @is_with_location %>
        <div class="form-item">
          <%= label_tag :locations_name %>
          <%= text_field :locations, :name, class: "form-control" %>
        </div>
        <div class="form-item">
          <%= label_tag :locations_country %>
          <%= select :locations, :country, AppUtils.country_list, {:selected=> "", :prompt=> "select country" }, class: "form-control" %>
        </div>
        <div class="form-item">
          <%= label_tag :locations_state %>
          <%= select :locations, :state, "", {:selected=> "", :prompt=> "select state" }, class: "form-control" %>
        </div>

        <div class="form-item">
          <%= label_tag :locations_cities %>
          <%= select :locations, :cities, "", {:selected=> "", :prompt=> "select city" }, class: "form-control" %>
        </div>
        <input type="hidden" name="add_location" value="true">
    <% end %>

    <div class="form-item">
      <%= f.label :name, "Event Name"%>
      <%= f.text_field :name %>
    </div>
    <div class="form-item">
      <%= f.label :about, "About Event" %>
      <%= f.text_area :about %>
    </div>
    <div class="form-item">
      <%= f.label :detail, "Detail of the Event" %>
      <%= f.text_area :detail %>
    </div>

    <div class="form-item">
      <%= f.hidden_field :image %>
    </div>
    <%= hidden_field_tag :main_old_image, @event.image if @event.present? %>

    <div class="form-item date-input">
      <%= f.label :start_date, "Start Date" %>
      <%= f.datetime_select :start_date %>
    </div>

    <div class="form-item date-input">
      <%= f.label :end_date, "End Date" %>
      <%= f.datetime_select :end_date %>
    </div>

    <div class="form-item" >
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".image-modal-lg-edit">Upload images</button>
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
<% end %>
<div class="modal fade image-modal-lg-edit image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render :partial=> "common/single_template", :locals=>{ form_id: "fileupload-single", :single_id=> "event_image", :single_old=> "main_old_image", :action_param=> "event_id=#{@event.present? ? @event.id : "" }" }%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<% if @is_with_location %>
    <script>
      (function($){
        $("#locations_country, #locations_cities, #locations_state, #event_date_1i, #event_date_2i, #event_date_3i, #event_date_4i, #event_date_5i").chosen();
        $("#locations_country").on("change", function(e){
          e.preventDefault();
          $.ajax({
                url: '/get_states',
                dataType: 'json',
                data: {country: $(this).val()}
              })
              .done(function(result) {
                if (result.length > 0){
                  states = "";
                  $.each(result, function(index, data){
                    states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
                  });
                  $("#locations_state").html(states);
                  $("#locations_state").trigger("chosen:updated");
                }
              })
        });

        $("#locations_state").on("change", function(e){
          e.preventDefault();
          $.ajax({
                url: '/get_cities',
                dataType: 'json',
                data: {state: $(this).val(), country: $("#locations_country").val()}
              })
              .done(function(result) {
                if (result.length > 0){
                  cities = "";
                  $.each(result, function(index, data){
                    cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
                  });
                  $("#locations_cities").html(cities);
                  $("#locations_cities").trigger("chosen:updated");
                }
              })
        });

      })(jQuery);
    </script>
<% end %>
