<section class="awe-parallax page-heading-event">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Events</h2></div>
  </div>
</section>
<section class="your-destinations-section-demo">
  <div class="container">
    <div class="col-md-8">
      <div class="your-destinations">
        <div class="your-destionations__top">
          <!--  <div class="title"><h2>Your Destinations</h2></div> -->
          <% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-plus"></i> Add New Event'.html_safe, "/destinations/#{@dest.id}/#{@dest.destination_name}/events/new", :class=>"btn btn-primary" %>
          <% end %>
          <div class="your-destinations__bar">
            <div class="order">
              <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
              <%= select :sort_by, "", AppConstants::SORTING_ARRAY, {class: "orderby awe-select", :selected=> sortby_val} %>
            </div>
          </div>
        </div>
        <div class="destination-list__content">
          <%
            dest_hash = AppUtils.destinations_mapping
          %>
          <% unless @events.nil? || @events.blank? %>
              <% @events.each do |event| %>
                  <%
                    main_image = get_single_image_from_image_modal(event.image)
                    image = main_image ? main_image.image.v_3x.url : ""
                  %>
                  <div class="destinations-item">
                    <div class="col-md-4 p0">
                      <div class="media-img"> <a href="/events/<%= event.destination.slug %>/<%= event.slug %>"><img src="<%= image %>" alt="<%= event.name %>"></a></div>
                      <div class="item-cat">
                        <ul>
                          <li><a href="#"><%= dest_hash[event.destination_id] %></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="item-body col-md-8">
                      <div class="item-title">
                        <div class="date">Created on <%= event.updated_at.to_date.strftime("%A %d, %Y") %>
                        </div>
                        <h2>
                          <a href="/events/<%= event.destination.slug %>/<%= event.slug %>">
                            <%= event.name %>
                          </a>
                        </h2>
                      </div>
                      <div class="item-description">
                        <div>
                          <%= Nokogiri::HTML(event.about).text.truncate(100) %>
                        </div>
                      </div>
                      <div class="item-footer">
                        <h4>Event Date</h4>
                       <div class="date-time">
                          <i class="fa fa-calendar-o"></i> <%= AppUtils.utc_time_to_local_time(event.start_date).strftime("%d-%m-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fa fa-clock-o"></i> <%= AppUtils.utc_time_to_local_time(event.start_date).strftime("%I:%M") %>&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fa fa-map-marker"></i> <a href="#" target="blank"> Map</a>
                        </div>
                      </div>
                      <div class="dropdown dest_drop">
                        <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                          <li><a href="/events/<%= event.destination.slug %>/<%= event.slug %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Event</a></li>
                          <% if admin_signed_in? %>
                            <li><a href="/destinations/<%= event.destination.id %>/<%= event.destination.destination_name %>/events/<%= event.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                            <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{event.destination.id}/#{event.destination.destination_name}/events/#{event.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                   
              <% end %>
          <% else %>
              <div >
                <h4>There is no events for the destination! Create New Event Details!</h4>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</section>

<script>
  $("#sort_by_").on("change", function(){
    var val = this.value;
    window.location.href = "/events/?sortby="+val;
  });
</script>