<section>
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li> <span> <%=  @event.name %></span></li>
      </ul>
    </div>
  </div>
</section>
<section class="event-show-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 event-div">
       <h2 class="text-primary"><a href="#"><%= @event.name %></a></h2>
          <div class="blog-social">
            <ul>
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
             <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
             <li><a href="mailto:info@airvtr.com"><i class="fa fa-envelope"></i></a></li>
            </ul>                  
          </div> 
          <div class="col-md-6 pull-right">
            <% unless @event.image.nil? %>
                <%
                  main_image = get_single_image_from_image_modal(@event.image)
                  image = main_image ? main_image.image.url : ""
                %>
                <%= image_tag image, :alt=>"", :class=>"img-responsive" %>
            <% else %>
                <%= image_tag "dest-dummy.jpg", :alt=>"", :class=>"img-responsive" %>
            <% end %>
          </div>
        <!--  <img src="<#%= @event.destination_image if @event.destination_image? %>" alt=""> -->
        <!--  <div class="item-cat">
                 <ul>
                   <li><a href="#"><%#= AppUtils.country_name_by_country_code(@event.destination_country) %></a></li>
                 </ul>
               </div> -->
        <div class="col-md-6">
          <!-- <div class="event-view">         
            <p><%= @event.about %></p>
          </div> -->
          <div class="event-view" align="center">           
           <div class="start"><i class="fa fa-calendar-o"></i>Start Date
              <div class="sdate">
                <%= AppUtils.utc_time_to_local_time(@event.start_date).strftime("%d-%m-%Y") %>
                <span class="stime">
                (<%= AppUtils.utc_time_to_local_time(@event.start_date).strftime("%I:%M") %>)
                </span> 
              </div>                
            </div>
            <div class="end"><i class="fa fa-calendar-o"></i>End Date
              <div class="sdate">
                <%= AppUtils.utc_time_to_local_time(@event.end_date).strftime("%d-%m-%Y") %>
                <span class="stime">
                (<%= AppUtils.utc_time_to_local_time(@event.end_date).strftime("%I:%M") %>)
                </span> 
              </div>                
            </div>
           
            <!--<center class="locate"><a href="#" target="blank"><i class="fa fa-map-marker"></i>Event Location</a></center>-->
          </div> 
           <p class="event-detail"><%= @event.detail %></p> 

        </div>

         <div class="clearfix"></div>
         <div class="event-view"> 
           <h4>Event Description</h4>        
           <p><%= @event.about %></p>
        </div>
        <div class="event-view">
          <h4>Event Location</h4>
          <div class="event-map row">
              <%= render :partial=> "home/gmaps_destination", :locals=> {marker_hash: "", origin: @destination }%>
            </div>
        </div>
        <% if admin_signed_in? %>
        <div class="footer-btns">
          <a href="/destinations/<%= @event.destination.id %>/<%= @event.destination.destination_name %>/events/<%= @event.id %>/edit" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
          <%= link_to 'Delete', "/destinations/#{@event.destination.id}/#{@event.destination.destination_name}/events/#{@event.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
