<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), :data=>{:no_turbolink=>"true"}%><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%#= link_to "Don't you have account? Sign up", new_registration_path(resource_name), :data=>{:no_turbolink=>"true"}%><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :data=>{:no_turbolink=>"true"}%><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), :data=>{:no_turbolink=>"true"}%><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <ul  class="oauth-link">
    <%- resource_class.omniauth_providers.each do |provider| %>

      <% if provider == :facebook %>
        <li>
          <%= link_to "<span class='icon-facebook'></span>".html_safe, customer_facebook_omniauth_authorize_path(provider), :data=>{:no_turbolink=>"true"}%>
        </li>

      <% elsif provider == :twitter %>
        <li>
          <%= link_to "<span class='icon-twitter'></span>".html_safe, customer_twitter_omniauth_authorize_path(provider), :data=>{:no_turbolink=>"true"}%>
        </li>
      <% elsif provider == :google_oauth2 %>
        <li>
          <%= link_to "<span class='icon-google'></span>".html_safe, customer_google_oauth2_omniauth_authorize_path(provider), :data=>{:no_turbolink=>"true"}%>
        </li>
      <% end %>
    <% end -%>
  </ul>
<% end -%>
