<div id="change-status-content" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_tag "/change-status", id: "change-status-form", remote: true do %>
          <ul class="list-unstyled status-list">
            <li>
              <textarea id="change-status-text" class="form-control" name="feel_msg" rows="10" required="true"><%= current_customer.feel_msg %></textarea>
              <input type="hidden" name="feeling" value="<%= Customer::FEELING_OTHERS %>" id="feeling_<%= Customer::FEELING_OTHERS %>">
            </li>
          </ul>
          <%= submit_tag "Update Status", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#change-status-content").on("shown.bs.modal", function(){
    $("#change-status-text").emojiPicker();
  }).modal()
  $("#change-status-form").validate({
    errorClass: "is-invalid",
    validClass: "is-valid",
    ignore: ":hidden"
  })
</script>