<% if comments.present? %>
	<% comments.each do |comment| %>
		<div class="post-author p-3">
			<% user = comment.customer %>
			<% if user.profile.present? && user.profile.avatar.present? %>
		    <div class="avtr">
		      <img src="<%= user.profile.avatar %>">
		    </div>
		  <% else %>
		    <div class="avtr">
		      <%= image_tag("noavatar.png") %>
		    </div>
		  <% end %>
			<div class="pl-4 author-title flex-grow-1">
		    <div class="d-flex justify-content-between">
		      <h6>
				    <%= user.fullname %>
		      </h6>
		      <small class="text-secondary">
		        <%= comment.created_at.strftime("%b %d, %Y") %>
		      </small>
		    </div>
		    <p class="mb-0">
		    	<%= comment.comment %>
		    </p>
			</div>
		</div>
	<% end %>
<% end %>