<div class="max500">
	<div class="my-2 px-5 d-flex justify-content-between">
    <a id="close-btn" class="btn btn-primary mt-4 ml-auto" href="/customers/<%= current_customer.id %>/posts" data-remote="true">Back</a>
  </div>

	<div class="my-2 px-5 d-flex justify-content-between">
    <div class="p-4">
		  <div class="form-group">
		    <%= label_tag "location" %>
		    <%= text_field :post, :location, class: "form-control", required: true, value: @post.address %>
		  </div>

  		<%= form_for(@post, url: "/posts/#{@post.id}/update", remote: true, html: { method: :post, :multipart => true }) do |f| %>
  			<div class="form-group">
  		    <%= f.label :name, "Title"  %>
  		    <%= f.text_field :name, class: "form-control", required: true %>
  		  </div>

  		  <div id="dz-field" class="form-group dropzone"></div>

  		  <div class="actions">
  		  	<%= f.hidden_field :customer_id %>
  		  	<%= f.hidden_field :address %>
          <%= f.hidden_field :city %>
          <%= f.hidden_field :state %>
          <%= f.hidden_field :country %>
  		    <%= f.submit "Update Post", :class=>"btn btn-md btn-primary", onclick: "return validateLocation()" %>
  		  </div>
  		</div>
  	<% end %>
  </div>
</div>

<script>
  var preloaded = <%= raw @post.post_images.map{ |img|  {id: img.id, src: img.image.url}  }.to_json %>
	$("div#dz-field").imageUploader({
		imagesInputName: "post_images",
    preloaded: preloaded
	});

	var placeSearch;
  var autocomplete;
  var componentForm = {
    street_number: "short_name",
    route: "long_name",
    locality: "long_name",
    administrative_area_level_1: "short_name",
    country: "long_name",
    postal_code: "short_name",
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById("post_location"),
      { types: ["geocode"] }
    );
    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete.setFields(["address_component"]);
    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete.addListener("place_changed", fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    var places = place.address_components
    var address = place.address_components.reduce(function(a, b){ 
    	return a + "," + b.long_name 
    }, "")

    places.forEach(function(pl){
      if( pl.types[0] == "administrative_area_level_1" ){
        $("#post_state").val(pl.short_name)
      }

      if( pl.types[0] == "administrative_area_level_2" ){
        $("#post_city").val(pl.short_name)
      }

      if( pl.types[0] == "country" ){
        $("#post_country").val(pl.short_name)
      }
    })

    $("#post_address").val(address)
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy,
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

  initAutocomplete();
</script>