<% unless @friends.nil? %>
	<section class="pl-5 py-5">
		<ul class="friends list-unstyled">
			<% @friends.each do |customer| %>
				<% unless customer.profile.nil? %>
					<li class="friend d-flex p-4 bg-white mb-4 justify-content-between align-items-center">
						<a href="/customers/<%= customer.id %>" class="d-flex flex-grow-0">
							<div class="avatar_wrap">
								<% unless customer.profile.avatar.url.nil? %>
									<img src="<%= customer.profile.avatar %>">
								<% else %>
									<%= image_tag "noavatar.png" %>
								<% end %>
							</div>
						</a>
						<div class="flex-grow-1 px-4">
							<h4 class="mb-0">
								<%= customer.fullname %>
							</h4>
							<div class="mt-2">
								<a class="friend-link" href="/traveler/<%= customer.username %>"><%= image_tag("eye.png") %> View Profile </a>
								<% if customer_signed_in? %>
									<a class="pl-4 friend-link" href="/conversations?sender_id=<%= current_customer.id %>&receiver_id=<%= customer.id %>"><%= image_tag("message.png") %> Message </a>
								<% end %>
							</div>
						</div>
						<% if customer_signed_in? && current_customer != customer%>
							<div class="flex-grow-0" id="follow-id-<%= customer.id %>">
								<% if current_customer.following?(customer) %>
									<a href="/customers/<%= customer.id %>/unfollow" class="primary-button" data-remote="true"> Unfollow </a>
								<% else %>
									<a href="/customers/<%= customer.id %>/follow" class="primary-button" data-remote="true"> Follow </a>
								<% end %>
							</div>
						<% elsif customer_signed_in? %>
						<% else %>
							<a href="/customers/<%= customer.id %>/follow" class="primary-button" data-remote="true"> Follow </a>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
<% else %>
	No Friends Yet
<% end %>