<div class="my-2 px-5 d-flex justify-content-between">
	<h4 class="mt-2 mb-0"><%= AppUtils.country_name_by_country_code(params[:country]) %></h4>
  <a id="close-btn" class="btn btn-primary mb-2 mt-4 ml-auto" href="/customers/<%= params[:customer_id] %>/gallery">Back</a>
</div>

<div class="mt-2">
	<div class="gallery-wrap px-5 py-2">
		<% if @gallery_images.present? %>
			<% grid = 0 %>
			<% @gallery_images.each do |gallery| %>
	      <div class="item grid_<%= grid % 6 %>">
        	<div class="gallery rounded mb-4">
        		<div class="gallery-title p-3">
			  			<div class="pl-4 author-title flex-grow-1">
			          <div>
			            <h6 class="mb-0">
			  				    <%= gallery.post.name %>
			            </h6>
			          </div>
			  			</div>
        		</div>

        		<div class="gallery-content">
  						<%= image_tag gallery.image, href: gallery.image.url %>
        		</div>
        	</div>
	      </div>
	      <% grid += 1 %>
	    <% end %>
	  <% else %>
	  	<div class="my-4 text-center">
	  		Gallery is empty
	  	</div>
	  <% end %>
	</div>
</div>

<script>
	$('.gallery-wrap').masonry({
	  itemSelector: '.item',
	  columnWidth: 300,
	  gutter: 20
	});

	$('.gallery-content img').magnificPopup({
		type:'image',
		gallery:{
	    enabled:true
	  }
	});
</script>
