<div class="ls p-4">
  <div class="side-menus">
    <ul class="side-menu list-unstyled text-left">
      <li style="margin-top: -11px;">
        <a class="<%= params[:controller] == "profiles" ? "active" : "" %>" href="/traveler/<%= @customer.username %>">
          <%= image_tag("user.png", class: "pr-3") %> About
        </a>
      </li>
      <!-- <li><a class="<%#= params[:controller] == "trips" ? "active" : "" %>" href="<%#= customer_trips_path(@customer.id) %>"><i class="fa fa-history"></i>  Travel History</a></li> -->

      <% if current_customer == @customer %>
        <li style="margin-top: -11px;">
          <a class="<%= params[:controller] == "conversations" ? "active" : "" %>" href="/conversations">
            <%= image_tag("msg.png", class: "pr-3") %> Messages
            <span id="unread-messages"><%= unread_messages %></span>
          </a>
        </li>

        <li style="margin-top: -11px;">
          <a class="<%= action_name == "notifications" ? "active" : "" %>" href="/notifications">
            <%= image_tag("notifications.png", class: "pr-3") %> Notifications
            <span id="unread-notifications"><%= @customer.user_notifications.unread_count %></span>
          </a>
        </li>
      <% end %>

      <li style="margin-top: -11px;">
        <a class="<%= params[:controller] == "travel_blogs" ? "active" : "" %>" href="/traveler/<%= @customer.username %>/travel_blogs">
          <%= image_tag("blogs.png", class: "pr-3") %> Travel Journals
        </a>
      </li>
      <li style="margin-top: -11px;">
        <a class="<%= params[:controller] == "collections" ? "active" : "" %>" href="/customers/<%= @customer.id %>/collections">
          <%= image_tag("collections.png", class: "pr-3") %> Collections
        </a>
      </li>

      <% if false %>
        <li>
          <a class="<%= params[:controller] == "wishlists" ? "active" : "" %>" href="/customers/<%= @customer.id %>/wishlists">
            <%= image_tag("left-wishlist.png", class: "pr-3") %>  Wishlists
          </a>
        </li>
        <li>
          <a class="<%= params[:controller] == "checkins" ? "active" : "" %>" href="/customers/<%= @customer.id %>/checkins">
            <%= image_tag("left-check.png", class: "pr-3") %>  Checked in
          </a>
        </li>
      <% end %>
      <!--  <li><a class="<#%= params[:controller] == "photos" ? "active" : "" %>" href="<%#= customer_photos_path(@customer.id) %>"><i class="fa fa-picture-o"></i>  Photos / Videos</a></li> -->
      <!--  <li>
        <a class="<%#= params[:controller] == "customers" ? "active" : "" %>" href="/customers/<%= @customer.id %>/friends">
          <i class="fa fa-users"></i>  Friends
        </a>
      </li> -->
    </ul>
  </div>
</div>
