<ul class="list-unstyled msg-author p-5">
  <% @notifications.each do |notification| %>
  	<li>
      <div>
        <% user = notification.friend %>
  			<% if user.profile.present? && user.profile.avatar.present? %>
          <div class="avtr">
            <img src="<%= user.profile.avatar %>">
          </div>
        <% else %>
          <div class="avtr">
            <%= image_tag("noavatar.png") %>
          </div>
        <% end %>
  			<div class="pl-4 author-title flex-grow-1">
          <div class="d-flex justify-content-between">
            <h6>
  				    <%= user.fullname %>
            </h6>
            <small class="text-secondary">
              <%= notification.created_at.strftime("%b %d, %Y %I:%m %p") %>
            </small>
          </div>
          <p class="mb-0">
            <%= notification_message(notification) %>
          </p>
  			</div>
      </div>
  	</li>  
  <% end %>
</ul>