<div class="max500">
  <% if create && customer_signed_in? && params[:customer_id].to_i == current_customer.id %>
    <div class="mt-4 mb-2 px-5 d-flex justify-content-between">
      <a class="btn btn-primary ml-auto" href="/customers/create-post" data-remote="true"><i class="fa fa-plus"></i> &nbsp;Create
        Post</a>
    </div>
  <% end %>

  <div class="post-wrap px-5 py-2">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div id="post_<%= post.id %>" class="item">
          <div class="post mb-4">
            <div class="post-author p-3">
              <% user = post.customer %>
              <% if user.profile.present? && user.profile.avatar.present? %>
                <div class="avtr">
                  <img src="<%= user.profile.avatar %>">
                </div>
              <% else %>
                <div class="avtr">
                  <%= image_tag("noavatar.png") %>
                </div>
              <% end %>
              <div class="pl-4 author-title flex-grow-1">
                <div class="d-flex justify-content-between">
                  <h6 class="pri-color">
                    <%= user.fullname %>
                  </h6>
                  <small class="sec-color">
                    <%= post.created_at.strftime("%b %d, %Y | %I:%M%P") %>
                  </small>
                </div>
                <p class="sec-color mb-0">
                  <strong class="pri-color"><%= post.name %></strong> from&nbsp;
                  <strong class="pri-color">
                    <%= image_tag("location.png", style: "vertical-align: text-top;") %>
                    <%= post.address.split(",")[1] %>
                  </strong>
                </p>
              </div>
            </div>

            <div class="post-content">
              <% images = post.post_images %>
              <% if images.present? %>
                <% images.each do |img| %>
                  <div class="img-wrap">
                    <a href="/posts/<%= post.id %>/show">
                      <%= image_tag img.image, href: img.image.url %>
                    </a>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="post-footer">
              <div class="d-flex">
                <a id="like_<%= post.id %>" href="/posts/<%= post.id %>/like" data-remote="true" class="pri-color">
                  <% votes_count = post.get_likes(current_customer) %>
                  <% if current_customer.voted_for?(post) %>
                    <%= image_tag "liked.png", style: "width: 20px;vertical-align:top" %> <span class="likes_count"><%= votes_count %> <%= "Like".pluralize(votes_count) %></span>
                  <% else %>
                    <%= image_tag "like.png", style: "width: 20px;vertical-align:top" %> <span class="likes_count"><%= votes_count %> <%= "Like".pluralize(votes_count) %></span>
                  <% end %>
                </a>
                <a class="pri-color ml-4" href="javascript:void(0)" data-toggle="modal" data-target="#share-modal" data-shareurl="<%= "#{request.scheme}://#{request.env["HTTP_HOST"]}/posts/#{post.id}/show" %>">
                  <%= image_tag "shareit.png", style: "height: 23px;vertical-align:top" %>
                </a>
                <a href="javascript:void(0)" class="ml-auto pri-color comments-toggler" onclick="$('#comments_<%= post.id %>').toggleClass('d-none')">
                  <%= post.comments.count %>
                  <%= "Comment".pluralize(post.comments.count) %>
                </a>
              </div>
              <div id="comments_<%= post.id %>" class="d-none p-3">

                <div class="comment_section">
                  <%= render(:partial => 'customers/comments', locals: {comments: post.comments}) %>
                </div>

                <%= form_for(post.comments.new, url: "/posts/#{post.id}/comment", remote: true) do |f| %>
                  <div class="form-group">
                    <%= f.text_field :comment, class: "form-control rounded", placeholder: "type your comment...", required: true %>
                  </div>

                  <div class="text-right">
                    <%= f.hidden_field :post_id %>
                    <%= f.hidden_field :customer_id, value: current_customer.id %>
                    <%= f.submit "Comment", class: "btn btn-primary" %>
                  </div>
                <%- end %>
              </div>
            </div>

            <% if create && post.customer == current_customer %>
              <a href="/posts/<%= post.id %>/edit" class="edit-post">
                <span class="fa fa-edit"></span>
              </a>
              <a href="/posts/<%= post.id %>/remove" class="remove-post" data-remote="true" data-confirm="Are you sure to remove Post">
                <span class="fa fa-trash"></span>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if params[:customer_id].to_i == current_customer.id %>
        <div class="my-4 text-center">
          Share your travel experience with your friends <a href="/customers/create-post" data-remote="true">here</a>
        </div>
      <% else %>
        <div class="my-4 text-center">
          No Posts
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="share"></div>
        <div id="copy-content" class="mt-5">
          <div class="input-group mb-3">
            <input type="text" id="short-url-input" class="form-control" readonly="readonly"aria-label="Shor URL" aria-describedby="short-url" value="">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="short-url" data-toggle="tooltip" data-placement="top" title="Copy URL" onclick="copyURL()">copy url</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('.post-content').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: false,
        variableWidth: false,
        arrows: false
    });
    // $('.img-wrap img').magnificPopup({
    //     type: 'image',
    //     gallery: {
    //         enabled: true
    //     }
    // });
    $("#share-modal").on("shown.bs.modal", function(e){
      $("#share").jsSocials({
        url: $(e.relatedTarget).data('shareurl'),
        shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
      });
      
      $.ajax({
        url: "/s/create",
        data: {
          url: $(e.relatedTarget).data('shareurl')
        },
        success:function(result){
          $("#short-url-input").val(result.url)
        }
      })
    })
</script>
