<% if @customers.present? %>
	<section>
		<ul class="friends list-unstyled">
			<% @customers.each do |customer| %>
				<% unless customer.profile.nil? %>
					<li class="friend d-flex p-4 bg-white mb-4 justify-content-between align-items-center">
						<a href="/traveler/<%= customer.username %>" class="d-flex flex-grow-0">
							<div class="avatar_wrap">
								<% unless customer.profile.avatar.url.nil? %>
									<img src="<%= customer.profile.avatar %>" class="avatar-img">
								<% else %>
									<%= image_tag "noavatar.png", class: "avatar-img" %>
								<% end %>
								<% status_url = customer.is_public? ? "public.png" : "private.png" %>
								<%= image_tag status_url, class: "profile-status" %>
							</div>
						</a>
						<div class="flex-grow-1 px-4 name-content">
							<h4 class="mb-0">
								<%= customer.fullname %>
							</h4>
							<div class="mt-2">
								<a class="friend-link" href="/traveler/<%= customer.username %>"><%= image_tag("eye.png") %> View Profile </a>
								<% if customer_signed_in? %>
									<% if customer.is_public? %>
										<a class="pl-4 friend-link" href="/conversations?sender_id=<%= current_customer.id %>&receiver_id=<%= customer.id %>"><%= image_tag("message.png") %> Message </a>
									<% end %>
								<% else %>
									<a class="pl-4 friend-link" href="/customers/signin"><%= image_tag("message.png") %> Message </a>
								<% end %>
							</div>
						</div>
						<% if customer_signed_in? && current_customer != customer %>
							<div class="flex-grow-0" id="follow-id-<%= customer.id %>">
								<% if current_customer.following?(customer) %>
									<a href="/customers/<%= customer.id %>/unfollow" class="primary-button" data-remote="true"> Unfollow </a>
								<% else %>
									<a href="/customers/<%= customer.id %>/follow" class="primary-button" data-remote="true"> Follow </a>
								<% end %>
							</div>
						<% elsif customer_signed_in? %>
						<% else %>
							<a href="/customers/<%= customer.id %>/follow" class="primary-button" data-remote="true"> Follow </a>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</section>
<% else %>
	<h1>Oops!</h1>
	<div>There is no Users visible </div>
<% end %>