<% if flash[:success].present? %>
	$("#follow-id-<%= params[:customer_id] %>").html('<a href="/customers/<%= current_customer.id %>/disconnect-users/<%= params[:customer_id] %>" class="primary-button" data-method="post" data-remote="true"> Unfollow </a>')
<% elsif !flash[:error].nil? %>
<% end %>