<%= render layout: "layouts/profile", locals: {is_fulscreen: true} do %>
  <div class="d-flex collection-cards flex-wrap pl-4 pt-4">
    <div class="collection-card wishlist-card">
      <a href="/customers/<%= params[:customer_id] %>/wishlists">
        <strong>Wishlist</strong>
        <div>
          <img src="<%= image_path('wishlist.png') %>" />
        </div>
        <p>
          <%= @wishlst_count %>
        </p>
      </a>
    </div>
    
    <div class="collection-card review-card">
      <a href="/customers/<%= params[:customer_id] %>/reviews">
        <strong>Reviews</strong>
        <div>
          <img src="<%= image_path('reviews.png') %>" />
        </div>
        <p><%= @reviews_count %></p>
      </a>
    </div>
    
    <div class="collection-card like-card">
      <a href="/customers/<%= params[:customer_id] %>/likes"> 
        <strong>Likes</strong>
        <div>
          <img src="<%= image_path('likes.png') %>" />
        </div>
        <p><%= @likes_count %></p>
      </a>
    </div>
    
    <div class="collection-card recommendation-card">
      <a href="/recommendation">
        <strong>Recommendations</strong>
        <div>
          <img src="<%= image_path('recommendations.png') %>" />
        </div>
        <p><%= 11 %></p>
      </a>
    </div>
  </div>
<% end %>
