<% if @comment.errors.present? %>
  error_msg = "<h4 class='notice ptopbot25'><%= pluralize(@comment.errors.count, "error") %> prohibited this Comment</h4><ul>";
  <% @comment.errors.full_messages.each do |message| %>
    error_msg += "<li><%= message %></li>";
  <% end %>
  error_msg += "</ul>";
  alertify.alert(error_msg);
<% else %>
	$(".new_comment")[0].reset()
	$("#comments_<%= params[:id] %> .comment_section").html("<%= escape_javascript(render(:partial => 'customers/comments', locals: {comments: @comments} )) %>");
<% end %>