<% if flash[:success].present? %>
  $("#follow-id-<%= params[:id] %>").html('<a href="/customers/<%= params[:id] %>/add-friend" class="primary-button" data-remote="true"> follow </a>')
<% elsif !flash[:error].nil? %>
<% end %>