<% if flash[:success].present? %>
	$("#follow-id-<%= params[:customer_id] %>").html('<a href="/customers/<%= params[:customer_id] %>/unfollow" class="primary-button" data-remote="true"> Unfollow </a>')
<% elsif !flash[:error].nil? %>
<% end %>