<%= render layout: "layouts/profile", locals: {is_fulscreen: true} do %>
	<div class="mt-5">
		<div class="gallery-wrap px-5 py-2">
			<% if @posts_by_country.present? %>
				<% grid = 0 %>
				<% @posts_by_country.each do |country, posts| %>
		      <div class="item grid_<%= grid % 6 %>">
	        	<div class="gallery rounded mb-4">
	        		<div class="gallery-title p-3">
				  			<div class="pl-4 author-title flex-grow-1">
				          <div>
				            <h6 class="mb-0">
				  				    <%= AppUtils.country_name_by_country_code(country) %>
				            </h6>
				            <small>
				            	<% image_count = PostImage.where(post_id: posts.pluck(:id)).count %>
				              <%= image_count %> <%= "Image".pluralize(image_count) %>
				            </small>
				          </div>
				  			</div>
	        		</div>

	        		<div class="gallery-content">
	        			<a href="/customers/<%= params[:customer_id] %>/gallery/<%= country %>" data-remote="true">
		        			<% images = posts.first.post_images %>
		        			<% if images.present? %>
		      					<% images.each do |img| %>
	        						<%= image_tag img.image, href: img.image.url %>
		        				<% end %>
		        			<% end %>
	        			</a>
	        		</div>
	        	</div>
		      </div>
		      <% grid += 1 %>
		    <% end %>
		  <% else %>
		  	<div class="my-4 text-center">
		  		Gallery is empty
		  	</div>
		  <% end %>
		</div>
	</div>

	<script>
		$('.gallery-wrap').masonry({
		  itemSelector: '.item',
		  columnWidth: 300,
		  gutter: 20
		});
	</script>
<% end %>