<% if current_customer.voted_for?(@post) %>
  $("#like_<%= params[:id] %>").find("img").attr('src', "<%= image_path('liked.png')%>")
<% else %>
  $("#like_<%= params[:id] %>").find("img").attr('src', "<%= image_path('like.png')%>")
<% end %>
<% votes_count = @post.get_likes(current_customer) %>
$("#like_<%= params[:id] %>").find(".likes_count").text("<%= votes_count %> <%= "Like".pluralize(votes_count) %>")