<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Likes</h2>
      </div>
    </div>
  </div>
 </section>
 <section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <div class=" row">
      <div class="col-lg-12 mt-2">
        <% @likes_data.each do |like| %>
        <div class="notification_main mt-4 mb-4" style="width: 950px;">
          <div class=" row notification">
            <div class="col-lg-2 col-xs-12 mb-0 text-center"> <img src="<%= like.customer.profile.avatar %>"></div>
            <div class="col-lg-6 col-xs-12 mb-0 justify-content-between">
              <h4 class="">You liked <strong><%= like.customer.first_name%>'s</strong> photo</h4>
            </div>
            <div class="col-lg-4 col-xs-12 mb-0 justify-content-between">
              <p>
                <%= current_customer.votes.find_by(votable_id: like).updated_at.strftime("%b %d, %Y %I:%m %p")%>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
