<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">blubeez Keeps Travelers Connected</h2>
      </div>
    </div>
  </div>
 </section>

<section class="pt-2 pb-5 bg-grey">
  <div class="container pt-5">
    <div class="row">
    	<div class="col-md-7">
  			<div method="post" class="d-block d-flex search-content">
          <input type="text" class="form-control pl-5" id="traveler-search" placeholder="Search Travelers">
          <%= image_tag "search.png", class: "search-img" %>
        </div>
    	<div class="pt-5">
			<%= will_paginate @customers,renderer: BootstrapPagination::Rails, class: "justify-content-end remove-focus pagination-space" if @customers.any? %>
          		<div id="main-content">
	      			<%= render partial: "customers/travellers" %>
				</div>
			</div>
			<%= will_paginate @customers,renderer: BootstrapPagination::Rails, class: "justify-content-end remove-focus pagination-space" if @customers.any? %>
		</div>
    	<div class="col-md-5">
    		<%= render partial: "customers/login_widget" %>
      </div>
    </div>
  </div>
</section>

<script>
	$("#traveler-search").on("keyup", function(e){
		if( this.value.length >= 2 ){

		} else {

		}

		$.ajax({
			url: "/travelers/search",
			data: {
				search: this.value.toString()
			},
			method: 'post'
		})
	})
</script>