<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Recommendations</h2>
      </div>
    </div>
  </div>
</section>

<section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <div class="recommendationstitle pb-2 pt-3">
      <h4>Places I Recommend in st Augestine</h4>
    </div>
    <div class="container">
      <div class=" row recommendations pt-2">
        <div class="col-lg-8 col-xs-11 mb-1">
          <div class="recom_lo_icon"><i class="fa fa-map-marker"></i></div>
          <div class="recom_address">
            <p>Sunshine play<br>
              1430 sunset blvd<br>
              St Augestine
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 d_txt_right starred mb-1">
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star-o "></span>
        </div>
        <div class="recomimg col-lg-12 mb-3"><%= image_tag "Stories@Buzz.png"%></div>
        <p class="recom_text col-lg-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when
          an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
      </div>
      <hr>
      <div class=" row recommendations pt-2">
        <div class="col-lg-8 col-xs-11 mb-1">
          <div class="recom_lo_icon"><i class="fa fa-map-marker"></i></div>
          <div class="recom_address">
            <p>Sunshine play<br>
              1430 sunset blvd<br>
              St Augestine
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 d_txt_right starred mb-1">
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star-o "></span>
        </div>
        <div class="recomimg col-lg-12 mb-3"><%= image_tag "blog01.jpg"%></div>
        <p class="recom_text col-lg-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when
          an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
      </div>
      <hr>
    </div>
  </div>
</section>