<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Reviews</h2>
      </div>
    </div>
  </div>
 </section>

<section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <div class=" row">
    <% @each_comment.each do |comment| %>
      <div class="col-lg-12 mt-0 mb-0">
        <div class="notification_main mt-4 mb-4 review2" style="width: 950px;">
          <h4 style="margin-top: -17px;"><%= comment.post.name.capitalize %></h4>
          <div class=" row ">
            <div class="col-lg-5 col-xs-12"><img src="<%= comment.post.post_images.first.image %>" alt="blubeez"/></div>
            <div class="col-lg-7 col-xs-12 pt-2">
              <div class="starred">
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star-o "></span>
              </div>
              <h5 class="reviewdate"><%= comment.created_at.strftime("%b %d, %Y %I:%m %p") %></h5>
              <p><%= comment.comment %>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>