<% if flash[:success].present? %>
  $("#follow-id-<%= params[:customer_id] %>").html('<a href="/customers/<%= params[:customer_id] %>/follow" class="primary-button" data-remote="true"> follow </a>')
<% elsif !flash[:error].nil? %>
<% end %>