<% if flash[:error].present? %>
	alertify.error("<%= flash[:error] %>");
  <% flash[:error] = nil %>
<% else %>
	<% if @post.errors.present? %>
	  error_msg = "<h4 class='notice ptopbot25'><%= pluralize(@post.errors.count, "error") %></h4><ul>";
	<% @post.errors.full_messages.each do |message| %>
	  error_msg += "<li><%= message %></li>";
	<% end %>
	  error_msg += "</ul>";
	  alertify.error(error_msg);
	<% else %>
	  alertify.success("Post <%= @post.name %> has been updated successfully");
	  <% flash[:notice] = nil %>
		$("#close-btn").click();
	<% end %>
<% end %>