<% if @hotel.present? %>
  $('#star').raty({
    readOnly: true,
    score: <%= @hotel.average_rating %>,
    path: '/assets'
  });
<% end %>
$('#user_star').raty({
  score: <%= @rating.score %>,
  path: '/assets',
  click: function(score, evt) {
    $.ajax({
      url: '/update_h_rating/' + <%= @rating.id %>,
      type: 'PATCH',
      data: { score: score }
    }).done(function (data){});
  }
});