<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= @data[:message] %></p>
<br/>
<br/>
<p><b><%= @data[:name] %></b></p>
<p><%= @data[:email] %> | <%= @data[:number] %></p>
</body>
</html>