<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= @data[:name] %></p>
<br/>
<br/>
<p><%= @data[:email] %></p>
<br/>
<br/>
<p><%= @data[:is_registered_with_blubeez] %></p>
<br/>
<br/>
<p><%= @data[:phone] %></p>
<br/>
<br/>
<p><%= @data[:fraud_against_person] %></p>
<br/>
<br/>
<p><%= @data[:fraud_against_url] %></p>
<br/>
<br/>
<p><%= @data[:message] %></p>
<br/>
<br/>
</body>
</html>