<section class="awe-parallax login-page-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
        <span>Welcome back</span>
        <h2>EXPLORER!</h2></div>
        <%= form_for(resource, as: resource_name, url: admin_session_path()) do |f| %>
          <div class="form-item">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form-item">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%#= f.check_box :remember_me %>
              <%= f.label :remember_me, '<input value="1" name="customer[remember_me]" id="customer_remember_me" type="checkbox">Remember Me'.html_safe %>
            </div>
          <% end -%>

          <div class="form-actions">
            <%= f.submit "Log in", class: "primary-button" %>
          </div>

          <div class="forgot-password text-center">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), :data=>{:no_turbolink=>"true"}, :class=>""  %><br />
            <% end -%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>