<% flash[:error] = resource.errors.full_messages.join("<br/>") %>
<%= render partial: "common/error_flash" %>
<section class="auth-wrap">
  <div class="login-register-page__content">
    <div class="tab-content" style="padding: 0; margin-top:0;">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <div class="content-title">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-item">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true %>
            </div>

            <div class="form-actions">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <div class="login-register-link mt-3">
            <%= render "customers/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
