<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
    	
    	<% if false %>
	    	<div class="col-lg-3 sidebar">
	    		<div class="sidebar-wrap bg-light ftco-animate">
	    			<h3 class="heading mb-4">Find City</h3>
	    			<form action="#">
	    				<div class="fields">
	              <div class="form-group">
	                <input type="text" class="form-control" placeholder="Destination, City">
	              </div>
	              <div class="form-group">
	                <div class="select-wrap one-third">
	                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  <select name="" id="" class="form-control" placeholder="Keyword search">
	                    <option value="">Select Location</option>
	                    <option value="">San Francisco USA</option>
	                    <option value="">Berlin Germany</option>
	                    <option value="">Lodon United Kingdom</option>
	                    <option value="">Paris Italy</option>
	                  </select>
	                </div>
	              </div>
	              <div class="form-group">
	                <input type="text" id="checkin_date" class="form-control" placeholder="Date from">
	              </div>
	              <div class="form-group">
	                <input type="text" id="checkin_date" class="form-control" placeholder="Date to">
	              </div>
	              <div class="form-group">
	              	<div class="range-slider">
	              		<span>
									    <input type="number" value="25000" min="0" max="120000"/>	-
									    <input type="number" value="50000" min="0" max="120000"/>
									  </span>
									  <input value="1000" min="0" max="120000" step="500" type="range"/>
									  <input value="50000" min="0" max="120000" step="500" type="range"/>
									  </svg>
									</div>
	              </div>
	              <div class="form-group">
	                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
	              </div>
	            </div>
	          </form>
	    		</div>
	    		<div class="sidebar-wrap bg-light ftco-animate">
	    			<h3 class="heading mb-4">Star Rating</h3>
	    			<form method="post" class="star-rating">
						  <div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">
									<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
								</label>
						  </div>
						  <div class="form-check">
					      <input type="checkbox" class="form-check-input" id="exampleCheck1">
					      <label class="form-check-label" for="exampleCheck1">
					    	   <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
					      </label>
						  </div>
						  <div class="form-check">
					      <input type="checkbox" class="form-check-input" id="exampleCheck1">
					      <label class="form-check-label" for="exampleCheck1">
					      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
					     </label>
						  </div>
						  <div class="form-check">
						    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					      <label class="form-check-label" for="exampleCheck1">
					      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
					      </label>
						  </div>
						  <div class="form-check">
					      <input type="checkbox" class="form-check-input" id="exampleCheck1">
					      <label class="form-check-label" for="exampleCheck1">
					      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
						    </label>
						  </div>
						</form>
	    		</div>
	      </div>
	    <% end %>

      <div class="col-lg-12">
      	<div class="row">
					<% @destinations.each do |destination| %>
						<%
              img_path = Destination.get_desination_image_by_main_image_or_secondary(destination)
            %>

	      		<div class="col-md-3 ftco-animate">
	    				<div class="destination">
	    					<a href="/destinations/<%= destination.slug %>" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(<%= img_path %>);">
	    						<div class="icon d-flex justify-content-center align-items-center">
										<span class="icon-search2"></span>
									</div>
	    					</a>

	    					<div class="text p-3">
	    						<div class="d-flex">
	    							<div class="one">
			    						<h3>
			    							<a href="/destinations/<%= destination.slug %>">
			    								<%= AppUtils.country_name_by_country_code(destination.destination_country) %>
			    							</a>
			    						</h3>

			    						<p class="rate">
			    							<% 
			    								stars = destination.average_rating.to_i
			    								unrated_stars = 5 - destination.average_rating.to_i
			    							%>
			    							<% stars.times do %>
			    								<i class="icon-star"></i>
			    							<% end %>
			    							<% unrated_stars.times do %>
			    								<i class="icon-star-o"></i>
			    							<% end %>
			    							<span><%= destination.ratings.length %> Rating</span>
			    						</p>
		    						</div>
	    						</div>
	    						<% if destination.destination_description.present? %>
	    							<p><%= Nokogiri::HTML(destination.destination_description).text.truncate(50) %></p>
	    						<% end %>
	    						<hr>
	    						<p class="bottom-area d-flex">
	    							<span><i class="icon-map-o"></i> <%= AppUtils.get_state_name_by_country(destination.destination_country, destination.destination_state) %>, <%= AppUtils.country_name_by_country_code(destination.destination_country) %></span> 
	    						</p>
	    					</div>
	    				</div>
	    			</div>
    			<% end %>
      	</div>

      	<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->