<div class="banner-area" style='background-image: url("<%= mailer_image_url("inactive-banner.png") %>")'></div>
<br/>
<br/>

<p class="strong">Hey,</p>
<br/>
<br/>

<p>
	A lot has been happening at blubeez while you were away. <br/>
	We’ve got hot new destinations waiting for you to explore. <br/>
	Our forum has been buzzing with trending discussions and <br/>
	reviews. Get back there and join the club!
</p>
<br/>
<br/>
<p>
	We’ll be excited to see you back!
</p>
<br/>
<br/>
<div class="text-center">
	<a href="https://www.blubeez.com" class="primary-button">Travel Again</a>
</div>