<body style="background: #fff;font-family: 'Poppins', sans-serif; color: #2a2f4d;padding: 0px; margin: 0px;">
	<div style="width: 60%; margin: 20px auto;">
		<div style="width: 20%;">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 180 42" style="enable-background:new 0 0 180 42;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#2499E0;}
					.st1{fill:#0B3F81;}
					.st2{fill:#3094DF;}
					.st3{opacity:0.5;}
				</style>
				<path class="st0" d="M67.7,11.9c1.7,0,3.2,0.4,4.5,1.1c1.3,0.7,2.4,1.8,3.1,3.1c0.7,1.3,1.1,2.8,1.1,4.4s-0.4,3.1-1.1,4.4
					c-0.7,1.3-1.8,2.4-3.1,3.1c-1.3,0.7-2.8,1.1-4.5,1.1c-1.4,0-2.8-0.3-4.1-1C63.5,28,63.3,28,63.2,28c-0.2,0-0.3,0-0.5,0.1
					c-0.2,0.1-0.3,0.1-0.4,0.3c-0.1,0.1-0.2,0.3-0.3,0.4h-3.3V6.5h4.5v6.8C64.5,12.4,66,11.9,67.7,11.9z M64.1,23.7
					C65,24.5,66,25,67.3,25c1.3,0,2.4-0.4,3.2-1.3c0.9-0.8,1.3-1.9,1.3-3.2c0-1.3-0.4-2.4-1.3-3.2c-0.9-0.8-1.9-1.3-3.2-1.3
					c-1.3,0-2.4,0.4-3.3,1.3c-0.9,0.9-1.3,1.9-1.3,3.2C62.8,21.8,63.2,22.9,64.1,23.7z"/>
				<path class="st0" d="M79.7,28.7V6.5h4.5v22.2H79.7z"/>
				<path class="st0" d="M96.1,29.1c-2.3,0-4.2-0.7-5.7-2c-1.4-1.3-2.2-3.1-2.2-5.3v-9.4h4.5v8.9c0,1.2,0.3,2.1,0.9,2.7
					c0.6,0.7,1.4,1,2.5,1c1,0,1.9-0.3,2.4-1c0.6-0.7,0.9-1.6,0.9-2.7v-8.9h4.5v9.4c0,2.2-0.7,4-2.1,5.3C100.4,28.5,98.5,29.1,96.1,29.1z
					"/>
				<path class="st0" d="M117.1,11.9c1.7,0,3.2,0.4,4.5,1.1c1.3,0.7,2.4,1.8,3.1,3.1c0.7,1.3,1.1,2.8,1.1,4.4c0,1.6-0.4,3.1-1.1,4.4
					c-0.7,1.3-1.8,2.4-3.1,3.1c-1.3,0.7-2.8,1.1-4.5,1.1c-1.4,0-2.8-0.3-4.1-1c-0.1-0.1-0.3-0.1-0.5-0.2c-0.2,0-0.3,0-0.5,0.1
					c-0.2,0.1-0.3,0.1-0.4,0.3c-0.1,0.1-0.2,0.3-0.3,0.4H108V6.5h4.5v6.8C113.9,12.4,115.4,11.9,117.1,11.9z M113.5,23.7
					c0.9,0.8,1.9,1.3,3.3,1.3c1.3,0,2.4-0.4,3.2-1.3c0.9-0.8,1.3-1.9,1.3-3.2c0-1.3-0.4-2.4-1.3-3.2c-0.9-0.8-1.9-1.3-3.2-1.3
					c-1.3,0-2.4,0.4-3.3,1.3c-0.9,0.9-1.3,1.9-1.3,3.2C112.2,21.8,112.6,22.9,113.5,23.7z"/>
				<path class="st0" d="M145.2,20.5c0,0.4,0,0.9-0.1,1.3h-12.6c0.2,1.1,0.6,2,1.4,2.6s1.6,0.9,2.7,0.9c0.7,0,1.4-0.2,2.1-0.5
					c0.6-0.3,1.1-0.8,1.4-1.4h4.7c-0.6,1.8-1.6,3.2-3.1,4.2c-1.5,1-3.2,1.6-5.1,1.6c-1.5,0-3.1-0.4-4.4-1.1c-1.3-0.7-2.4-1.8-3.1-3.1
					c-0.8-1.3-1.1-2.8-1.1-4.4c0-1.5,0.4-3,1.1-4.4c0.7-1.3,1.8-2.4,3.1-3.1c1.3-0.8,2.9-1.1,4.4-1.1c1.7,0,3.2,0.4,4.5,1.2
					c1.3,0.7,2.4,1.8,3.1,3.1C144.9,17.5,145.2,19,145.2,20.5z M136.6,15.7c-1,0-1.8,0.3-2.5,0.8c-0.7,0.5-1.2,1.3-1.4,2.3h8.1
					c-0.3-1-0.8-1.8-1.5-2.3C138.5,15.9,137.6,15.7,136.6,15.7z"/>
				<path class="st0" d="M164.6,20.5c0,0.4,0,0.9-0.1,1.3h-12.6c0.2,1.1,0.6,2,1.4,2.6s1.6,0.9,2.7,0.9c0.7,0,1.4-0.2,2.1-0.5
					c0.6-0.3,1.1-0.8,1.4-1.4h4.7c-0.6,1.8-1.6,3.2-3.1,4.2c-1.5,1-3.2,1.6-5.1,1.6c-1.5,0-3.1-0.4-4.4-1.1c-1.3-0.7-2.4-1.8-3.1-3.1
					c-0.8-1.3-1.1-2.8-1.1-4.4c0-1.5,0.4-3,1.1-4.4c0.7-1.3,1.8-2.4,3.1-3.1c1.3-0.8,2.9-1.1,4.4-1.1c1.7,0,3.2,0.4,4.5,1.2
					c1.3,0.7,2.4,1.8,3.1,3.1C164.2,17.5,164.6,19,164.6,20.5z M156,15.7c-1,0-1.8,0.3-2.5,0.8c-0.7,0.5-1.2,1.3-1.4,2.3h8.1
					c-0.3-1-0.8-1.8-1.5-2.3C157.8,15.9,157,15.7,156,15.7z"/>
				<path class="st0" d="M172.7,24.6h7v4.1H166v-0.5l7.1-11.8h-6.4v-4h13.1V13L172.7,24.6z"/>
				<path class="st1" d="M63.7,34.6v0.8h-2v5.7h-0.8v-5.7h-2v-0.8H63.7z"/>
				<path class="st1" d="M67.8,36.1h0.5v0.7h-0.5c-0.5,0-0.8,0.1-1.1,0.4c-0.3,0.3-0.4,0.7-0.4,1.2v2.7h-0.8v-5h0.6l0.1,0.8
					C66.6,36.3,67.1,36.1,67.8,36.1z"/>
				<path class="st1" d="M74.7,36.1h0.6v5h-0.7l-0.1-0.8c-0.2,0.3-0.5,0.5-0.9,0.6c-0.4,0.2-0.8,0.2-1.3,0.2c-0.4,0-0.9-0.1-1.2-0.3
					c-0.4-0.2-0.7-0.5-0.9-0.9c-0.2-0.4-0.4-0.9-0.3-1.3c0-0.3,0.1-0.7,0.2-1c0.1-0.3,0.3-0.6,0.6-0.9c0.2-0.2,0.5-0.4,0.9-0.6
					c0.3-0.1,0.7-0.2,1-0.2c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.6,0.4,0.9,0.6L74.7,36.1z M71.3,39.9c0.4,0.3,0.8,0.5,1.3,0.5
					s1-0.2,1.3-0.5c0.3-0.4,0.5-0.8,0.5-1.3s-0.2-1-0.5-1.3c-0.4-0.3-0.8-0.5-1.3-0.5s-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.8-0.5,1.3
					S70.9,39.6,71.3,39.9L71.3,39.9z"/>
				<path class="st1" d="M81.9,36.1h0.8l-2.2,5h-0.7l-2.2-5h0.8l1.7,4L81.9,36.1z"/>
				<path class="st1" d="M89.7,38.6c0,0.1,0,0.2,0,0.3h-4.4c0,0.4,0.3,0.8,0.6,1.1c0.3,0.3,0.8,0.4,1.2,0.4c0.3,0,0.7-0.1,0.9-0.2
					c0.3-0.2,0.5-0.4,0.7-0.6h0.9c-0.2,0.5-0.5,0.9-1,1.2c-0.4,0.3-1,0.4-1.5,0.4c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-0.9-0.9
					c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.9-0.3,1.3-0.3c0.5,0,0.9,0.1,1.4,0.4
					c0.4,0.2,0.7,0.6,0.9,1C89.6,37.7,89.7,38.2,89.7,38.6z M87.1,36.7c-0.4,0-0.8,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.6,1.1h3.6
					c-0.1-0.4-0.3-0.8-0.6-1.1C88,36.9,87.6,36.7,87.1,36.7z"/>
				<path class="st1" d="M92.3,41.1v-6.8h0.8v6.8H92.3z"/>
				<path class="st1" d="M100.8,38.6c0,0.1,0,0.2,0,0.3h-4.4c0,0.4,0.3,0.8,0.6,1.1c0.3,0.3,0.8,0.4,1.2,0.4c0.3,0,0.7-0.1,0.9-0.2
					c0.3-0.2,0.5-0.4,0.7-0.6h0.9c-0.2,0.5-0.5,0.9-1,1.2c-0.4,0.3-1,0.4-1.5,0.4c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-0.9-0.9
					c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.9-0.3,1.3-0.3c0.5,0,0.9,0.1,1.4,0.4
					c0.4,0.2,0.7,0.6,0.9,1C100.7,37.7,100.8,38.2,100.8,38.6z M98.3,36.7c-0.4,0-0.8,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.6,1.1h3.6
					c-0.1-0.4-0.3-0.8-0.6-1.1S98.7,36.7,98.3,36.7z"/>
				<path class="st1" d="M105.7,36.1h0.5v0.7h-0.5c-0.5,0-0.8,0.1-1.1,0.4c-0.3,0.3-0.4,0.7-0.4,1.2v2.7h-0.8v-5h0.6l0.1,0.8
					C104.5,36.3,105,36.1,105.7,36.1z"/>
				<path class="st1" d="M110,41.2c-0.6,0-1.1-0.1-1.5-0.4c-0.2-0.1-0.3-0.3-0.4-0.5c-0.1-0.2-0.2-0.4-0.2-0.7h0.8c0,0.1,0,0.3,0.1,0.4
					c0.1,0.1,0.2,0.2,0.3,0.3c0.3,0.2,0.6,0.3,0.9,0.2c0.3,0,0.6-0.1,0.9-0.2c0.1-0.1,0.2-0.1,0.2-0.2c0.1-0.1,0.1-0.2,0.1-0.3
					c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.1-0.1-0.2c-0.1-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.3-0.1
					c-0.1,0-0.2,0-0.3-0.1l-0.3,0c-0.1,0-0.1,0-0.3-0.1c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2-0.1-0.2-0.1
					c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.2c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.2,0-0.3
					c0-0.2,0-0.4,0.1-0.6c0.1-0.2,0.2-0.3,0.4-0.5c0.4-0.3,0.8-0.4,1.4-0.4c0.6,0,1,0.1,1.4,0.4c0.2,0.1,0.3,0.3,0.4,0.5
					c0.1,0.2,0.1,0.4,0.1,0.6h-0.8c0-0.1,0-0.2-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3c-0.3-0.2-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.8,0.2
					c-0.1,0.1-0.2,0.2-0.3,0.3c0,0.1,0,0.3,0,0.4c0,0.1,0.1,0.1,0.1,0.2c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1
					c0.1,0,0.2,0,0.3,0.1c0.1,0,0.2,0,0.3,0.1c0.4,0,0.7,0.1,1.1,0.3c0.2,0.1,0.4,0.2,0.6,0.4c0.1,0.2,0.2,0.4,0.2,0.7
					c0,0.1,0,0.1,0,0.2c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.4-0.4,0.5C111.1,41.1,110.6,41.2,110,41.2z"/>
				<path class="st1" d="M120.7,41.2c-0.5,0-0.9-0.1-1.4-0.3c-0.4-0.2-0.7-0.5-1-0.9c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3
					c0.2-0.4,0.6-0.7,1-0.9c0.4-0.2,0.9-0.3,1.4-0.3c0.6,0,1.1,0.2,1.6,0.5c0.4,0.3,0.8,0.8,0.9,1.3h-0.8c-0.1-0.3-0.4-0.6-0.7-0.8
					c-0.3-0.2-0.7-0.3-1-0.3c-0.2,0-0.5,0-0.7,0.1c-0.2,0.1-0.4,0.2-0.6,0.4c-0.3,0.4-0.5,0.8-0.5,1.3c0,0.5,0.2,1,0.5,1.3
					c0.2,0.2,0.4,0.3,0.6,0.4c0.2,0.1,0.5,0.1,0.7,0.1c0.4,0,0.7-0.1,1-0.3c0.3-0.2,0.5-0.5,0.7-0.8h0.8c-0.1,0.5-0.5,1-0.9,1.3
					C121.8,41.1,121.2,41.2,120.7,41.2z"/>
				<path class="st1" d="M127.9,41.2c-0.4,0-0.7-0.1-1-0.2c-0.3-0.1-0.6-0.3-0.9-0.6c-0.3-0.2-0.5-0.5-0.6-0.9c-0.1-0.3-0.2-0.7-0.2-1
					c0-0.5,0.1-0.9,0.4-1.3c0.2-0.4,0.6-0.7,1-0.9c0.4-0.2,0.9-0.3,1.4-0.3c0.5,0,1,0.1,1.4,0.3c0.4,0.2,0.7,0.5,1,0.9
					c0.2,0.4,0.4,0.9,0.4,1.3c0,0.5-0.1,0.9-0.4,1.3c-0.2,0.4-0.6,0.7-1,0.9C128.9,41.1,128.4,41.2,127.9,41.2z M126.6,39.9
					c0.3,0.3,0.7,0.6,1.2,0.6c0.5,0.1,0.9,0,1.3-0.3c0.4-0.2,0.7-0.6,0.8-1c0.1-0.4,0.1-0.9,0-1.3c-0.2-0.4-0.5-0.8-0.9-1
					c-0.4-0.2-0.9-0.3-1.3-0.2c-0.5,0.1-0.9,0.3-1.2,0.7c-0.3,0.4-0.5,0.8-0.5,1.2c0,0.2,0,0.5,0.1,0.7
					C126.3,39.5,126.4,39.8,126.6,39.9z"/>
				<path class="st1" d="M135.8,36c0.3,0,0.5,0,0.8,0.1c0.2,0.1,0.5,0.3,0.7,0.5c0.4,0.4,0.5,0.9,0.5,1.5v3H137v-2.8
					c0-0.5-0.1-0.9-0.4-1.2s-0.6-0.4-1-0.4c-0.2,0-0.4,0-0.6,0.1c-0.2,0.1-0.4,0.2-0.5,0.4c-0.3,0.3-0.5,0.8-0.4,1.2v2.7h-0.8v-5h0.6
					l0.2,0.8c0.2-0.3,0.5-0.5,0.8-0.7C135.1,36.1,135.4,36,135.8,36z"/>
				<path class="st1" d="M143.2,36c0.3,0,0.5,0,0.8,0.1c0.2,0.1,0.5,0.3,0.7,0.5c0.4,0.4,0.5,0.9,0.5,1.5v3h-0.8v-2.8
					c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1-0.4c-0.2,0-0.4,0-0.6,0.1c-0.2,0.1-0.4,0.2-0.5,0.4c-0.3,0.3-0.5,0.8-0.4,1.2v2.7h-0.8
					v-5h0.6l0.2,0.8c0.2-0.3,0.5-0.5,0.8-0.7C142.5,36.1,142.9,36,143.2,36z"/>
				<path class="st1" d="M152.9,38.6c0,0.1,0,0.2,0,0.3h-4.4c0,0.4,0.3,0.8,0.6,1.1c0.3,0.3,0.8,0.4,1.2,0.4c0.3,0,0.7-0.1,0.9-0.2
					c0.3-0.2,0.5-0.4,0.7-0.6h0.9c-0.2,0.5-0.5,0.9-1,1.2c-0.4,0.3-1,0.4-1.5,0.4c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-0.9-0.9
					c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.9-0.3,1.3-0.3c0.5,0,0.9,0.1,1.4,0.4
					c0.4,0.2,0.7,0.6,0.9,1C152.8,37.7,152.9,38.2,152.9,38.6z M150.3,36.7c-0.4,0-0.8,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.6,1.1h3.6
					c-0.1-0.4-0.3-0.8-0.6-1.1C151.2,36.9,150.7,36.7,150.3,36.7z"/>
				<path class="st1" d="M157.7,41.2c-0.5,0-0.9-0.1-1.4-0.3c-0.4-0.2-0.7-0.5-1-0.9c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3
					c0.2-0.4,0.6-0.7,1-0.9c0.4-0.2,0.9-0.3,1.4-0.3c0.6,0,1.1,0.2,1.6,0.5c0.4,0.3,0.8,0.8,0.9,1.3h-0.8c-0.1-0.3-0.4-0.6-0.7-0.8
					c-0.3-0.2-0.7-0.3-1-0.3c-0.2,0-0.5,0-0.7,0.1c-0.2,0.1-0.4,0.2-0.6,0.4c-0.3,0.4-0.5,0.8-0.5,1.3c0,0.5,0.2,1,0.5,1.3
					c0.2,0.2,0.4,0.3,0.6,0.4c0.2,0.1,0.5,0.1,0.7,0.1c0.4,0,0.7-0.1,1-0.3c0.3-0.2,0.5-0.5,0.7-0.8h0.8c-0.1,0.5-0.5,1-0.9,1.3
					C158.8,41.1,158.3,41.2,157.7,41.2z"/>
				<path class="st1" d="M164.8,40.4h0.6v0.7h-0.7c-0.6,0-1-0.2-1.3-0.5c-0.3-0.3-0.5-0.7-0.5-1.3v-2.6H162v-0.1l1.6-1.6h0.1v1.1h1.6
					v0.7h-1.6v2.5c0,0.3,0.1,0.6,0.3,0.8C164.2,40.3,164.5,40.4,164.8,40.4z"/>
				<path class="st1" d="M172.5,38.6c0,0.1,0,0.2,0,0.3h-4.4c0,0.4,0.3,0.8,0.6,1.1c0.3,0.3,0.8,0.4,1.2,0.4c0.3,0,0.7-0.1,0.9-0.2
					c0.3-0.2,0.5-0.4,0.7-0.6h0.9c-0.2,0.5-0.5,0.9-1,1.2c-0.4,0.3-1,0.4-1.5,0.4c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-0.9-0.9
					c-0.2-0.4-0.3-0.9-0.3-1.3c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.9-0.3,1.3-0.3c0.5,0,0.9,0.1,1.4,0.4
					c0.4,0.2,0.7,0.6,0.9,1C172.4,37.7,172.5,38.2,172.5,38.6z M169.9,36.7c-0.4,0-0.8,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.6,1.1h3.6
					c-0.1-0.4-0.3-0.8-0.6-1.1C170.8,36.9,170.3,36.7,169.9,36.7z"/>
				<path class="st1" d="M179.2,34.3h0.8v6.8h-0.6l-0.1-0.7c-0.2,0.3-0.5,0.5-0.9,0.6c-0.3,0.1-0.7,0.2-1.1,0.2c-0.4,0-0.7,0-1-0.2
					c-0.3-0.1-0.6-0.3-0.9-0.6c-0.2-0.2-0.4-0.5-0.6-0.9c-0.1-0.3-0.2-0.7-0.2-1c0-0.5,0.1-0.9,0.3-1.3c0.2-0.4,0.5-0.7,0.9-0.9
					c0.4-0.2,0.9-0.3,1.4-0.3c0.4,0,0.7,0.1,1.1,0.2c0.3,0.1,0.6,0.3,0.8,0.5L179.2,34.3z M176,39.9c0.4,0.3,0.8,0.5,1.3,0.5
					s1-0.2,1.3-0.5c0.3-0.4,0.5-0.8,0.5-1.3c0-0.5-0.2-1-0.5-1.3c-0.4-0.3-0.8-0.5-1.3-0.5s-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.8-0.5,1.3
					C175.5,39.1,175.7,39.6,176,39.9L176,39.9z"/>
				<path class="st1" d="M32.2,40.7l-0.4-0.2l-0.2-0.1l-0.4-0.2l-0.2-0.1L30.5,40L30.2,40l-0.4-0.2l-0.2-0.1l-0.5-0.2L29,39.4
					c-0.4-0.2-0.9-0.4-1.3-0.6l0,0c-0.2-0.1-0.4-0.2-0.6-0.3L27,38.4c-0.2-0.1-0.3-0.2-0.5-0.3L26.3,38c-0.2-0.1-0.3-0.2-0.5-0.3
					l-0.1-0.1c-0.2-0.1-0.3-0.2-0.5-0.3l-0.1-0.1c-0.2-0.1-0.4-0.2-0.6-0.3l0,0c-1.7-1.1-3.4-2.3-5-3.7c-0.2-0.1-0.3-0.3-0.5-0.4l0,0
					c-0.2-0.1-0.3-0.3-0.5-0.4l0,0c-0.1-0.1-0.3-0.3-0.4-0.4l-0.1-0.1c-0.1-0.1-0.3-0.3-0.4-0.4l-0.1-0.1c-0.1-0.1-0.2-0.2-0.4-0.4
					c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.2-0.4-0.4c0,0-0.1-0.1-0.1-0.1c-0.1-0.2-0.3-0.3-0.4-0.5c0,0.5,0.1,1.1,0.3,1.6
					c0.6,2.8,1,5.6,1,8.4v0.9c0.7-0.7,1.6-1.2,2.7-1.3c1-0.1,2,0,2.9,0.5c1.5,0.8,3.2,1.3,4.9,1.4c1.7,0.2,3.5,0,5.1-0.5
					c-0.2-0.1-0.4-0.1-0.7-0.2L32.2,40.7z"/>
				<path class="st0" d="M16.7,25.2c-0.5,1.6-0.7,3.2-0.5,4.9c4.6,5,10.4,8.8,16.9,11c1.6-0.5,3.1-1.3,4.4-2.4
					C29.2,36.7,21.8,31.9,16.7,25.2z"/>
				<path class="st1" d="M41.9,31.2c0.3-1.6,0.3-3.2,0-4.7c-3.5-0.6-6.8-2-9.7-4.1c-2.9-2.1-5.2-4.7-6.9-7.8L21.9,18
					C26.1,25,33.4,30,41.9,31.2z"/>
				<path class="st1" d="M19.3,20.6c-1.2,1.3-2,2.9-2.6,4.5c5.1,6.7,12.4,11.5,20.7,13.5c0.3-0.2,0.6-0.5,0.9-0.8c1-1,1.8-2.1,2.4-3.3
					c-4.4-0.7-8.6-2.3-12.2-4.8C24.8,27.4,21.7,24.3,19.3,20.6z"/>
				<path class="st0" d="M21.9,18.1L20,19.9c-0.2,0.2-0.4,0.5-0.7,0.7c2.4,3.7,5.5,6.8,9.2,9.2c3.7,2.4,7.9,4,12.2,4.8
					c0.5-1.1,0.9-2.2,1.1-3.3C33.4,30,26.1,25,21.9,18.1z"/>
				<path class="st0" d="M28,12l-2.7,2.6c1.7,3.1,4,5.8,6.9,7.8c2.9,2.1,6.2,3.5,9.7,4.1c-0.3-1.4-0.8-2.7-1.5-3.9
					c-2.7-0.8-5.2-2.1-7.4-4C30.9,16.8,29.2,14.6,28,12z"/>
				<path class="st2" d="M43.2,12.6c1.3,0,2.4-1,2.4-2.3C45.6,9,44.5,8,43.2,8c-1.3,0-2.4,1-2.4,2.3C40.8,11.6,41.9,12.6,43.2,12.6z"/>
				<path class="st1" d="M53.1,6.7h-2c-0.7,0-1.4-0.1-2-0.4c-0.6-0.3-1.2-0.6-1.7-1.1l0,0c-0.8-0.8-1.8-1.4-2.8-1.9
					c-1.1-0.4-2.2-0.7-3.4-0.7c-1.2,0-2.3,0.2-3.4,0.7c-1.1,0.4-2,1.1-2.8,1.9L28,12c1.2,2.5,2.9,4.8,5,6.6s4.7,3.2,7.4,4
					c-0.6-1-1.3-1.9-2.1-2.7l-1-0.9c1.3,0.6,2.8,0.9,4.3,0.9c1.5-0.1,2.9-0.5,4.2-1.3c1.3-0.8,2.3-1.9,3-3.1c0.7-1.3,1.1-2.7,1.1-4.2
					c0-0.8,0.2-1.6,0.6-2.3c0.4-0.7,1-1.3,1.7-1.7L53.1,6.7z"/>
				<path class="st0" d="M43.4,11.1c0-0.2,0.1-0.5,0.2-0.7c0.2-0.2,0.4-0.3,0.6-0.3s0.5,0,0.7,0.1c0.2,0.1,0.4,0.3,0.5,0.5
					c0.1-0.2,0.1-0.4,0.1-0.6c0-0.5-0.2-1-0.5-1.4c-0.3-0.4-0.8-0.7-1.3-0.8c-0.5-0.1-1.1-0.1-1.5,0.1c-0.5,0.2-0.9,0.6-1.1,1
					c-0.3,0.5-0.3,1-0.3,1.5c0.1,0.5,0.3,1,0.7,1.3c0.4,0.4,0.9,0.6,1.4,0.6c0.5,0,1.1-0.1,1.5-0.4c-0.3,0-0.5-0.1-0.7-0.3
					C43.6,11.6,43.4,11.4,43.4,11.1z"/>
				<path class="st0" d="M30.7,9.9c-0.8-1.6-2-3-3.5-4.1c-1.5-1.1-3.2-1.8-5-2.1L5.6,0.8C1.4,0.1-1.6,4.6,0.9,8l9.7,13.5
					c0.9,1.3,2.1,2.4,3.4,3.2c1.3,0.8,2.8,1.4,4.4,1.6c6.2,0.9,12.1-3.1,13.3-9.2C32.2,14.7,31.9,12.1,30.7,9.9z"/>
				<g class="st3">
					<g class="st3">
						<path class="st1" d="M32.9,8.8c-0.2-0.3-0.4-0.7-0.6-1l-1.7,1.7c0.1,0.1,0.1,0.2,0.2,0.3c1.1,2.3,1.5,4.8,1,7.3
							c-1.2,6-7.1,10.1-13.3,9.2c-0.6-0.1-1.3-0.2-1.9-0.4c-0.2,0.8-0.3,1.5-0.4,2.3c0.6,0.2,1.2,0.3,1.9,0.4c0.7,0.1,1.4,0.2,2.2,0.2
							c3.3,0,6.4-1.1,9-3.2s4.3-4.9,4.9-8C34.7,14.6,34.2,11.5,32.9,8.8z"/>
					</g>
				</g>
			</svg>
		</div>
		<div style="width: 100%; padding: 20px 0px; height: 300px;"> 
			<div style="position:absolute; width: 59%; text-align: center; margin-top:50px;"><h2 style="font-family: 'Poppins', sans-serif; color: #fff; font-size: 30px;">You + blubeez = Travel the world</h2>
			</div>
				<img src="images/blubee-banner.png" alt="" style="width:100%; background-size: cover; height: 300px;"/>
		</div>
			<div style="padding: 5px 0px;">
				<h3>Hello Traveler,</h3>
				<p style="font-weight: 400; font-size: 20px;">You are now part of the blubeez travellers community.<br>
					<strong>Meet</strong> People. <strong>Share</strong> Experiences. <strong>Explore</strong> Places. <br>
					Check out what you can do at blubeez.<br>
				</p>
			</div>
		
			<div style="padding: 5px 0px;">
				<h3>Where to go Next?</h3>
				<p style="font-weight: 400; font-size: 20px;">Find your next destination. Pick your next travel spot.</p>
			</div>

			<div style="padding: 5px 0px;">
				<h3>Chat up!</h3>
				<p style="font-weight: 400; font-size: 20px;">Join discussions. Share photographs. Find travel stories and a whole lot is happening in our travelers forum.</p>
			</div>

			<div style="padding: 5px 0px;">
				<h3>Rate and Recommend</h3>
				<p style="font-weight: 400; font-size: 20px;">Share your thoughts on favourite destinations, eateries, hotels and more..</p>
			</div>

			<div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
				<a href="#" style=" border-radius: 50px; padding: 15px 35px; color:#fff; text-decoration: none; tebackground: rgb(250,90,90);background: linear-gradient(90deg, rgba(250,90,90,1) 0%, rgba(254,169,148,1) 100%); " >Get Started</a>
			</div>	
	</div>
	<div style="padding: 60px 0px; text-align: center; color: #fff; background: rgb(13,64,130);background: linear-gradient(90deg, rgba(13,64,130,1) 0%, rgba(119,212,245,1) 100%);">	
		<p>Follow Us On</p>
		<a href="https://www.instagram.com/buzz.blubeez/" style="padding: 0px 5px;"><img src="images/icon_insta.png" width="39" height="39" alt=""/></a>
		<a href="https://www.facebook.com/buzzblubeez-101246905160711" style="padding: 0px 5px;"><img src="images/icon_fb.png" width="39" height="39" alt=""/></a>
		<a href="https://twitter.com/BBlubeez" style="padding: 0px 5px;"><img src="images/icon_twitter.png" width="39" height="39" alt=""/></a>       
	</div>
</body>