<% url_path = params[:action] == "new" ? customer_photos_path : customer_photo_path %>
<%= form_for(@photo, url: url_path) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :customer_id, :value=>"#{params["customer_id"]}" %>
  <div class="field">
    <%= f.label :trip_name %><br>
    <%= f.text_field :trip_name, :class=> "form-control" %>
  </div>
 <!--  <div class="field">
    <%#= f.label :location %><br>
    <%#= f.text_field :location %>
  </div> -->
  <div class="form-item">
    <%= label_tag :locations_country %>
    <%= select :locations, :country, AppUtils.country_list, {:selected=> "#{@location["country"] if !@location["country"].nil?}" }, class: "form-control" %>
  </div>
  <div class="form-item">
    <%= label_tag :locations_state %>
    <% state =  @location["country"].nil? ? {} : AppUtils.get_states_selectable_format(@location["country"]) %>
    <%= select :locations, :state, state, {:selected=> "#{@location["state"] if !@location["country"].nil?}"}, class: "form-control" %>
  </div>

  <div class="form-item">
    <%= label_tag :locations_cities %>
    <% cities =  @location["country"].nil? ? {} : AppUtils.get_cities_selectable_format(@location["country"], @location["state"]) %>
    <%= select :locations, :cities, cities, {:selected=> "#{@location["cities"] if !@location["country"].nil?}"}, class: "form-control" %>
  </div>

  <div class="form-item">
    <%= f.label :trip_description %><br>
    <%= f.text_area :trip_description, :class=> "form-control" %>
  </div>
  <div class="form-item">
    <%= f.label :attachments %><br>
    <%= f.file_field :attachments, :multiple => true %>
  </div>
  <div class="form-item">
    <%= f.label :videos %><br>
    <%= f.file_field :videos %>
  </div>
  <!-- <div class="form-item">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div> -->
  
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>

<script>
(function($){
  $("#locations_country, #locations_cities, #locations_state").chosen();
  $("#locations_country").on("change", function(e){
      e.preventDefault();
      $.ajax({
        url: '/get_states',
        dataType: 'json',
        data: {country: $(this).val()}
      })
      .done(function(result) {
        if (result.length > 0){
          states = "";
          $.each(result, function(index, data){
            states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
          });
          $("#locations_state").html(states);
          $("#locations_state").trigger("chosen:updated");
        }
      })
    });

    $("#locations_state").on("change", function(e){
      e.preventDefault();
      $.ajax({
        url: '/get_cities',
        dataType: 'json',
        data: {state: $(this).val(), country: $("#locations_country").val()}
      })
      .done(function(result) {
        if (result.length > 0){
          cities = "";
          $.each(result, function(index, data){
            cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
          });
          $("#locations_cities").html(cities);
          $("#locations_cities").trigger("chosen:updated");
        }
      })
    });

  })(jQuery);
  
</script>