
<% unless @photos.nil? || @photos.blank? %>
  <% @photos.each do |photo| %>
    <div class="post">
      <div class="post-body">
        <div class="post-meta">
          <div class="date"><%= photo.updated_at.to_date.strftime("%A %d, %Y") %></div>
          <% author = Customer.find(photo.customer_id)%>
          <div class="author">by <a href="<%= customer_path(photo.customer_id) %>"><%= author.name %></a></div>
          <div class="cat">
            <ul>
              <li><a href="<%= customer_trips_path(photo.customer_id) %>">Travel Gear</a></li>
            </ul>
          </div>
        </div>
        <div class="post-title">
          <h2>
          <a href="<%= customer_photo_path(params["customer_id"], photo.id) %>">
            <%= photo.trip_name %>, <%= photo.location %>
          </a>
          </h2>
        </div>
        <div class="post-content">
          <p><%= photo.trip_description %></p>
        </div>
        <div class="section-photo"> 
        <h5>Photos</h5>        
          <%
            storage_dir = photo.attachments[0].store_dir 
            images = AppUtils.seperate_muliple_images_from_array(photo.attachments[0].current_path) 
          %>
          <% images.each do |a| %> 
            <div class="col-md-3 photo-div">            
              <img src="/<%= storage_dir %>/<%= a %>" alt="Photos">  
            </div>  
          <% end %>  
          <div class="clearfix"></div>                 
        </div>
        <% unless photo.videos.blank? %>
        <div class="section-video">
        <h5>Videos</h5>
          <div class="col-md-3 photo-div">
            <video width="100%" controls>
              <source src="<%= photo.videos %>" type="video/mp4">
            </video>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
        <div class="post-link">
          <a href="<%= customer_photo_path(params["customer_id"], photo.id) %>" class="btn btn-orange" data-remote="true" >Show full Album</a>
           <% if customer_signed_in? && current_customer.id == @customer.id %>          
            <%= link_to 'Edit Album', edit_customer_photo_path(params["customer_id"], photo.id), :class=>"btn btn-orange", :remote=>true %> 
            <%= link_to 'Delete Album', customer_photo_path(params["customer_id"], photo.id), :class=>"btn btn-danger", method: :delete, :remote=>true, data: { confirm: 'Are you sure?' } %>          
        <% end %>
        </div>

       
      </div>
    </div>
  <% end %>

<% else %>
 <div class="text-left">
                <h4>You havn't created the album yet! Create your album now!</h4>
              </div>
<% end %>

<% if customer_signed_in? && current_customer.id == @customer.id %>
  <div class="pull-right">
    <%= link_to 'New Photo / Video', new_customer_photo_path, :remote=>true, :class=>"btn btn-primary"  %>
  </div>
  <div class="clearfix"></div>
<% end %>
<%#= link_to 'Back', customer_photos_path %>