

<p>
  <strong>Trip name:</strong>
  <%= @photo.trip_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Trip description:</strong>
  <%= @photo.trip_description %>
</p>

<p>
  <strong>Attachments:</strong>
  <%= @photo.attachments %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photo.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @photo.customer %>
</p>

<%= link_to 'Edit', edit_customer_photo_path(params["customer_id"], @photo) %> |
<%= link_to 'Back', customer_photos_path %>
