<!DOCTYPE html>
<html>
<head>
  <% if @seo_title.present? %>
    <title><%= @seo_title %></title>
  <% else %>
    <title>Blubeez</title>
  <% end %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @meta_desc %>">
  <meta name="keywords" content="<%= @meta_key %> "/>
  <link rel="canonical"  href="http://blubeez.com">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  <%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "v2/all", "data-turbolinks-track" => true %>

  <% if File.exists?("#{Rails.root}/public/cache/dynamic/dynamic_js_content.js") %>
    <script type="text/javascript" src="/cache/dynamic/dynamic_js_content.js"></script>
  <% end %>
  
  <%= csrf_meta_tags %>

  <script>
    var isHomePage = <%= ["home", "forum"].include?(params[:controller]) %>
  </script>
</head>
<body>

<%= render partial: "common/header" %>
<%= yield %>
<%= render partial: "common/footer" %>

<%= javascript_include_tag "v2/main.js", "data-turbolinks-track" => true %>

</body>
</html>