<%= render partial: "common/error_flash" %>
<section class="auth-wrap">
  <%= image_tag 'signin.png', class: "auth-wrap-img" %>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="auth-heading">Meet. Share. Explore.<br/> Discover.</h2>
        <p class="auth-subtitle">Enter the world of travel</p>
        
        <%= image_tag 'auth-img.png', class: "auth-gal-img" %>
      </div>
      <div class="offset-sm-2 col-sm-5">
        <div class="login-register-page__content">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link <%= params[:signup].present? ? "" : "active" %>" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true" style="background: white !important;">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= params[:signup].present? ? "active" : "" %>" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false" style="background: white !important;">Sign Up</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade <%= params[:signup].present? ? "" : "show active" %>" id="login" role="tabpanel" aria-labelledby="login-tab">
              <div class="content-title">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-item">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true %>
                </div>
                
                <div class="form-item">
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true %>
                </div>
                
                <% if devise_mapping.rememberable? -%>
                <div class="checkbox">
                  <%= f.label :remember_me, '<input value="1" name="customer[remember_me]" id="customer_remember_me" type="checkbox">Remember Me'.html_safe %>
                </div>
                <% end -%>
                
                <div class="form-actions">
                  <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                </div>
                
                <br />
                
                <div class="forgot-password">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), :data=>{:no_turbolink=>"true"}, :class=>""  %><br />
                  <% end -%>
                </div>
                <% end %>
                <div class="login-register-link">
                  <%= render "customers/shared/links" %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade <%= params[:signup].present? ? "show active" : "" %>" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-item">
                <%= f.label :first_name do %>
                  First Name  <lable style='color: red;'>*</lable>
                <% end %>
                <%= f.text_field :first_name, autocomplete: "on", autofocus: true, placeholder: "First Name", required: true, value: session[:first_name].present? ? session[:first_name] : nil %>
              </div>
              
              <div class="form-item">
                <%= f.label :last_name do %>
                  Last Name  <lable style='color: red;'>*</lable>
                <% end %>
                <%= f.text_field :last_name, autocomplete: "on", placeholder: "Last Name", value: session[:last_name].present? ? session[:last_name] : nil %>
              </div>
              
              <div class="form-item">
                <%= f.label :email do %>
                  Email  <lable style='color: red;'>*</lable>
                <% end %>
                <%= f.email_field :email, placeholder: "Email", required: true , value: session[:email].present? ? session[:email] : nil %>
              </div>
              
              <div class="form-item">
                <%= f.label :password do %>
                  Password  <lable style='color: red;'>*</lable>
                <% end %>
                <ul style="list-style-type: none;margin-left: -41px;">
                  <li class="submenu"><a href="#" id="submenu">See More ▼</a>
                    <ul class="ul_submenu" style="display: none;">
                      <li><a href="#">Password should have more than 8 characters</a></li>
                      <li><a href="#">Password should have 1 uppercaseletter</a></li>
                      <li><a href="#">Password should have 1 number </a></li>
                      <li><a href="#">Password should have 1 special character </a></li>
                    </ul>
                  </li>
                </ul>                
                <script>
                $(document).ready(function () {
                  $('#submenu').click(function(e){
                    e.preventDefault();
                    $("#submenu").text() !== "See Less ▲" ? $("#submenu").text("See Less ▲") : $("#submenu").text("See More ▼"); 
                    $(".ul_submenu").slideToggle();
                  });
                });
                </script>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true %>
              </div>
              
              <div class="form-item">
                <%= f.label :password_confirmation do %>
                  Password Confirmation  <lable style='color: red;'>*</lable>
                <% end %>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", required: true %>
              </div>
              <%= flash[:recaptcha_error] %>
              <%= recaptcha_tags style: "transform: scale(0.77);transform-origin:0 0;margin-left: 54px;"%>
              <%= f.hidden_field :user_status, :value=>1 %>
              <div class="form-actions">
                <%= f.submit "Sign Up", class: "btn btn-primary btn-block", style: "background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

