<% @destinations.each do |destination| %>
  <%
    storage_dir = destination.destination_image[0].store_dir
    images = AppUtils.seperate_muliple_images_from_array(destination.destination_image[0].current_path)
  %>
  <div class="destinations-item">
      <div class="col-md-4 p0">
          <div class="media-img">
              <img data-original="<%= " /#{storage_dir}/#{images[0]} " if destination.destination_image.present? %>" src="<%= image_path('grey.gif') %>" alt="">             
          </div>
          <% if customer_signed_in? %>
                  <a data-remote="true" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>" class="wishlist"><i class="fa fa-heart-o" title="Add to wishlist"></i></a>
                <% end %>
          <div class="item-cat">
              <ul>
                  <li>
                      <a href="#">
                          <%= AppUtils.country_name_by_country_code(destination.destination_country) %>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="item-body col-md-8">
        <div class="item-title">
            <h2>
              <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>"><%= destination.destination_name %></a>
              <!-- TODO UI need to be done -->
              <div class="help-block">
                <div id="user_star_<%= destination.id %>" data-score="<%= destination.average_rating %>"></div>
              </div>
            </h2>
        </div>
        <div class="item-description">
            <p>
                <%= Nokogiri::HTML(destination.destination_description).text.truncate(100) %>
            </p>
        </div>
        <div class="item-footer">
          <ul>
            <li>
              <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>/flights">
                <h6>Flight</h6>
                <p><i class="awe-icon awe-icon-plane"></i> <span class="count"><%= destination.flights.length %></span></p>
              </a>
            </li>
            <li>
              <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>/hotels">
                <h6>Hotel</h6>
                <p><i class="awe-icon awe-icon-hotel"></i> <span class="count"><%= destination.hotels.length %></span></p>
              </a>
            </li>
            <li>
              <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>/attractions">
                <h6>Attraction</h6>
                  <p><i class="awe-icon awe-icon-attraction"></i> <span class="count"><%= destination.attractions.length %></span></p>
              </a>
            </li>
            <li>
              <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>/events">
                <h6>Events</h6>
                <p><i class="awe-icon awe-icon-attraction"></i> <span class="count"><%= destination.events.length %></span></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="dropdown dest_drop">
        <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li>
            <a href="/destinations/<%= destination.id %>/<%= destination.destination_name %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Place</a>
          </li>
          <% if admin_signed_in? %>
          <li>
            <a href="/destinations/<%= destination.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
          </li>
          <li>
            <%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, destination, method: :delete, data: { confirm: 'Are you sure?' }%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
