<style>
  .bar {
    height: 18px;
    background: green;
  }
</style>

<% url_path = params["action"] == "new" ? "/destinations" : "/destinations/#{@destination.id}" %>
<%= form_for(@destination, url: url_path, :html => {:multipart => true} ) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%
    country = @destination.destination_country.present? ? @destination.destination_country : ""
    state = @destination.destination_state.present? ? @destination.destination_state : ""
    city =  @destination.destination_cities.present? ?  @destination.destination_cities : ""
  %>
  <div class="form-item">
    <%= f.label :destination_name %>
    <%= f.text_field :destination_name %>
  </div>
  <div class="form-item">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="form-item">
    <%= f.label :destination_country %>
    <%= f.select :destination_country, AppUtils.country_list, {:prompt=>"Choose Country", :selected=> country}, {} %>
  </div>
  <% state_arr = country.present? ? AppUtils.get_states_selectable_format(country) : ""%>
  <div class="form-item">
    <%= f.label :destination_state %>
    <%= f.select :destination_state, state_arr, {:prompt=>"Choose state", :selected=> state}, {} %>
  </div>
  <% city_arr = state.present? ? AppUtils.get_cities_selectable_format(country, state) : ""%>
  <div class="form-item">
    <%= f.label :destination_cities %>
    <%= f.select :destination_cities, city_arr, {:prompt=>"Choose City", :selected=> city}, {} %>
  </div>
  <!--<div class="form-item">-->
    <%#= f.label :main_image, "Primary Image" %>
    <%= f.hidden_field :main_image %>
    <%= hidden_field_tag :main_old_image, @destination.main_image if @destination.present? %>
  <!--</div>-->
  <!--<div class="form-item">-->
    <%#= f.label :destination_image %>
    <%= f.hidden_field :destination_image, name: "destination[destination_image]" %>
  <!--</div>-->
  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>
  <div class="form-item">
    <%= f.label :destination_category %>
    <%= f.select :destination_category, AppConstants::DESTINATION_CATEGORY, {:prompt=> "Choose Category"} %>
  </div>
  <div class="form-item">
    <%= f.label :best_for, "Best Season" %>
    <%= f.select :best_for, AppConstants::SEASON_ARR, {:prompt=> "Choose Season"} %>
  </div>
  <div class="form-item">
    <%= f.label :destination_description %>
    <%= f.text_area :destination_description, placeholder: "Description", :row=>10 %>
  </div>
  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_area :title, placeholder: "SEO Title", :row=>10 %>
  </div>
  <div class="form-item">
    <%= f.label :keywords %>
    <%= f.text_area :keywords, placeholder: "Seo Keywords", :row=>10 %>
  </div>
  <div class="form-item" >
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
  </div>
<%if false%>
  <div class="form-item" >
    <%= f.label :price_from %>
    <%= f.text_field :price_from %>
  </div>
<%end %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render :partial=> "common/images_multiple", :locals=>{:single_id=> "destination_main_image", :single_old=> "main_old_image", :multiple_id=>"destination_destination_image", :action_param=> "dest_id=#{@destination.present? ? @destination.id : "" }"  } %>




<script>
 $("#destination_destination_country, #destination_destination_state, #destination_destination_cities, #destination_destination_category").chosen();
   $("#destination_destination_country").on("change", function(e){
    e.preventDefault();
    $.ajax({
      url: '/get_states',
      dataType: 'json',
      data: {country: $(this).val()}
    })
    .done(function(result) {
      if (result.length > 0){
        states = "";
        $.each(result, function(index, data){
          states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
        });
        $("#destination_destination_state").html(states);
        $("#destination_destination_state").trigger("chosen:updated");
      }
    })
  });

  $("#destination_destination_state").on("change", function(e){
    e.preventDefault();
    $.ajax({
          url: '/get_cities',
          dataType: 'json',
          data: {state: $(this).val(), country: $("#destination_destination_country").val()}
        })
        .done(function(result) {
          if (result.length > 0){
            cities = "";
            $.each(result, function(index, data){
              cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
            });
            $("#destination_destination_cities").html(cities);
            $("#destination_destination_cities").trigger("chosen:updated");

          }
        })
  });
 
</script>