<div class="mt-5">
	<div class="gallery-wrap px-5 py-2">
		<% if @traveller_images.present? %>
			<% grid = 0 %>
			<% @traveller_images.each do |key, image_hash| %>
        <% image_hash["images"].each do |image| %>
  	      <div class="item grid_<%= grid % 6 %>">
          	<div class="gallery rounded mb-4">
          		<div class="gallery-title p-3">
  			  			<div class="pl-4 author-title flex-grow-1">
  			          <div>
  			            <h6 class="mb-0">
  			  				    <%= image_hash['name']%>
  			            </h6>
  			          </div>
  			  			</div>
          		</div>

          		<div class="gallery-content">
          			<a href="<%= image.images.url %>" class="fancybox" title="<%= image.desc %>">
  	        			<%= image_tag image.images.url %>
          			</a>
          		</div>
          	</div>
  	      </div>
        <% end %>
	      <% grid += 1 %>
	    <% end %>
	  <% else %>
	  	<div class="my-4 text-center">
	  		Be the first two post photos
	  	</div>
	  <% end %>
	</div>
</div>