<section class="your-destinations-section-demo">
  <div class="pt-5 bg-white pb-3">
    <div class="container">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <form action="/destinations" method="post" class="d-block d-flex" autocomplete="off">
          <div class="fields d-block d-flex">
            <div class="textfield-search one-third">
              <img src="<%= image_path('map.png')%>" class="location-img"/>
              <input type="text" class="form-control" id="home-search" placeholder="Ex: Places">
            </div>
            <input type="button" class="search-submit btn btn-primary" value="Search">
            <input type="hidden" name="search_data" value="true">
            <input type="hidden" name="search_type" value="Destinations">
          </div>
        </form>

        <div class="d-flex justify-content-between mt-5">
          <%= link_to "All", "/destinations-by-country?keyword=All", "data-turbolinks" => false, class: "pri-color font-weight-medium #{'active' if session[:keyword] == ""}" %>
          <% ('a'..'z').each do |letter| %>
            <%= link_to letter.upcase, "/destinations-by-country?keyword=#{letter.upcase}", "data-turbolinks" => false, class: "pri-color font-weight-medium #{'active' if session[:keyword].upcase == letter.upcase}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <div class="your-destinations">
        <%
          country_codes = @countries.sort
        %>
        <% if country_codes.present? %>
          <ul class="mt-5 list-unstyled">
            <% country_codes.each do |country| %>
              <% next if @destination_group[country.alpha2].nil? %>
              <li>
                <h4>
                <span class="flag-icon flag-icon-<%= country.alpha2.downcase %>"></span>
                  <span><%= country.name %></span>
                </h4>
                <ul class="px-5 pt-3 pb-4 list-unstyled country-sub d-flex flex-wrap">
                  <% destinations = @destination_group[country.alpha2] %>
                  <% destinations.each do |dest| %>
                    <li class="py-3"><a data-turbolinks="false" href="/destinations/<%= dest.slug %>"><%= dest.destination_name %></a></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>