<section class="awe-parallax register-page-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
				<h2 class="text-primary">Edit Destination</h2>
      </div>

			<%= render 'form' %>
			<div class="back-btn">
				<%= link_to 'Show',  "/destinations/#{@destination.slug}" , :class=>"btn btn-primary" %> &nbsp;&nbsp;
				<%= link_to '<< Back', "/destinations", :class=>"btn btn-primary" %>
      		</div>
			
		</div>
	</div>
</section>