$("#destinations_content").append("<%= escape_javascript(render(:partial=> "index"))%>");
<% if @destinations.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @destinations, renderer: BootstrapPagination::Rails  if @destinations.any? %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>