<section class="your-destinations-section-demo">
  <div class="pt-5 bg-white pb-3">
    <div class="container">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <form action="/destinations" method="get" class="d-block d-flex" autocomplete="off">
          <div class="fields d-block d-flex">
            <div class="textfield-search one-third">
              <img src="<%= image_path('map.png')%>" class="location-img"/>
              <input type="text" name="name" class="form-control" id="home-search" placeholder="Ex: Places">
            </div>
            <input type="submit" class="search-submit btn btn-primary" value="Search">  
          </div>
          <input type="hidden" name="search_data" value="true">
          <input type="hidden" name="search_type" value="Destinations">
        </form>

        <div class="d-flex justify-content-between mt-5">
          <%= link_to "All", "/destinations?starts_with=all", "data-turbolinks" => false, class: "pri-color font-weight-medium #{'active' if session[:starts_with] == ""}" %>
          <% ('a'..'z').each do |letter| %>
            <%= link_to letter.upcase, "/destinations?starts_with=#{letter}", "data-turbolinks" => false, class: "pri-color font-weight-medium #{'active' if session[:starts_with] == letter}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-7">
      <div class="your-destinations">
        <div class="your-destionations__top">
          <% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-plus"></i> Create New Destination'.html_safe, "/destinations/new", :class=>"btn btn-primary btn-dest mt-4", "data-turbolinks" => false %>
          <% end %>
          <% if false %>
            <div class="your-destinations__bar mt-5 mb-5">
              <div class="order">
                <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= AppConstants::SORTING_HASH[session[:sort_by]] %>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% AppConstants::SORTING_ARRAY.each do |item| %>
                      <a class="dropdown-item" href="/destinations/?sortby=<%= item[1] %>" data-turbolinks="false" ><%= item[0] %></a>
                    <% end %>
                  </div>
                </div>
                <%#= select :sort_by, "", AppConstants::SORTING_ARRAY, {class: "orderby awe-select", :selected=> sortby_val} %>
              </div>
            </div>
          <% end %>
        </div>
        <div id="destinations_content" class="mt-5 destination-list__content">
          <% @destinations.each do |destination| %>
            <div class="destinations-item mb-4 d-flex">
              <div>
                <div class="media-img">
                  <img src="<%= destination.image_url %>" class="dest-img" alt="<%= destination.destination_name %>">
                </div>
              </div>
              <div class="item-body p-3 flex-grow-1">
                <div class="item-title">
                  <h2 class="d-flex">
                    <div>
                      <a href="/destinations/<%= destination.slug %>" class="dest-title" data-turbolinks="false"><%= destination.destination_name %></a>
                      <div class="ln-12">
                        <small class="sec-color f-16">
                        <span class="flag-icon flag-icon-<%= destination.destination_country.downcase %>"></span>
                        <%= AppUtils.country_name_by_country_code(destination.destination_country) %></small>
                      </div>
                    </div>
                    <div class="ml-auto">
                      <% if customer_signed_in? %>
                        <a data-remote="true" id="wish_<%= destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>" class="wishlist ml-auto mr-1">
                          <% if destination.is_in_wishlist?(current_customer.id) %>
                            <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                          <% else %>
                            <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                          <% end %>
                        </a>
                        <a data-remote="true" id="checkin_<%= destination.id %>" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= destination.id %>" class="checkin">
                          <% if destination.is_checkedin?(current_customer.id) %>
                            <%= image_tag "checked-in.png", title: "Add to checkin" %>
                          <% else %>
                            <%= image_tag "check-in.png", title: "Add to checkin" %>
                          <% end %>
                        </a>
                      <% else %>
                        <a id="wish_<%= destination.id %>" href="/wishlists/auth" class="wishlist ml-auto mr-1">
                          <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                        </a>
                        <a id="checkin_<%= destination.id %>" href="/checkins/auth" class="checkin">
                          <%= image_tag "check-in.png", title: "Add to checkin" %>
                        </a>
                      <% end %>
                    </div>
                    <div class="help-block">
                      <!-- <div id="user_star_<%= destination.id %>" data-score="<%= destination.average_rating %>"></div> -->
                    </div>
                  </h2>
                </div>
                <!-- <div class="item-description"><p><%#= Nokogiri::HTML(destination.destination_description).text.truncate(50) %></p></div> -->
                <div class="item-footer mt-4">
                  <a href="/attractions/<%= destination.slug %>" data-turbolinks="false">
                    <span class="listing">Attractions</span>
                    <div><%= image_tag('attraction.png') %>&nbsp;&nbsp;<span class="count"><%= destination.attractions.length %></span></div>
                  </a>
                </div>
                <% if admin_signed_in? %>
                  <div class="dropdown dest_drop">
                    <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li><a href="/destinations/<%= destination.id %>/edit" data-turbolinks="false"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                      <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{destination.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div id="infinite-scrolling">
          <%= will_paginate @destinations, renderer: BootstrapPagination::Rails  if @destinations.any? %>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  if ($('#infinite-scrolling').size() > 0) {
    $(window).on('scroll', function () {
      var more_posts_url;
      more_posts_url = $('.pagination .next a').attr('href');
      if (more_posts_url && $(window).scrollTop() > $(document).height() - (2 * $(window).height())) {
        $('.pagination').html('<img src="<%= asset_path("ajax-loader.gif") %>" alt="Loading..." title="Loading..." />');
        $.getScript(more_posts_url);
      }
    });
  }
  (function(){
    $(".fl").on("click", function(e){
      var _that = this;
      $(_that).toggleClass("active");
      filterer();
    });

    // $("[id*='user_star_']").each(function(index, ele){
    //   $(ele).raty({
    //     readOnly: true,
    //     score: $(ele).data("score"),
    //     path: '/assets'
    //   });
    // });
    $("#sort_by_").on("change", function(){
      var val = this.value;
      window.location.href = "/destinations/?sortby="+val;
    });
  })($);
</script>