<section class="awe-parallax register-page-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">New Destination</h2>
      </div>

			<%= render 'form' %>

			<div class="">
				<%= link_to '<< Back', "/destinations", :class=>"btn login-register-link" %>
      </div>
		</div>
	</div>
</section>