<section class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-detail__info">
          <div class="product-title">
            <h2 class="pri-color pl-0"><%= @destination.destination_name %></h2>
             <% if customer_signed_in? %>
              <div class="d-flex mt-4">
                <% wishlist = Wishlist.where("customer_id = (?) AND destination_id = (?)", current_customer.id, @destination.id) %>
                <!-- <a data-remote="true"  data-toggle="tooltip" title="Add to wishlist" id="wish_<%= @destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= @destination.id %>" class="d-flex pl-0 col-6 wishlist align-items-center"> -->
                <!-- <a data-remote="true" id="checkin_<%= @destination.id %>" data-toggle="tooltip" title="I have been here" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= @destination.id %>" class="d-flex pl-0 col-6 checkin align-items-cente"> -->
                <a data-remote="true"  data-toggle="tooltip" title="Add to wishlist" id="wish_<%= @destination.id %>" href="javascript:void(0)" class="d-flex pl-0 pr-0 col-6 wishlist align-items-center">
                  <%= image_tag 'wishlist-added.png', style: "width:24px;height: 24px;", class: "mr-2" %>
                  <span id="whishlist_count" class="sec-color" style="line-height: 20px;"><%= whishlist_count %> Travlers added it to their wishlist</span>
                </a>
                <% checkin = Checkin.where("customer_id = (?) AND @destination_id = (?)", current_customer.id, @destination.id) %>
                <a data-remote="true" id="checkin_<%= @destination.id %>" data-toggle="tooltip" title="I have been here" href="javascript:void(0)" class="d-flex pr-0 col-6 checkin align-items-cente">
                  <%= image_tag 'checked-in.png', style: "width:24px;height: 24px;", class: "mr-2" %>
                  <span id="checkin_count" class="sec-color"><%= checkin_count %> People has visited this place</span>
                </a>
              </div>
            <% end %>
          </div>
          <% if false %>
            <div class="rating-trip-reviews">
              <div class="item">
                <%
                  if customer_signed_in?
                    @rating = Rating.where(destination_id: @destination.id, customer_id: current_customer.id).first
                  end
                %>
                <p>Average rating</p>
                <div id="star"></div>

                <script>
                  $('#star').raty({
                    readOnly: true,
                    score: <%= @destination.average_rating %>,
                    path: '/assets'
                  });
                </script>
              </div>
              <div class="item review_item" onclick="gotoReviewSection('reviews')">
                <h6>Reviews</h6>
                <% if @reviews.present? %>
                  <p><%= @reviews.count %> reviews</p>
                <% else %>
                  <p>No reviews yet</p>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="product-descriptions">
            <p>
              <%= @destination.destination_description %> 
            </p>
            <% if false %>
              <a href="/blog?name=<%= @tags %>&search_data=true&is_str=true">Read More..</a>
            <% end %>
          </div>
          <div class="property-highlights">
            <hr/>
            <div class="property-highlights__content dest-highlights d-flex">
              <% if false %>
                <!-- Disabling Temprorily as Usha told to hide -->
                <div class="item">
                  <a href="/destinations/<%= @destination.id %>/<%= @destination.destination_name %>/flights"><i class="fa fa-plane"></i>
                  <h6><span class="it"><%= @destination.flights.nil? ? 0 : @destination.flights.count %></span> Flights Available</h6></a>
                </div>
                <div class="item">
                  <a href="/destinations/<%= @destination.id %>/<%= @destination.destination_name %>/hotels"><i class="fa fa-building"></i>
                  <h6><span class="it"><%= @destination.hotels.nil? ? 0 : @destination.hotels.count %></span> Hotels Available</h6></a>
                </div> 
              <% end %>
              <div class="item">
                <a href="/destinations/<%= @destination.id %>/<%= @destination.destination_name %>/attractions">
                  <h6 class="pri-color">Attractions</h6>
                  <%= image_tag "attraction-lg.png" %>
                  <span class="it"><%= @destination.attractions.nil? ? 0 : @destination.attractions.count %></span>
                </a>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-detail__gallery">
          <div class="timezone">
            <% if @destination.latitude.present? %>
              <% timezone = AppUtils.get_time_zone_name(@destination.latitude, @destination.longitude) %>
              <% weather = AppUtils.get_current_weather_data_by_destination(@destination.latitude, @destination.longitude) %>
              <% if weather["cod"].to_i == 200 %>
                <% fahrenheit = AppUtils.convert_celcius_to_forenheit(weather["main"]["temp"]) %>
                <span class="localtime"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;<%= timezone[0] %>, <%= timezone[1] %> </span>
                <span class="temperature" title=""> <%= fahrenheit %>&deg;F / <%= weather["main"]["temp"] %>&deg;C &nbsp; <%= weather["weather"][0]["description"] %>
                  <%= image_tag("weather/#{AppConstants::WEATHER_FONT[weather["weather"][0]["icon"]]}.png") %> 
                </span> 
              <% end %>
            <% end %>
          </div>
          <div class="product-slider-wrapper">
            <div class="product-slider">
              <%
                main_image = @destination.image #get_single_image_from_image_modal(@destination.main_image)
              %>
              
              <% if main_image.present? %>
                <div class="item">
                  <img data-original="<%= main_image.image.url %>" src="<%= image_path('grey.gif') %>" alt="<%= @destination.destination_name %>">
                  <% if main_image.desc.present? %>
                    <p class="main-img-desc"><%= main_image.desc %></p>
                  <% end %>
                </div>
              <% else %>
                <%= image_tag "dest-dummy.jpg", :alt=>"#{@destination.destination_name}", :class=>"img-responsive" %>
              <% end %>
              <% fb_url  = "https://www.facebook.com/dialog/feed?link=#{request.url}&picture=http://#{request.env["HTTP_HOST"]}#{main_image.image.url if main_image.present?}&name=#{@destination.destination_name}&caption=#{@destination.destination_name}&description=#{Nokogiri::HTML(@destination.destination_description).text.truncate(100)}" %>
              <% tw_url  = "http://twitter.com/home?status=#{@destination.destination_name} #{request.url}" %>
              <% gp_url  = "https://plus.google.com/share?url=#{request.url}" %>
              <% pn_url  = "https://pinterest.com/pin/create/button/?url=#{request.url}&media=http://#{request.env["HTTP_HOST"]}#{main_image.image.url if main_image.present?}&description=#{Nokogiri::HTML(@destination.destination_description).text.truncate(100)}" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="product-slider-thumb owl-theme owl-carousel">
        <% if @destination.destination_images.present? %>
          <% @destination.destination_images.each do |image|%>
            <div class="item">
              <a href="<%= image.images %>" title="<%= image.desc %>" class="fancybox" rel="gallery1" >
                <div class="media-img">
                  <img data-original="<%= image.images %>" alt="<%= @destination.destination_name %>" src="<%= image_path('grey.gif') %>" data-id="<%= image.images %>">
                </div>
              </a>
            </div>
          <% end %>
        <% else %>
          <%= image_tag "dest-dummy.jpg", :alt=>"#{@destination.destination_name}", :class=>"img-responsive" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-tabs tabs">
          <ul>
            <li><a href="#tabs-1">Location Highlights</a></li>
            <li><a href="#tabs-2">Reviews &amp; Ratings</a></li>
            <li><a id="load_images" href="#tabs-3">Travelers Photos</a></li>
          </ul>
          <div class="product-tabs__content">
            <div id="tabs-1">
              <%= render :partial=> "home/gmaps_destination", :locals=> {marker_hash: @marker_hash, origin: @destination }%>
            </div>
            <div id="tabs-2">
              <div id="reviews">
                <% if false %>
                  <div class="rating-info">
                    <div class="average-rating-review good">
                      <span class="count"><%= @destination.average_rating %></span> <em>Average rating</em> <span>Good</span>
                    </div>
                    <a href="#" class="write-review">Write a review</a>
                  </div>
                <% end %>
                <div id="comments">
                  <ol id="comments-content" class="commentlist">
                    <% if @reviews.present? %>
                      <% @reviews.each do |rev| %>
                        <% customer_image = Profile.where(customer_id: rev.customer_id).first.avatar %>
                        <%
                          ratings = Rating.where("customer_id = ? AND destination_id = ? ",  rev.customer_id, rev.destination_id)
                          rating = ratings.present? ? ratings.first.score : 0 
                        %>
                        <li id="review_<%= rev.id %>" class="comment-parent">
                          <div id="review_a_<%= rev.id %>" class="comment-box d-flex">
                            <a  href="/customers/<%= rev.customer.id %>/profile">
                              <div class="avatar"><img src="<%= customer_image %>"></div>
                            </a>
                            <div class="comment-body flex-grow-1">                             
                              <p class="meta mb-0 d-flex"> 
                                <a  href="/customers/<%= rev.customer.id %>/profile">
                                  <strong><%= rev.customer.fullname %></strong>
                                </a>
                                <span class="time ml-auto"><%= rev.updated_at.to_datetime.strftime("%A %d, %Y %I:%M%P") %></span>
                              </p>
                              <% if false %>   
                                <div class="rating-info">
                                  <div id="star_<%= rev.id %>"></div>
                                  <script>
                                    $('#star_<%= rev.id %>').raty({
                                      readOnly: true,
                                      score: <%= rating %>,
                                      path: '/assets'
                                    });
                                  </script>
                                </div>                          
                              <% end %>
                              <div class="description">
                                <p><%= rev.comment %></p>
                                <a href="/vote/<%= rev.id %>" class="vote" data-remote="true"><i class="fa fa-thumbs-o-up"></i>
                                  <small><%= rev.vote %> likes</small>
                                </a>

                                <% if customer_signed_in? && current_customer.id == rev.customer_id %>
                                  <a class="ml-5" href="/reviews/<%= rev.id %>/edit" data-remote="true"> <i class="fa fa-pencil"></i>&nbsp;&nbsp;<small>Edit</small></a>
                                  <a href="/reviews/<%= rev.id %>" data-method="delete" data-confirm="are you sure to delete" class="ml-5"><i class="fa fa-trash"></i>&nbsp;&nbsp;<small>Remove</small></a>
                                <% end %>
                              </div>

                              <% if rev.tip.present? %>
                                <div class="description">
                                  <p><span class="orange">Tip:</span> <%= rev.tip %></p>
                                </div>
                              <% end %>

                              <%
                                images_data = []
                                images_data = get_images_from_image_modal(rev.images) if rev.images.present?
                              %>
                              <% if images_data.present? %>
                                <div id="review_img_<%= rev.id %>" class="upload_images">
                                  <% images_data.each do |image|%>
                                    <div class="rev-item">
                                      <a href="<%= image[1] %>" title="<%= image[1].model.desc %>" class="fancybox" rel="review_<%= rev.id %>" >
                                        <div class="media-img">
                                          <img data-original="<%= image[1] %>" src="<%= image_path('grey.gif') %>"  data-id="<%= image[0] %>">
                                        </div>
                                      </a>
                                    </div>
                                  <% end %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                          <div id="review_c_<%=  rev.id %>" class="edit_review"></div>
                        </li>
                      <% end %>
                    <% else %>
                    <% end %>
                  </ol>
                  <% if customer_signed_in? %>
                    <div class="mt-5">
                      <%= form_for(@review = Review.new, url: reviews_path, remote: true ) do |f|%>
                        <%= f.hidden_field :name, value: current_customer.id %>
                        
                        <div class="row">
                          <div class="comment-form-description col-md-8">
                            <%= f.text_area :comment, class: "text-area form-control" %>
                          </div>
                          <div class="col-md-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".image-modal-lg">
                              Upload images
                            </button>
                            <%=  f.submit "Submit review",  class: "btn btn-primary submit-review" %>
                          </div>
                        </div>
     
                        <% if false %>
                          <div id="add_tip" class="comment-form-author col-md-12 dp_none">
                            <%#= f.label :tip, '' %>
                            <%= f.text_field :tip, :placeholder=>"Tip.." %>
                          </div>
       
                          <div class="col-md-3">
                            <a id="add_tip_link" class="btn btn-orange" href="javascript:void(0)">Add a Tip</a>
                          </div>
                        <% end %>

                        <%= f.hidden_field :images, name: "review[images]" %>
                        <div class="comment-form-rating">
                          <% if false %>
                            <p>Your rating</p>
                            <div id="user_star"></div>
                            <script>
                              $('#user_star').raty({ 
                                score: <%= @rating.try(:score).present? ? @rating.score : 0 %>,
                                path: '/assets',
                                click: function(score, evt) {
                                  $.ajax({
                                    url: '/update_d_rating/<%= @rating.try(:id).present? ? @rating.id : "0?is_new=true&destination_id=#{@destination.id}"%>',
                                    type: 'PATCH',
                                    data: { score: score }
                                  }).done(function (data){});
                                }
                              });
                            </script>
                          <% end %>
                        </div>
                        <%= f.hidden_field :customer_id, :value=> current_customer.id %>
                        <%= f.hidden_field :destination_id, :value=> @destination.id %>
                      <% end %>
                    </div>
                  <% else %>
                    <h3 class="comment-reply-title">
                    <a href="/customers/sign_in" class="primary-color"><em>Login</em></a> to write your review</h3>
                  <% end %>
                </div>
              </div>
            </div>
            <div id="tabs-3">
              <%#= render :partial=> "traveller_photos" %>
            </div>
          </div>
        </div>
        <% if admin_signed_in? %>
          <div class="footer-btns">
            <a href="/destinations/<%= @destination.id %>/edit" class="btn btn-primary" data-turbolinks="false">Edit</a>
            &nbsp;&nbsp;
            <%= link_to 'Delete', "/destinations/#{@destination.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"%>
          </div>
        <% end %>
      </div>
      <% if false %>
        <div class="col-md-6">       
          <h5>Tags</h5>
          <% tags = @tags.split("|") %>
          <div class="tagcloud">
            <% tags.each do |tag|%>
              <span><a href="/blog?name=<%= tag %>&search_data=true"><%= tag %></a></span>
            <% end %>
          </div>    
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="modal fade image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render :partial=> "common/multiple_template", :locals=>{ form_id: "fileupload-multiple", :multiple_id=> "review_images", :action_param=> "rev_id=#{@review.present? ? @review.id : ""}" } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="share"></div>
        <div id="copy-content" class="mt-5">
          <div class="input-group mb-3">
            <input type="text" id="short-url-input" class="form-control" readonly="readonly"aria-label="Shor URL" aria-describedby="short-url" value="<%= ShortLink.shorten(request.url) %>">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="short-url" data-toggle="tooltip" data-placement="top" title="Copy URL" onclick="copyURL()">copy url</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="social-buttons">
  <ul>
    <li class="share-icon">
      <%= link_to('<i class="fa fa-share-alt"></i>'.html_safe, "javascript:void(0)", "data-toggle"=> "modal", "data-target" => "#share-modal") %>
    </li>
    <% if false %>
      <% #TODO: Old share button approach %>
      <i style="font-size:16px;" class="fa fa-share-alt"></i>
      <li class="facebook">
        <%= link_to('<i class="fa fa-facebook-square"></i>'.html_safe, fb_url, :target => :blank) %>
      </li>
      <li class="twitter">
        <%= link_to('<i class="fa fa-twitter-square"></i>'.html_safe, tw_url, :target => :blank) %>
      </li>
      <li class="gplus">
        <%= link_to('<i class="fa fa-google-plus-square"></i>'.html_safe, gp_url, :target => :blank) %>
      </li>

      <li class="pinterest">
        <%= link_to('<i class="fa fa-pinterest-square"></i>'.html_safe, pn_url, :target => :blank) %>
      </li>
      <li class="mail">
        <%= link_to '<i class="fa fa-envelope-square"></i>'.html_safe, 'javascript:void(0)', :target => :blank, data: {toggle:"modal", target:"#share-modal"} %>
      </li>
    <% end %>

  </ul>
</div>
<script>
 $(document).ready(function() {
  $(".fancybox").fancybox({
    openEffect  : 'elastic',
    closeEffect : 'elastic',
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
  $('[data-toggle="tooltip"]').tooltip();
  
  lazy();
  $("#add_tip_link").on("click", function(){
    $("#add_tip").slideToggle(300);
   /* $(this).hide();*/
  });
  $("#load_images").on("click", function(){
    $.ajax({
      url: "/destinations/<%= @destination.id %>/traveller_images.js"
    })
  })
  
  $("#share-modal").on("shown.bs.modal", function(e){
    $("#share").jsSocials({
      url: window.location.href,
      shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
    });
  })
});

$( ".product-tabs" ).on( "tabsactivate", function( event, ui ) {
  if( $(ui.newPanel).is("#tabs-3") ){
    $('.gallery-wrap').masonry({
  	  itemSelector: '.item',
  	  columnWidth: 300,
  	  gutter: 20
  	});
    
    $(".fancybox").fancybox({
      openEffect  : 'elastic',
      closeEffect : 'elastic',
      helpers   : {
        title : { type : 'inside' },
        buttons : {}
      }
    });
  }
} );

</script>