@font-face {
	font-family: 'aweicon';
	src:font_url('fonts/icomoon22a0.eot?-oy23lq');
	src:font_url('fonts/icomoond41d.eot?#iefix-oy23lq') format('embedded-opentype'),
		font_url('fonts/icomoon22a0.woff?-oy23lq') format('woff'),
		font_url('fonts/icomoon22a0.ttf?-oy23lq') format('truetype'),
		font_url('fonts/icomoon22a0.svg?-oy23lq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.awe-icon {
	display: inline-block;
	letter-spacing: normal;
}
[class^="awe-icon-"], [class*=" awe-icon-"] {
	font-family: 'aweicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.awe-icon-nature:before {
	content: "\e609";
}

.awe-icon-phone:before {
	content: "\e608";
}

.awe-icon-bus:before {
	content: "\e600";
}

.awe-icon-briefcase:before {
	content: "\e601";
}

.awe-icon-hotel:before {
	content: "\e602";
}

.awe-icon-train:before {
	content: "\e603";
}

.awe-icon-plane:before {
	content: "\e604";
}

.awe-icon-car:before {
	content: "\e605";
}

.awe-icon-marker-1:before {
	content: "\e606";
}

.awe-icon-check:before {
	content: "\e60a";
}

.awe-icon-arrow-right:before {
	content: "\e60b";
}

.awe-icon-food:before {
	content: "\e60c";
}

.awe-icon-bed:before {
	content: "\e60d";
}

.awe-icon-wifi:before {
	content: "\e60e";
}

.awe-icon-close-o:before {
	content: "\e60f";
}

.awe-icon-cart:before {
	content: "\e610";
}

.awe-icon-grid:before {
	content: "\e611";
}

.awe-icon-list:before {
	content: "\e612";
}

.awe-icon-search:before {
	content: "\e613";
}

.awe-icon-entertain:before {
	content: "\e614";
}

.awe-icon-music:before {
	content: "\e615";
}

.awe-icon-culture:before {
	content: "\e616";
}

.awe-icon-bag:before {
	content: "\e617";
}

.awe-icon-briefcase-plus:before {
	content: "\e618";
}

.awe-icon-attraction:before {
	content: "\e619";
}

.awe-icon-unlock:before {
	content: "\e61a";
}

.awe-icon-beds:before {
	content: "\e61b";
}

.awe-icon-laundry:before {
	content: "\e61c";
}

.awe-icon-shower:before {
	content: "\e61d";
}

.awe-icon-key:before {
	content: "\e61e";
}

.awe-icon-tv:before {
	content: "\e61f";
}

.awe-icon-north-america:before {
	content: "\e620";
}

.awe-icon-south-america:before {
	content: "\e621";
}

.awe-icon-europe:before {
	content: "\e607";
}

.awe-icon-australia:before {
	content: "\e622";
}

.awe-icon-asia:before {
	content: "\e623";
}

.awe-icon-antarctica:before {
	content: "\e624";
}

.awe-icon-africa:before {
	content: "\e625";
}

.awe-icon-spring:before {
	content: "\e626";
}

.awe-icon-summer:before {
	content: "\e627";
}

.awe-icon-winter:before {
	content: "\e628";
}

.awe-icon-autumn:before {
	content: "\e629";
}

.awe-icon-gym:before {
	content: "\e62a";
}

.awe-icon-level:before {
	content: "\e62b";
}

.awe-icon-info:before {
	content: "\e62c";
}

.awe-icon-user:before {
	content: "\e62d";
}

.awe-icon-plus:before {
	content: "\e62e";
}

.awe-icon-marker-2:before {
	content: "\e62f";
}

.awe-icon-users:before {
	content: "\e630";
}

.awe-icon-pool:before {
	content: "\e632";
}

.awe-icon-meal:before {
	content: "\e633";
}

.awe-icon-calendar:before {
	content: "\e634";
}

