.masonry-section-demo {
	margin: 70px 0;
}
.trip-flight-hotel-section-demo,
.sale-flights-section-demo {
	margin-top: 30px;
	margin-bottom: 200px;
}
.masonry-section-demo .more-destination {
	background-image: asset_url("img/bg-button.jpg");
}
.travelling-block-section-demo {
	background-image: asset_url("img/17.jpg");
}
.category-heading-section-demo {
	background-image: asset_url("img/3.jpg");
}
.login-page-demo {
	background-image: asset_url("bg/1.jpg");
}
.register-page-demo {
	background-image: asset_url("bg/2.jpg");
}
.page-heading-demo {
	background-image: asset_url("img/16.jpg");
}
.more-destination {
	background-image: asset_url("img/bg-button.jpg");
}
.widget_background__half .bg {
	background-image: asset_url("img/2.jpg");
}

.your-destinations-section-demo {
	margin-top: 50px;
	margin-bottom: 150px;
}
.checkout-section-demo {
    padding-top: 62px;
    padding-bottom: 140px;
}