@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-regular'), font_url("fonts/Lato-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), font_url("fonts/Lato-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'), local('Oswald'), font_url("fonts/Oswald-Regular.ttf") format('truetype');
}
