$primary_color:#e8790c;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin box-shadow($boxshadow) {
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow: $boxshadow;
    -ms-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

%avtr_position {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    /* @include border-radius(100%); */
    position: absolute;
    left: 0px;
    right: 0px;
}

%reset-ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.orange{
    color:$primary_color;
}
.categories_sec {
    ul.jqtree_common {
        list-style-type: none;
        li {
            margin-bottom: 5px !important;
            &:before {
                display: none !important;
            }
            ul.jqtree_common {
                margin-top: 5px;
            }
            div {
                display: inline;
            }
        }
    }
}
.product-tabs__content .awe-masonry .awe-masonry__item{
    .item-title {
        top: 15px;
        left: 15px;
        padding: 25px;
        height: auto;
        width: auto;
        max-width: 100%;
        border-bottom-right-radius: 85px;
        background-color: rgba(232, 121, 12, 0.5);
    }
}
.product-tabs__content .awe-masonry .awe-masonry__item:nth-child(3) .item-title, 
.product-tabs__content .awe-masonry.item-1 .awe-masonry__item .item-title {
    top: 15px;
    left: 15px;
}

.pull-btn-margin {
    margin-top: 10px;
}

.post-btn {
    width: 100%;
    border-radius: 3px;
}

.login-register-page__content form .form-item select,
.login-register-page__content form .form-item textarea {
    width: 100%;
}

.login-register-page__content .content-title h2 {
    text-shadow: 1px 1px 1px #fff;
}

.dp_none {
    display: none;
}

.flights-bar {
    margin-bottom: 20px;
    select {
        height: 32px;
    }
}

.avatar {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 150px;
    .avtr {
        @extend %avtr_position;
        height: 150px;
        img {
            width: 100%;
            height: 150px;
        }
    }
    .change_link {
        @extend %avtr_position;
        line-height: 150px;
        color: #fff;
        font-size: 0px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 25px;
        }
    }
}

.user_profile {
    margin-top: 50px;
    margin-bottom: 50px;
    .ls .side-menus {
        margin-bottom: 25px;
        ul.side-menu {
            @extend %reset-ul;
            @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
            li {
                background-color: #fff;
                border-bottom: 0px solid #f1f2f1;
                margin-bottom: 1px;
                a {
                    display: block;
                    padding: 10px 10px 10px 20px;
                    font-size: 16px;
                    color: inherit;
                    &.active {
                        color: $primary_color;
                        border-left: 2px solid $primary_color;
                    }
                    &:hover {
                        @include transition(all 0.5s ease-in-out);
                    }
                    i {
                        margin-right: 10px;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    .rs {
        margin-top: 0px !important;
        .right_content {
            background-color: #fff;
            @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
            padding: 30px;
            margin-bottom: 25px;
            .login-register-page__content {
                padding: 0px 0 135px 0;
                float: none;
                .content-title h2 {
                    font-size: 36px;
                }
            }
        }
    }
}

.right_top_con {
    /* background-color: #fff; */
    /* @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.14)); */
    margin-bottom: 15px;
    padding: 0px;
    .img-div {
        width: 32%;
        padding: 0px;
        display: inline-block;
        img {
            height: 45px;
            width: 45px;
            margin-bottom: 0px;
        }
        h4 {
            font-size: 15px;
            text-align: center;
            color: #666;
            margin-bottom: 0px;
        }
        h5 {
            font-size: 13px;
            text-align: center;
            color: #00a4e1;
            font-weight: normal;
        }
    }
}

.banner-item {
    position: relative;
    margin-bottom: 20px;
    img {
        min-height: 140px;
        max-height: 140px;
        width: 100%;
    }
    .banner-links {
        position: absolute;
        top: 10px;
        right: 25px;
        width: 95%;
        text-align: right;
        a {
            color: #fff;
            font-size: 14px;
            padding: 4px 8px;
            @include border-radius(4px);
        }
    }
}

.profile-bg {
    background-image: image-url("bg/profile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*  margin-left: -30px;
   margin-right: -30px;
   margin-top: -64px; */
}

.profile-btns {
    margin-top: 10px;
}

.prof_itm {
    margin-bottom: 0px;
    font-size: 15px;
    border-bottom: 1px solid #f1f2f1;
    padding: 12px 0px 12px;
    &:hover {
        border-bottom: 1px solid #eee;
        @include transition(all 0.3s ease-in-out);
        i {
            /* color: $primary_color; */
            @include transition(all 0.3s ease-in-out);
        }
        span {
            /* color: $primary_color; */
            @include transition(all 0.3s ease-in-out);
        }
    }
    .avatar {
        margin: 0px auto;
        max-width: 100%;
    }
    span {
        display: inline-block;
        width: 38%;
        color: #00a4e1;
        i {
            margin-right: 2px;
            width: 30px;
        }
    }
    .prof_desc {
        font-size: 14px;
        display: inline-block;
        color: #666;
        width: 49%;
        font-weight: 500;
    }
}

.commentlist {
    .dest_drop {
        position: absolute;
        right: 0px;
        top: 0px;
        a {
            padding: 5px 10px;
            color: $primary_color;
            i {
                font-size: 20px;
            }
        }
        .dropdown-menu {
            left: auto;
            right: 0px;
            border-radius: 0px;
            padding: 0;
            z-index: 99;
            @include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
            border: none;
            background-color: #f8f8f8;
            a {
                color: $primary_color;
                padding: 8px 15px;
                font-weight: 400;
                line-height: 15px;
                font-size: 13px;
                &:hover {
                    background-color: $primary_color;
                    color:#fff;
                }
                i {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.form-item {
    margin-bottom: 12px;
}

.form-control {
    @include border-radius(0px);
    height: 40px;
    color: #666;
    line-height: 40px;
    border: 1px solid #d4d4d4;
}

.btn-theme {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: $primary_color;
    border: 0;
    @include border-radius(4px);
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    z-index: 9;
    @include transition(all 0.3s ease-in-out);
}

.destination-list__content.travel_trips .destinations-item .item-body {
    padding: 20px 34px 18px;
}

.blog-home-pad {
    padding: 50px 0;
}

.blog-home-pad a {
    color: $primary_color;
    font-weight: 400;
}

.related-post .post,
.blog-page__content {
    margin-bottom: 0px;
    .post:last-child {
        margin-bottom: 0px;
        border-bottom: none;
    }
}

.btn {
    @include border-radius(3px);
}

.friends {
    @extend %reset-ul;
    .friend {
        margin-bottom: 1px;
        border-bottom: 0px solid #d4d4d4;
        background-color: #fff;
        padding: 15px;
        @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
        a {
            display: inline-block;
            .avatar_wrap {
                width: 70px;
                height: 70px;
                display: inline-block;
                vertical-align: top;
                img {
                    @include border-radius(100%);
                    width: 70px;
                    height: 70px;
                }
            }
            .frend_info {
                display: inline-block;
                vertical-align: middle;
                color: #777;
                margin-left: 15px;
                h4 {
                    margin-bottom: 0px;
                    color: $primary_color;
                    font-size: 20px;
                }
            }
            &:hover,
            &:active {
                color: #fff;
            }
        }
        .profile_view {
            line-height: 70px;
        }
        .connect-btn {
            margin: 0 auto;
            a {
                color: #fff;
            }
        }
        &:last-child {
            border-bottom: 0px;
        }
    }
}

.trip_history .destination-list__content .destinations-item .item-price-more a {
    margin-top: 15px;
}

#header-page .logo img {
    max-height: 50px;
}

article.alertify-inner h4 {
    font-size: 16px;
}

.moredestination {
    margin-top: 30px
}

.chosen-container.chosen-container-single .chosen-single {
    background: #fff;
    @include border-radius(0);
    height: 40px;
    line-height: 40px;
    border: 1px solid #d4d4d4;
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.1) inset);
}

.chosen-container-active .chosen-single {
    @include box-shadow(none);
}

.password-reset {
    padding: 60px 0 100px;
    h3 {
        color: $primary_color;
        margin-top: 0;
        font-size: 25px
    }
    input {
        width: 100%
    }
    i {
        margin-right: 7px
    }
    input[type="submit"] {
        margin-top: 10px
    }
    .password-box {
        border: 1px solid #e1e2e1;
        padding: 30px;
        background-color: #fff;
        @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
    }
}

.fb-signin {
    background-color: #3b5998;
    color: #fff;
}

.section-photo {
    padding: 0px;
    margin-bottom: 5px;
    .photo-div {
        background-color: #fff;
        margin-bottom: 20px;
        img {
            max-height: 80px;
            @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
        }
    }
}

.section-video {
    padding: 0px;
    margin-bottom: 5px;
    .photo-div {
        background-color: #fff;
        margin-bottom: 20px;
        video {
            //max-height: 80px;
            @include box-shadow(0px 3px 4px rgba(0, 0, 0, 0.16));
        }
    }
}

.footer-btns {
    margin-top: 20px
}

.destination-list__content .destinations-item .item-price-more a {
    margin-top: 15px;
}

.tagcloud span {
    a {
        display: inline-block;
        font-weight: 600;
        font-size: 12px !important;
        color: #666;
        background-color: #ddd;
        padding: 3px 7px;
        margin: 4px;
        &:hover {
            color: #fff;
        }
    }
}

.product-title {
    a.wishlist {
        display: inline;
        font-size: 13px;
        margin-left: 30px;
        line-height: 20px;
        text-align: center;
        color: #555;
        i {
            color: rgba(204, 0, 0, 0.7);
            font-size: 20px;
            font-weight: 500;
        }
    }
    a.checkin {
        display: inline;
        font-size: 13px;
        margin-left: 30px;
        line-height: 20px;
        text-align: center;
        color: #555;
        i {
            color: #ffcc00;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.timezone {
    width: 95%;
    padding: 10px 14px 20px;
    border-top: 1px dotted #ddd;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Standard syntax */
    font-size: 13px;
    z-index: 12;
    position: absolute;
    .temperature {
        text-align: right;
        right: 0;
        float: right;
        img {
            max-width: 28px;
        }
    }
    .localtime {
        text-align: left;
        line-height: 25px;
        i {
            font-size: 20px;
            color: #fff;
            vertical-align: sub;
        }
    }
}

.destinations-item {
    position: relative;
    @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.15));
    .p0 {
        padding: 0;
    }
    .item-body {
        a.wishlist {
            background: rgba(255, 255, 255, 0.7);
            /* position: absolute; */
            display: inline;
            /* right: 9%;
            top: 16%; */
            font-size: 17px;
            @include border-radius(100%);
            width: 25px;
            height: 25px;
            margin-left: 20px;
            line-height: 20px;
            text-align: center;
            /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); */
            color: $primary-color;
            i {
                color: rgba(204, 0, 0, 0.7);
                font-size: 18px;
                font-weight: 500;
            }
        }
        a.checkin {
            background: rgba(255, 255, 255, 0.7);
            /* position: absolute; */
            display: inline;
            /* right: 9%;
            top: 16%; */
            font-size: 17px;
            @include border-radius(100%);
            width: 25px;
            height: 25px;
            margin-left: 20px;
            line-height: 20px;
            text-align: center;
            /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); */
            color: $primary-color;
            i {
                color: #ffcc00;
                font-size: 18px;
                font-weight: 500;
            }
        }
        padding: 10px 40px 10px 20px;
        .date {
            font-size: 12px;
            font-style: italic;
        }
        .item-footer {
            margin-top: 10px !important;
            h4 {
                font-size: 18px;
                color: #00b5f8;
                margin-top: 14px;
            }
            p {
                color: #00b5f8;
            }
            ul {
                margin-top: 13px !important;
                li {
                    text-align: center;
                    margin-right: 30px;
                    i {
                        color: #00b5f8;
                    }
                    a {
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .item-description {
        p {
            color: #666;
            //margin-bottom: 5px;
        }
        .date {
            font-style: italic;
            color: #888;
        }
    }
    .item-media {
        width: 100%;
    }
    .media-img {
        overflow: hidden;
        padding-top: 72%;
        position: relative;
        transform: translateZ(0px);
        img {
            height: 100%;
            left: 50%;
            max-width: none !important;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            /* position: absolute;
                width: 100%;
                max-width: none !important;
                top: 50%;
                left: 50%; */
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            /*  position: absolute; 
           top: 0;
           bottom: 0;
           margin: auto auto;
           box-shadow: -13px 2px 22px 7px rgba(0, 0, 0, 0.5); */
        }
    }
    .item-price-more {
        margin-top: 18px;
        .btn {
            font-weight: 600;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            top: 14px;
            bottom: 0px;
            left: 0;
            border-left: 2px dotted #D4D4D4;
        }
    }
    .help-block {
        line-height: 8px;
        margin-bottom: 4px;
        margin-top: -5px;
    }
    .item-cat {
        position: absolute;
        top: 10px;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 3px 8px;
        left: 10px;
        border-radius: 4px;
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            a {
                color: #fff;
                font-size: 12px;
            }
        }
    }
    .dropdown.dest_drop {
        position: absolute;
        right: 15px;
        top: 15px;
        & > a {
            color: $primary_color;
            font-weight: bold;
            font-size: 18px;
            padding: 5px 10px;
            i {
                font-size: 20px;
            }
        }
        .dropdown-menu {
            left: auto;
            right: 0px;
            border-radius: 0px;
            padding: 0;
            @include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
            border: none;
            background-color: #f8f8f8;
            a {
                color: $primary_color;
                padding: 10px 15px;
                font-weight: 500;
                &:hover {
                    background-color: $primary_color;
                    color:#fff;
                }
            }
        }
    }
}

.quote-header {
    font-weight: 600;
}

.checkbox {
    #customer_remember_me {
        margin-top: 1px;
        margin-right: 5px;
    }
}

.btn-dest {
    margin-left: 30px;
    i {
        margin-right: 5px;
    }
}

.back-btn {
    margin-top: 10px;
}

.fb-btn {
    padding: 10px;
    color: #fff;
    background-color: #3b5998;
    margin: 10px 30px 10px;
    @include border-radius(3px);
    a {
        color: #fff;
        &:hover {
            color: #fff !important;
        }
    }
}

.tw-btn {
    padding: 10px;
    color: #fff;
    background-color: #4099ff;
    margin: 10px 30px 10px;
    @include border-radius(3px);
    a {
        color: #fff;
        &:hover {
            color: #fff !important;
        }
    }
}

.gp-btn {
    padding: 10px;
    color: #fff;
    background-color: #d34836;
    margin: 10px 30px 10px;
    @include border-radius(3px);
    a {
        color: #fff;
        &:hover {
            color: #fff !important;
        }
    }
}

.alertify {
    border-radius: 0px;
    border: none;
}


/* pagination styles */

.pagination>li>a,
.pagination>li>span {
    margin-left: 5px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    @include border-radius(0px);
}

.page-heading-flight {
    background-image: image-url("bg/flight-header.jpg");
    background-size: cover;
}

.page-heading-hotel {
    background-image: image-url("bg/hotel-header.jpg");
    background-attachment: fixed;
}

.page-heading-careers {
    background-image: image-url("bg/careers-bg.jpg");
    background-attachment: fixed;
}

.product-slider .item {
    height: 400px;
    img {
        /* height: 400px; */
    }
    .main-img-desc {
        padding: 10px;
        border-bottom: 1px dotted #ccc;
        color: #333;
    }
}

.flight-show-section {
    padding: 80px 0 100px;
    .flight-div {
        padding: 0;
        background-color: #fff;
        float: none;
        img {
            width: 100%;
        }
        @include box-shadow(1px 1px 4px rgba(0,
        0,
        0,
        0.25));
        .flight-view {
            padding: 20px;
            border-bottom: 1px solid #f1f2f1;
            font-size: 17px;
            font-weight: 600;
            .hot-dec {
                padding-top: 20px;
                font-weight: normal;
                font-size: 15px;
            }
            ul li {
                margin-right: 50px;
                text-align: center;
                h6 {
                    color: #666;
                }
            }
            i {
                color: #777;
                width: 20px;
                margin-right: 8px;
            }
            .first-half {
                width: 50%;
                float: left;
                i {
                    color: #777;
                    width: 20px;
                    margin-right: 8px;
                }
            }
            span {
                font-weight: 400;
            }
        }
    }
    .footer-btns {
        padding: 20px;
    }
    .flight-show {
        .title {
            padding: 15px 0;
            h1 {
                color: #666;
                font-size: 32px;
                font-weight: 700;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.rating-info {
    .review-btns {
        margin-top: 10px;
    }
}

.event-show-section {
    padding: 20px 0 100px;
    .locate {
        margin-top: 20px;
        a {
            color: #555;
            font-size: 17px;
            text-decoration: underline;
            i {
                color: $primary-color;
            }
        }
    }
    .event-div {
        p {
            font-weight: 400;
            color: #555;
            font-size: 15px;
        }
        .event-view {
            /* padding: 20px; */
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 20px;
            h4 {
                font-size: 22px;
            }
            .event-detail {
                margin-top: 20px;
                font-size: 16px;
            }
            .event-map {
                height: 400px;
                margin-bottom: 20px;
            }
            p {
                font-weight: 400;
                color: #555;
                font-size: 15px;
            }
            .start {
                display: inline-block;
                text-align: center;
                padding: 10px 25px;
                border-right: 1px solid #ddd;
                .sdate {
                    display: block;
                    font-size: 20px;
                    color: #00b5f8;
                }
                .stime {
                    font-size: 16px;
                }
                i {
                    display: inline-block;
                    font-size: 20px;
                }
            }
            .end {
                float: none;
                display: inline-block;
                text-align: center;
                padding: 10px 25px;
                .sdate {
                    display: block;
                    font-size: 20px;
                    color: $primary-color;
                }
                .stime {
                    font-size: 16px;
                }
                i {
                    display: inline-block;
                    font-size: 20px;
                }
            }
            .hot-dec {
                padding-top: 20px;
                font-weight: normal;
                font-size: 15px;
            }
            ul li {
                margin-right: 50px;
                text-align: center;
                h6 {
                    color: #666;
                }
            }
            i {
                color: #777;
                width: 20px;
                margin-right: 8px;
            }
            .first-half {
                width: 50%;
                float: left;
                i {
                    color: #777;
                    width: 20px;
                    margin-right: 8px;
                }
            }
            span {
                font-weight: 400;
            }
        }
    }
    .footer-btns {
        padding: 20px;
    }
    .event-show {
        .title {
            padding: 15px 0;
            h1 {
                color: #666;
                font-size: 32px;
                font-weight: 700;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.location-map {
    .map-sidebar {
        /* position: absolute; */
        padding: 0px 20px 20px;
        /* width: 35%; */
        top: 0;
        bottom: 0;
        left: 0;
        /*  background-color: rgba(0, 0, 0, 0.8); */
        height: 100%;
        z-index: 99;
        .purpose-slider {
            padding: 0 0px;
            .item {
                padding: 10px 5px 10px;
                span {
                    /* color: #fff; */
                }
            }
        }
        ul {
            margin: 0;
            z-index: 999;
            list-style-type: none;
            padding: 0;
            li {
                padding: 22px 5px;
                display: inline-block;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    color: #fff;
                    font-size: 16px;
                    display: block;
                    text-align: center;
                    i {
                        margin-right: 5px;
                        color: #00a4e1;
                        font-size: 20px;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.primary-color {
    color: $primary_color;
}

#slider-revolution .tp-overlay {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.actions {
    margin-top: 20px;
}

.blog-img-single {
    padding: 0;
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.blog-list {
    .image-wrap {
        padding-top: 30%;
    }
}

.bg-trans {
    background-color: transparent !important;
}

.sidebar {
    background-color: #fff;
    padding: 30px;
    @include box-shadow(1px 1px 4px rgba(0,
    0,
    0,
    0.25));
    .sidebar-item {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        border-bottom: 1px solid #f1f2f1;
        padding-bottom: 15px;
        padding-top: 0px;
        &:first-child {
            padding-top: 0;
            margin-top: 0px;
        }
        &:last-child {
            border-bottom: none;
        }
        .blog-sidebar {
            li {
                clear: none;
                cursor: pointer;
                margin-bottom: -2px;
            }
        }
        input {
            width: 100%;
            display: inline-block;
        }
        button {
            border-color: transparent;
            margin-top: 0;
            padding: 7px;
            position: absolute;
            right: 31px;
            top: 31px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 15px;
            li {
                clear: both;
                margin-bottom: 15px;
                a {
                    line-height: 25px;
                    img {
                        /* max-width: 80px;
                        max-height: 80px; */
                        width: 100%;
                        margin-right: 25px;
                        margin-bottom: 10px;
                        float: left;
                    }
                }
            }
            .content {
                margin-bottom: 10px;
                margin-top: 10px;
                h4 {
                    font-size: 16px;
                    margin: 0px;
                }
                p {
                    font-size: 13px;
                    margin: 0px;
                    color: $primary-color;
                }
            }
        }
    }
}

.detail-sidebar {
    background-color: #fff;
    padding: 10px;
    @include box-shadow(1px 1px 4px rgba(0,
    0,
    0,
    0.16));
    .sidebar-item {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-bottom: 1px solid #f1f2f1;
        padding: 15px 10px 5px;
        &:first-child {
            padding-top: 0;
            margin-top: 0px;
        }
        &:last-child {
            border-bottom: none;
        }
        .tagcloud {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0;
            font-size: 23px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 15px;
            li {
                clear: both;
                a {
                    line-height: 25px;
                    h4 {
                        font-size: 16px;
                        margin: 0px;
                    }
                    p {
                        font-size: 13px;
                        margin: 0px;
                    }
                    img {
                        max-width: 80px;
                        max-height: 80px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        float: left;
                    }
                }
            }
        }
    }
}

.new-travel-btn {
    margin-bottom: 15px;
}

.blog-page {
    .your-destionations__top {
        margin-bottom: 10px;
    }
}

.flight-show-section [id*='star'] > img,
.flight-show-section [id*='user_star'] > img {
    width: auto;
}

.no-shadow {
    box-shadow: none !important;
}

.tagline {
    color: #555;
    font-style: italic;
}

.author {
    margin-bottom: 10px;
    font-style: italic;
}

.blog-social {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline;
            margin-right: 0px;
            a {
                .fa-envelope {
                    background-color: #444;
                }
                i {
                    font-size: 20px;
                    color: #fff;
                    // padding: 10px 15px;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                }
            }
        }
    }
}

.dest-social {
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline;
            margin-right: 0px;
            a {
                .fa-envelope {
                    background-color: #444;
                }
                i {
                    font-size: 15px;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.primary-color {
    color: $primary_color !important;
}

.header-removable {
    background-color: transparent;
    padding: 16px 0px;
    font-size: 14px;
    color: #fff;
    height: 54px;
    border-bottom: 1px solid #eee;
    a {
        color: #fff;
        text-decoration: none;
    }
    .login {
        padding: 7px 10px;
        font-size: 13px;
        font-weight: 400;
    }
    .register {
        padding: 7px 10px;
        font-size: 13px;
        font-weight: 400;
    }
    .discount-label {
        padding: 8px;
        position: relative;
        display: inline;
        margin: 5px 10px 5px 30px;
        width: 50px;
        border-radius: 0 4px 4px 0;
        &:after {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba(136, 183, 213, 0);
            border-width: 20px;
            top: 50%;
            margin-top: -20px;
        }
        &:before {
            content: '';
            z-index: 2;
            position: absolute;
            top: 42%;
            right: 100%;
            width: 7px;
            height: 7px;
            opacity: .95;
            background: #ffffff;
            border-radius: 7px;
            -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
            box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
        }
        span {
            color: #ffffff;
            font-size: 14px;
            text-align: center;
            font-family: "Raleway", Helvetica;
        }
    }
    .green {
        background-color: #16B516;
        &:after {
            border-right-color: #16B516;
        }
    }
    .close-icon {
        margin-right: 25px;
        cursor: pointer;
        color: #f1f2f1;
    }
}

.modal {
    .modal-dialog {
        z-index: 9999;
        /* width: 350px; */
        /* margin-top: 50px; */
    }
    .modal-header {
        background-color: #00b5f8;
        border-bottom: 0px solid #0461C4;
        .close {
            color: #FFF;
            opacity: 0.7;
            &:hover {
                opacity: 0.95;
            }
        }
        h4 {
            color: #fff;
            font-size: 19px;
        }
    }
    .modal-body {
        background-color: #f1f2f1;
        color: #333;
        font-size: 15px;
        /*padding: 0;*/
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            li {
                padding: 10px 20px;
                border-bottom: 1px solid #555;
                background-color: #444;
                &:last-child {
                    border-bottom: 0 none;
                }
                a {
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.date-input {
    select {
        width: auto !important;
    }
}

.date-time {
    font-size: 15px;
    letter-spacing: 1px;
    color: #666;
    font-weight: 400;
    i {
        color: #00b5f8;
    }
}

.pos-rel {
    position: relative;
}

.forum-menu {
    position: absolute;
    right: 15px;
    top: 0px;
    .dest_drop {
        width: 30px;
        text-align: right;
        a {
            display: block;
        }
        .dropdown-menu {
            left: auto;
            right: 0px;
        }
    }
}

#reply-modal {
    .modal-dialog {
        width: 650px;
        .modal-body {
            padding: 15px;
        }
    }
}

#share-modal {
    .modal-body {
        padding: 15px;
    }
}

.topic-container {
    .topic-each {
        position: relative;
        padding: 15px 0px;
        margin: 0px;
        overflow: visible;
        .forum-menu {
            position: absolute;
            right: 0px;
            top: 15px;
            .dropdown-menu {
                left: auto;
                right: 0px;
            }
        }
    }
}

.forum-panel {
    .panel-default {
        border-color: #e8790c;
        @include border-radius(0px);
        &>.panel-heading {
            background-color: #e8790c;
            border-color: #e8790c;
            padding: 0px;
            @include border-radius(0px);
            h4 {
                a {
                    display: block;
                    padding: 8px 15px;
                }
            }
            .panel-title {
                color: #fff;
            }
        }
    }
}

.pad0 {
    padding: 0px;
}

.forum-page {
    padding: 30px 0;
    background-color: #fff;
    p {
        font-size: 17px;
        line-height: 25px;
        color: #555;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        &:first-letter {
            float: left;
            color: #00b5f8;
            font-size: 75px;
            line-height: 60px;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
            font-family: Georgia;
        }
    }
    .forums {
        margin-bottom: 20px;
    }
    .forum-content {
        background-color: #fafafa;
        padding: 15px;
        margin-bottom: 15px;
        h4 {
            font-size: 22px;
            padding-left: 15px;
            margin-bottom: 10px;
        }
        .forum-links {
            a {
                line-height: 26px;
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
                display: block;
            }
        }
        .foo-links {
            margin-top: 20px;
            border-bottom: 1px solid #ddd;
            a {
                line-height: 26px;
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
                display: block;
                margin-right: 20px;
                color: #00b5f8;
            }
            &.mtop0{
                margin-top: 0px;
            }
        }
        .foo-sign-in {
            text-align: center;
            a {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            span {
                display: block;
            }
        }
    }
}

.travel_blog_page {
    padding: 20px 0;
}

.single-forum {
    padding-top: 50px;
}

table.country-table.table.table-bordered {
    color: #555;
    border-color: #e8790c;
    background-color: #fff;
    td,
    th {
        border-color: #e8790c;
    }
    th {
        background-color: #e8790c;
        color: #fff;
        text-align: center;
        &.author_col {
            width: 20%;
            text-align: left;
        }
        &.with60_p {
            width: 60%;
        }
        &.with20_p {
            width: 20%;
        }
    }
    td {
        vertical-align: middle;
        .forum-title {
            border-bottom: 1px solid #aaa;
            font-size: 22px;
            margin-bottom: 40px;
        }
        .quote-text {
            padding: 15px;
            border: 1px solid #aaa;
            font-style: italic;
        }
        .forum-footer {
            border-top: 1px solid #aaa;
            padding-top: 20px;
        }
        .forum-profile {
            width: 300px;
            .avatar {
                width: 80px;
                height: 80px;
                display: inline-block;
                vertical-align: bottom;
            }
            .porfile-area {
                width: 180px;
                display: inline-block;
                margin-left: 10px;
                vertical-align: bottom;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #555;
        }
        h1,
        h2 {
            font-size: 22px;
        }
        h3,
        h4 {
            font-size: 20px;
        }
        h5,
        h6 {
            font-size: 18px;
        }
    }
}

#infinite-scrolling .pagination {
    display: none;
}

@media screen and (max-width: 480px) {
    .header-removable {
        height: auto;
    }
    .modal {
        .modal-dialog {
            width: auto;
        }
    }
    .toggle-menu-responsive {
        border-right: none;
    }
    .search-box .searchtoggle {
        width: auto;
    }
    .destination-list__content .destinations-item .item-body .item-footer ul li {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    .tp-caption.btn-lg {
        font-size: 14px;
    }
    .destinations-item a.wishlist {
        right: 10%;
        top: 9%;
    }
    .destinations-item .dropdown.dest_drop {
        top: 9px;
    }
}

.pad-50 {
    padding: 50px;
}

.review_item {
    cursor: pointer;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 30px 10px 20px;
}

td.preview img {
    width: 100px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileupload-buttonbar {
    padding: 20px;
}

.upload_images {
    width: 100%;
    overflow: auto;
    height: 100px;
    white-space: nowrap;
    .rev-item {
        width: 100px;
        transition: all 0.3s ease 0s;
        float: left;
        margin: 5px;
        .media-img {
            overflow: hidden;
            padding-top: 72%;
            position: relative;
            transform: translateZ(0px);
            img {
                height: 100%;
                left: 50%;
                max-width: none !important;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                /* position: absolute;
                width: 100%;
                max-width: none !important;
                top: 50%;
                left: 50%; */
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}


/*.fancybox-opened .fancybox-title{
    right:auto;
    margin-bottom:0px;
    left:0px;
    bottom:0px;
    width:100%;
    text-align: right;
}
.fancybox-title-float-wrap .child {
    width: 100%;
    margin-right: 0px;
    @include border-radius(0px);
}*/

.template-upload {
    .preview {
        .name {
            font-size: 12px;
        }
    }
    .desc {
        font-size: 13px;
        textarea {
            height: 70px;
            overflow: overflow-y;
            padding: 8px;
            font-size: 13px;
        }
    }
    .size {
        font-size: 12px;
    }
    .progress {
        margin-bottom: 10px;
    }
}

.template-download {
    .preview {
        width: 16%;
        .name {
            font-size: 12px;
        }
    }
    .desc {
        font-size: 13px;
        textarea {
            height: 70px;
            overflow: overflow-y;
            padding: 8px;
            font-size: 13px;
        }
        span {
            display: block;
            font-size: 14px;
        }
    }
    .size {
        font-size: 12px;
    }
    .progress {
        margin-bottom: 10px;
    }
}

.new_review {
    padding: 10px;
}

.comment-form-author {
    margin-bottom: 20px;
}

.tip-btn {
    margin-right: 10px;
    margin-left: 10px;
}

#map-container {
    height: 400px;
    position: relative;
    div#listing {
        position: absolute;
        width: 215px;
        height: 100%;
        top: 0px;
        right: 0px;
        z-index: 1;
        display: none;
        overflow: auto;
    }
    .maplist {
        background-color: #fff;
        overflow: visible;
        table {
            margin-bottom: 0;
            tr {
                cursor: pointer;
                td {
                    vertical-align: middle;
                    padding: 8px;
                    width: 20px;
                    max-width: 100%;
                    img {
                        max-width: 100%;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    div#map {
        position: absolute;
        left: 0px;
        height: 100%;
        top: 0px;
        z-index: 1;
        /* width: calc(100% - 215px); */
        width: 100%;
    }
    .iw_table_row {
        vertical-align: middle;
        .iw_attribute_name {
            font-weight: 500;
        }
        .iw_table_icon {
            img {
                width: 50px;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

.color-white {
    color: #fff !important;
}

.modal .popover {
    z-index: 2147483647;
    form {
        padding: 5px;
    }
}

.edit-desc {
    i {
        margin-top: 5px;
    }
}

.share-text {
    font-size: 15px;
    color: #777;
    i {
        color: #222;
        margin-right: 10px;
    }
}

.desc-meta {
    padding: 7px;
    color: #fff;
    text-shadow: 0.5px 0.5px #444;
}

.accordion {
    margin-bottom: 60px;
    .ui-accordion-content {
        padding: 20px;
        background-color: #fff;
        margin-bottom: 15px;
    }
    .ui-accordion-header-active {
        margin-bottom: 0;
        border-bottom: 1px dashed #aaa;
    }
}

.career-box {
    @include box-shadow(0px 3px 4px rgba(0,
    0,
    0,
    0.1));
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    .head {
        padding: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        text-align: center;
        background-color: #333;
        h5 {
            color: #fff;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    .body {
        padding: 15px 15px 0;
        margin-bottom: 5px;
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                line-height: 28px;
                margin-bottom: 8px;
                padding-left: 10px;
                border-bottom: 1px dotted #f1f2f1;
                &:before {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    letter-spacing: normal;
                    content: "\f061";
                    color: #bbb;
                    margin-right: 10px;
                    font-size: 12px;
                }
            }
        }
    }
    footer {
        padding: 15px;
        text-align: center;
        .cta {
            a {
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
}

.map-list {
    .map-wrap {
        margin-bottom: 20px;
        clear: both;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-top: 10px;
        .map-wrap-img {
            display: inline;
            img {
                margin-right: 20px;
                width: 70px;
                margin-bottom: 15px;
            }
        }
        .map-wrap-right {
            display: inline;
            margin-bottom: 10px;
            
            /* width: 90%;
            float: right; */
        }
    }
}
#list-viewer{
    max-height: 500px;
    overflow: auto;
}
div[id*='plusone'], .fb-like.fb_iframe_widget{
    vertical-align:middle !important;
}