<div class="pl-5 pt-5">
  <% @destinations.each do |destination| %>
    <div class="destinations-item mb-4 d-flex">
      <div>
        <div class="media-img">
          <img src="<%= destination.image_url %>" class="dest-img" alt="<%= destination.destination_name %>">
        </div>
      </div>
      <div class="item-body p-3 flex-grow-1">
        <div class="item-title">
          <h2 class="d-flex">
            <div>
              <a href="/destinations/<%= destination.slug %>" class="dest-title"><%= destination.destination_name %></a>
              <div class="ln-12">
                <small class="sec-color f-16"><%= AppUtils.country_name_by_country_code(destination.destination_country) %></small>
              </div>
            </div>
            <div class="ml-auto">
              <% if customer_signed_in? %>
                <a data-remote="true" id="wish_<%= destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>" class="wishlist ml-auto mr-1">
                  <% if destination.is_in_wishlist?(current_customer.id) %>
                    <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                  <% else %>
                    <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                  <% end %>
                </a>
                <a data-remote="true" id="checkin_<%= destination.id %>" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= destination.id %>" class="checkin">
                  <% if destination.is_checkedin?(current_customer.id) %>
                    <%= image_tag "checked-in.png", title: "Add to checkin" %>
                  <% else %>
                    <%= image_tag "check-in.png", title: "Add to checkin" %>
                  <% end %>
                </a>
              <% else %>
                <a id="wish_<%= destination.id %>" href="/wishlists/auth" class="wishlist ml-auto mr-1">
                  <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                </a>
                <a id="checkin_<%= destination.id %>" href="/checkins/auth" class="checkin">
                  <%= image_tag "check-in.png", title: "Add to checkin" %>
                </a>
              <% end %>
            </div>
            <div class="help-block">
              <!-- <div id="user_star_<%= destination.id %>" data-score="<%= destination.average_rating %>"></div> -->
            </div>
          </h2>
        </div>
        <!-- <div class="item-description"><p><%#= Nokogiri::HTML(destination.destination_description).text.truncate(50) %></p></div> -->
        <div class="item-footer mt-4">
          <a href="/attractions/<%= destination.slug %>">
            <span class="listing">Attractions</span>
            <div><%= image_tag('attraction.png') %>&nbsp;&nbsp;<span class="count"><%= destination.attractions.length %></span></div>
          </a>
        </div>
        <div class="dropdown dest_drop">
          <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
            <i class="fa fa-ellipsis-v"></i>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/destinations/<%= destination.slug %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Place</a></li>
            <% if admin_signed_in? %>
              <li><a href="/destinations/<%= destination.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
              <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{destination.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>