<% if flash[:success].present? %>
  <% if @is_added %>
    $("#wish_<%= @destination %>").find("img").attr('src', "<%= image_path('wishlist-added.png')%>")
  <% else %>
    $("#wish_<%= @destination %>").find("img").attr('src', "<%= image_path('wishlist-add.png')%>")
  <% end %>
  // alertify.success("<%= flash[:success] %>");
  $("#whishlist_count").html('<%= @wishlist_count %>')
<% else %>
  // alertify.error("<%= flash[:error] %>");
<% end %>