<section class="traveler-banner">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Wishlist</h2>
      </div>
    </div>
  </div>
 </section>

<!-- Featured Destinations  ================================================== -->
<section class="ftco-sectioninner ftco-destination">
  <div class="container">
    <!-- Tabs -->
    <section id="tabs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="font-size: 23px;">Favorite Destination</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="font-size: 23px;">Places Visited</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class=" row">
                <% @destinations.each do |destination| %>
                  <div class="col-lg-12 mt-0 mb-0">
                    <div class="notification_main mt-4 mb-2 " style="width: 900px;">
                      <div class=" row ">
                        <div class="col-lg-5 col-xs-12  mb-0 wishlistimg"><%= image_tag "#{destination.image_url}" %></div>
                        <div class="col-lg-7 col-xs-12  mb-0 wishlist ">
                          <h4 class="pt-2"><i class="fa fa-map-marker"></i> <%= destination.destination_name %></h4>
                          <div class="share text-left pt-3 mb-3 wishlisticons float-right" style="margin-top: -55px;">                            
                            <% if customer_signed_in? %>
                              <a data-remote="true" id="wish_<%= destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>">
                                <% if destination.is_in_wishlist?(current_customer.id) %>
                                  <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                                <% else %>
                                  <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                                <% end %>
                              </a>
                              <a data-remote="true" id="checkin_<%= destination.id %>" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= destination.id %>">
                                <% if destination.is_checkedin?(current_customer.id) %>
                                  <%= image_tag "checked-in.png", title: "Add to checkin" %>
                                <% else %>
                                  <%= image_tag "check-in.png", title: "Add to checkin" %>
                                <% end %>
                              </a>
                            <% else %>
                              <a id="wish_<%= destination.id %>" href="/wishlists/auth" >
                                <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                              </a>
                              <a id="checkin_<%= destination.id %>" href="/checkins/auth">
                                <%= image_tag "check-in.png", title: "Add to checkin" %>
                              </a>
                            <% end %>    
                          </div>
                          <ul class="wishlisttitems">
                            <li>Attractions<br>
                            <a href="/attractions/<%= destination.slug %>">
                              <i><%= image_tag('attraction.png') %></i> <%= destination.attractions.length %>
                            </a>
                            </li>
                            <li>Flight<br>
                            <a href="#">
                              <i><%= image_tag "flight.png"%></i> 12
                            </a>
                            </li>
                            <li>Hotel
                              <br>
                              <a href="#">
                              <i><%= image_tag "hotel.png"%></i> 12
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %> 
                </div>
              </div>
              <div class="tab-pane fade w-100" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <% @destinations.each do |destination| %>
                <div class="col-lg-12 mt-0 mb-0">
                  <div class="notification_main mt-4 mb-2 " style="width: 900px;">
                    <div class=" row ">
                      <div class="col-lg-5 col-xs-12  mb-0 wishlistimg"><img src="<%= destination.image_url %>" alt="<%= destination.destination_name %>"/></div>
                      <div class="col-lg-7 col-xs-12  mb-0 wishlist ">
                        <h4 class="pt-2 float-left"><i class="fa fa-map-marker"></i> <%= destination.destination_name %></h4>
                        <div class="share text-left wishlisticons float-right">
                          <% if customer_signed_in? %>
                            <a data-remote="true" id="wish_<%= destination.id %>" href="/wishlists/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>">
                              <% if destination.is_in_wishlist?(current_customer.id) %>
                                <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                              <% else %>
                                <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                              <% end %>
                            </a>
                            <a data-remote="true" id="checkin_<%= destination.id %>" href="/checkins/add?checkin[customer_id]=<%= current_customer.id %>&checkin[destination_id]=<%= destination.id %>">
                              <% if destination.is_checkedin?(current_customer.id) %>
                                <%= image_tag "checked-in.png", title: "Add to checkin" %>
                              <% else %>
                                <%= image_tag "check-in.png", title: "Add to checkin" %>
                              <% end %>
                            </a>
                          <% else %>
                            <a id="wish_<%= destination.id %>" href="/wishlists/auth" >
                              <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                            </a>
                            <a id="checkin_<%= destination.id %>" href="/checkins/auth">
                              <%= image_tag "check-in.png", title: "Add to checkin" %>
                            </a>
                          <% end %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="visited">
                          <h4>Visited</h4> 
                          <h5><i class="fa fa-calendar"> </i> 8th June 2021</h5>
                        </div>
                        <ul class="placevisit text-center row">
                          <li class="col-md-4 col-xs-12">
                            <a href="#" class="wishshlist_bu pb-5">Upload Photo</a><br>
                            <p class="text-center"><a href="#"><%= image_tag "photo.png", class:"mt-1", style: "height: 33px;" %></a></p>
                          </li>
                          <li class="col-md-4 col-xs-12">
                            <a href="#" class="wishshlist_bu_revi pb-5">Reviews</a><br>
                            <p class="text-center"><a  href="#"><%= image_tag "review.png", class:"mt-1", style: "height: 33px;" %></a></p>
                          </li>
                          <li class="col-md-4 col-xs-12">
                          <a data-remote="true" id="wish_<%= destination.id %>" href="/recommendations/add?wish[customer_id]=<%= current_customer.id %>&wish[destination_id]=<%= destination.id %>">
                              <% if destination.is_in_wishlist?(current_customer.id) %>
                                <%= image_tag "wishlist-added.png", title: "Add to wishlist" %>
                              <% else %>
                                <%= image_tag "wishlist-add.png", title: "Add to wishlist" %>
                              <% end %>
                            </a>
                            <a href="#" class="wishshlist_bu_recomd pb-5">Recommendation</a><br>
                            <p class="text-center"><a  href="#"><%= image_tag "recommend.png", class:"mt-1", style: "height: 33px;" %></a></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Tabs -->
  </div>
</section>