<%
  unless @is_with_location
    url_path = params[:action] == "new" ? "/destinations/#{params['destination_id']}/#{params['destination_name']}/hotels" : "/destinations/#{params['destination_id']}/#{params['destination_name']}/hotels/#{params['name']}"
  else
    url_path = "/destinations/1/bangalore/hotels"
  end
%>

<%= form_for(@hotel, url: url_path) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @is_with_location %>
      <%= f.hidden_field :destination_id, :value=>"#{params["destination_id"]}" %>
  <% end %>

  <% if @is_with_location %>
    <div class="form-item">
      <%= label_tag :locations_name, "Hotel Location" %>
      <%= text_field :locations, :name, class: "form-control" %>
    </div>
    <div class="form-item">
      <%= label_tag :locations_country %>
      <%= select :locations, :country, AppUtils.country_list, {:selected=> "", :prompt=> "Select country" }, class: "form-control" %>
    </div>
    <div class="form-item">
      <%= label_tag :locations_state %>
      <%= select :locations, :state, "", {:selected=> "", :prompt=> "Select State"}, class: "form-control" %>
    </div>

    <div class="form-item">
      <%= label_tag :locations_cities %>
      <%= select :locations, :cities, "", {:selected=> "", :prompt=> "Select city"}, class: "form-control" %>
    </div>
    <input type="hidden" name="add_location" value="true">
  <% end %>

  <div class="form-item">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-item">
    <%= f.label :amenities %>
    <% amen = @hotel.amenities !=  "--- []\n" ? JSON.parse(@hotel.amenities) : "" %>
    <%= f.select :amenities, AppConstants::AMENITY_ARR, {:selected => amen}, multiple: true %>
  </div>
  <div class="form-item">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-item">
    <%= f.label :price_from %>
    <%= f.number_field :price_from %>
  </div>
  <%= f.hidden_field :main_image %>
  <%= hidden_field_tag :main_old_image, @hotel.main_image if @hotel.present? %>
  <%= f.hidden_field :image, name: "hotel[image]" %>
  <div class="form-item" >
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render :partial=> "common/images_multiple", :locals=>{:single_id=> "hotel_main_image", :single_old=> "main_old_image", :multiple_id=>"hotel_image", :action_param=> "hotel_id=#{@hotel.present? ? @hotel.id : "" }" } %>


<script>
  (function($){
    $("#hotel_amenities").chosen();
    <% if @is_with_location %>
      $("#locations_country, #locations_cities, #locations_state").chosen();
      $("#locations_country").on("change", function(e){
        e.preventDefault();
        $.ajax({
              url: '/get_states',
              dataType: 'json',
              data: {country: $(this).val()}
            })
            .done(function(result) {
              if (result.length > 0){
                states = "";
                $.each(result, function(index, data){
                  states += "<option value='"+data[1]+"'>"+data[0]+"</option>";
                });
                $("#locations_state").html(states);
                $("#locations_state").trigger("chosen:updated");
              }
            })
      });

      $("#locations_state").on("change", function(e){
        e.preventDefault();
        $.ajax({
              url: '/get_cities',
              dataType: 'json',
              data: {state: $(this).val(), country: $("#locations_country").val()}
            })
            .done(function(result) {
              if (result.length > 0){
                cities = "";
                $.each(result, function(index, data){
                  cities += "<option value='"+data[1]+"'>"+data[0]+"</option>";
                });
                $("#locations_cities").html(cities);
                $("#locations_cities").trigger("chosen:updated");
              }
            })
      });

    <% end %>
  })(jQuery);

  /*$(document).ready(function() {
   $('#image_images').fileupload({
     dataType: "json",
//     progressall: function (e, data) {
//       var progress = parseInt(data.loaded / data.total * 100, 10);
//       $('#progress .bar').css(
//           'width',
//           progress + '%'
//       );
//     },
      done: function(e, data){
        imageUploadeScript(data, "#hotel_image", "#dest_images")
      }
    });
   $('#image_image').fileupload({
     dataType: "json",
//     progressall: function (e, data) {
//       var progress = parseInt(data.loaded / data.total * 100, 10);
//       $('#progress .bar').css(
//           'width',
//           progress + '%'
//       );
//     },
      done: function(e, data){
        imageUploaderScript(data, "#hotel_main_image", "#dest_image", "#main_old_image")
      }
    });
  });*/
</script>
