<% unless @hotels.nil? || @hotels.blank? %>
   <% @hotels.each do |hotel| %>
    <div class="destinations-item">
     <div class="col-md-4 p0">
       <%
         img_path = Hotel.get_desination_image_by_main_image_or_secondary(hotel)
       %>
       <div class="media-img"> <a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>"><img data-original="<%= img_path %>" src="<%= image_path('grey.gif') %>" alt=""></a>
       </div>                
     </div>
     <div class="item-body col-md-8">
       <div class="item-title">
         <h2> 
           <a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>">
             <%= hotel.name %>
           </a>
           <!-- TODO UI need to be done -->
           <div class="help-block">
             <div id="user_star_<%= hotel.id %>" data-score="<%= hotel.average_rating %>"></div>
           </div>
         </h2>
       </div>
       <div class="item-description">
          <p><%= Nokogiri::HTML(hotel.description).text.truncate(50) %></p>
       </div>
       <div class="item-footer">
       <h4>Amenities</h4>
         <ul class="amenities">
           <li>
               <i class="awe-icon-pool"></i>                      
           </li>
           <li>
               <i class="fa fa-glass"></i>                      
           </li>
           <li>
               <i class="fa fa-plug"></i>                      
           </li>
           <li>
               <i class="fa fa-medkit"></i>                      
           </li>
           <li>
               <i class="fa fa-coffee"></i>                      
           </li>
         </ul> 
       </div>
     </div>
     
     <div class="dropdown dest_drop">
       <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
         <i class="fa fa-ellipsis-v"></i>
       </a>

       <ul class="dropdown-menu" aria-labelledby="dLabel">
         <li><a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>">View Hotel</a></li>
         <% if admin_signed_in? %>
           <li><a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/edit">Edit</a></li>
           <li><%= link_to 'Delete', "/destinations/#{hotel.destination.id}/#{hotel.destination.destination_name}/hotels/#{hotel.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
         <% end %>
       </ul>
     </div>
   </div>
 <% end %>
 <div id="infinite-scrolling">
   <%= will_paginate @hotels, renderer: BootstrapPagination::Rails  if @hotels.any? %>
 </div>
 <% else %>
   <div >
     <h4>There is no Hotel for the destination! Add New Hotel Details!</h4>
   </div>
<% end %>

<script type="text/javascript">
  (function(){
    if ($('#infinite-scrolling').size() > 0) {
      $(window).on('scroll', function () {
        var more_posts_url;
        more_posts_url = $('.pagination .next a').attr('href');
        if (more_posts_url && $(window).scrollTop() > $(document).height() - (2 * $(window).height())) {
          $('.pagination').html('<img src="<%= asset_path("ajax-loader.gif") %>" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
    }
    $("[id*='user_star_']").each(function(index, ele){
      $(ele).raty({
        readOnly: true,
        score: $(ele).data("score"),
        path: '/assets'
      });
    });
    $("#sort_by_").on("change", function(){
      var val = this.value;
      window.location.href = "/hotels/?sortby="+val;
    });
  })($);
</script>