$("#hotel-content").append("<%= escape_javascript(render(:partial=> "index"))%>");
<% if @hotels.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @hotels, renderer: BootstrapPagination::Rails  if @hotels.any? %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>