
<section class="awe-parallax new-hotel-page">
  <div class="awe-overlay"></div>
  <div class="container">
  <%#= render_breadcrumbs :tag => :li, :separator=>"/" %>
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">Edit Hotel</h2>
      </div>
			<%= render 'form' %>
			<div class="back-btn">
				<%= link_to 'Show', "/destinations/#{params['destination_id']}/#{params['destination_name']}/hotels/#{params['id']}/#{params['name']}", :class=>"btn btn-primary" %> &nbsp;&nbsp;
				<%= link_to "<< Back", "/destinations/#{params['destination_id']}/#{params['destination_name']}/hotels", :class=>"btn btn-primary" %>
  		</div>
	</div>
	</div>
</section>



