<section class="page-heading-hotel">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Hotels</h2></div>
  </div>
</section>
<section class="your-destinations-section-demo">
  <div class="container">
    <div class="col-md-8">
      <div class="your-destinations">
        <div class="your-destionations__top">
         <!--  <div class="title"><h2>Your Destinations</h2></div> -->    
         <% if admin_signed_in? %>     
           <%= link_to '<i class="fa fa-plus"></i> Add New Hotel'.html_safe, "/destinations/#{params['destination_id']}/#{params['destination_name']}/hotels/new", :class=>"btn btn-primary" %>         
         <% end %>
          <div class="your-destinations__bar">            
            <div class="order">
              <% sortby_val = params["sortby"].present? ? params["sortby"] : ""%>
              <%= select :sort_by, "", AppConstants::SORTING_ARRAY, class: "orderby awe-select" %>
            </div>
          </div>
        </div>
        <div id="hotel-content" class="destination-list__content">
        <%#
          dest_hash = AppUtils.destinations_mapping
        %>
         <% unless @hotels.nil? || @hotels.blank? %>
              <% @hotels.each do |hotel| %>
             <div class="destinations-item">
              <div class="col-md-4 p0">
                <%
                  img_path = Hotel.get_desination_image_by_main_image_or_secondary(hotel)
                %>
                <div class="media-img"> <a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>"><img data-original="<%= img_path %>" src="<%= image_path('grey.gif') %>" alt="<%= hotel.name %>"></a></div>
                <!-- <div class="item-cat">
                 <ul>
                     <li><a href="#"><%#= dest_hash[flight.destination_id] %></a></li>
                 </ul>
                </div> -->
              </div>
              <div class="item-body col-md-8">
                <div class="item-title">
                  <h2> 
                    <a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>">
                        <%= hotel.name %>
                    </a>
                    <!-- TODO UI need to be done -->
                    <div class="help-block">
                      <div id="user_star_<%= hotel.id %>" data-score="<%= hotel.average_rating %>"></div>
                    </div>
                  </h2>
                </div>
                <div class="item-description">
                   <p><%= Nokogiri::HTML(hotel.description).text.truncate(100) %></p>
                </div>
                <div class="item-footer">
                <h4>Amenities</h4>
                  <ul class="amenities">
                    <li>
                        <i class="awe-icon-pool"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-glass"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-plug"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-medkit"></i>                      
                    </li>
                    <li>
                        <i class="fa fa-coffee"></i>                      
                    </li>
                  </ul> 
                </div>
                <div class="dropdown dest_drop">
                  <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/<%= hotel.name %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Hotel</a></li>
                    <% if admin_signed_in? %>
                      <li><a href="/destinations/<%= hotel.destination.id %>/<%= hotel.destination.destination_name %>/hotels/<%= hotel.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                      <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{hotel.destination.id}/#{hotel.destination.destination_name}/hotels/#{hotel.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <div id="infinite-scrolling">
            <%= will_paginate @hotels, renderer: BootstrapPagination::Rails  if @hotels.any? %>
          </div>
          <% else %>
              <div >
                <h4>There is no Hotel for the destination! Add New Hotel Details!</h4>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  (function(){
    if ($('#infinite-scrolling').size() > 0) {
      $(window).on('scroll', function () {
        var more_posts_url;
        more_posts_url = $('.pagination .next a').attr('href');
        if (more_posts_url && $(window).scrollTop() > $(document).height() - (2 * $(window).height())) {
          $('.pagination').html('<img src="<%= asset_path("ajax-loader.gif") %>" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
    }
    $("[id*='user_star_']").each(function(index, ele){
      $(ele).raty({
        readOnly: true,
        score: $(ele).data("score"),
        path: '/assets'
      });
    });
  })($);
</script>