<section>
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hotels">Hotels</a></li>
        <li><span><%= @hotel.name %></span></li>
      </ul>
    </div>
  </div>
</section>
<section class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-detail__info">
          <div class="product-title">
            <h2><%= @hotel.name %></h2>
          </div>
          <div class="product-address"><span>
            <%= destination_name_from_hotel %>
          </span></div>

          <div class="rating-trip-reviews">

            <div class="item">
              <%
                if customer_signed_in?
                  @rating = Rating.where(hotel_id: @hotel.id, customer_id: current_customer.id).first
                end
              %>
              <!-- TODO UI need to be done -->
              <p>Averate rating</p>
              <div id="star"></div>

              <script>
                $('#star').raty({
                  readOnly: true,
                  score: <%= @hotel.average_rating %>,
                  path: '/assets'
                });
              </script>
            </div>
            <div class="item review_item" onclick="gotoReviewSection('reviews')">
              <h6>Reviews</h6>
              <% if @reviews.present? %>
                  <p><%= @reviews.count %> reviews</p>
              <% else %>
                  <p>No reviews yet</p>
              <% end %>
            </div>
          </div>
          <div class="product-descriptions">
            <p> <%= @hotel.description %></p>
          </div>
          <%
            amenities = @hotel.amenities !=  "--- []\n" ? JSON.parse(@hotel.amenities).reject(&:empty?) : nil
            if amenities.present?
          %>
            <div class="property-highlights">
              <h3>Property highlights</h3>
              <div class="property-highlights__content">
                <% amenities.each do |amn| %>
                    <div class="item"><i class="<%= AppConstants::AMENITY_HASH_CLASS[amn.to_i] %>"></i> <span><%= AppConstants::AMENITY_HASH[amn.to_i] %></span></div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-detail__gallery">
          <div class="product-slider-wrapper">
            <div class="product-slider">
              <%
                main_image = get_single_image_from_image_modal(@hotel.main_image)
              %>
              <% if main_image.present? %>
                <div class="item">
                  <img data-original="<%= main_image.image.url %>" src="<%= image_path('grey.gif') %>" alt="<%= @hotel.name %>">
                  <% if main_image.desc.present? %>
                    <p class="main-img-desc"><%= main_image.desc %></p> 
                  <% end %>                                   
                </div>
              <% else %>
                  <%= image_tag "flight/hotel-dummy.jpg", :alt=>"#{@hotel.name}", :class=>"img-responsive" %>
              <% end %>
            </div>           
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="product-slider-thumb-row">
        <div class="product-slider-thumb">
          <% if @hotel.image.present? %>
            <%
              images_data = get_images_from_image_modal(@hotel.image) if @hotel.image.present?
            %>

            <% images_data.each do |image| %>
              <div class="item">
                <a href="<%= image[1] %>" class="fancybox" title="<%= image[1].model.desc %>" rel="gallery2"><div class="media-img"><img data-original="<%= image[1] %>" data-id="<%= image[1] %>" src="<%= image_path('grey.gif') %>"></div></a>
              </div>
            <% end %>
          <% else %>
            <%= image_tag "flight/hotel-dummy.jpg", :alt=>"#{@hotel.name}", :class=>"img-responsive" %>
          <% end %>
        </div>
      </div>
      <!-- <div class="col-md-6 pull-right">
        <div class="product-map">
            <div data-latlong="21.036697, 105.834871"></div>
        </div>        
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="product-tabs tabs">
          <ul>
            <li><a href="#tabs-1">Facilities &amp; freebies</a></li>
            <li><a href="#tabs-2">Reviews &amp; Ratings</a></li>
            <li><a href="#tabs-3">Good to know</a></li>
          </ul>
          <div class="product-tabs__content">
            <div id="tabs-1">
              <div id="facilities">
                <% if @hotel_facility.present? %>
                  <table class="facilities-freebies-table">
                    <tbody>
                    <tr>
                      <th>
                        <p>View</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.view %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Activities</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.activities %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Media &amp; Technology</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.mediatechnology %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Food &amp; Drink</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.food %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Internet</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.internet %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Parking</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.parking %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Services</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.services %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>General</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.general %></p>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>Languages spoken</p>
                      </th>
                      <td>
                        <p><%= @hotel_facility.languages %></p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                <% end %>
              </div>
              <% if admin_signed_in? %>
                  <div id="edit_facilities" style="display: none;">
                    <%
                      hotel_fac = @hotel_facility.present? ? @hotel_facility : @hotel.build_hotel_facility
                      url_path = @hotel_facility.present? ? "/destinations/#{@hotel.destination.id}/hotels/#{@hotel.id}/hotel_facilities" : "/destinations/#{@hotel.destination.id}/hotels/#{@hotel.id}/hotel_facilities"
                    %>
                    <%= form_for(hotel_fac, url: url_path, remote: true ) do |f| %>
                        <%= f.hidden_field :hotel_id, :value=> @hotel.id %>
                        <div class="form-item">
                          <%= f.label :view %>
                          <%= f.text_field :view, class: "form-control" %>
                        </div>

                        <div class="form-item">
                          <%= f.label :activities %>
                          <%= f.text_field :activities, class: "form-control" %>
                        </div>

                        <div class="form-item">
                          <%= f.label :mediatechnology %>
                          <%= f.text_area :mediatechnology, class: "form-control" %>
                        </div>

                        <div class="form-item">
                          <%= f.label :food %>
                          <%= f.text_area :food, class: "form-control" %>
                        </div>

                        <div class="form-item">
                          <%= f.label :internet %>
                          <%= f.text_field :internet, class: "form-control" %>
                        </div>
                        <div class="form-item">
                          <%= f.label :parking %>
                          <%= f.text_field :parking, class: "form-control" %>
                        </div>
                        <div class="form-item">
                          <%= f.label :services %>
                          <%= f.text_area :services, class: "form-control" %>
                        </div>
                        <div class="form-item">
                          <%= f.label :general %>
                          <%= f.text_area :general, class: "form-control" %>
                        </div>
                        <div class="form-item">
                          <%= f.label :languages %>
                          <%= f.text_field :languages, class: "form-control" %>
                        </div>
                        <div class="form-actions">
                          <%= f.submit "Update Facilities",  class:"btn btn-primary submit-review" %>
                        </div>
                    <% end %>

                  </div>
              <% end %>
            </div>
            <div id="tabs-2">
              <div id="reviews">
                <div class="rating-info">
                  <div class="average-rating-review good"><span class="count"><%= @hotel.average_rating %></span> <em>Average rating</em> <span>Good</span></div>
                  <a href="#" class="write-review">Write a review</a>
                </div>
                <div id="add_review">
                  <% if customer_signed_in? %>
                        <%= form_for(@review = Review.new, url: reviews_path, remote: true ) do |f|%>
                        <div class="col-md-12">
                          <h3 class="comment-reply-title">Add a review</h3>
                        </div>
                          <div class="comment-form-author col-md-12">
                            <%= f.label :name, 'Name <span class="required">*</span>'.html_safe %>
                            <%= f.text_field :name %>
                          </div>
                          <div class="comment-form-description col-md-12">
                            <%= f.label :comment, 'Description <span class="required">*</span>'.html_safe %>
                            <%= f.text_area :comment %>
                          </div>

                           <div id="add_tip" class="comment-form-author col-md-12 dp_none">
                          <%#= f.label :tip, '' %>
                          <%= f.text_field :tip, :placeholder=>"Tip.." %>
                          </div>
                          <div class="col-md-3">
                            <a id="add_tip_link" class="btn btn-orange" href="javascript:void(0)">Add a Tip</a>
                          </div>

                          <!-- <a id="add_tip_link" href="javascript:void(0)">like to give a Tip</a>
                          <div id="add_tip" class="comment-form-description col-md-12 dp_none">
                            <%#= f.label :tip, 'Tip <span class="required">*</span>'.html_safe %>
                            <%#= f.text_area :tip %>
                          </div> -->
                          <%= f.hidden_field :images, name: "review[images]" %>
                          <div class="comment-form-rating">
                            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".image-modal-lg">Upload images</button>
                            <p>Your rating</p>
                            <div id="user_star"></div>
                            <script>
                              $('#user_star').raty({
                                score: <%= @rating.try(:score).present? ? @rating.score : 0 %>,
                                path: '/assets',
                                click: function(score, evt) {
                                  $.ajax({
                                    url: '/update_h_rating/<%= @rating.try(:id).present? ? @rating.id : "0?is_new=true&hotel_id=#{@hotel.id}" %>',
                                    type: 'PATCH',
                                    data: { score: score }
                                  }).done(function (data){});
                                }
                              });
                            </script>
                          </div>
                          <%= f.hidden_field :customer_id, :value=> current_customer.id %>
                          <%= f.hidden_field :hotel_id, :value=> @hotel.id %>
                          <%=  f.submit "Submit review",  class: "btn btn-primary submit-review" %>
                      <% end %>
                  <% else %>
                      <h3 class="comment-reply-title"><a href="/customers/sign_in" class="primary-color"><em>Login</em></a> to write your review</h3>
                      </h3>
                  <% end %>
                </div>
                <div id="comments">
                  <ol id="comments-content" class="commentlist">
                    <% if @reviews.present? %>
                        <% @reviews.each do |rev| %>
                            <% customer_image = Profile.where(customer_id: rev.customer_id).first.avatar %>
                            <%
                              ratings = Rating.where("customer_id = ? AND hotel_id = ? ",  rev.customer_id, rev.hotel_id)
                              rating = ratings.present? ? ratings.first.score : 0  
                            %>
                            <li id="review_<%= rev.id %>" class="comment-parent">
                              <div id="review_a_<%= rev.id %>" class="comment-box">
                                <a href="/customers/<%= rev.customer.id %>/profile">
                                  <div class="avatar"><img src="<%= customer_image %>"></div>
                                </a>
                                <div class="comment-body">
                                  <a href="/customers/<%= rev.customer.id %>/profile">
                                    <p class="meta"><strong><%= rev.name %></strong> <span class="time"><%= rev.updated_at.to_date.strftime("%A %d, %Y") %></span></p>
                                  </a>
                                  <div class="rating-info">
                                    <div id="star_<%= rev.id %>"></div>
                                   
                                    <script>
                                      $('#star_<%= rev.id %>').raty({
                                        readOnly: true,
                                        score: <%= rating %>,
                                        path: '/assets'
                                      });
                                    </script>
                                  </div>
                                  <div class="description">
                                    <p><%= rev.comment %></p>
                                  </div>
                                  <% if rev.tip.present? %>
                                    <div class="description">
                                      <p><span class="orange">Tip:</span> <%= rev.tip %></p>
                                    </div>
                                  <% end %>
                                  <div>
                                    <a href="/vote/<%= rev.id %>" class="vote" data-remote="true"><i class="fa fa-thumbs-o-up"></i> <%= rev.vote %> likes</a>
                                  </div>
                                  <%
                                    images_data = []
                                    images_data = get_images_from_image_modal(rev.images) if rev.images.present?
                                  %>
                                  <% if images_data.present? %>
                                    <div id="review_img_<%= rev.id %>" class="upload_images">
                                      <% images_data.each do |image|%>
                                        <div class="rev-item">
                                          <a href="<%= image[1] %>" class="fancybox" title="<%= image[1].model.desc %>" rel="review_<%= rev.id %>" >
                                            <div class="media-img">
                                              <img src="<%= image[1] %>" alt="<%= @hotel.name %>" data-id="<%= image[0] %>">
                                            </div>
                                          </a>
                                        </div>
                                      <% end %>
                                    </div>
                                  <% end %>
                                  <% if customer_signed_in? && current_customer.id == rev.customer_id %>
                                    <div class="dropdown dest_drop">
                                      <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                                        <i class="fa fa-ellipsis-v"></i>
                                      </a>
                                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                                          <li>
                                            <a href="/reviews/<%= rev.id %>/edit" data-remote="true" class=""> <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
                                          </li>
                                          <li>
                                            <a href="/reviews/<%= rev.id %>" data-method="delete" data-confirm="are you sure to delete" class=""><i class="fa fa-trash"></i>&nbsp;&nbsp;Remove</a>
                                          </li>
                                      </ul>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                              <div id="review_c_<%=  rev.id %>" class="edit_review"></div>
                            </li>
                        <% end %>
                    <% else %>
                    <% end %>
                  </ol>
                </div>
              </div>
            </div>
             <div id="tabs-3">
                <%= render :partial=> "mores/more_index"%>
            </div>
          </div>
        </div>
        <div class="footer-btns">          
          <%= link_to '<< Back to hotels list', "/destinations/#{@hotel.destination.id}/#{@hotel.destination.destination_name}/hotels", :class=>"btn btn-primary" %>
          <% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-pencil"></i> &nbsp;Edit Hotel Details'.html_safe, "/destinations/#{@hotel.destination.id}/#{@hotel.destination.destination_name}/hotels/#{@hotel.id}/edit", :class=>"btn btn-primary" %> &nbsp;&nbsp;
            <%= link_to '<i class="fa fa-pencil"></i> &nbsp; Edit Facilities'.html_safe, "javascript:void(0)", :id=> "edit_facility", :class=>"btn btn-primary" %>
            <%= link_to '<< Back to Facility', "javascript:void(0)", :class=>"btn btn-primary", :id=> "cancel_facility", :style=>"display:none" %>
            <%= link_to '<i class="fa fa-pencil"></i> &nbsp; Edit Good To know'.html_safe, "javascript:void(0)", :id=> "edit_mores", :class=>"btn btn-primary" %>
            <%= link_to '<< Back to Good To know', "javascript:void(0)", :class=>"btn btn-primary", :id=> "cancel_mores", :style=>"display:none" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-3">
       <!--  <div class="detail-sidebar">
         <div class="sidebar-item">
           <div class="fb-page" data-href="https://www.facebook.com/Airvtr-1207506985928635/" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
           </div>
         </div>
         <div class="sidebar-item">
           <a class="twitter-timeline"  href="https://twitter.com/airvtr" data-widget-id="727564716332097536">Tweets by @airvtr</a>
         </div>
         <div class="sidebar-item" align="center">
           <h5 class="text-left">Follow us on Google +</h5>
           <div class="g-follow" data-annotation="vertical-bubble" data-height="24" data-href="https://plus.google.com/101544172387164113585" data-rel="author"></div>
         </div>
       </div> -->
      </div>
    </div>
  </div>

</section>

<div class="modal fade image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render :partial=> "common/multiple_template", :locals=>{ form_id: "fileupload-multiple", :multiple_id=> "review_images", :action_param=> "rev_id=#{@review.present? ? @review.id : ""}" } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<% if admin_signed_in? %>
    <script type="text/javascript">
      (function(){
        $("#edit_facility").click(function(){
          $("#facilities").fadeOut();
          $("#edit_facilities").fadeIn();
          $(this).hide();
          $("#cancel_facility").show();
        });

        $("#cancel_facility").click(function(){
          $("#facilities").fadeIn();
          $("#edit_facilities").fadeOut();
          $(this).hide();
          $("#edit_facility").show();
        });
        
        $("#edit_mores").click(function(){
          $("#mores").fadeOut();
          $("#edit_more").fadeIn();
          $(this).hide();
          $("#cancel_mores").show();
        });

        $("#cancel_mores").click(function(){
          $("#mores").fadeIn();
          $("#edit_more").fadeOut();
          $(this).hide();
          $("#edit_mores").show();
        });
      })($);
    </script>
<% end %>
<script>
 $(document).ready(function() {
  $(".fancybox").fancybox({
    openEffect  : 'elastic',
    closeEffect : 'elastic',
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
  
  lazy();
  $("#add_tip_link").on("click", function(){
    $("#add_tip").slideToggle(300);
   /* $(this).hide();*/
  });
});

</script>
