<div class="hero-wrap js-fullheight" style="background-image: url('<%= asset_path("v2/bg_1.jpg") %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-8 offset-md-2 mt-5 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">

        <h1 class="mb-5 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          Welcome To Airvtr Travel Forums
        </h1>

        <p class="mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Join the discussions with travelers around the world and share your travel experiences, travel tips, reviews and recommendations.</p>

        <div class="block-17 my-1">
          <form action="" method="post" class="d-block d-flex">
            <div class="fields d-block d-flex">
              <div class="textfield-search one-third">
              	<input type="text" class="form-control" placeholder="Ex: Topic">
              </div>
              <!-- <div class="select-wrap one-third">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="" class="form-control" placeholder="Keyword search">
                  <option value="">Where</option>
                  <option value="">San Francisco USA</option>
                  <option value="">Berlin Germany</option>
                  <option value="">Lodon United Kingdom</option>
                  <option value="">Paris Italy</option>
                </select>
              </div>
            </div> -->
            <input type="submit" class="search-submit btn btn-primary" value="Search">  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section ftco-destination">
  <div class="container">
    <div class="row">
      <div class="col-md-9 pr-5">
        <div class="heading-section ftco-animate">
          <h2 class="mb-4"><strong>Recent</strong> Posts</h2>
        </div>

        <table class="table forum-table">
          <thead>
            <tr>
              <th>Topic</th>
              <th>Posts</th>
              <th>Last Post</th>
            </tr>
          </thead>
          <tbody>
            <% 5.times do %>
              <tr>
                <td>
                  <div class="forum-media">
                    <div><%= image_tag "v2/message.png" %></div>
                    <div>
                      <h4>
                        Topic Icon Demos 
                      </h4>
                      <p>This forum demonstrates different topic types</p>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <strong>7</strong><br/>
                  <small>Posts</small>
                </td>
                <td>
                  <div class="forum-media">
                    <div><%= image_tag "v2/user.png" %></div>
                    <div>
                      <h5>
                        Mohankumar
                      </h4>
                      <p>Thu Apr 06, 2017 1:00 PM</p>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br/>
        <br/>
        
        <div class="heading-section ftco-animate">
          <h2 class="mb-4"><strong>Popular</strong> Posts</h2>
        </div>

        <table class="table forum-table">
          <thead>
            <tr>
              <th>Topic</th>
              <th>Posts</th>
              <th>Last Post</th>
            </tr>
          </thead>
          <tbody>
            <% 5.times do %>
              <tr>
                <td>
                  <div class="forum-media">
                    <div>
                      <%= image_tag "v2/message.png" %>
                    </div>
                    <div>
                      <h4>
                        Topic Icon Demos 
                      </h4>
                      <p>This forum demonstrates different topic types</p>
                    </div>
                  </div>
                </td>
                <td class="text-center lh">
                  <strong>7</strong><br/>
                  <small>Posts</small>
                </td>
                <td>
                  <div class="forum-media">
                    <div><%= image_tag "v2/user.png" %></div>
                    <div>
                      <h5>
                        Mohankumar
                      </h4>
                      <p>Thu Apr 06, 2017 1:00 PM</p>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-3 forum-login auth-wrap">
        <% unless current_customer.present? %>
          <div class="login-register-page__content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <div class="content-title">
                  <% @customer = Customer.new %>
                  <%= form_for(@customer, url: session_path(@customer) ) do |f| %>
                    <div class="form-item">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                    </div>

                    <div class="form-item">
                      <%= f.label :password %>
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </div>

                    <div class="form-actions">
                      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                    </div>
                    <div class="forgot-password">
                      <%= link_to "Forgot your password?", new_password_path(@customer), :data=>{:no_turbolink=>"true"}, :class=>""  %><br />
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                <%= form_for(@customer, url: registration_path(@customer)) do |f| %>

                  <div class="form-item">
                    <%= f.label :name %>
                    <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
                  </div>

                  <div class="form-item">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                  </div>

                  <div class="form-item">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                  </div>

                  <div class="form-item">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
                  </div>

                  <%= f.hidden_field :user_status, :value=>1 %>
                  <div class="form-actions">
                    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="mt-5">
          <div class="heading-section ftco-animate">
            <h2 class="mb-4"><strong>Post</strong> by Region</h2>
          </div>
          <ul class="filter-form">
            <li>Africa</li>
            <li>Asia</li>
            <li>Australia</li>
            <li>Europe</li>
            <li>Central America</li>
            <li>Middle East</li>
            <li>Antartica</li>
            <li>Mexico</li>
            <li>South America</li>
            <li>South Pacific</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .heading-section h2 strong{
    font-weight: 500;
  }
</style>