<%= render layout: "layouts/v2_mailer" do %>
	<br/>
	<br/>
	<h2 class="text-center">We got you!</h2>
	<br/>
	<br/>
	<h4 class="text-center">
		Hit the reset button below and go back to<br/>the world of travel.
	</h4>

	<br/>
	<br/>
	<div class="text-center"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "primary-button" %></div>
	<br/>
	<br/>
	<p>This wasn’t you? Just ignore and go back to whatever you were doing!</p>
<% end %>