<li id="review_<%= @review.id %>" class="comment-parent">
  <div id="review_a_<%= @review.id %>" class="comment-box d-flex">
    <a href="/customers/<%= @review.customer.id %>/profile">
      <% customer_image = Profile.where(customer_id: @review.customer_id).first.avatar %>
      <div class="avatar"><img src="<%= customer_image %>"></div>
    </a>
    <div class="comment-body flex-grow-1">
      <p class="meta mb-0 d-flex">
        <a href="/customers/<%= @review.customer.id %>/profile"><strong><%= @review.customer.fullname %></strong></a> 
        <span class="time ml-auto"><%= @review.updated_at.to_date.strftime("%A %d, %Y") %></span>
      </p>
      <% if false %>
        <div class="rating-info">
         <!--  <p>User rating</p> -->
          <div id="star_<%= @review.id %>"></div>
          <% if customer_signed_in? && current_customer.id == @review.customer_id %>
            
              <div class="dropdown dest_drop">
              <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                <i class="fa fa-ellipsis-v"></i>
              </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>
                    <a href="/reviews/<%= @review.id %>/edit" data-remote="true"> <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
                  </li>
                  <li>
                    <a href="/reviews/<%= @review.id %>" data-method="delete" data-confirm="are you sure to delete" class=""><i class="fa fa-trash"></i>&nbsp;&nbsp;Remove</a>
                  </li>
               </ul>
            </div>
          <% end %>

          <script>
            $('#star_<%= @review.id %>').raty({
              readOnly: true,
              score: <%= @rating.present? ? @rating.score : 0 %>,
              path: '/assets'
            });
          </script>
        </div>
      <% end %>
      <div class="description">
        <p><%= @review.comment %></p>
        <a href="/vote/<%= @review.id %>" class="vote" data-remote="true"><i class="fa fa-thumbs-o-up"></i>
          <small><%= @review.vote %> likes</small>
        </a>

        <% if customer_signed_in? && current_customer.id == @review.customer_id %>
          <a class="ml-5" href="/reviews/<%= @review.id %>/edit" data-remote="true"> <i class="fa fa-pencil"></i>&nbsp;&nbsp;<small>Edit</small></a>
          <a href="/reviews/<%= @review.id %>" data-method="delete" data-confirm="are you sure to delete" class="ml-5"><i class="fa fa-trash"></i>&nbsp;&nbsp;<small>Remove</small></a>
        <% end %>
      </div>
      <%
          images_data = []
          images_data = get_images_from_image_modal(@review.images) if @review.present? && @review.images.present?
        %>
        <% if images_data.present? %>
        <div id="review_img_<%= @review.id %>" class="upload_images">
          <% images_data.each do |image|%>
            <div class="rev-item">
              <a href="<%= image[1] %>" class="fancybox" rel="review" >
                <div class="media-img">
                  <img src="<%= image[1] %>" alt="" data-id="<%= image[0] %>">
                </div>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="review_c_<%= @review.id %>" class="edit_review"></div>
</li>