
<%= form_for(@review, url: review_path, remote: true, html: {class: ""}) do |f|%>
  <div class="col-md-12">
    <h3 class="comment-reply-title">Edit review</h3>
  </div>
    
  <%= f.hidden_field :name, value: @review.customer.fullname %>
  <div class="comment-form-description col-md-12">
    <%= f.label :comment, 'Description <span class="required">*</span>'.html_safe %>
    <%= f.text_area :comment, value: @review.comment %>
  </div>
    <div class="comment-form-author col-md-12">
      <%#= f.label :tip, 'Tip <span class="required">*</span>'.html_safe %>
      <%#= f.text_field :tip, :placeholder=>"Tip.." %>
    </div>
    
    <%= f.hidden_field :images, name: "review[images]", id: "review_image_#{@review.id}"  %>
    <div class="comment-form-rating">
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".image-modal-lg-edit">Edit images</button>
      <% if false %>
        <p>Your Rating</p>
        <div id="user_star_<%= @review.id %>"></div>
        <script>
          <%
            score, url = Rating.get_default_rating(@review, current_customer)
          %>
          $('#user_star_<%= @review.id %>').raty({
            score: <%= score %>,
            path: '/assets',
            click: function(score, evt) {
              $.ajax({
                url: '<%= url %>',
                type: 'PATCH',
                data: { score: score }
              }).done(function (data){});
            }
          });
        </script>
      <% end %>
    </div>
    <%= f.hidden_field :customer_id, :value=> @review.customer_id %>
    <%= f.hidden_field :destination_id, :value=> @review.destination_id if @review.destination_id.present? %>
    <%= f.hidden_field :hotel_id, :value=> @review.hotel_id if @review.hotel_id.present?  %>
    <%= f.hidden_field :flight_id, :value=> @review.flight_id if @review.flight_id.present? %>
    <%= f.hidden_field :event_id, :value=> @review.event_id if @review.event_id.present? %>
    <%=  f.submit "Submit review",  class: "btn btn-primary submit-review" %>
    <%= link_to  "cancel", "javascript:void(0)", onclick: "cancelEditReview(this)" ,class: "btn btn-orange submit-review" %>
<% end %>

<div class="modal fade image-modal-lg-edit" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render :partial=> "common/review_file_upload", :locals=>{ form_id: "fileupload-multiple_#{@review.id}", :multiple_id=> "review_image_#{@review.id}", :action_param=> "rev_id=#{@review.present? ? @review.id : ""}" } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
