<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <% customer_image = Profile.where(customer_id: review.customer_id).first.avatar %>
    <%
      review_con = ""
      review_id = nil
      if review.hotel_id.present?
         review_con = "hotel_id"
         review_id = review.hotel_id
       elsif review.destination_id.present?
         review_con = "destination_id"
         review_id = review.destination_id
       elsif review.flight_id.present?
         review_con = "flight_id"
         review_id = review.flight_id
       end
    %>
    <% rating = Rating.where("customer_id = ? AND #{review_con} = ? ",  review.customer_id, review_id).first.score %>
    <li id="review_<%= review.id %>" class="comment-parent">
      <div id="review_a_<%= review.id %>" class="comment-box">
        <a href="/customers/<%= review.customer.id %>/profile">
          <div class="avatar"><img src="<%= customer_image %>"></div>
        </a>
        <div class="comment-body">
          <a href="/customers/<%= review.customer.id %>/profile">
            <p class="meta"><strong><%= review.name %></strong> <span class="time"><%= review.updated_at.to_date.strftime("%A %d, %Y") %></span></p>
          </a>
          <div class="description">
            <p><%= review.comment %></p>
          </div>
          <% if review.tip.present? %>
            <div class="description">
              <p><span class="orange">Tip:</span> <%= review.tip %></p>
            </div>
          <% end %>
          <div>
            <a href="/vote/<%= review.id %>" class="vote" data-remote="true"><i class="fa fa-thumbs-o-up"></i> <%= review.vote %> likes</a>
          </div>
          <div class="rating-info">
            <p>User rating</p>
            <div id="star_<%= review.id %>"></div>
            <% if customer_signed_in? && current_customer.id == review.customer_id %>
              <a href="/reviews/<%= review.id %>" data-methods="delete" data-confirm="are you sure to delete" class="awe-btn">Remove</a>
              <a href="/reviews/<%= review.id %>/edit" data-remote="true" class="awe-btn">Edit</a>
            <% end %>
            <script>
              $('#star_<%= review.id %>').raty({
                readOnly: true,
                score: <%= rating %>,
                path: '/assets'
              });
            </script>
          </div>
        </div>
      </div>
      <div id="review_c_<%= review.id %>" class="edit_review"></div>
    </li>
  <% end %>
<% else %>
<% end %>