<% if @review.errors.present? %>
  error_msg = "<h4 class='notice ptopbot25'><%= pluralize(@review.errors.count, "error") %> prohibited this Review</h4><ul>";
<% @review.errors.full_messages.each do |message| %>
  error_msg += "<li><%= message %></li>";
<% end %>
  error_msg += "</ul>";
  alertify.error(error_msg);
<% else %>
  alertify.success("<%= flash[:notice] %>");
  $("#review_name, #review_comment, #review_tip, #review_images").val("");
  $("#fileupload-multiple .files").html("");
  $("#comments-content").append("<%= escape_javascript(render(:partial => 'create')) %>");
  gotoReviewSection('review_a_<%= @review.id %>');
<% end %>