<div id="respond">
  <%= form_for(@blog_comment, url: "/customers/#{@customer.id}/travel_blogs/#{@travel_blog.id}/blog_comments/#{@blog_comment.id}", :remote=>"true") do |f| %>
      <% if @blog_comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@blog_comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>

            <ul>
              <% @blog_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <div class="form-item form-name">
            <%= f.text_area :comment, placeholder: "Your Comment" %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-item form-name">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </div>
        <div class="col-md-4">
          <%= f.hidden_field :travel_blog_id, value: @travel_blog.id %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.hidden_field :reply_for, value: @blog_comment.id %>
          <div class="form-actions">
            <%= f.submit "Comment" %>
          </div>
          <%= link_to "Cancel", "/back_to_blog_comment/#{@blog_comment.id}", class:"awe-btn",  remote: true %>
        </div>
      </div>
  <% end %>
</div>
