<div class="commentlist-wrapper">
  <% unless @blog_comments.nil? %>
    <ul class="commentlist">
      <% @blog_comments.each do |comment| %>
        <% if comment.reply_for.nil? %>
          <li id="comment_<%= comment.id %>" class="comment">
            <div class="comment-box">
              <div class="comment-author">
                <% author_img = Customer.find(comment.customer_id).profile.avatar.present? ? Customer.find(comment.customer_id).profile.avatar : "noavatar.png" %>
                <a href="#"><%= image_tag (author_img) %></a>
              </div>
              <div class="comment-body"><cite class="fn"><a href="#"><%= comment.name %></a></cite>
                <p><%= comment.comment %></p>
                <div class="comment-meta"><span><%= (Date.today -  comment.updated_at.to_date).to_i %> days ago</span></div>
                <div class="comment-abs">
                  <% if signed_in? %>
                    <% if is_owner?(comment.customer_id) %>
                      <%= link_to 'Edit', "/customers/#{@travel_blog.customer_id}/travel_blogs/#{comment.travel_blog_id}/blog_comments/#{comment.id}/edit", :class=>"comment-edit-link", :remote=> true %> |
                    <% else %>
                      <%= link_to 'Reply', "/reply_to_comment/#{comment.id}", :class=>"comment-reply-link", :remote=> true %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <h4>write your content as first reviewer</h4>
  <% end %>
</div>