<div id="respond">
  <% comnt_path = "/customers/#{@travel_blog.customer_id}/travel_blogs/#{@travel_blog.id}/blog_comments" %>
  <%= form_for(comment = BlogComment.new, url: comnt_path, :remote=>"true") do |f| %>

      <div class="row">
        <div class="col-md-12">
          <div class="form-item form-name">
            <%= f.text_area :comment, placeholder: "Your Comment" %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-item form-name">
            <%= f.text_field :name, placeholder: "Name", :value=> current_customer.name %>
          </div>
        </div>
        <div class="col-md-4">
          <%= f.hidden_field :travel_blog_id, :value=>@travel_blog.id %>
          <%= f.hidden_field :customer_id, :value=>current_customer.id %>
          <%= f.hidden_field :reply_for, :value=>@blog_comment.id %>
          <div class="form-actions">
            <%= f.submit "Comment" %>
            <%= link_to "cancel", "/back_to_blog_comment/#{@blog_comment.id}?is_reply_mod=true", class:"awe-btn",  remote: true %>
          </div>
        </div>
      </div>
  <% end %>
</div>
