<% if is_for_reply %>
  <li id="comment_<%= blog_comment.id %>">
<% end %>
<div class="comment-box">
  <div class="comment-author">
    <% author_img = Customer.find(blog_comment.customer_id).profile.avatar.present? ? Customer.find(blog_comment.customer_id).profile.avatar : "noavatar.png" %>
    <a href="#"><%= image_tag (author_img) %></a>
  </div>
  <div class="comment-body"><cite class="fn"><a href="javascript:void(0)"><%= blog_comment.name %></a></cite>
    <p><%= blog_comment.comment %></p>
    <div class="comment-meta"><span><%= (Date.today -  blog_comment.updated_at.to_date).to_i %> days ago</span></div>
    <div class="comment-abs">
      <% if signed_in? %>
        <% if is_owner?(blog_comment.customer_id) %>
          <%= link_to 'Edit', "/customers/#{@travel_blog.customer_id}/travel_blogs/#{@travel_blog.id}/blog_comments/#{blog_comment.id}/edit", :class=>"comment-edit-link", :remote=> true %> |
        <% else %>
          <% is_reply_mod =  is_for_reply ? "?is_reply_mod=true" : "" %>
          <%= link_to 'Reply', "/reply_to_comment/#{blog_comment.id}#{is_reply_mod}", :class=>"comment-reply-link", :remote=> true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if is_for_reply %>
  </li>
<% end %>