<% if params["is_reply_mod"].present? %>
  $("#comment_edit_<%= @blog_comment.id %>").html("");
<% else %>
  $("#comment_<%= @blog_comment.id %>").html("<%= escape_javascript(render(:partial=> 'show', :locals=> {blog_comment: @blog_comment, is_for_reply: false})) %>");
<% end %>