<ul class="commentlist">
  <% @blog_comments.each do |comment| %>
      <li id="comment_<%= comment.id %>" class="comment">
        <div class="comment-box">
          <div class="comment-author">
            <a href="#"><%= image_tag ("img/demo-thumb.jpg") %></a>
          </div>
          <div class="comment-body"><cite class="fn"><a href="#"><%= comment.name %></a></cite>
            <p><%= comment.comment %></p>
            <div class="comment-meta"><span><%= (Date.today -  comment.updated_at.to_date).to_i %> days ago</span></div>
            <% if signed_in? %>
                <% if is_owner?(comment.customer_id) %>
                    <div class="comment-abs"><%= link_to 'Edit', "/customers/#{@travel_blog.customer_id}/travel_blogs/#{comment.travel_blog_id}/blog_comments/#{comment.id}/edit", :class=>"comment-edit-link", :remote=> true %> |
                <% end %>
            <% end %>
            <a href="#" class="comment-reply-link">Reply</a></div>
          </div>
        </div>
      </li>
  <% end %>
</ul>