

<p>
  <strong>Name:</strong>
  <%= @blog_comment.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @blog_comment.comment %>
</p>

<p>
  <strong>Travel blog:</strong>
  <%= @blog_comment.travel_blog %>
</p>

<%= link_to 'Edit', edit_blog_comment_path(@blog_comment) %> |
<%= link_to 'Back', blog_comments_path %>
