<% if @blog_comment.errors.present? %>
  error_msg = "<h4 class='notice ptopbot25'><%= pluralize(@blog_comment.errors.count, "error") %> prohibited this blog_comment</h4><ul>";
  <% @blog_comment.errors.full_messages.each do |message| %>
    error_msg += "<li><%= message %></li>";
  <% end %>
  error_msg += "</ul>";
  alertify.alert(error_msg);
<% else %>
  $("#comment_<%= @blog_comment.id %>").html("<%= escape_javascript(render(:partial => 'show', locals: {blog_comment:@blog_comment, is_for_reply: false})) %>");
<% end %>