<% if (flash[:notice].present? || flash[:error].present? || flash[:warning].present? || flash[:alert].present?) %>
  <script>
      <% if flash[:error].present? %>
      alertify.error("<%= flash[:error].html_safe %>")
      <% end %>

      <% if flash[:alert].present? %>
      alertify.error("<%= flash[:alert].html_safe %>")
      <% end %>

      <% if flash[:notice].present? %>
      alertify.success("<%= flash[:notice].html_safe %>")
      <% end %>

      <% if flash[:warning].present? %>
<!--      alertify.warning("<%#= flash[:warning].html_safe %>)-->
      <% end %>

  </script>
  <%
    @has_errors = true
    flash[:error] = nil
    flash[:notice] = nil
    flash[:info] = nil
    flash[:warning] = nil
    flash[:alert] = nil
  %>
<% end %>