<footer class="ftco-footer ftco-bg-dark ftco-section"  style="background: linear-gradient(108.44deg,#0B3F81 0%, #79D5F5 99.19%);">
  <div class="container">
    <div class="mb-0">
      <div class="ftco-footer-widget mb-4 text-center">
        <h2 class="ftco-heading-2 mt-0">Follow Us On</h2>

        <ul class="ftco-footer-social list-unstyled" style="display: inline-flex;">
          <li class="ftco-animate"><a href="https://twitter.com/BBlubeez" target="_blank"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="https://www.facebook.com/buzzblubeez-101246905160711" target="_blank"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="https://www.instagram.com/buzz.blubeez/" target="_blank"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>

      <div class="ftco-footer-widget pt-5 text-center">
        <ul class="list-unstyled row justify-content-center" style="display: inline-flex;">
          <li class="pl-3 pr-3"><a class="d-block" href="/about">About</a></li>
          <!-- <li class="pl-3 pr-3"><a class="d-block" href="/destinations">Destinations</a></li> -->
          <li class="pl-3 pr-3"><a class="pyd-block" href="/destinations-by-country">Destinations By Country</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/meet-travelers">Meet Travelers</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/contact">Contact Us</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/forums">Forums</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/blog_main">Blogs</a></li>
          <!-- <li class="pl-3 pr-3"><a class="d-block" href="/contribute">Become a Contributor</a></li> -->
          <!-- <li class="pl-3 pr-3"><a class="d-block" href="/advertise">Advertise with us</a></li> -->
          <!-- <li class="pl-3 pr-3"><a class="d-block" href="/privacy">Privacy Policy</a></li> -->            
          <li class="pl-3 pr-3"><a class="d-block" href="/terms">Terms of Use</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/add-listing">Add a Listing</a></li>
          <!-- <li class="pl-3 pr-3"><a class="d-block" href="#">Advertise with Us</a></li>  -->
          <li class="pl-3 pr-3"><a class="d-block" href="/partner_with_us">Partner with Us</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/report-spam">Report a Spam Profile</a></li>
          <li class="pl-3 pr-3"><a class="d-block" href="/report-fraud">Report a Fraud</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="border-top pt-3">Copyright &copy; <%= DateTime.now.strftime("%Y") %> blubeez | All Rights Reserved </p>
      </div>
    </div>
  </div>
</footer>
