<%
  classes = "awake scrolled" #["home"].include?(params[:actions]) ? "" : "awake scrolled"
%>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light <%= classes %>" id="ftco-navbar">
  <div class="container">
  <div class="logo"><a href="/"><%= image_tag("bbn2.png") %></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item <%= params["controller"] == "home" ? "active" : "" %>">
          <a href="/" class="nav-link" data-turbolinks="false">Home</a>
        </li>

        <li class="nav-item <%= params["controller"] == "destinations" ? "active" : "" %>">
          <a href="<%= destinations_path %>" class="nav-link" data-turbolinks="false">Destinations</a>
        </li>

        <li class="nav-item <%= params["controller"] == "customers" ? "active" : "" %>">
          <a href="/meet-travelers" class="nav-link">Meet Travelers</a>
        </li>

        <!-- <li class="nav-item <%#= params["action"] == "about_us" ? "active" : "" %>">
          <a href="/about" class="nav-link">About</a>
        </li> -->

        <li class="nav-item <%= params["controller"] == "forum" && params["action"] == "index" ? "active" : "" %>">
          <a href="/forums" class="nav-link" data-turbolinks="false">Forums</a>
        </li>

        <li class="nav-item <%= params["controller"] == "blog" && params["action"] == "index" ? "active" : "" %>">
          <a href="/blog_main" class="nav-link" data-turbolinks="false">Blogs</a>
        </li>
        <% if customer_signed_in? %>
          <li class="nav-item <%= params["controller"] == "profile" ? "active" : "" %>">
            <a href="javascript:void(0)" class="nav-link"><%= current_customer.fullname %></a>
            <ul class="sub-menu rounded list-unstyled px-3" style="border-radius: 1.30rem !important;">
              <li class="py-1 text-center" style="font-size: x-large;" >
                <a href="/traveler/<%= current_customer.username %>" style="font-weight: initial;">Profile</a>
              </li>

              <li class="py-1 pb-2 pt-1 text-center">
                <a href="<%= destroy_customer_session_path %>" data-method="delete" class="btn btn-primary"><span>Sign Out</span></a>
              </li>
            </ul>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item ml-3">
            <a href="javascript:void(0)" class="nav-link"><%= current_admin.email %></a>
            <ul class="sub-menu rounded list-unstyled px-3" style="border-radius: 1.30rem !important;">
              <li class="py-1 text-center" style="font-weight: 300 !important;font-size: x-large;" >
                <a href="/settings">Settings</a>
              </li>

              <li class="py-3 text-center">
                <a href="<%= destroy_admin_session_path %>" data-method="delete" class="btn btn-primary"><span>Sign Out</span></a>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item cta ml-3">
            <a href="<%= new_customer_session_path %>" class="nav-link"><span>Sign In</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>