<div class="modal fade image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">        
        <%= render :partial=> "common/single_template", :locals=>{ form_id: "fileupload-single", :single_id=> single_id, :single_old=> single_old, :action_param=> action_param }%>
        <%= render :partial=> "common/multiple_template", :locals=>{ form_id: "fileupload-multiple", :multiple_id=> multiple_id, :action_param=> action_param } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>