<div class="modal fade image-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">        
        <%= render :partial=> "common/single_template", :locals=>{ form_id: "fileupload-single", :single_id=> single_id, :single_old=> single_old, :action_param=> action_param }%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>