
<%= form_for(@image = Image.new, url: "/multiple_image?#{action_param}", :html => {:multipart => true, id:form_id} ) do |f| %>

  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="col-md-12">
      <h5>Add Gallery</h5>
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <label for="image_images" style="margin-bottom: 0px;">Add images...</label>
        <%= f.file_field :images, :multiple => true, class: "hidden-file-field" %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
      <button type="button" class="btn btn-danger delete">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
      </button><br/><br/>
      <span class="check-all">
        Select all
         <input type="checkbox" class="toggle">
       </span>
    </div>
    <!-- <div class="span5">
      <div class="progress progress-success progress-striped active ">
        <div class="bar" style="width:0%;"></div>
      </div>
    </div> -->
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Description</th>
        <th>Size / Progress</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="files">
    </tbody>
  </table>
<% end %>

<div id="edit_form" class="dp_none">
  <%= form_for @image = Image.new, url: "/images/update_description", remote: true do |f| %>
    <%= f.text_area :desc, placeholder: "Photo Description..", required: true %>
    <%= f.submit "update" , class: "btn btn-primary" %>
    <%= link_to "cancel", "javascript:void(0)", class: "btn btn-info", onclick: "removePopUp(this)" %>
  <% end %>
</div>

<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>

 <!-- The template to display files available for upload -->
<script id="template-upload-multiple" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload ">
    <td class="preview"><span class=" name" title={%=file.name%}></span></td>
    <td class="desc"><textarea name="image[desc]" maxlength="140" onkeypress="countCharactersFromTextArea(this)" placeholder="Photo Description.." required></textarea>
      <% if params["controller"] == "destinations" %>
        <input type="hidden" name="image[is_watermark_enabled]" value="true"/>
      <% end%>
    </td>
    <!-- <td class="name"><span>{%=file.name%}</span></td> -->
    <!-- <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td> -->
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div>   
      </div>
      <div class="size">{%=o.formatFileSize(file.size)%}</div>
    </td>
    <td>{% if (!o.options.autoUpload) { %}
      <span class="start">
        <button class="btn btn-primary">
          <i class="icon-upload icon-white"></i>
          <span>{%=locale.fileupload.start%}</span>
        </button>
      </span>
      {% } %}
      {% if (!i) { %}
      <span class="cancel">
        <button class="btn btn-warning">
          <i class="icon-ban-circle icon-white"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
      </span>
      {% } %}</td>
    </tr>
      </td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download-multiple" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    {%= imageUploadeScript(file, "#<%= multiple_id %>") %}
    <tr class="template-download ">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="javascript:void(0)" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="desc"><span id="img_desc_{%= file.id %}">{%= file.desc %}</span>&nbsp;<a class="edit-desc" title="Edit" href="javascript:void(0)" data-image-id="{%= file.id %}" onclick="editImages(this)" id="edit_desc_{%= file.id %}" data-toggle="popover"><i class="fa fa-pencil"></i></a></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
       <!--  <td colspan="2"></td> -->
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-image-id="{%= file.id %}" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
  }
</script>

<script>
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#<%= form_id %>').fileupload({
        uploadTemplateId: "template-upload-multiple",
        downloadTemplateId: "template-download-multiple",
        destroyed: function(e, data){
          removeDeletedImages(data, "#<%= multiple_id %>");
        }
      }).bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter(function () {
          return !this.value && $(this).prop('required');
        }).first().focus().length) {
          data.context.find('button').prop('disabled', false);
          return false;
        }
        data.formData = inputs.serializeArray();
      })
      // 
      // Load existing files:
      $.getJSON($('#<%= form_id %>').prop('action'), function (files) {
        var fu = $('#<%= form_id %>').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        template = fu._renderDownload(files)
          .appendTo($('#<%= form_id %> .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
</script>