<%= form_for(@image = Image.new, url: "/multiple_image?#{action_param}", :html => {:multipart => true, id:form_id} ) do |f| %>

  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="col-md-12">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add images...</span>
        <%= f.file_field :images, :multiple => true %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
      <button type="button" class="btn btn-danger delete">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
      </button>
      <span class="check-all pull-right">
        Select all
        <input type="checkbox" class="toggle">
      </span>
    </div>
    <!-- <div class="col-md-5">
      <div class="progress progress-success progress-striped active fade">
        <div class="bar" ></div>
      </div>
    </div> -->
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
 
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped"><tbody class="files">
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Size / Progress</th>
      <th>Action</th>
    </tr>
  </tbody>
  </table>
<% end %>

<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>


<script>
  // $(function () {
      // Initialize the jQuery File Upload widget:
      $('#<%= form_id %>').fileupload({
        uploadTemplateId: "template-upload-multiple",
        downloadTemplateId: "template-download-multiple",
        destroyed: function(e, data){
          removeDeletedImages(data, "#<%= multiple_id %>");
        }
      }).bind("fileuploaddone", function(e, data){
        imageUploadeScript(data.result.files[0], "#<%= multiple_id %>")
      }).bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter(function () {
          return !this.value && $(this).prop('required');
        }).first().focus().length) {
          data.context.find('button').prop('disabled', false);
          return false;
        }
        data.formData = inputs.serializeArray();
      });
      
      // 
      // Load existing files:
      $.getJSON($('#<%= form_id %>').prop('action'), function (files) {
        var fu = $('#<%= form_id %>').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        template = fu._renderDownload(files)
          .appendTo($('#<%= form_id %> .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  // });
</script>