
<%= form_for(@image = Image.new, url: "/images?#{action_param}", :html => {:multipart => true, :id=> form_id} ) do |f| %>
  <div class="row fileupload-buttonbar">
  <h5>Add Primary Image</h5>
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn fileinput-button" style="color: white; background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);">
        <i class="icon-plus icon-white"></i>
        <span>Add Image...</span>
        <%= f.file_field :image %>
      </span>
    </div>
    <div class="span5">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active fade">
        <div class="bar" style="width:0%;"></div>
      </div>
    </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Description</th>
        <th>Size / Progress</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="files">
    </tbody>
  </table>
<% end %>



<!-- The template to display files available for upload -->
<script id="template-upload-single" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">

        <td class="preview"><span class="fade name" title={%=file.name%}></span></td>
        <td class="desc"><textarea name="image[desc]" maxlength="140" onkeypress="countCharactersFromTextArea(this)" placeholder="Photo Description..." required></textarea>
        <% if params["controller"] == "destinations" %>
          <input type="hidden" name="image[is_watermark_enabled]" value="true"/>
        <% end %>
        </td>
        <!-- <td class="name"><span>{%=file.name%}</span></td> -->
        <!-- <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td> -->

        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                <div class="size">{%=o.formatFileSize(file.size)%}</div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}

            {% if (!i) { %}
            <span class="cancel">
              <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
              </button>
            </span>
             {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <!-- <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td> -->
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download-single" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    {%= imageUploaderScript(file, "#<%= single_id %>", "#<%= single_old %>") %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
               
            {% } %}</td>
            <td class="desc"><span id="img_desc_{%= file.id %}">{%= file.desc %}</span>&nbsp;<a href="javascript:void(0)" data-image-id="{%= file.id %}" onclick="editImages(this)" id="edit_desc_{%= file.id %}" data-toggle="popover" class="edit-desc" title="Edit"><i class="fa fa-pencil"></i></a></td>
            <!-- <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td> -->
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <!-- <td colspan="2"></td> -->
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <!-- <input type="checkbox" name="delete" value="1"> -->
        </td>
    </tr>
{% } %}
</script>

<script>
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#<%= form_id %>').fileupload({
        uploadTemplateId: "template-upload-single",
        downloadTemplateId: "template-download-single"
      }).bind('fileuploadcompleted', function (e, data){
        if($("#<%= form_id %> table tbody tr").length > 1){
          $("#<%= form_id %> table tbody tr:first-child").find("button").get(0).click();
        }
      }).bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter(function () {
          return !this.value && $(this).prop('required');
        }).first().focus().length) {
          data.context.find('button').prop('disabled', false);
          return false;
        }
        data.formData = inputs.serializeArray();
      });
      // 
      // Load existing files:
      $.getJSON($('#<%= form_id %>').prop('action'), function (files) {
        var fu = $('#<%= form_id %>').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        template = fu._renderDownload(files)
          .appendTo($('#<%= form_id %> .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
</script>