<% if flash[:success].present? %>
  <% if @is_added %>
    $("#checkin_<%= @destination %>").find("img").attr('src', "<%= image_path('checked-in.png')%>")
  <% else %>
    $("#checkin_<%= @destination %>").find("img").attr('src', "<%= image_path('check-in.png')%>")
  <% end %>
  // alertify.success("<%= flash[:success] %>");
  $("#checkin_count").html('<%= @checkin_count %>')
<% else %>
  // alertify.error("<%= flash[:error] %>");
<% end %>