<table class="good-to-know-table">
  <tbody>
  <tr>
    <th>
      <p>check in</p>
    </th>
    <td>
      <p><%= @more.check_in %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Check Out</p>
    </th>
    <td>
      <p><%= @more.check_out %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Pets</p>
    </th>
    <td>
      <p><%= @more.pets %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>payments</p>
    </th>
    <td>
      <p><%= @more.payments %></p>
    </td>
  </tr>
  
  </tbody>
</table>