<div id="mores">
  <% if @more.present? %>
    <table class="good-to-know-table">
      <tbody>
      <tr>
        <th>
          <p>check in</p>
        </th>
        <td>
          <p><%= @more.check_in %></p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Check Out</p>
        </th>
        <td>
          <p><%= @more.check_out %></p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Pets</p>
        </th>
        <td>
          <p><%= @more.pets %></p>
        </td>
      </tr>
      <tr>
        <th>
          <p>payments</p>
        </th>
        <td>
          <p><%= @more.payments %></p>
        </td>
      </tr>
      
      </tbody>
    </table>
  <% end %>
</div>

<% if admin_signed_in? %>
    <div id="edit_more" style="display: none;">
      <%
        hotel_mores = @more.present? ? @more : @hotel.build_more
        url_path = @more.present? ? "/destinations/#{@hotel.destination.destination_name}/hotels/#{@hotel.name}/#{@more.id}" : "/destinations/#{@hotel.destination.destination_name}/hotels/#{@hotel.name}/mores"
      %>
      <%= form_for(hotel_mores, url: url_path, remote: true ) do |f| %>
          <%= f.hidden_field :hotel_id, :value=> @hotel.id %>
          <div class="form-item">
            <%= f.label :check_in %>
            <%= f.text_field :check_in, class: "form-control" %>
          </div>

          <div class="form-item">
            <%= f.label :check_out %>
            <%= f.text_field :check_out, class: "form-control" %>
          </div>

          <div class="form-item">
            <%= f.label :pets %>
            <%= f.text_area :pets, class: "form-control" %>
          </div>

          <div class="form-item">
            <%= f.label :payments %>
            <%= f.text_field :payments, class: "form-control" %>
          </div>
          
          <div class="form-actions">
            <%= f.submit "Update Facilities",  class:"btn btn-orange submit-review" %>
          </div>
      <% end %>

    </div>
<% end %>