<% if flash[:error].present? %>
  alertify.error("<%= flash[:error] %>");
<% elsif flash[:notice].present? %>
  $("#mores").html("<%= escape_javascript(render(:partial=> 'more')) %>");
  $("#mores").fadeIn();
  $("#edit_more").fadeOut();
  $("#cancel_mores").hide();
  $("#edit_mores").show();
<% end %>