<section class="user_profile bg-light">
  <div class="d-flex">
    <div class="left-menu bg-white px-2 text-center">
      <div class="p-4">
        <% if @profile.present? && @profile.avatar.present? %>
          <div class="avatar">
            <div class="avtr" data-avatar="<%= @profile.avatar %>">
              <img src="<%= @profile.avatar.profile_picture %>" alt="<%= @profile.name %>" style="width: 150px;height: 150px;">
            </div>
          </div>
        <% else %>
          <div class="avatar text-center">
            <div class="avtr">
              <%= image_tag("noavatar.png") %>
            </div>
          </div>
        <% end %>
        <% if !@profile.nil? %>
          <%= form_for(@profile, url:"/customers/#{current_customer.id}/edit_image", method: "post", :html => {:multipart => true}) do |f| %>
            <label for="file-input", style="cursor: pointer; color: #2599e0">
              <span><%= image_tag "icon_camera-1.png", height: "30px" %></span>
              Upload new profile picture
              <%= f.file_field :avatar, onchange: "$(this).closest('form').submit()", id:"file-input", style: "display: none;" %>
            </label>
          <% end %>
        <% end %>
        <h2 class="avtr-title mt-3 mb-0"><%= @customer.fullname %></h2>
        <p class="sec-color avtr-location mb-0">
          <%= image_tag("location.png") %>
          <%= link_to "/destinations" do %><span><%= @customer.state_name %></span><% end %>, 
          <%= link_to "/destinations-by-country?keyword=#{@customer.country_name.first(1)}" do %><span><%= @customer.country_name %></span><% end %>
        </p>
        <p id="feeling_text" class="sec-color avtr-location">
          <%= render partial: "customers/change_status" %>
        </p>
      </div>
      <hr/>
      <%= render :partial => "customers/left_menu" %>
    </div>
    <div class="right-content">
      <div class="breadcrump px-3 pt-4 pb-2 bg-white">
        <ul class="d-flex list-unstyled justify-content-between">
          <li>
            <a href="/customers/<%= @customer.id %>/posts" class='<%= current_page?("/customers/#{@customer.id}/posts") ? "primary-button" : "secondary-button" %>' >Posts</a>
          </li>
          <li>
            <a href="/customers/<%= @customer.id %>/gallery" class='<%= current_page?("/customers/#{@customer.id}/gallery") ? "primary-button" : "secondary-button" %>'>Galleries</a>
          </li>
          <li>
            <a href="/customers/<%= @customer.id %>/followings" class="<%= current_page?("/customers/#{@customer.id}/followings") ? "primary-button" : "secondary-button" %>">Following</a>
          </li>
          <li>
            <a href="/customers/<%= @customer.id %>/followers" class="<%= current_page?("/customers/#{@customer.id}/followers") ? "primary-button" : "secondary-button" %>">Followers</a>
          </li>
        </ul>
      </div>
      <div class="content <%= local_assigns[:is_fulscreen].present? ? "fullwidth" : "" %>">
        <%= yield %>
      </div>
    </div>
  </div>
</section>