<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
			.container {
		    width: 600px;
		    margin: auto;
		    background: #fff;
		    padding: 50px;
        box-sizing: border-box;
			}

			.mailer-container{
				background-color: #e1e9ea;
			}

			.primary-button {
		    color: #fff !important;
		    background: linear-gradient(90deg, #F85959 0%, #FCAC9B 100%);
		    box-shadow: 0px 8px 24px rgba(248, 88, 89, 0.45);
		    border-radius: 100px;
		    border: none !important;
		    padding-top: 0.8rem !important;
		    padding-bottom: .8rem !important;
		    padding-left: 30px;
		    padding-right: 30px;
		    margin-top: 0px !important;
		    text-decoration: none;
		    font-family: 'Poppins', sans-serif;
			}

			div.banner-area{
				height: 240px;
				margin-top: 30px;
			}

			.text-center{
				text-align: center;
			}

			p.strong{
				font-weight: 500;
				font-size: 16px;
			}

			p{
				font-family: 'Poppins', sans-serif;
		    margin: 0px;
    		line-height: 28px;
    		font-weight: 400
			}

			h2{
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				font-size: 24px;
				color: #03194A;
			}

			h4{
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				color: #03194A;
				font-size: 19px;
			}
		</style>
	</head>
  <body>
  	<div class="mailer-container">
		  <div class="container">
	  		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light awake scrolled sleep" id="ftco-navbar">
			    <a class="navbar-brand" href="#">
			      <img class="scrolled-img" src="<%= mailer_image_url('bbn2.png') %>" alt="Logo" />
			    </a>
				</nav>
	    	<%= yield %>
		  </div>
  	</div>
  </body>
</html>
