<!DOCTYPE html>
<html>
<head>
  <% if @seo_title.present? %>
    <title><%= @seo_title %></title>
  <% else %>
    <title>Blubeez - Keeps Travelers Connected</title>
  <% end %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @meta_desc %>">
  <meta name="keywords" content="<%= @meta_key %> "/>
  <link rel="canonical"  href="http://airvtr.com">
  <%= stylesheet_link_tag    'application', media: 'all'%>


  
  <%= javascript_include_tag 'application'%>
  <% if File.exists?("#{Rails.root}/public/cache/dynamic/dynamic_js_content.js") %>
    <script type="text/javascript" src="/cache/dynamic/dynamic_js_content.js"></script>
  <% end %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191992648-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-191992648-1');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrap">
    <script>
      <% unless notice.blank?%>
        alertify.success("<%= notice %>");
      <% end %>
      <% unless alert.blank?%>
        alertify.success("<%= alert %>");
      <% end %>
    </script>
    <%= render :partial=> "home/header"%>
    <%= yield %>
    <%= render :partial=> "home/footer"%>
  </div>
  <script type="text/javascript">
    $(document).ajaxStop(function(){
      lazy();
    })
    WebFontConfig = {
      google: { families: [ 'Lato:400,700:latin', 'Oswald:400:latin' ] }
    };
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);

    $(".close-icon").click(function(){
      $("#header-removable").remove();
    });

    <% if is_prod? %>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');



        ga('create', 'UA-77709401-1', 'auto');

        ga('send', 'pageview');



    <% end %>
  </script>
</body>
</html>