<!DOCTYPE html>
<html>
<head>
  <% if @seo_title.present? %>
    <title><%= @seo_title %></title>
  <% else %>
    <title>Blubeez - Keeps Travelers Connected</title>
  <% end %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="blubeez is a social networking site for travelers. Find communities of travelers near you. Meet people, Share experiences, Explore places. Discover the world of travel.">
  <meta name="keywords" content="<%= @meta_key %> "/>
  <link rel="canonical"  href="http://airvtr.com">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  <%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "v2/all", "data-turbolinks-track" => true %>

  <% if File.exists?("#{Rails.root}/public/cache/dynamic/dynamic_js_content.js") %>
    <script type="text/javascript" src="/cache/dynamic/dynamic_js_content.js"></script>
  <% end %>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191992648-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-191992648-1');
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "common/header" %>
  <div class="auth-wrap">
    <div class="hero-wrap js-fullheight" style="background-image: url('<%= asset_path("v2/bg_1.jpg") %>')">
      <div class="overlay"></div>
      <%= yield %>
    </div>
  </div>
<%= render partial: "common/footer" %>

<%= javascript_include_tag "v2/main.js", "data-turbolinks-track" => true %>

</body>
</html>