<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <%= stylesheet_link_tag 'owner/index', media: 'all' %>
    <%= javascript_include_tag 'owner/index', media: 'all' %>
  </head>
 	<body>
 		<div class="wrapper">
			
			<%= render :partial=> "layouts/owner/header" %>

			<%= render :partial=> "layouts/owner/sidebar" %>

	 		<div class="content-wrapper">
	 			<%= yield %>
	 		</div>
			
			<%= render :partial=> "layouts/owner/footer" %>
	 	</div>
 	</body>
 </html>