<!DOCTYPE html>
<html>
<head>
  <% if @seo_title.present? %>
    <title><%= @seo_title %></title>
  <% else %>
    <title>Blubeez - Keeps Travelers Connected</title>
  <% end %>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="blubeez is a social networking site for travelers. Find communities of travelers near you. Meet people, Share experiences, Explore places. Discover the world of travel.">
  <meta name="keywords" content="<%= @meta_key %> "/>
  <link rel="canonical" href="http://blubeez.com">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  <%= stylesheet_link_tag "v2/all", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" data-turbolinks-track="true"></script>
  <%= javascript_include_tag "v2/all", "data-turbolinks-track" => true %>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= AppConfig.config["gmap_key"]["key"] %>&libraries=places&v=weekly"
    defer
  ></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191992648-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-191992648-1');
  </script>

  <% if File.exists?("#{Rails.root}/public/cache/dynamic/dynamic_js_content.js") %>
    <script type="text/javascript" src="/cache/dynamic/dynamic_js_content.js"></script>
  <% end %>

  <%= csrf_meta_tags %>

  <script>
      var isHomePage =
      <%= ["home", "forum"].include?(params[:controller]) %>
  </script>
</head>
<body>

<%= render partial: "common/header" %>
<%= yield %>
<%= render partial: "common/error_flash" %>
<div id="change-status-modal"></div>
<%= render partial: "common/footer" %>

<%= javascript_include_tag "v2/main.js", "data-turbolinks-track" => true %>

</body>
</html>