<!DOCTYPE html>
<html>
<head>
  <% if @seo_title.present? %>
    <title><%= @seo_title %></title>
  <% else %>
    <title>Blubeez</title>
  <% end %>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @meta_desc %>">
  <meta name="keywords" content="<%= @meta_key %> "/>
  <link rel="canonical" href="http://blubeez.com">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  <%= stylesheet_link_tag "v2/all", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" data-turbolinks-track="true"></script>
  <%= javascript_include_tag "v2/all", "data-turbolinks-track" => true %>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= AppConfig.config["gmap_key"]["key"] %>&libraries=places&v=weekly"
    defer
  ></script>

  <% if File.exists?("#{Rails.root}/public/cache/dynamic/dynamic_js_content.js") %>
    <script type="text/javascript" src="/cache/dynamic/dynamic_js_content.js"></script>
  <% end %>

  <%= csrf_meta_tags %>

  <script>
      var isHomePage =
      <%= ["home", "forum"].include?(params[:controller]) %>
  </script>
</head>
<body>

<%= render partial: "common/header" %>

<section class="user_profile bg-light">
  <div class="d-flex">
    <div class="left-menu bg-white px-2 text-center">
      <div class="p-4">
        <% if @profile.present? && @profile.avatar.present? %>
          <div class="avatar">
            <div class="avtr" data-avatar="<%= @profile.avatar %>">
              <img src="<%= @profile.avatar.profile_picture %>" alt="<%= @profile.name %>">
            </div>
          </div>
        <% else %>
          <div class="avatar text-center">
            <div class="avtr">
              <%= image_tag("noavatar.png") %>
            </div>
          </div>
        <% end %>
        <h2 class="avtr-title mt-3 mb-0"><%= current_admin.email %></h2>
      </div>
      <hr/>
      <%= render :partial => "admins/left_menu" %>
    </div>
    <div class="right-content">
      <div class="content fullwidth pl-4 pt-4">
        <%= yield %>
      </div>
    </div>
  </div>
</section>

<%= render partial: "common/footer" %>

<%= javascript_include_tag "v2/main.js", "data-turbolinks-track" => true %>

</body>
</html>