
<section class="awe-parallax page-heading-attraction">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="blog-heading-content text-uppercase"><h2>Attractions</h2></div>
  </div>
</section>

<section class="your-destinations-section-demo">
  <div class="container">
    <div class="col-md-8">
      <div class="your-destinations">
        <div class="your-destionations__top">
          <% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-plus"></i> Add New Attraction'.html_safe, "/add_attractions?add_location=true", :class=>"btn btn-primary" %>
          <% end %>
          <div class="your-destinations__bar">
            <div class="order">
              <select class="orderby awe-select">
                <option>Best Match</option>
              </select>
            </div>
          </div>
        </div>
        <div class="destination-list__content">
          <%
            dest_hash = AppUtils.destinations_mapping
          %>
          <% unless @attractions.nil? || @attractions.blank? %>
              <% @attractions.each do |attraction| %>
                  <div class="destinations-item">
                    <div class="col-md-4 p0">
                      <%
                        img_path = Attraction.get_desination_image_by_main_image_or_secondary(attraction)
                      %>
                      <div class="media-img"> <a href="/attractions/<%= attraction.destination.slug %>/<%= attraction.slug %>"><img src="<%= img_path %>" alt=" <%= attraction.name %>"></a></div>
                      <div class="item-cat">
                        <ul>
                          <li><a href="/destinations/<%= attraction.destination.id %>/<%= attraction.destination.destination_name %>/attractions/<%= attraction.id %>/<%= attraction.name %>"><%= attraction.destination.destination_name %></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="item-body col-md-8">
                      <div class="item-title">
                        <div class="date">Created on <%= attraction.updated_at.to_date.strftime("%A %d, %Y") %>
                        </div>
                        <h2>
                          <a href="/attractions/<%= attraction.destination.slug %>/<%= attraction.slug %>">
                            <%= attraction.name %>
                          </a>
                        </h2>
                      </div>
                     <!--  <div class="item-description">
                       <div>
                         <%#= Nokogiri::HTML(attraction.about).text.truncate(100) %>
                       </div>
                     </div> -->
                      <div class="item-footer">
                        <div class="date-time">
                          <i class="fa fa-map-marker"></i> <%= attraction.addr_no %>, <%= attraction.addr_street %><br> <%= attraction.addr_city %>
                        </div>
                      </div>
                      <div class="dropdown dest_drop">
                        <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                          <li><a href="/attractions/<%= attraction.destination.slug %>/<%= attraction.slug %>"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Place</a></li>
                          <% if admin_signed_in? %>
                            <li><a href="/destinations/<%= attraction.destination.id %>/<%= attraction.destination.destination_name %>/attractions/<%= attraction.id %>/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                            <li><%= link_to '<i class="fa fa-trash"></i>&nbsp;&nbsp;Delete'.html_safe, "/destinations/#{attraction.destination.id}/#{attraction.destination.destination_name}/attractions/#{attraction.id}", method: :delete, data: { confirm: 'Are you sure?' }%></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                   
              <% end %>
          <% else %>
              <div >
                <h4>There is no attractions for this destination! Create new attraction details!</h4>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</section>

<!-- 
<table>

  <tbody>
    <%# @attractions.each do |attraction| %>
      <tr>
        <td><%#= attraction.name %></td>
        <td><%#= attraction.addr_no %></td>
        <td><%#= attraction.addr_street %></td>
        <td><%#= attraction.addr_city %></td>
        <td><%#= attraction.image %></td>
        <td><%#= attraction.price %></td>
        <td><%#= attraction.destination %></td>
        <td><%#= link_to 'Show', destination_attraction_path(params["destination_id"], attraction.id)  %></td>
        <td><%#= link_to 'Edit', edit_destination_attraction_path(params["destination_id"], attraction.id)  %></td>
        <td><%#= link_to 'Destroy', destination_attraction_path(params["destination_id"], attraction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
 -->


<%#= link_to 'New Attraction', new_destination_attraction_path %>
