<section class="awe-parallax new-flight-page">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">Edit Attraction</h2>
      </div>
      <%= render 'form' %>
      <div class="back-btn">
        <%= link_to 'Show', "/attractions/#{@attraction.destination.slug}/#{@attraction.slug}", :class=>"btn btn-primary" %> &nbsp;&nbsp;
        <%= link_to '<< Back', "/attractions/#{@attraction.destination.slug}", :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
