<%= stylesheet_link_tag    "v2/all", media: "all", "data-turbolinks-track" => true %>
<section class="traveler-banner mt-0">
  <div class="py-4">
    <div class="container py-4">
      <div class="block-17 my-1 col-9 offset-3 mx-auto">
        <h2 class="text-center">Attractions</h2>
      </div>
    </div>
  </div>
 </section>

<!-- 
<table>

  <tbody>
    <%# @attractions.each do |attraction| %>
      <tr>
        <td><%#= attraction.name %></td>
        <td><%#= attraction.addr_no %></td>
        <td><%#= attraction.addr_street %></td>
        <td><%#= attraction.addr_city %></td>
        <td><%#= attraction.image %></td>
        <td><%#= attraction.price %></td>
        <td><%#= attraction.destination %></td>
        <td><%#= link_to 'Show', destination_attraction_path(params["destination_id"], attraction.id)  %></td>
        <td><%#= link_to 'Edit', edit_destination_attraction_path(params["destination_id"], attraction.id)  %></td>
        <td><%#= link_to 'Destroy', destination_attraction_path(params["destination_id"], attraction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
 -->


<%#= link_to 'New Attraction', new_destination_attraction_path %>
<section class="ftco-sectioninner ftco-destination">
<% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-plus"></i> Add New Attraction'.html_safe, "/destinations/#{@dest.id}/#{@dest.destination_name}/attractions/new", :class=>"btn btn-primary" %>
          <% end %>  
<div class="container">
    <div class="row">
    
      <%  
        dest_hash = AppUtils.destinations_mapping
      %>
      <% unless @attractions.nil? || @attractions.blank? %>
        <% @attractions.each do |attraction| %>
          <div class="attractionsmain col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="attractions">
            <%
              img_path = Attraction.get_desination_image_by_main_image_or_secondary(attraction)
            %>
              <a href="/attractions/<%= attraction.destination.slug %>/<%= attraction.slug %>" class="img d-flex justify-content-center align-items-center">
                <img src="<%= img_path %>" alt=" <%= attraction.name %>"/>
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </div>
            <ul>
              <li class="attr_head"><i class="fa fa-map-marker"></i> <%= attraction.name %></li>
              <li class="attr_link"><a href="#">Reviews</a> <a href="#">Photos</a></li>
            </ul>
          </div>
          <% end %>
          <% else %>
          <div >
            <h4>There is no attractions for this destination! Create new attraction details!</h4>
          </div>
      <% end %>
    </div>
  </div>
</section>