<section class="awe-parallax register-page-demo">
  <div class="awe-overlay"></div>
  <div class="container">
    <div class="login-register-page__content">
      <div class="content-title">
        <h2 class="text-primary">New Attraction</h2>
      </div>
		<%= render 'form' %>
		<div class="">
		<%#= link_to '<< Back', destination_attractions_path, :class=>"btn login-register-link" %>
      </div>
		</div>
	</div>
</section>