<section>
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/attractions">Attractions</a></li>
        <li><span><%= @attraction.name %></span></li>
      </ul>
    </div>
  </div>
</section>
<section class="product-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-detail__info">
          <div class="product-title">
          </div>
            <h2><%= @attraction.name %></h2>
          <div class="product-address"><span>
          <% dest = Destination.find(@attraction.destination_id) %>
          <%= dest.destination_name %></span></div>

          <div class="rating-trip-reviews">

            <div class="item">
            <p><%= @attraction.addr_no %>, <%= @attraction.addr_street %>, <%= @attraction.addr_city %></p>
              <%#
                if customer_signed_in?
                  @rating = Rating.where(hotel_id: @hotel.id, customer_id: current_customer.id).first
                end
              %>
              <!-- TODO UI need to be done -->
            <!--   <p>Averate rating</p>
            <div id="star"></div>
            
            <script>
              $('#star').raty({
                readOnly: true,
                score: <%#= @hotel.average_rating %>,
                path: '/assets'
              });
            </script> -->
            </div>
            <!-- <div class="item review_item" onclick="gotoReviewSection('reviews')">
              <h6>Reviews</h6>
              <%# if @reviews.present? %>
                  <p><%#= @reviews.count %> reviews</p>
              <%# else %>
                  <p>No reviews yet</p>
              <%# end %>
            </div> -->
          </div>
          <div class="product-descriptions">
            <p> kasludhfkaljsd faisjdf hbidbfaklsjd flkijdb fkajsdbfakl fbaklfklafbiahs dfsadilhf baidsfhlb <%#= @attraction.description %></p>
          </div>
          <%#
            amenities = @hotel.amenities !=  "--- []\n" ? JSON.parse(@hotel.amenities).reject(&:empty?) : nil
            if amenities.present?
          %>
              <!-- <div class="property-highlights">
                <h3>Property highlights</h3>
                <div class="property-highlights__content">
                  <%# amenities.each do |amn| %>
                      <div class="item"><i class="<%#= AppConstants::AMENITY_HASH_CLASS[amn.to_i] %>"></i> <span><%#= AppConstants::AMENITY_HASH[amn.to_i] %></span></div>
                  <%# end %>
                </div>
              </div> -->
          <%# end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-detail__gallery">
          <div class="product-slider-wrapper">
            <div class="product-slider">
              <%
                main_image = get_single_image_from_image_modal(@attraction.main_image)
              %>
              <% if main_image.present? %>
                <div class="item">
                  <img data-original="<%= main_image.image.url %>" src="<%= image_path('grey.gif') %>">
                  <% if main_image.desc.present? %>
                    <p class="main-img-desc"><%= main_image.desc %></p>
                  <% end %>
                </div>
              <% else %>
                <%= image_tag "flight/hotel-dummy.jpg", :alt=>"", :class=>"img-responsive" %>
              <% end %>

            </div>           
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="product-slider-thumb-row">
        <div class="product-slider-thumb">
          <% if @attraction.image.present? %>
            <%
              images_data = get_images_from_image_modal(@attraction.image) if @attraction.image.present?
            %>
            <% images_data.each do |image| %>
                <div class="item">
                  <a href="<%= image[1] %>" class="fancybox" title="<%= image[1].model.desc %>" rel="gallery3" ><div class="media-img"><img data-original="<%= image[1] %>" data-id="<%= image[0] %>" src="<%= image_path('grey.gif') %>"></div></a>
                </div>
            <% end %>
          <% else %>
              <%= image_tag "flight/hotel-dummy.jpg", :alt=>"", :class=>"img-responsive" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer-btns">          
      <%= link_to '<< Back to attractions list', "/attractions/#{@attraction.destination.slug}", :class=>"btn btn-primary" %>
      <% if admin_signed_in? %>
        <%= link_to '<i class="fa fa-pencil"></i> &nbsp;Edit Attraction'.html_safe, "/destinations/#{@attraction.destination.id}/#{@attraction.destination.destination_name}/attractions/#{@attraction.id}/edit", :class=>"btn btn-primary" %> &nbsp;&nbsp;
      <% end %>
    </div>
  </div>
</section>

<script>
 $(document).ready(function() {
  $(".fancybox").fancybox({
    openEffect  : 'elastic',
    closeEffect : 'elastic',
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
  
  lazy();
});
</script>