<table class="facilities-freebies-table">
  <tbody>
  <tr>
    <th>
      <p>View</p>
    </th>
    <td>
      <p><%= @facility.view %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Activities</p>
    </th>
    <td>
      <p><%= @facility.activities %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Media &amp; Technology</p>
    </th>
    <td>
      <p><%= @facility.mediatechnology %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Food &amp; Drink</p>
    </th>
    <td>
      <p><%= @facility.food %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Internet</p>
    </th>
    <td>
      <p><%= @facility.internet %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Parking</p>
    </th>
    <td>
      <p><%= @facility.parking %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Services</p>
    </th>
    <td>
      <p><%= @facility.services %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>General</p>
    </th>
    <td>
      <p><%= @facility.general %></p>
    </td>
  </tr>
  <tr>
    <th>
      <p>Languages spoken</p>
    </th>
    <td>
      <p><%= @facility.languages %></p>
    </td>
  </tr>
  </tbody>
</table>