<% if flash[:error].present? %>
  alertify.error("<%= flash[:error] %>");
<% elsif flash[:notice].present? %>
  $("#facilities").html("<%= escape_javascript(render(:partial=> 'facility')) %>");
  $("#facilities").fadeIn();
  $("#edit_facilities").fadeOut();
  $("#cancel_facility").hide();
  $("#edit_facility").show();
<% end %>